<head>
    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '[redacted-g]', 'antho.co');
          ga('send', 'pageview');
    </script>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale = 1, maximum-scale = 2, user-scalable=1" />
        <script src="//use.typekit.net/[redacted-a].js"></script>
        <script>try{Typekit.load();}catch(e){}</script>    
</head>

<% provide(:title, 'About') %>
    <body>
        <%= render 'shared/public_header' %>
        <%= image_tag("pictureboard.png", :id => "pictureboard", :class => "image") %>
        <p id="About">
        About
        </p>
        <p id="Antho_Antho_provides_services_and_products_to_help_you_preserv">
        <!--span id="textspanx">An</span><span id="textspanx1">tho</span><span id="textspanx2"><br /><br /></span--><span id="textspanz2">Antho provides services and products to help you preserve, beautify and share treasured life stories through customized online websites. Antho headquarters are located in South Lake Union in Seattle, Washington. We work with clients throughout the Pacific Northwest and are available for travel.</span><span id="textspanx4"> </span><br />
        </p>
        <div id="boxx1" class="clearfix">
            <p id="Our_Services_We_collaborate_with_you_in_gathering_materials_a">
            <span id="textspanx5">Our Services<br /></span><span id="textspanx6"><br /></span><span id="textspanz2"><br />We collaborate with you in gathering materials and crafting together a captivating life story. In addition to using existing photos and videos, we interview in high-resolution film and audio. We also offer photography services to capture authentic portraits of subjects and locations of life events. Stories are then edited, curated and shared online through our website.</span><br />

            </p>
            <a id="boxx2" href="http://www.antho.co/randybird" target="_blank" class="clearfix">
            </a>
            <p id="Online_Museums_We_build_interactive_digital_museums_where_visi">
            <span id="textspanx8">Online Museums<br /></span><span id="textspanz2"><br /></span><span id="textspanz2">We build interactive digital museums where visitors can explore, add commentary, and even upload their own photos and stories. Museums can include any of the following:<br /><br />Life Summary &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Timeline<br />Thematic Narratives &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Short Side Stories<br />Family Tree &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Guest Book<br />Life Story Map<br /><br />We design our museums for all screen sizes, allowing you to enjoy them seamlessly on all devices.</span> 
            </p>
            <p id="Online_Museums_We_build_interactive_digital_museums_where_visi1">
            <span id="textspanx11">Online Museums<br /></span><span id="textspanx12"><br /></span><span id="textspanx13">We build interactive digital museums where visitors can explore, add commentary, and even upload their own photos and stories. Museums can include any of the following:<br /><br />Life Summary<br />Timeline<br />Thematic narratives<br />Short Side Stories<br />Family Tree<br />Guest Book<br />Life Story Map<br /><br />We design our museums for all screen sizes, allowing you to enjoy them seamlessly on all devices.</span> 
            </p>
            <%= image_tag("bookdemo.png", :id => "bookdemo", :class => "image") %>
            <p id="_Books_We_also_design_and_print_tangible_mementos_most_notabl">
            <span id="textspanx14">Books<br /></span><span id="textspanx15"><br /></span><span id="textspanz2">We also design and print tangible mementos, most notably books, that families can treasure off-screen. We use <a href="www.artifactuprising.com">Artifact Uprising</a> for publishing.</span><br />
            </p>
        </div>
        <p id="Meet_the_Team">
        Meet the Team
        </p>
        <div id="boxx3" class="clearfix">
            <%= image_tag("alexportrait.png", :id => "alexportrait", :class => "image") %>
            <p id="Alex_Cheung_Engineer_Designer_Alex’s_father_passed_away_whe">
            <span id="textspanx17">Alex Cheung, Engineer &amp; Editor<br /></span><span id="textspanx18"><br />Alex’s father passed away when he was just a year old, and the missing presence of his father’s life left a wealth of intrigue in its wake. The mystery of his life narrative inspired Alex to found Antho, with a purpose of helping others uncover their family histories as a channel for self-discovery and self-actualization.<br /><br />Alex thrives on unpaved roads, theoretical blueprints, and world-changing ideas. He left his two-year leadership program at Apple to pursue his dreams of elevating and beautifying the mundane, the typical, the everyday. As cofounder of Antho, he channels inspiration from Alice Waters, Ira Glass, Clayton Christensen, Atul Gawande, Jeannette Walls, Dave Isay, and Chris Anderson. He has produced multiple award-winning documentaries. He graduated from Columbia University with a bachelor’s degree in interdisciplinary humanities. There he studied a wide-ranging variety of topics including film, international relations, and literary journalism. &nbsp;<br /><br /></span><span id="textspanx19">Loves to:</span><span id="textspanx20"> cook <br /><br /></span><span id="textspanx21">Favorite chefs:</span><span id="textspanx22"> Yotam Ottolhengi, Hugh Fearnley-Whittingstall, Jamie Oliver, Susie Middleton, Fuschia Dunlop, and Elizabeth David<br /><br /></span><span id="textspanx23">Contact:</span><span id="textspanx24"> alex at antho.co<br /></span><span id="textspanx25">Twitter:</span><a id="textspanx26" href="https://twitter.com/alexalexandalex" > @alexalexandalex<br /></a><span id="textspanx27">Personal Website:</span><a id="textspanx28" href="http://www.alexanderous.co"> alexanderous.co<br /></a><span id="textspanx29">INSTAGRAM</span><a id="textspanx30" href="http://instagram.com/alexalexandalex">: alexalexandalex<br /></a><span id="textspanx31">Pinterest:</span><a id="textspanx32" href="http://www.pinterest.com/alexalexandalex/">&nbsp;alexalexandalex</a>
            </p>
            <%= image_tag("alexportrait.png", :id => "alexportrait1", :class => "image") %>
        </div>
        <div id="boxx4" class="clearfix">
            <%= image_tag("nicoleportrait.png", :id => "nicoleportrait", :class => "image") %>
            <p id="Nicole_Cheung_Curator_Editor_In_2012_Nicole_learned_of_her">
            <span id="textspanx33">Nicole Cheung, Curator &amp; Designer<br /></span><span id="textspanx34"><br /></span><span id="textspanx35">In 2012, Nicole learned of her father’s diagnosis of terminal cancer. This circumstance prompted a sense of urgency in capturing and sharing her father’s life story before he passed away. Antho was a natural byproduct of this undertaking, and gave her a new vision of what she can do for others. <br /><br />As the operational chief of Antho, Nicole blends a rigorous faculty for organization with a profound futurism in life and work. She flourishes in and generates for others a world of plans, schedules, and precise communication. Before Nicole cofounded Antho, she worked two years at the San Jose Institute of Contemporary Art (SJICA), cultivating a taste for curation and design. She concurrently spent two years as chair of family history in her community church congregation. She graduated from Brigham Young University (BYU) with a degree in humanities and a focus in art history.<br /><br /></span><span id="textspanx36">Loves to:</span><span id="textspanx37"> run<br /><br /></span><span id="textspanx38">Favorite artists:</span><span id="textspanx39"> Susan O’Malley, Alison Foshee, Modesto Covarrubias, Colleen Arakaki and Amy Kaufman<br /><br /></span><span id="textspanx40">Contact:</span><span id="textspanx41"> nicole at antho.co<br /></span><span id="textspanx42">Twitter:</span><a id="textspanx43" href="https://twitter.com/nicolebcheung" > @nicolebcheung<br /></a><span id="textspanx44">Personal Website:</span><a id="textspanx45" href="http://www.nicolio.co"> nicolio.co<br /></a><span id="textspanx46">Instagram:</span><a id="textspanx47" href="http://instagram.com/nbcheung"> @nbcheung<br /></a><span id="textspanx48">Pinterest:</span><a id="textspanx49" href="http://www.pinterest.com/nicolebcheung/"> nicolebcheung</a><br /><br />
            </p>
        </div>
    </body>
