<head>
    <!-- show and hide begins -->
    <script>
        function showHide(shID) {
          if (document.getElementById(shID)) {
            if (document.getElementById(shID+'-show').style.display != 'none') {
              document.getElementById(shID+'-show').style.display = 'none';
              document.getElementById(shID).style.display = 'block';
            }
            else {
              document.getElementById(shID+'-show').style.display = 'inline';
              document.getElementById(shID).style.display = 'none';
            }
          }
        }
    </script>
    <!-- show and hide end -->
    <!-- responsive video begins -->
    <script>
            $(document).ready(function () {
                $(".ChapterVideoDiv").fitVids();
            });

            $(document).ready(function () {
                $(".vidvid").fitVids();
            });
    </script>
    <!-- responsive video end -->
    <!-- fancybox begins -->

        <!--script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script--> <!-- this causes fitvids NOT to work. BOO -->
        <link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css" type="text/css" media="screen">
        <script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js"></script>
    <!-- fancybox end -->

<meta name="viewport" content="width=device-width; initial-scale=1.0,maximum-scale = 3.0">

    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '[redacted-g]', 'antho.co');
          ga('send', 'pageview');
    </script>

</head>

<!-- Story Heading Begins -->
        <div id="ThemeCoverPhotoFarmerandNurse" class="clearfix">
            <span id="ThemeTitle">
                <span id="textspanlichapter">THE FARMER AND THE NURSE I</span><span id="textspanlichapter1"><br /></span><span id="textspanlichapter2">AND HOW THEY MET</span><br />
            </span>
            
            <span id="ChapterSectionIndex"><br/><br/><br/>
                <a href="#ch1">1 </a>&#x2f;<a href="#ch2"> 2 </a>&#x2f;<a href="#ch3"> 3 </a>&#x2f;<a href="#ch4"> 4 </a>&#x2f;<a href="#ch5"> 5 </a><!--&#x2f;<a href="#ch6"> 6 </a>&#x2f;<a href="#ch7"> 7 </a--><!--&#x2f;<a href="#ch8"> 8 </a-->
            </span>

        </div>

<!-- Story Heading Ends -->

<!-- Chapter 1 Begins -->
        <span class="anchorup"><a name="ch1"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
        <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 1 &nbsp;</span>
            <span id="textspanlichapter13">NURSES TRAINING </span><span id="textspanlichapter15">at </span><span id="textspanlichapter16">VIRGINIA MASON HOSPITAL</span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196379830&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>


        <span id="ChapterQuoteAudio">
        “I never had any fear even though it was during the war.” 
        </span>
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">ELLIS LI</span><br /><span id="textspanlichapter24">DAUGHTER</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>It was a dream come true to be accepted to attend and be trained as a registered nurse at Virginia Mason Hospital in Seattle. I entered the school in August of 1944, after graduating from high school. This was during the Second World War. I rode a Greyhound bus from Idaho Falls to Seattle where I worked the summer for the National Car Loading Company and which I can remember very little about. I guess I didn’t learn much about filing but did have to pay a fee to obtain the job! <br />
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/NursesTrainingatVM.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/NursesTrainingatVM.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/NursesTrainingatVM1.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/NursesTrainingatVM1.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/NursesTrainingatVM2.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/NursesTrainingatVM2.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/NursesTrainingatVM3.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/NursesTrainingatVM3.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/NursesTrainingatVM4.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/NursesTrainingatVM4.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/NursesTrainingatVM5.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/NursesTrainingatVM5.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/NursesTrainingatVM6.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/NursesTrainingatVM6.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/NursesTrainingatVM7.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/NursesTrainingatVM7.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/NursesTrainingatVM8.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/NursesTrainingatVM8.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/NursesTrainingatVM9.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/NursesTrainingatVM9.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/NursesTrainingatVM10.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/NursesTrainingatVM10.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/NursesTrainingatVM11.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/NursesTrainingatVM11.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/NursesTrainingatVM12.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/NursesTrainingatVM12.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/NursesTrainingatVM13.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/NursesTrainingatVM13.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/NursesTrainingatVM14.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/NursesTrainingatVM14.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/NursesTrainingatVM15.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/NursesTrainingatVM15.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/NursesTrainingatVM16.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/NursesTrainingatVM16.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/NursesTrainingatVM17.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/NursesTrainingatVM17.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/NursesTrainingatVM18.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/NursesTrainingatVM18.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/NursesTrainingatVM19.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/NursesTrainingatVM19.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/NursesTrainingatVM20.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/NursesTrainingatVM20.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/NursesTrainingatVM21.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/NursesTrainingatVM21.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/NursesTrainingatVM22.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/NursesTrainingatVM22.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/NursesTrainingatVM23.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/NursesTrainingatVM23.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/NursesTrainingatVM24.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/NursesTrainingatVM24.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                </ol>    
            </div>


            <span id="ChapterParagraphTwo">
                    I entered VMH and our first dorm was the old one behind the hospital. My first roommate was Glenys Maddox. The name of the dorm was Blackford Hall. We lived there until the new dorms across the street from the hospital were built. We had classes from four to six hours each day and we were on duty in the hospital for four hours as well. We most often had split shifts in the hospital, working four hours in the a.m. and then four hours in the evening or vice versa.
            </span>
            
            <span id="SEE_MORE"><a href="#" id="restofstory1-show"  onclick="showHide('restofstory1');return false;">SEE MORE</a>
            </span>

            <div id="restofstory1" class="more">
                <span id="ChapterParagraphTwo">
                    My second roommate was Carol Muckleston. We developed a remarkable friendship which has lasted for 61 years—at this writing, we still write to each other to keep in touch even though we haven’t seen each other for about 40 years! I was able to go out to Ruby’s home quite often when off duty; I loved to go out to be with her and Jack and Ken. They were great nephews and fun to be with. Ruby would come and meet me and we would go strolling down the streets of Seattle and wonder at all the sights of the big city. <br /><br />

                    The theaters were awesome—huge—and so many people! The Pike Street Market was a fun place to visit. Also going down to Lake Washington and maybe taking a ferry ride across or even a bus across the swinging bridge, all that was quite an adventure for a girl from small-time Idaho! I dated a few nice fellows while in training…Chuck…can’t remember his last name. Dick Small was a real gentleman and he brought me flowers very frequently, roses mostly. And John Greenwalt was very special. I would probably have gone back to Seattle and married him if Ken hadn’t come along. He was a good man but not a member of the church and as I think back it would have been a drastic mistake for me to have done that. And Kenneth Bird was a very effective persuader! <br /><br />

                    We had lots of fun get-togethers among the nursing students; we went on picnics and to a lot of movies in those years. I remember the capping ceremony, also graduation, when we received our long sleeved white uniforms. Only registered nurses could wear a long-sleeved uniform! We also had reciprocity sections when we left VMH and went to other hospitals for specialized training. I trained Children’s Orthopedic Hospital and Steilacoom Psychiatric Hospital south of Seattle in Steilacoom. <br /><br />

                    I remember there being a huge veggie garden near by Steilacoom and we students without dates sometimes would sneak down there to the garden and eat strawberries; they were huge and beautiful and irresistible. I also remember being sunburned severely from being either at the lake or at the beach for too long…oooooh…I can still remember one of the girls rubbing my red hot back with lotion to soothe the pain. During vacation time each year, I rode the bus back home to Idaho Falls alone; never had any fear even though it was during the war.<br /><br /> 

                    I became quite a bus rider! During one year of training, my best friend Donna Cook, from Idaho Falls, came over for a visit because her boyfriend Arland Rasmussen was in the Navy and stationed there and we went out there to see him. They later married. Also my first boyfriend Roy Gardner, also from Idaho Falls and a neighbor on 16th Street, was in the Navy and stationed in the same area—I have many memories in my mind about those years in Seattle. They are special and treasured memories. <br /><br />

                    I can bring up the feelings of riding the huge electric buses from downtown out to Ruby’s, her home on Alamo Place, then back to the hospital riding the bus and hearing the conductor crying out the names of the streets where the bus stopped…I even remember the name of one of them…“Jackson Street.” I graduated from VMH in August of 1947. <br /><br />

                    My parents drove over to pick me up and especially to see little Mike, the little boy that was born just before I graduated. Ruby wanted a girl but Mike has been so special. Her three boys have always been very special to me because of those years when we were so close. When I returned to Idaho Falls, I was able to obtain a position as office nurse for Dr. Walter R. West, a “hometown” doctor. Also working in the office was Donna, as secretary and receptionist and Mary Mcintire who was the chief nurse. I worked for the doctor for a year and a half before marrying Ken. I was able to use much of my training and even learned to take and develop x-rays. I worked for the doctor until we moved out to the farm in Milo. Dr. West delivered Michael, Marlon, Robert, and Debra, while Randy and Janet were delivered by Dr. Carey. He worked with a certain client on advertisements that made him quite a bit of money. Then he started working with restaurants, in helping them design advertisements, and create illustrations. 
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
            </div>


                    
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory-hide" onclick="showHide('restofstory');return false;">SEE LESS</a>
                </span-->
            </div>
           
        </div>
        <%= image_tag("carma/farmerandnurse1/large/NursesTrainingatVM0.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>


<!-- Chapter 2 Begins -->
        <span class="anchorup"><a name="ch2"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
        <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 2 &nbsp;</span>
            <span id="textspanlichapter13">RETURNING HOME </span><span id="textspanlichapter15">from </span><span id="textspanlichapter16">SEATTLE</span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <!--div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe src="//player.vimeo.com/video/113120003" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div-->


        <!--span id="ChapterQuoteAudio">
        “He always wanted to strike it rich, and obtain money he didn’t have to work for.” 
        </span-->
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">ELLIS LI</span><br /><span id="textspanlichapter24">DAUGHTER</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>After my time in Seattle, I lived with my parents again, which was very special. My dad had remodeled the bedroom area of the house and added a room for me and included the first bathroom upstairs and remodeled one of those two bedrooms in the front of the house into a kitchen upstairs for mother. The stairs going down to the old basement area were taken out and this made the living room about three feet wider…and my, but that living room seemed big! My dad always did his own carpentry and the old house on 16th Street shows evidence of his handwork. I also had several pieces of simple furniture that my dad made for me: a bookshelf and a small stool, both of which I still have after all these years.<br />
            </span>

            <!--div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    
                    
                </ol>    
            </div-->

            <span id="ChapterParagraphTwo">
                That summer of 1948 I remember was good summer. I was still working in the medical office of Dr. West as an office nurse. My good friend Donna Cook was the office secretary and receptionist and Mary Mclntire was the senior nurse. We worked from 9 to 5 with an hour off for lunch. Dr. West’s office was on the top floor of the office building directly across the street east from the old C.C. Anderson (later the Bon Marche) building, and we walked up a big flight of wooden stairs to get to the office. 
            </span>
            <span id="SEE_MORE"><a href="#" id="restofstory2-show"  onclick="showHide('restofstory2');return false;">SEE MORE</a>
            </span>

            <div id="restofstory2" class="more">
                <span id="ChapterParagraphTwo">
                    Dr. West’s office consisted of his office room, a clinic room, two examination rooms, an X-ray room, and a lab room. I learned how to do x-rays while working there and also how to do many lab tests. It was very interesting work and I loved working there. Dr. West was a very fine man and a great family physician. It was nice to be working with Donna as she and I had been best friends since junior high school. We used to prepare our lunch in the lab room, and one of our favorite meals was to open a can of black bean soup, heat it up and relish it! I remember it was so delicious (whenever I pass the soup section of a supermarket and notice the cans of Campbell’s Black Bean Soup many long ago memories come creeping back to me).<br /><br />

                    One of the big fads those years was fur—to own a fur coat was really stylish! I almost gave in to purchase one but didn’t do it and was always glad that I hadn’t spent hard-earned money for foolish style. My friend Donna did buy a fur coat and lots of my friends as well.<br /><br />

                    During the winter of 1947 and 1948, I was busy with church activities and dating and went to dances and movies and church programs, etc. I dated a couple of fellows that winter-spring and have memories of lots of fun times. Dances were the great activities of the community and the church; tri-stake dances were held periodically as well as annual Gold and Green Balls. Movies were the great pastime and everyone went to at least a couple a week. Picnicking on dates were also popular and swimming at Riverside or some of the local school pools. Wandermere was a great place for dancing, all to live bands playing the latest hits. 
 
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
            </div>

        </div>
        <%= image_tag("carma/farmerandnurse1/large/HandsomeFarmer&DHNurse-header2.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>


<!-- Chapter 3 Begins -->

             <span class="anchorup"><a name="ch3"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>

       <span id="ChapterHeading">

            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 3 &nbsp;</span>
            <span id="textspanlichapter13">THE HANDSOME FARMER </span><span id="textspanlichapter15">and the </span><span id="textspanlichapter16">DARK-HAIRED NURSE </span><span id="textspanlichapter15">and </span><span id="textspanlichapter13">HOW THEY MET</span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196379710&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>


        <span id="ChapterQuoteAudio">
        “...his happy heart leapt and went, ‘pitty-pat, pitty-pat.’”
        </span>
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">ALICE CHAU</span><br /><span id="textspanlichapter24">SISTER</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>One summer day the Handsome Farmer, named Kenneth, happened to be in Idaho Falls shopping for needed supplies in the drugstore, named Walgreens. It so happened that on that very same day a Dark-Haired Nurse was shopping for supplies at the same store, named Walgreens. As the Handsome Farmer walked down the aisle, in walked the Dark-Haired Nurse. 
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/HandsomeFarmer&DHNurse.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/HandsomeFarmer&DHNurse.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/HandsomeFarmer&DHNurse1.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/HandsomeFarmer&DHNurse1.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/HandsomeFarmer&DHNurse2.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/HandsomeFarmer&DHNurse2.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/HandsomeFarmer&DHNurse3.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/HandsomeFarmer&DHNurse3.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/HandsomeFarmer&DHNurse4.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/HandsomeFarmer&DHNurse4.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/HandsomeFarmer&DHNurse5.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/HandsomeFarmer&DHNurse5.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/HandsomeFarmer&DHNurse6.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/HandsomeFarmer&DHNurse6.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                </ol>    
            </div>

            <span id="ChapterParagraphTwo">
                When the Handsome Farmer's eyes looked upon the Dark-Haired Nurse, his happy heart leapt and went, “pitty-pat, pitty-pat.” The Handsome Farmer said to himself, “There she is, the Dark-Haired Nurse that I have been searching for all my life, but who is she?” The Handsome Farmer also said to himself, “I must find out who she is. My heart cannot be still 'till I find out who this Dark-Haired Nurse is. I must have her for my wife!” 


            </span>
            <span id="SEE_MORE"><a href="#" id="restofstory3-show"  onclick="showHide('restofstory3');return false;">SEE MORE</a>
            </span>

            <div id="restofstory3" class="more">
                <span id="ChapterParagraphTwo">
                    As the Dark-Haired Nurse strolled down the aisles of the drugstore, named Walgreens, the Handsome Farmer, faint heart that he had, waited until she had left the drugstore and then, seeing a Friendly Face at the register, asked her if she could help him learn the identity of the Dark-Haired Nurse, lest his faint heart should perish with sadness as she walked out the door. The Friendly Face at the register said, “That Dark-Haired Nurse? Yes, I know her identity, she is Carma Ingram, the nurse who works in Dr. West's office just around the corner.” <br /><br />

                    How very happy was the heart of the Handsome Farmer! That very afternoon, his heart beating, “pitty-pat, pitty-pat,” he called the Dark-Haired Nurse and asked her for a date. Of course she said, “Of course, I've been waiting for you to call” (that's the way the Handsome Farmer told it). So that very evening, as the sun began to set on yonder hill, the Handsome Farmer drove his new green pickup (not cool back then!) to the home of the Dark-Haired Nurse, and found her waiting on the front lawn of her home, her heart beating, “pitty-pat, pitty-pat,” eagerly awaiting for the Handsome Farmer to arrive (that's how the Handsome Farmer told it). Actually the Dark-Haired Nurse was not able to enter the house because her Eager Father had placed the watering hose so the entry was blocked (that's how the Dark-Haired Nurse told it)! <br /><br />

                    <div class="vidvid"><iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196382090%3Fsecret_token%3Ds-zQfyL&amp;color=b6b6b6&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe></div><br />

                    And so the Handsome Farmer and the Dark-Haired Nurse at last met and their love story began. As the days and the weeks went by, their hearts became entwined in eternal love and the Handsome Farmer asked the father of the Dark-Haired Nurse for her hand. The father of course said, “Yes, take her away to the farm!” And so they were married and away they went to the farm and they promised forever to be true to each other for ever and ever (the words of both the Handsome Farmer and the Dark-Haired Nurse)!
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
            </div>
            
        </div>
    <%= image_tag("carma/farmerandnurse1/large/KennethPursuit-header.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>


<!-- Chapter Four Begins -->


<span class="anchorup"><a name="ch4"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>

       <span id="ChapterHeading">

            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 4 &nbsp;</span>
            <span id="textspanlichapter13">KENNETH'S PURSUIT </span><!--span id="textspanlichapter15">and the </span><span id="textspanlichapter16">DARK-HAIRED NURSE </span><span id="textspanlichapter15">and </span><span id="textspanlichapter13">HOW THEY MET</span-->
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196382464%3Fsecret_token%3Ds-wjcS6&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>


        <span id="ChapterQuoteAudio">
        “He had a very strong testimony; he wanted to be sealed in the temple.”
        </span>
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">ALICE CHAU</span><br /><span id="textspanlichapter24">SISTER</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>One of the first things that attracted me to Kenneth was the fact that he was a returned missionary. He had served a mission in the Texas-Louisiana Mission and served an honorable mission. When he came home, he began immediately to look for a wife. He had a farm and he was ready to settle down and establish a home. 
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/KennethPursuit.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/KennethPursuit.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/KennethPursuit1.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/KennethPursuit1.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/KennethPursuit2.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/KennethPursuit2.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/KennethPursuit3.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/KennethPursuit3.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/KennethPursuit4.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/KennethPursuit4.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                </ol>    
            </div>

            <span id="ChapterParagraphTwo">
                I knew that was what he wanted because he also told me, and I had heard from others, that Kenneth Bird had dated a lot of girls for short periods of time because he was looking for the Number One, and he hadn’t found her yet. Apparently that’s what he saw in me. 


            </span>
            <span id="SEE_MORE"><a href="#" id="restofstory4-show"  onclick="showHide('restofstory4');return false;">SEE MORE</a>
            </span>

            <div id="restofstory4" class="more">
                <span id="ChapterParagraphTwo">
                    As we began to date, I could see the qualities in Kenneth. He was extremely handsome. He was a handsome young man. In fact, as his granddaughters have seen pictures of him, they’ve said, “Oh my goodness, Grandma. He was a hottie,“ in the modern vernacular. Not only that, but he had a very strong testimony of the gospel; he wanted to be married and sealed in the temple, and he wanted a home and a family. <br /><br /> 

                    Kenneth already had an 80-acre farm with a lovely home. He hadn’t lived in the home. The home had been used by other members of the family as they lived out there, but it was a lovely home in Milo. He was ready to settle, I knew that he was a hard worker, and I knew that he was honest and had integrity. <br /><br /> 

                    He was a really good dancer, as well. We had a lot of fun at the dances during our courtship.
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
            </div>
            
        </div>
    <%= image_tag("carma/farmerandnurse1/large/CourtshipandMarriage-header.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>
        





<!-- Chapter Five Begins -->

        
       <span class="anchorup"><a name="ch5"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>

       <span id="ChapterHeading">

            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 5 &nbsp;</span>
            <span id="textspanlichapter13">COURTSHIP </span><span id="textspanlichapter15">and </span><span id="textspanlichapter16">MARRIAGE </span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196381493%3Fsecret_token%3Ds-Unyzu&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>


        <span id="ChapterQuoteAudio">
        “Had Ken not been there I would surely have married the wrong person.”
        </span>
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">ALICE CHAU</span><br /><span id="textspanlichapter24">SISTER</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>After Ken and I met, we began to date in the spring of 1948. Ken was a farmer and had been born and raised on a farm in the farming community of Milo which is east of Idaho Falls, off the Ririe highway. He courted me in a green pickup which was not “cool” at that time. I was a bit embarrassed to be seen in the “green monster” as I called it but it was all that was available for our use and it was his totally and not his Dad's so there was some advantage to having it. 
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/CourtshipandMarriage1.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/CourtshipandMarriage1.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/CourtshipandMarriage2.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/CourtshipandMarriage2.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/CourtshipandMarriage3.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/CourtshipandMarriage3.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/CourtshipandMarriage4.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/CourtshipandMarriage4.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/CourtshipandMarriage5.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/CourtshipandMarriage5.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/CourtshipandMarriage6.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/CourtshipandMarriage6.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/CourtshipandMarriage7.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/CourtshipandMarriage7.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/CourtshipandMarriage8.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/CourtshipandMarriage8.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/CourtshipandMarriage9.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/CourtshipandMarriage9.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/CourtshipandMarriage10.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/CourtshipandMarriage10.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/CourtshipandMarriage11.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/CourtshipandMarriage11.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/CourtshipandMarriage12.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/CourtshipandMarriage12.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/CourtshipandMarriage13.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/CourtshipandMarriage13.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse1/small/CourtshipandMarriage.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse1/large/CourtshipandMarriage.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                </ol>    
            </div>

            <span id="ChapterParagraphTwo">
                We went to the tri-stake dances which were a main source of entertainment those days. We were involved in church activities, went to movies and lots of picnics together. Ken was quite a dancer and due to his ability to move his feet so fast while dancing the jitterbug and such that he was known as Tanglefoot at the dances and did attract a bit of attention. The foxtrot and waltz were the dances popular those days and we loved to dance. 


            </span>
            <span id="SEE_MORE"><a href="#" id="restofstory5-show"  onclick="showHide('restofstory5');return false;">SEE MORE</a>
            </span>

            <div id="restofstory5" class="more">
                <span id="ChapterParagraphTwo">
                    We were quite close and spent much time together but I had reservations about feelings for Ken and after a few weeks of dating I pretty well made the decision to return to Seattle to renew a relationship I had left when I came home after graduation. <br /><br />

                    When I told Ken what I was about to do he said, “Well, I will just have to come up there after you because the Lord has let me know you are to be my wife.”  <br /><br />

                    Well, that set me back a bit and after much pondering for awhile decided that I had better give the relationship a bit more time. So I stayed with employment at the doctor's office and continued seeing Ken and not much longer after that we became engaged. Ken put an engagement ring on my finger in that darn green pickup before we went into the stake dance and we were promised to each other.  <br /><br />

                    Had Ken not been there I would surely have made a serious mistake and married the wrong person. Whether Ken’s coming home early from his mission had anything or not to do with how it all turned out we will never really know for sure in this world, but one thing that is for sure, we feel we were guided by the Spirit of our Heavenly Father in our relationship and I am very grateful to know that he helped me to make the right decision about my future. As I look back at it all now I can see the mistake I would have made but at the time it was difficult to rationalize correctly because emotions were in control and it is difficult at times to separate the true, lasting feelings from superficial, emotional responses. <br /><br />

                    We were married in the Idaho Falls temple by John R. Sayer on the 21st of September. The temple was closed for maintenance at that time, so Ken and Uncle Jack took me to the Salt Lake temple to receive my endowment. I was alone with no one to be by my side and it was a very difficult experience for me. My parents were not active in the church at all and no one else was able to go through the temple with me. How different now when many family members support one who is attending for the first time. Later as I served a mission in the Mexico City temple and observed the quiet kindness and attention given to a “primera ves” which is a first endowment I no longer wonder at the nervousness I felt at being alone for what should have been a very spiritual and special experience. The Idaho Falls Temple was actually closed for renovation, but we were able to be married on Sept 21st when it was opened for sealings. A lasting memory. <br /><br />

                    Ken’s Aunt Grace and Aunt Mary made our temple clothing for us so we would have our own right from the first which has been a blessing and inspiration to us all our married life. We have also seen that each of our children have their own complete set of temple clothing when they got married. We hoped the example would carry all through each of their own families and help them to go to the temple frequently. <br /><br />

                    We stopped along the way back home to pick fruit..peaches, etc. to take home to can for our very first food supply. We stayed in a motel somewhere that night because I was so tired and worn completely out after the emotional experiences of that day. Actually the whole experience was not very pleasant to me because I was alone without any help in the temple from family. <br /><br />

                    Our wedding day was a beautiful blue day with lots of sunshine and we had our families with us and it was a lovely day. My wedding dress was a beautiful, ivory satin with a bustle! I loved it and it was and still is a treasure to me. The evening of our wedding we had a reception at Ken’s home and it was very nice. Not too many attended because of my parents’ inactivity in the church and Ken’s family had just moved into their ward in Idaho Falls from the Milo farm but we had much family and it was a beautiful evening. Our wedding cake was designed as near as possible to the I.F. temple. Donna Rasmussen (Cook) and Lois Bacon Packer were my bridesmaids and Leo Avery was Ken’s best man, however, he didn’t show up until way too late so my brother Bart stood with Ken. <br /><br />

                    When it was time to get changed and leave for our honeymoon we had quite a time eluding the “shivaree-ers” and not until many years later did I learn that my Dad had been the chief instigator of the goings-on after the reception! <br /><br />

                    We finally made our escape in Ken’s parents car that we used for our honeymoon travel and spent our first married night in the Colonial Motel in Blackfoot. We then drove on to southern Utah and the parks there and then on to California for our 10 day honeymoon. Not too many photos of that trip…cameras at that day and age were not common for everyone. <br /><br />

                    When we returned from our honeymoon we moved into an apt on J Street in Idaho Falls. A one bedroom apartment with nothing else but a small kitchen at one end with the bedroom at the other end of a short hall and the bathroom in between…the problem being that when we moved in we didn’t know that the bathroom had to be shared with another apartment, so we had to keep the hall door open all the time; the door was between the kitchen and the bedroom, so it was mighty inconvenient and not private at all. We lived there for about a month and then moved out and into another apartment on Elm Street on the 2nd floor but it was nice and it was all ours! We had a private bathroom! I remember that apartment very well…I remember the night that Harry Truman won the presidency even though it had been put in headlines in the papers all over the country that Thomas Dewey had won. I was standing at the ironing board when we heard the news over the radio. <br /><br />
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
            </div>
            
        </div>

        <%#= image_tag("li/grace/personalities COVER.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>


    <div class="bottom-menu">
        <p id="bottommenuli">
        <%= link_to 'HOME', carma_path %> &nbsp; <span id="textspanlichapter15">/</span> &nbsp; <%= link_to 'NEXT EXHIBIT', carma_farmer_and_nurse_2_path %> &nbsp;<span id="textspanlichapter15">/</span> &nbsp; <%= link_to 'GUESTBOOK', carma_guestbook_path %><br /><br /><br />
        </p>
    </div>


<!-- Chapter Eight Begins --><!-- Evelyn needs to write this up!!! -->
