<head>
    <!-- show and hide begins -->
    <script>
        function showHide(shID) {
          if (document.getElementById(shID)) {
            if (document.getElementById(shID+'-show').style.display != 'none') {
              document.getElementById(shID+'-show').style.display = 'none';
              document.getElementById(shID).style.display = 'block';
            }
            else {
              document.getElementById(shID+'-show').style.display = 'inline';
              document.getElementById(shID).style.display = 'none';
            }
          }
        }
    </script>
    <!-- show and hide end -->
    <!-- responsive video begins -->
    <script>
            $(document).ready(function () {
                $(".ChapterVideoDiv").fitVids();
            });
    </script>
    <!-- responsive video end -->
    <!-- fancybox begins -->

        <!--script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script--> <!-- this causes fitvids NOT to work. BOO -->
        <link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css" type="text/css" media="screen">
        <script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js"></script>
    <!-- fancybox end -->

<meta name="viewport" content="width=device-width; initial-scale=1.0,maximum-scale = 3.0">

    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '[redacted-g]', 'antho.co');
          ga('send', 'pageview');
    </script>

</head>

<!-- Story Heading Begins -->
        <div id="ThemeCoverPhotoFarmerandNurse2" class="clearfix">
            <span id="ThemeTitle">
                <span id="textspanlichapter">THE FARMER AND THE NURSE II</span><span id="textspanlichapter1"><br /></span><span id="textspanlichapter2">MARRIED LIFE</span><br />
            </span>
            
            <span id="ChapterSectionIndex"><br/><br/><br/>
                <a href="#ch1">1 </a>&#x2f;<a href="#ch2"> 2 </a>&#x2f;<a href="#ch3"> 3 </a>&#x2f;<a href="#ch4"> 4 </a>&#x2f;<a href="#ch5"> 5 </a><!--&#x2f;<a href="#ch6"> 6 </a>&#x2f;<a href="#ch7"> 7 </a--><!--&#x2f;<a href="#ch8"> 8 </a> Evelyn needs to finish remarriage temple sealing part -->
            </span>

        </div>

<!-- Story Heading Ends -->

<!-- Chapter 1 Begins -->
        <span class="anchorup"><a name="ch1"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
        <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 1 &nbsp;</span>
            <span id="textspanlichapter13">THE MAN I MARRIED </span><!--span id="textspanlichapter15">at </span><span id="textspanlichapter16">VIRGINIA MASON HOSPITAL</span-->
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196379698&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>


        <span id="ChapterQuoteAudio">
        “When I began looking, I wanted someone with those qualities that Kenneth had.” 
        </span>
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">ELLIS LI</span><br /><span id="textspanlichapter24">DAUGHTER</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>Another thing that attracted me to Kenneth and made him very dear to me was his testimony of the gospel. He set an example for his children in all aspects of the Church and what was important for us to do. He had served an honorable mission, and after we were married we always attended sacrament meeting, no matter how busy the farm work was. Mostly the farm was at a standstill on Sunday because we did not work on the Sabbath. We always paid tithing. He was a full-tithe payer. 

<br />
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("carma/farmerandnurse2/small/ThemanImarrieda.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse2/large/ThemanImarrieda.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse2/small/ThemanImarried1.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse2/large/ThemanImarried1.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse2/small/ThemanImarried2.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse2/large/ThemanImarried2.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse2/small/ThemanImarried3.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse2/large/ThemanImarried3.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse2/small/ThemanImarried4.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse2/large/ThemanImarried4.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse2/small/ThemanImarried5.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse2/large/ThemanImarried5.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    
                </ol>    
            </div>


            <span id="ChapterParagraphTwo">
                    The Church was very important to him, and his example was a great help to me, because I had not been raised in a home or a family that was active in the Church. My parents were not active when I was growing up, so when I finished my education and began looking for a companion of my own, I wanted someone with those qualities that Kenneth had. Our family became very strong in the Church. Our children have grown up loving the gospel. I attribute that to Kenneth's example and his determination to do what the Lord wanted him to do with his family. I've always admired Kenneth for that. He was not only faithful with himself, but he taught me as well. I've appreciated that so much in him.
            </span>
            
            <span id="SEE_MORE"><a href="#" id="restofstory1-show"  onclick="showHide('restofstory1');return false;">SEE MORE</a>
            </span>

            <div id="restofstory1" class="more">
                <span id="ChapterParagraphTwo">
                    Ken was always a very social person. That is, he loved to be around people. He would do almost anything to talk with someone else or to enjoy their company while he was working, traveling, or just talking and nothing else. When we were first married and he had farm work to do, he would beg, plead, cajole, connive, plan and do almost anything he could to talk me into going out into the field with him and just be with him as he did the farm work, drive the tractor, change the irrigation water, see to the livestock or most anything that needed to be done. And as our family grew and it became harder and harder for me to leave the house and go with him, it would please him very much to take one of the kids with him wherever he would have to go just to have company along, someone to visit with, no matter how small and of few words, just to have someone with him. <br /><br />

                    He was a very loving person to me. He was very kind, I don’t recall him ever raising his voice to me at all. I had free hand in taking care of the home. If something needed to be done, redecorating or something, I was always had free hand to make those choices, when we were financially able to do those things, he was always willing.<br /><br />

                    He was always affectionate. Whenever he would come in from the fields or work, or whenever he was going out, he would always come up to me and give me a kiss. It wasn’t just the first few years of marriage, it was throughout our entire marriage. In fact, one of my daughters told me one day, she said, “Mom, I know that my dad loves you because he was always coming up and kissing you.” So that became a very special thing. He was a very kind and quiet person with me, and generous with his time and abilities and finances. We did not want for very much; he was very kind in that way. 
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
            </div>
           
        </div>
        <%= image_tag("carma/farmerandnurse2/large/Abagofbeanscover.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>


<!-- Chapter 2 Begins -->
        <span class="anchorup"><a name="ch2"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
        <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 2 &nbsp;</span>
            <span id="textspanlichapter13">A BAG </span><span id="textspanlichapter15">of &nbsp;</span><span id="textspanlichapter16">BEANS</span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196380688&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>


        <span id="ChapterQuoteAudio">
        “He looked up at me and had that beautiful, big grin on his face and just walked out of the kitchen.” 
        </span>
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">ELLIS LI</span><br /><span id="textspanlichapter24">DAUGHTER</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>I do have one quite humorous incident that happened between Kenneth and I shortly after we were married. In fact, I think it was just that spring or early summer after we moved to the farm. I had been to Rigby to buy groceries, and I came home with three huge brown bags full of groceries—three of them—big bags full of groceries. 

<br />
            </span>

            <!--div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    
                    
                </ol>    
            </div-->

            <span id="ChapterParagraphTwo">
                Kenneth came in the kitchen while I was putting them away, and he said, “You spent $15 and that’s all you got?” I just looked at him and I could not believe what he said. So I reached in the sack and I pulled out a bag of beans, and I threw it at him. It broke and beans went all over the floor. He looked up at me and had that beautiful, big grin on his face and just walked out of the kitchen, not saying another word. And I had to clean up the beans. We laugh about that to this day.
            </span>
            <!--span id="SEE_MORE"><a href="#" id="restofstory2-show"  onclick="showHide('restofstory2');return false;">SEE MORE</a>
            </span>

            <div id="restofstory2" class="more">
                <span id="ChapterParagraphTwo">
                    Dr. West’s office consisted of his office room, a clinic room, two examination rooms, an x-ray room, and a lab room. I learned how to do x-rays while working there and also how to do many lab tests. It was very interesting work and I loved working there. Dr. West was a very fine man and a great family physician. It was nice to be working with Donna as she and I had been best friends since junior High school. We used to prepare our lunch in the lab room, and one of our favorite meals was to open a can of black bean soup, heat it up and relish it! I remember it was so delicious (whenever I pass the soup section of a supermarket and notice the cans of Campbell’s Black Bean Soup many long ago memories come creeping back to me).<br /><br />

                    One of the big fads those years was fur—to own a fur coat was really stylish! I almost gave in to purchase one but didn’t do it and was always glad that I hadn’t spent hard-earned money for foolish style. My friend Donna did buy a fur coat and lots of my friends as well.<br /><br />

                    During the winter of 1947 and 1948, I was busy with church activities and dating and went to dances and movies and church programs, etc. I dated a couple of fellows that winter-spring and have memories of lots of fun times. Dances were the great activities of the community and the church; tri-stake dances were held periodically as well as annual Gold and Green Balls. Movies were the great pastime and everyone went to at least a couple a week. Picnics on a date were also popular and swimming at Riverside or some of the local school pools. Wandermere was a great place for dancing, all to live bands playing the latest hits. 
 
                </span-->

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
            <!--/div-->

        </div>
        <%= image_tag("carma/farmerandnurse2/large/Patiencewithprogresscover2.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>


<!-- Chapter 3 Begins -->

             <span class="anchorup"><a name="ch3"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>

       <span id="ChapterHeading">

            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 3 &nbsp;</span>
            <span id="textspanlichapter13">PATIENCE </span><span id="textspanlichapter15">with </span><span id="textspanlichapter16">PROGRESS</span><!--span id="textspanlichapter15">and </span><span id="textspanlichapter13">HOW THEY MET</span-->
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196379803&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>


        <span id="ChapterQuoteAudio">
        “He always ate what I put in front of him, and mostly would compliment me.”
        </span>
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">ALICE CHAU</span><br /><span id="textspanlichapter24">SISTER</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>Another positive thing about Kenneth was he never complained about my cooking, and I really didn’t know very much. When we moved to that farm, I didn’t know how to do anything. He never complained. He always ate what I put in front of him, and mostly would compliment me on the food. I appreciated that because it took me a long time to learn how to cook. I didn’t learn it in my mother’s home. I had to learn after we were married, and so Kenneth was very patient and kind with me that way. 
            </span>

            <!--div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                        
                </ol>    
            </div-->

            <span id="ChapterParagraphTwo">
                He had two specialties that he prepared himself. He made wonderful tomato soup. He knew how to make it and it was excellent. Just a simple tomato soup. He also made wonderful scrambled eggs. He always told me exactly how to scramble the eggs. I don’t think, even to this day, that I scramble eggs and don’t think how he described to me what scrambled eggs should be like. He was very patient with me in learning how to cook. <br /><br />

                For the first batch of bread I made, my sister-in-law Flora May, who lived down the road from us, told me how to make it. So I tried to make some bread, and I didn’t put any yeast in it. It was definitely unleavened bread. That’s not our bread. Our bread has to raise up and be high, and that bread was not. It was flat as a rock. I think we laughed about that. I don’t think my feelings were hurt at all with that failure. Kenneth was very patient with me in that area as well.
            </span>
            <!--span id="SEE_MORE"><a href="#" id="restofstory3-show"  onclick="showHide('restofstory3');return false;">SEE MORE</a>
            </span>

            <div id="restofstory3" class="more">
                <span id="ChapterParagraphTwo">
                    As the Dark-Haired Nurse strolled down the aisles of the drugstore, named Walgreens, the Handsome Farmer, faint heart that he had, waited until she had left the drugstore and then, seeing a Friendly Face at the register, asked her if she could help him learn the identity of the Dark-Haired Nurse, lest his faint heart should perish with sadness as she walked out the door. The Friendly Face at the register said, “That Dark-Haired Nurse? Yes, I know her identity, she is Carma Ingram, the nurse who works in Dr. West's office just around the corner.” <br /><br />

                    How very happy was the heart of the Handsome Farmer! That very afternoon, his heart beating, “pitty-pat, pitty-pat,” he called the Dark-Haired Nurse and asked her for a date. Of course she said, “Of course, I've been waiting for you to call” (that's the way the Handsome Farmer told it). So that very evening, as the sun began to set on yonder hill, the Handsome Farmer drove his new green pickup (not cool back then!) to the home of the Dark-Haired Nurse, and found her waiting on the front lawn of her home, her heart beating, “pitty-pat, pitty-pat,” eagerly awaiting for the Handsome Farmer to arrive (that's how the Handsome Farmer told it). Actually the Dark-Haired Nurse was not able to enter the house because her Eager Father had placed the watering hose so the entry was blocked (that's how the Dark-Haired Nurse told it)! <br /><br />

                    And so the Handsome Farmer and the Dark-Haired Nurse at last met and their love story began. As the days and the weeks went by, their hearts became entwined in eternal love and the Handsome Farmer asked the father of the Dark-Haired Nurse for her hand. The father of course said, “Yes, take her away to the farm!” And so they were married and away they went to the farm and they promised forever to be true to each other for ever and ever (the words of the Handsome Farmer and the Dark-Haired Nurse)!
                </span-->

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
            <!--/div-->
            
        </div>
    <%= image_tag("carma/farmerandnurse2/large/WhatIloveaboutKenneth-header.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>


<!-- Chapter Four Begins -->


<span class="anchorup"><a name="ch4"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>

       <span id="ChapterHeading">

            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 4 &nbsp;</span>
            <span id="textspanlichapter13">WHAT I LOVE </span><span id="textspanlichapter15">about </span><span id="textspanlichapter16">KENNETH </span><!--span id="textspanlichapter15">and </span><span id="textspanlichapter13">HOW THEY MET</span-->
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196379646&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>


        <span id="ChapterQuoteAudio">
        “He was honest with his fellow men, which was very important to me.”
        </span>
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">ALICE CHAU</span><br /><span id="textspanlichapter24">SISTER</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>One thing that I have always admired about Kenneth is that he was a very hard worker. He was always a good provider for our family. I was not under any pressure whatsoever to do anything that would be uncomfortable for me to do. I had a large home to take care of, and when the children began to come, my responsibility was to keep a home for our family. 


            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("carma/farmerandnurse2/small/WhatIloveaboutKenneth.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse2/large/WhatIloveaboutKenneth.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse2/small/WhatIloveaboutKenneth1.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse2/large/WhatIloveaboutKenneth1.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse2/small/WhatIloveaboutKenneth2.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse2/large/WhatIloveaboutKenneth2.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse2/small/WhatIloveaboutKenneth3.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse2/large/WhatIloveaboutKenneth3.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse2/small/WhatIloveaboutKenneth4.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse2/large/WhatIloveaboutKenneth4.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/farmerandnurse2/small/WhatIloveaboutKenneth5.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/farmerandnurse2/large/WhatIloveaboutKenneth5.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                </ol>    
            </div>

            <span id="ChapterParagraphTwo">
                Kenneth was always supportive, and he was very anxious for our children to learn to work. Even from the very beginning, our boys were taught how to work and to take responsibility to help with the family.<br /><br />

                Kenneth was an excellent farmer. He was honest in his dealings with his fellow men, which was very important to me. He would always plan for the future and was quite successful in farming. At one time he was nominated to be the recipient of Outstanding Young Farmer in Bonneville County because he was such a hard worker and had a good farm.
            </span>
            <!--span id="SEE_MORE"><a href="#" id="restofstory4-show"  onclick="showHide('restofstory4');return false;">SEE MORE</a>
            </span>

            <div id="restofstory4" class="more">
                <span id="ChapterParagraphTwo">
                    As we began to date, I could see the qualities in Kenneth. He was extremely handsome. He was a handsome young man. In fact, as his granddaughters have seen pictures of him, they’ve said, “Oh my goodness, Grandma. He was a hottie,“ in the modern vernacular. Not only that, but he had a very strong testimony of the gospel; he wanted to be married and sealed in the temple, and he wanted a home and a family. 

                    Kenneth already had an 80-acre farm with a lovely home. He hadn’t lived in the home. The home had been used by other members of the family as they lived out there, but it was a lovely home in Milo. He was ready to settle, I knew that he was a hard worker, and I knew that he was honest and had integrity. 

                    He was a really good dancer, as well. We had a lot of fun at the dances during our courtship.
                </span-->

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
            <!--/div-->
            
        </div>
    <%= image_tag("carma/farmerandnurse2/large/Myworkasanursecover.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>
        





<!-- Chapter Five Begins -->

        
       <span class="anchorup"><a name="ch5"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>

       <span id="ChapterHeading">

            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 5 &nbsp;</span>
            <span id="textspanlichapter13">MY WORK </span><span id="textspanlichapter15">as a </span><span id="textspanlichapter16">NURSE </span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/197363456%3Fsecret_token%3Ds-EvggR&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>


        <span id="ChapterQuoteAudio">
        “I had wonderful experiences because we were able to contribute to the community.”
        </span>
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">ALICE CHAU</span><br /><span id="textspanlichapter24">SISTER</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>After Kenneth and I were married and we moved to the farm, I let my nursing career be at a standstill for a number of years. For about nine years I wasn’t working at all. <br /><br />
            
            Then I had the opportunity to go to work in the LDS hospital in Idaho Falls, and in that capacity I worked in the newborn nursery for several months. That was a choice experience for me. In those days the newborn nursery didn’t have a lot of special equipment to take care of premature babies. We didn’t have a special incubator to put them in at that time. We had oxygen for them, but they required a lot of nursing care, and it was required of them to be in the hospital for a long, long time. The nurses grew to love those little infants just like…I just can’t describe it to you. We became attached to those tiny little babies. 
            </span>

            <!--div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                        
                </ol>    
            </div-->

            <span id="ChapterParagraphTwo">
                I remember two little premature babies that were born while I worked in that department at the hospital. One of them was a tiny little boy that was not much over two or three pounds. His last name was Hayes, and his parents were from Ririe. We took care of that little boy and grew to love him. When he was old enough and had gained enough weight that he could go home, we would cry. We had to let the babies go and we would cry. I know I did. I got attached to that little Hayes boy. 


            </span>
            <span id="SEE_MORE"><a href="#" id="restofstory5-show"  onclick="showHide('restofstory5');return false;">SEE MORE</a>
            </span>

            <div id="restofstory5" class="more">
                <span id="ChapterParagraphTwo">
                    A long number of years later—well, it was nineteen years, was what it was!—I had been doing an errand for Kenneth up in Ririe, and I went into a feed store. I was in the office waiting to be taken care of, and this man walked over to me, tapped me on the shoulder, and said, “Are you Carma Bird?” I said yes. He asked, “You worked at the nursery in the Idaho Falls hospital?” I said, “Oh yes I did, a long time ago.” He said, “I want you to know, little boy Hayes is my son, and he’s just received a mission call. I recognized you, and I wanted you to know that the loving care that you gave to our son helped him to grow strong and healthy, to know that he was loved, and he’s now going to serve a mission.” <br /><br />

                    We had one other little premature baby, a little girl. Her parents were from St. Anthony, and I remember her name was Penny. She was a tiny little thing, just like the little Hayes boy. We grew to love those little babies because we had to give them such tender, careful care. I haven’t met the parents since then, but I have a special place in my heart for those tiny little babies and the special care they need, especially at that time when we didn’t have all the scientific help that we have now for little premature babies. <br /><br />

                    Those are two very special experiences while I was working employed as a nurse. <br /><br />

                    As I worked for the health department for twelve years, I had wonderful experiences because we were able to contribute things to the community: the clinics and the special things that we established in the county for the citizens. I worked in Madison County, and I had two school districts and a caseload of patients in the full county. <br /><br />

                    These were very special times for me in my nursing career. I enjoyed it a great deal. I loved being a nurse. It was a special blessing for me to be able to do that.
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
            </div>
            
        </div>



    <div class="bottom-menu">
        <p id="bottommenuli">
        <%= link_to 'HOME', carma_path %> &nbsp; <span id="textspanlichapter15">/</span> &nbsp; <%= link_to 'NEXT EXHIBIT', carma_missionary_service_1_path %> &nbsp;<span id="textspanlichapter15">/</span> &nbsp; <%= link_to 'GUESTBOOK', carma_guestbook_path %><br />
        </p>
    </div>

