<head>
    <!-- show and hide begins -->
    <script>
        function showHide(shID) {
          if (document.getElementById(shID)) {
            if (document.getElementById(shID+'-show').style.display != 'none') {
              document.getElementById(shID+'-show').style.display = 'none';
              document.getElementById(shID).style.display = 'block';
            }
            else {
              document.getElementById(shID+'-show').style.display = 'inline';
              document.getElementById(shID).style.display = 'none';
            }
          }
        }
    </script>
    <!-- show and hide end -->
    <!-- responsive video begins -->
    <script>
            $(document).ready(function () {
                $(".ChapterVideoDiv").fitVids();
            });
    </script>
    <!-- responsive video end -->
    <!-- fancybox begins -->

        <!--script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script--> <!-- this causes fitvids NOT to work. BOO -->
        <link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css" type="text/css" media="screen">
        <script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js"></script>
    <!-- fancybox end -->

<meta name="viewport" content="width=device-width; initial-scale=1.0,maximum-scale = 3.0">

    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '[redacted-g]', 'antho.co');
          ga('send', 'pageview');
    </script>

</head>

<!-- Story Heading Begins -->
        <div id="ThemeCoverPhotoChildhood2" class="clearfix">
            <span id="ThemeTitle">
                <span id="textspanlichapter">CHILDHOOD II</span><span id="textspanlichapter1"><br /></span><span id="textspanlichapter2">ADOLESCENCE AND INDEPENDENCE</span><br />
            </span>
            
            <span id="ChapterSectionIndex"><br/><br/><br/>
                <a href="#ch1">1 </a>&#x2f;<a href="#ch2"> 2 </a>&#x2f;<a href="#ch3"> 3 </a>&#x2f;<a href="#ch4"> 4 </a>&#x2f;<a href="#ch5"> 5 </a><!--&#x2f;<a href="#ch6"> 6 </a--><!--&#x2f;<a href="#ch7"> 7 </a--><!--&#x2f;<a href="#ch8"> 8 </a> Evelyn needs to finish remarriage temple sealing part -->
            </span>

        </div>

<!-- Story Heading Ends -->


<div id="Gallery_Strip" class="clearfix">
            <ol class="GalleryPicsMod">

                    
                    <li><%= link_to image_tag("carma/childhood2/small/childhoodII.jpg", :id => "Pic_1_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/childhood2/large/childhoodII.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/childhood2/small/childhoodII1.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/childhood2/large/childhoodII1.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/childhood2/small/childhoodII2.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/childhood2/large/childhoodII2.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/childhood2/small/childhoodII3.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/childhood2/large/childhoodII3.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/childhood2/small/childhoodII4.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/childhood2/large/childhoodII4.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/childhood2/small/childhoodII5.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/childhood2/large/childhoodII5.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/childhood2/small/childhoodII6.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/childhood2/large/childhoodII6.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/childhood2/small/childhoodII7.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/childhood2/large/childhoodII7.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/childhood2/small/childhoodII8.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/childhood2/large/childhoodII8.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/childhood2/small/childhoodII9.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/childhood2/large/childhoodII9.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/childhood2/small/childhoodII10.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/childhood2/large/childhoodII10.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>

                </ol>   
        </div>
<!-- Chapter 1 Begins -->
        <span class="anchorup"><a name="ch1"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
        <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 1 &nbsp;</span>
            <span id="textspanlichapter13">HORSING AROUND </span><!--span id="textspanlichapter15">for </span><span id="textspanlichapter16">CHOCOLATE</span-->
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196382285%3Fsecret_token%3Ds-y821g&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>


        <span id="ChapterQuoteAudio">
        “I began to scream and as we neared the house, my sister heard and she ran outside to help me.” 
        </span>
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">ELLIS LI</span><br /><span id="textspanlichapter24">DAUGHTER</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>
                When my sister Melba married Harold Hersley, they moved out onto a farm in the Roberts area. They had a team of horses that were used to do the fieldwork. At one time I was out in the field for some reason I can’t remember and when it became time for the noon break, Harold put me on top of one of the big horses and told me to ride him to the house. I was petrified! The horses had full harness on because they were not unharnessed until the end of the work day. I hung on for dear life even though the horses were just walking, but when they got nearer to the barn they sensed there was water and hay waiting for them there so they began to run! I don’t believe I have ever been that afraid again since! I began to scream and as we neared the house my sister heard and she ran outside to help me. I wasn’t hurt and was able to be taken off the back of those creatures (they seemed so to me) but my sister sprained her ankle when she jumped off the porch to run to me. <br /><br />

                I also remember at that Roberts farm that Melba and Harold had a cream separator that was used to separate the milk from the cream. That machine was kept on the porch of the house and the cream and milk had to be separated twice a day. The machine had dozens (it seemed that many) of metal disks that the milk ran over which in some magic way actually did separate the cream and milk, but the disks had to be hand washed after each use and of course that was one of my responsibilities…a dreaded one. <br /><br />

                We also became acquainted with fresh grapefruit. Roberts and when Melba brought some home from the store they would cut it in half the night before and cover it with sugar to prepare for eating the next morning. Melba and Harold also lived and worked a farm in Blackfoot, Idaho. The house was a large but old house with buildings where they took care of hogs, cows, a horse or two and chickens. I remember was a pen with huge pigs in it and I was warned carefully “not to go near the pen where the pigs are because if you slipped and fell in the big pig would eat you up!” <br /><br />

                I also had a sad experience where I slept. Melba had fixed up a large closet for me where I might sleep with a cot and a box for bedside table. I was happy to call it my own until I began to notice red welts all over my body and they itched terribly—I complained to my sister and after some investigation into the closet and the bedding it was found that I had been keeping bed bugs company every night! Well, that was a first experience with those creatures. Surely left in the house for our own experience with them…oh, how those bites itched! <br /><br />

                We also had fun in that house. When Bart and I were visiting with Melba and Harold during the Christmas holidays we had a board game we played in the evening when the chores were all finished. It was called “Alley Oop” and why I can still remember the name of the game after all these years…well, probably because board games were very new at that time so we had a real treasure for entertainment. He who won a game would be awarded a “chocolate drop”…a popular treat at that time, and if you bit into the chocolate and found it was pink on the inside then you were rewarded with another! (Oh, the things we do remember!)<br /><br />

                Childhood times on 16th Street still linger in memory. I remember the fun of playing street games with neighborhood friends: “Kick the Can,” “Mother May I,” “Run, Sheep, Run.” We played freely after dark, often under the light of the “ark light” we called them; there was usually an ark light on each comer of a block, high up but providing light for our use. We had little fear of being out after dark, not in those “good old days.” <br /><br />

                Because for many years after we moved to 16th Street the road in front of our house was a graveled road, it was often that those drivers who were going a little too fast past our house often would flip a rock or two which landed into our front room window. Often my dad would react very disgustingly when he had to replace a broken window glass. Joy was the feeling when the more and more roads were paved and ours was one of them! Progress! <br /><br />

                I had one experience with an auto one evening during the winter months when we had lots of good “snowball-making” snow. We kids were out on the boulevard making snowballs and throwing them at cars as they went by when one happened to be a police car and when the policeman driver stopped, of course we kids ran for the dickens. Well, I’m the one who must have not had the speed of the others, for the police followed me home and knocked on the front door with a message for my parents (I was hiding behind my dad), that “your child had not better do that again—or else!” Another memory clincher—never to be forgotten.<br /><br />

                I remember my first date. A friend from the neighborhood lived just down the street, Roy Gardner. He was a good buddy of our next-door neighbor, Don Shearer. We all went to high school together. Don had a model A Ford and he would give us all a ride to school Roy had “eyes” for me, I guess, because he asked me for a date long before my dad would give his permission for me to “go out.” 16 years old…at least…but I remember on my 16th birthday here came Roy for a date to the movies. Roy was a good friend for many years. During the war years when I was in school in Seattle Roy was serving in the Navy and several times he came to visit me at school. He was just a friend to me and I had to eventually tell him that was all our relationship could be. He was a fine and honorable friend, never forgotten.
            </span>

            <!--div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    
                </ol>    
            </div-->


            <!--span id="ChapterParagraphTwo">
                    I have little memory of anything that took place in my life during the years that my family lived on Whittier Street. I imagine that because of my placement in the order of the family, being the youngest of ten living siblings and being a new baby arriving, that I was the recipient of lots of attention. Of course there are the suggestions that I was certainly spoiled and pampered because of this. I do know that I had loving parents and brothers and sisters who cared for my every need and that my years as a small child were filled with loving attention and freedom to play without fear. We lived in that location for approximately four years after I arrived.
            </span>
            
            <span id="SEE_MORE"><a href="#" id="restofstory1-show"  onclick="showHide('restofstory1');return false;">SEE MORE</a>
            </span>

            <div id="restofstory1" class="more">
                <span id="ChapterParagraphTwo">
                    I have memory of one incident that was quite traumatic to myself and a young friend, Doris Standen, when we interfered with a beehive located somewhere in the area and were both stung by the angry occupants to the extent that Doris was quite ill for a time. I fared much better than she as my injuries from the bees were minor. I also have a memory, however slight, of a big swing in the neighborhood, maybe in the Standen yard or even my yard, that we both enjoyed as kids and friends. <br /><br />

                    The house on Whittier was about a block west of the railroad tracks that run through Idaho Falls. That area was quite sparsely populated in 1926 and there were few houses on the block where we lived. Doris lived just a house or two to the east of us so we were pretty constant play friends. I guess she could be known as the very first friend that I had as a child. When I was about 5 years old my family moved to F street, directly across Memorial Drive from the LDS Hospital. We lived there for about two or three years. <br /><br />

                    The hospital was considered to be quite tall for buildings at that time. It was an impressive building. From the street there was a long walkway up to the front door of the hospital. There could usually be seen at most any time a doctor or a nurse in ter white uniform and cap hurrying up to the door to enter and report for duty. As long as I can remember I have always wanted to be a nurse. I do believe that it was because of the excitement of living near that beautiful hospital.<br /><br />
                    
                    I don’t remember much about the house I believe it was a two story and I’m sure if there was a basement. I remember a garden in the back of tiie house and a barn or shed of some sort. There were a lot of people to live in that house. However, according to my brother, Frant, the older brothers, who would be well into their teens when we moved into that house were off finding work so they could help take care of the large family of brothers and sisters. <br /><br />

                    Rhoe, my oldest brother worked for the Coy Coal company, driving a delivery truck for them. The twin sisters, Melba and Nelda found work at Samsel’s which was a “five and dime” store on A street in Idaho Falls. Frant had left the area and was working in California. Duard (“Dude”) had also left to find work. These were the depression years and it was necessary for those old enough to take work to help the family. They would take on this responsibility either by being out on their own, or else if they lived at home they would help to supplement the income that Dad brought home. <br /><br />

                    My dad worked as a sheep herder, cattle herder or ranch hand and was not home much of the time. I remember when he would come home that I could not remember him, because he would often be away for weeks at a time. None of the older brothers and sisters, excepting Ethel and Bart, and then I, attended high school. <br /><br />

                    I remember one experience at the F street house. My dad was always a very soft hearted person when it came time to punish a child who had misbehaved. That responsibility fell to my mother who usually paddled us when needed. At one time I remember being across her knee being on the receiving end of a spanking and my dad was waiting outside the back door. I could see him there, so that he could comfort me when the ordeal was over. My dad said that those times were about as difficult for him as it was for one being punished. I never remember having him raise a hand to me in any way at anytime. And I remember very few times that my mother punished us that way either. 

                </span-->

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
            <!--/div-->


                    
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory-hide" onclick="showHide('restofstory');return false;">SEE LESS</a>
                </span-->
            </div>
           
        </div>
        <%#= image_tag("li/grace/movinggambling COVER.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>


<!-- Chapter 2 Begins -->
        <span class="anchorup"><a name="ch2"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
        <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 2 &nbsp;</span>
            <span id="textspanlichapter13">FRIENDS </span><!--span id="textspanlichapter15">at the </span><span id="textspanlichapter16">FARM</span--><!--span id="textspanlichapter15">to </span><span id="textspanlichapter16">GUATEMALA</span-->
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <!--div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe src="//player.vimeo.com/video/113120003" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div-->


        <!--span id="ChapterQuoteAudio">
        “My mom was a ‘Four Star Mother’ during the Second World War, as she had four sons who served in the military.” 
        </span-->
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">ELLIS LI</span><br /><span id="textspanlichapter24">DAUGHTER</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>
                My young days of growing up include several special friends who also lived on 16th Street. One girl friend who lived just three houses from ours was Lois Bacon. She was just a year younger than I and we grew up together and still see each other occasionally. She learned to play the violin very well which I admired a lot and always wished that I could learn to play music of some sort. Our memories of those days in the neighborhood are choice and never to be forgotten. Also close friends through school years were Donna Cook and her sister Marcene. They also lived on 16th Street and we walked to school together and shared a love of movies, especially. <br /><br />

                As young girls were wont to during grade school years my friend, Lois and I played a lot of a game called “Jacks.” It was a favorite game and mostly a girl thing. Lois's father was a photographer (he photographed my wedding) and he captured Lois and I playing Jacks and sent the picture in for consideration at the Chicago World's Fair and…"lo and behold” the photo won honorable mention in its category and was hung in display at the fair (a considerable honor, I might mention…not only for the photographer but for the happy girls)! <br /><br />

                Lois and I spent many years growing up and going to school and church together. Mary Bundte lived across the street from Lois and we also were kind of friends. Donna and Marcene Cook lived on down 16th St towards Boulevard…Lois, Donna, Marcene and I became fast friends through high school years…Three of us…Donna and Marcene and I were enamored with Nelson Eddy and Jeanette MacDonald…musical comedy stars in the movies we went to ALL of their movies. Donna and I collected movie magazines or anything that had pics of them and made scrapbooks; at one time I had three or four huge scrapbooks of them with pictures cut out of the magazines or whatever I could find. (I wonder what my mom did with those scrapbooks when I left to go to college!)  <br /><br />

                I remember a big picture of Nelson Eddy that hung above my bed for years (oh, dear, and nowadays I complain about the teen girls who idolize the rock stars). When a Nelson Eddy movie would come to town, Donna and Marcene and I would go to the matinee when school was out and watch the movie, then go out into the lobby and sit and do our homework while the second feature was playing and then go back in to watch our movie for the second time! Those days we were allowed to stay and watch a movie as many times as we wanted for the price of only one ticket. (Not today!) 
            </span>

            <!--div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">

                </ol>    
            </div-->

            <!--span id="ChapterParagraphTwo">
                As we approached the turn that would take us down another ranger coming along in a jeep, he asked us where we were going in our big outfit. He then warned us that the trail was hairpin sharp, and that there was no turning back once we started—but we had already started down, so we couldn’t turn back! After a bit of consulting with Ethel, we decided to go for it and continue on. The ranger shook his head and said, “Good luck.” 
            </span>
            <span id="SEE_MORE"><a href="#" id="restofstory2-show"  onclick="showHide('restofstory2');return false;">SEE MORE</a>
            </span-->

            <!--div id="restofstory2" class="more">
                <span id="ChapterParagraphTwo">
                    
 
                </span>

                <span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span>
            </div-->

        </div>
        <%#= image_tag("li/grace/endearment COVER.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>


<!-- Chapter 3 Begins -->



<span class="anchorup"><a name="ch3"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>

       <span id="ChapterHeading">

            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 3 &nbsp;</span>
            <span id="textspanlichapter13">MOVIES, CHRISTMAS </span><span id="textspanlichapter15">and </span><span id="textspanlichapter16">SCHOOL</span><!--span id="textspanlichapter15">and </span><span id="textspanlichapter13">HOW THEY MET</span-->
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196382655%3Fsecret_token%3Ds-WFfUT&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>


        <span id="ChapterQuoteAudio">
        “Those days folks were shocked at Rhett Butler using the word ‘damn’ in the movie. Not so today…much, much worse.”
        </span>
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">ALICE CHAU</span><br /><span id="textspanlichapter24">SISTER</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>           

                    About movies then, 1939 or about, I remember vividly when Gone with the Wind came to Idaho Falls. I remember standing in line for tickets and being enthralled that the movie would be in color. Those days folks were shocked at Rhett Butler using the word “damn” in the movie. Not so today…much, much worse. Movies when I was a child and teen were the primary source of entertainment; radio as well. Idaho Falls had four main theaters: Paramount, Rex, Gayety, and Rio. The movies shown would only run for three days and then a new one was shown. <br /><br />

                    Usually there was a news short shown, during the WWII years the main news short was called “Time Marches On.” There was usually a cartoon shown and most often there was a double feature (two main movies), as well as trailers to preview coming attractions. Sunday afternoon was the most popular time to attend the movies, and we always walked about a mile or mile and a half on Saturdays to go. There was always a matinee with a cowboy feature, cartoons and a “serial” movie that would show a continued chapter each Saturday matinee. That would encourage us kids to come every Saturday to see what would happen next to Gene Autry or Roy Rogers, etc.  <br /><br />

                    I remember that the 3rd Ward used to have a movie sponsored in their building on an evening during the week. The one that I remember was a “Fu Man Chu” continued movie. (Oh, my, the things we do remember!) The Rex Theatre on Park Avenue used to have what was called “Country Store Nite” when the owner would turn on the theater lights between the movie double feature and have a drawing where patrons could win sacks of groceries or free popcorn. The owner’s name was Mr. Hager, and I remember he was quite a stem, almost grouchy fellow. We kids were always a little afraid of him; it kept us behaving ourselves at the movies! <br /><br />

                    I remember my first bike, given to me when we lived on 16th Street, as a Christmas gift from my brother Bart and my sister Ethel. I had asked for a bike but hardly believed that I would actually get one. I still remember the feelings I had that Christmas eve while I was trying to sleep, waiting for time to get up in the morning, and sure enough, there was that beautiful bicycle sitting near the tree—what a wonderful Christmas that was. I also remember one Christmas when I was very young that I tried to hide behind the couch to wait for Santa to appear, when my mom or Dad came and said that I might as well go to bed because Santa would never come to a house where the kids were still awake! <br /><br />

                    Well, here’s the TRUE story of how for I walked to high school each day…and home at noon for lunch! Honest…we lived a mile from the high school but not far enough out to get a ride on any school bus, so we walked—winter as well—and home for lunch…which meant taking about 15 minutes to eat and then turn around and walk back to school. Usually there was a friend somewhere along the line to meet and walk with. In my last year, I had a friend who lived next door who had an old car he fixed up and kept running, and often we would get a ride with Don Shearer.  <br /><br />

                    My high school years were spent at the Idaho Falls Senior High School between 6th and 7th Street off the boulevard. I remember the floors in that building being wood and can still often remember the smell of the wood after it had been cleaned and waxed. There was a gymnasium where we were all required to take P.E. (physical education) As it is today there were fads of fashion for clothes that were popular and I remember one particular fad that consisted of a flannel shirt to be worn with a wooden slatted belt that tied in front with leather strips running through the entire belt…extremely high fashion! Also very popular those years were circle skirts and of course for many years…bobby sox! <br /><br />

                    Our school hours were always 9am to 12 noon, then 1pm to 4pm. We had the usually required classes for that time: math, some form of English (English Lit, English history, etc.) physics, P.E. (gym) was required and not an elective; we dressed down into shorts and short sleeved shirt—everybody took gym! We could have an hour of study hall if we chose it. I remember taking chemistry and Latin because it was required pre-requisite in high school for entering a nursing school. My Latin teacher was Mr. Pratt and his classroom was over at the O.E. Bell Junior High School so those who took that class had to trot over to the other building in a hurry to get there on time. (I definitely had a crush on Mr. Pratt, I remember that to be so!)  <br /><br />

                    Ah, those were definitely the “good old school days.” We had hardly any of the problems that students face today.  <br /><br />

                    All I remember about the physics class is this: “a body immersed in a fluid is buoyed up by the force of the fluid it replaces.” (I think of that every time I climb into the bathtub and sit down!)
            </span>

            <!--div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                        
                </ol>    
            </div-->

            <!--span id="ChapterParagraphTwo">
                Then when Marlon came home from his mission, I believe we picked him up in Salt Lake. When Robert finished his mission in Australia, we planned to make a major trip down to pick him up. Kenneth and I, and Marlon and Debra left to go down to Australia to pick up Robert. We had a trip that lasted six weeks, and we visited many, many countries in the South Pacific. We visited Mike’s mission and met some of the people that he had worked with in New Zealand. We met many of Robert’s friends and had a very special time there with him. Robert served as an assistant to the president, so he had many things that he could show us in Australia. We thoroughly enjoyed that and met his mission president. 
            </span>
            <span id="SEE_MORE"><a href="#" id="restofstory4-show"  onclick="showHide('restofstory4');return false;">SEE MORE</a>
            </span>

            <div id="restofstory4" class="more">
                <span id="ChapterParagraphTwo">
                    From there we went to Indonesia and met many of Marlon’s mission friends as well. They called him “Yellow Bird” down there. We were kind of tickled with that nickname they gave him because of his blond hair. Being there was especially a fun time because we had a very tall Robert, a very rotund Kenneth–he had a little weight on him–and Debra with her long blond hair. That type of person in Indonesia was very, very rare. We attracted a crowd wherever we went. We had people following us and looking at us and wanting to stop and visit. We had a wonderful time. <br /><br />

                    We also went to Taiwan. We went to Thailand. We were in Singapore. We spent time in Japan. We were in Tokyo for three or four days. Then we flew back to Hawaii where Mike and Randy and Janet met us and we spent another week in Hawaii. That was a very special trip and it really gave us the desire to travel as much as we possibly could throughout the following years.  <br /><br />

                    Another special trip we had in our family was when we were going to celebrate our 50th wedding anniversary. Kenneth was just beginning to get into the throes of Alzheimer’s, so we knew that if we wanted to take a family trip together, we must do it at that time. We planned a trip to go to the Mediterranean.  <br /><br />

                    It was kind of interesting how that trip came together, because some of our children just didn’t have the finances to do that trip. They were concerned about it. We wanted to do a family trip for a 50th wedding anniversary, but we didn’t know where we wanted to go or what to do or how long to stay. Finally, Dani called and she said, “Bob is going to put a trip together for us. Let’s go to the Mediterranean. Let’s go take a trip to the Greek Islands.” Oh, my goodness, I thought that would be wonderful. Debra thought it would be wonderful. Bob thought this was wonderful. We began to plan the trip, and pretty soon those who thought they would not go came together, and as a family, all six of our children and their spouses and Ken and I, we made the trip to the Mediterranean.  <br /><br />

                    We went to Rome. We were in Italy for a week or so. We went to the Greek Islands and absolutely fell in love with them. I’ve always wanted to go back to Sorrento in Italy. That was a very special place for me. That was a marvelous trip. The time we spent together as family—we were unbelievably close, helping each other and enjoying the time that we had there. We had some really fun experiences that I would be happy to share with anyone. Anytime they want to listen to me, I’ll tell them of our experiences on that trip.  <br /><br />

                    I’ve been privileged to make several trips to England and travel on the continent with Bob and Janet. They lived there for ten years while Bob was transferred there for his employment. I was privileged to go to England four different times, and it’s become my most favorite place in the world. I love England and I’ll always have special memories. I’m very much connected to England. My ancestors came from there as well, so I guess there’s a spiritual tie there that keeps me in love with England.  <br /><br />

                    It’s interesting, because when Bob and Janet said they’d been transferred to England, I said, “England! Who on earth wants to go and live in England? Are you sure you’re going to do this?” But it just took one trip over there. I went over when Bradley was born. Janet was having some difficulties with that birth, and I went over to help her and just totally fell in love with England.  <br /><br />

                    I’ve been blessed to travel through Europe: Germany, Switzerland, Holland, Italy. I’ve been blessed to travel. I have been blessed to travel! The Lord has been good to me in that respect.  <br /><br />

                    Haven’t been to Alaska. Everyone’s been to Alaska but me.  <br /><br />

                    Oh my goodness, I’ve been to South America. I’ve been to Guatemala. Janet served her mission in Peru and we went down to pick her up and brought her home with us, because we finished our mission in Guatemala as Janet finished hers. We were able to have some of the family go with us, and we went down and picked up Janet and she drove home with us.  <br /><br />

                    Also, when we finished our mission in Guatemala, we brought back with us a fifteen-year-old Guatemalan girl named Norah Alvarado. Her parents were pleased to let her come home with us, and she was able to go to school in Rigby. A couple of years later she came back and attended Ricks College.  <br /><br />

                    I’ve had some beautiful experiences traveling. I’ve had wonderful times and seen a lot of this wonderful world we live in.
                </span>

                <span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span>
            </div-->
            
        </div>
    <%#= image_tag("li/menu/GraceMenuSmall.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>
        





<!-- Chapter FOUR Begins -->

        
       <span class="anchorup"><a name="ch4"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>

       <span id="ChapterHeading">

            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 4 &nbsp;</span>
            <span id="textspanlichapter13">TEENAGE WORKING YEARS</span><!--span id="textspanlichapter15">as a </span><span id="textspanlichapter16">CHILD </span-->
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <!--div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe src="//player.vimeo.com/video/113120053" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div-->


        <!--span id="ChapterQuoteAudio">
        “To be together, to show the love we feel for each other, and to see the cooperation—it was just full of love!”
        </span-->
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">ALICE CHAU</span><br /><span id="textspanlichapter24">SISTER</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>
                    In my teen years I worked for a “five and dime” store named Kress. It was located right next to the Rex Theatre on Park Avenue in Idaho Falls. I worked at the dish counter and that when each counter had its own cash register and each clerk behind each counter was responsible for the money at the end of the shift. I don’t have any bad memories of that job so I must have been able to do a good job. My sister Ethel worked for the store in the office. I also used to do housework for various women around the city and spent many days working full eight or ten hours doing cleaning and receiving the grand sum of $1 when the work was done. <br /><br />

                    During my junior year in high school I got a job working for the Fisher Bakery on A Street in Idaho Falls. I remember when chocolate chip cookies first came on the market and what a big hit they were! Also brownies!<br /><br />
                    
                    Between my junior and senior years at high school I was allowed to take a trip to Seattle on a Greyhound bus to be with my sister Ruby that summer. I spent the entire summer months there working for the 5th Avenue Theater selling popcorn, etc. and showing people down the aisles to their seats…with a flashlight! I loved that summer with Ruby and Jack and Kenny…many memories linger of those days…then, it seemed like summer was much longer than now as an adult. <br /><br />

                    One of the ladies that worked for quite some time and I also babysat for was Una Tate. She was also a registered nurse so she was almost an idol for me to look up to. During the few times when I was working at the LDS hospital as a nurse myself, while on the medical floor as the night charge nurse, I learned that Una Tate was a patient. She was a heart patient and was in critical condition and not expected to live through the night. She ended up surviving, but I did not see or hear from her for many years. <br /><br />

                    Then in the January of 1979, Grant Tate, her husband, appeared at our door at the farm, demonstrating some special vitamins that he was representing. He asked if he could bring his wife in, and to my great surprise it was Mrs. Tate! We had an enjoyable few minutes together, reliving some memories. Even though her condition prevented her from speaking, the love and friendship we felt for each other was still evident after many years.
            </span>

            <!--div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                        
                </ol>    
            </div-->

            <!--span id="ChapterParagraphTwo">
                The home was on seven acres. There are two acres of woods, two acres of pastures, and then an acre and a half for the home. I’m not sure just what the numbers are.<br /><br />

                After we had lived here for a number of years, we found that the family loved to come here. They often planned their summer vacations to come, and eventually we had family reunions. I'm not sure just which year we started; I think it was about 1989. The family loved to come especially for reunions. We managed to put everyone up, and they loved to be together. They looked forward to coming and we looked forward so much to having them come. To be together, to show the love we feel for each other, and to see the cooperation—it was just full of love! The reunions have been wonderful. 
            </span>
            <span id="SEE_MORE"><a href="#" id="restofstory5-show"  onclick="showHide('restofstory5');return false;">SEE MORE</a>
            </span>

            <div id="restofstory5" class="more">
                <span id="ChapterParagraphTwo">
                    We always had a theme for our reunions, and everyone in the family participated. We had committees. Everyone was part of a committee, preparing meals and preparing games to play. The food was a big deal. We always tried to have special food that everyone would enjoy. We often had the food catered, but mostly family wanted to work together, to be together, and to have fun together. Our family has always had those blessings of enjoying being together and looking forward to reunion time. We had about half a dozen reunions here in this home. <br /><br />

                    I think reunions are a very special part of family relationships. They bring families together; for those who’ve lived far away and been separated for a number of years, when they come to a reunion—I don't know how to describe it. It's such a warm, special time to be together with those that you love and be part of a very special family. We have always enjoyed having the reunions.<br /><br />

                    The last one we had here had about eighty-five people. It was a riot! A riot. Everyone loved it. We had barrels of fun. We were together for about four days total. Some even wanted to stay longer. Family from Mesa traveled so far and they wanted to come and stay longer, so of course we welcomed that. It's a special feeling to know that your family wants to come back home and to be with you—very special.<br /><br />

                    Cyndi gave me a kitchen towel, and the last reunion she hung it on my oven door and I didn't know who left it there. But the towel explains a family. I believe the towel says, “Home is where Mom is.” That's kind of what family is. We don't have a dad right now, but home is where Mom and Dad are, wherever they live. That's where home is. <br /><br />

                    We've always been a close family. We've always enjoyed being close together. We've had many, many blessings in our family because of our love of the gospel, our desire to be together, and the love we feel for one another.
                </span>

                <span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span>
            </div-->
            
        </div>

        <%#= image_tag("li/grace/personalities COVER.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>

<!-- CHAPTER FIVE BEGINS -->

   <span class="anchorup"><a name="ch5"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
      <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 5 &nbsp;</span>
            <span id="textspanlichapter13">PETS </span><!--span id="textspanlichapter15">of &nbsp;</span><span id="textspanlichapter16">READING</span--><!--span id="textspanlichapter15">in </span><span id="textspanlichapter16">BRIDLINGTON </span-->
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <!--div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe src="//player.vimeo.com/video/114207389" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div-->


        <!--span id="ChapterQuoteAudio">
        “I would wish for them to have the kind of family that I have had.” 
        </span-->
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">GREGG LI</span><br /><span id="textspanlichapter24">SON</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>             

            We had one dog while I was in junior and senior high school. He was there still when I came home from Seattle and college. “Old Sox” was his name and so named because he had 4 white sox on his feet. He lived to be 17 years old and was my dad’s most favorite pet of all. We had several pets at the farm, some cats and some dogs. I remember the big white Tom that we called Tomboy who didn’t come inside too often because he was just a little too wild, also a big yellow cat that we called “George Cat” when we lived in Rexburg. We also had a favorite dog named “Little Joe” from the farm. <br /><br />

            Much later in life, one October during the school break for potato harvest, Janet and Debra and I went on a three day trip to Salt Lake to just have fun and we happened to pass by a pet shop while we were wandering around shopping, etc. and there we found “Sam Dog,” a Beagle puppy. He was just a baby and we were so smitten with him that we just had to buy him and take him home. I think he cost $20 or so, if my memory is right. He was such a darling little puppy. We even smuggled him into our hotel room safely! We had Sam for many years. The whole family loved Sam Dog. He quickly became part of us and we loved him for many years. <br /><br />

            We also had “George Cat,” who became part of our family for a number of years and we loved him as well. We also had for just a few months a beautiful cat that we agreed to take for Mary Gibson’s son who could no longer keep him as he was moving back east. This cat was named “Spock.” l am sure after the famous Dr. Spock of Star Trek, the famous TV program for years! Spock was never comfortable with us because he was a one man pet so we eventually took him to the farm and gave him to Darrell and Mary Hersley, my nephew and niece who were renting the farmhouse at that time. They told us later that Spock didn’t like them either and he eventually ran away from home.

            </span>

            <!--div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                                      
                </ol>    
            </div-->

            <!--span id="ChapterParagraphTwo">

                    I would wish for them to have the kind of family that I have had. I would like to see them have families where their children grow up in the gospel and have strong, viable testimonies of the gospel as my children have had and as my husband and I have had. I would wish for them a tremendous posterity, as I have had. Heavenly Father has blessed me tremendously with my family. I couldn’t have asked to have a better family than I’ve had. My posterity, as well, is just…I can’t describe how pleased and happy and blessed I feel to have my family. 
 
            </span-->
            
            <!--span id="SEE_MORE"><a href="#" id="restofstory6-show"  onclick="showHide('restofstory6');return false;">SEE MORE</a>
            </span>

            <div id="restofstory6" class="more">
                <span id="ChapterParagraphTwo">
                    As it turned out, Ricks College and the homes up there became a haven for many hundreds of those whose homes were destroyed. My big concern was for the Public Health Office, a newly-built health department building that we had only been using for a few months. I had someone notify the sheriff the next day that I needed to get to my office to remove vaccine materials and other chemicals and any other record materials that could be salvaged. <br /><br />

                    The sheriff came to the bottom of the hill by Smith Park and took me in a row boat to the office and we were able to take out from there all that needed to be kept safe. The health department was soon established in the rock house next to the drive, which was high enough that only the basement apartment had water in it. <br /><br />

                    The apartment in the basement where Robert and Laurie lived was filled with flood water and all of their possessions were soaked and ruined. Marlon's apartment was also totally flooded and they lived in our camper parked in our backyard for awhile. The drive-in and the bottom apartments of the Norsemen were filled as well and so the work to get it cleaned up began. <br /><br />

                    The water in Rexburg eventually ran off and on down the valley. The 8th Ward chapel of which we were members only had a few inches of water and only had minor damage. A miracle there. Volunteers came from everywhere to help in the clean up of flooded Rexburg. Many faith-promoting incidents occurred during the next weeks and months following the tragedy of the Teton Dam breaking. Testimonies were strengthened and faith enlarged by those who were residents of Rexburg as well as those who came to help. <br /><br />

                    Many of us learned that through adversity comes stronger faith and through service comes great blessings. We also earned that no matter what the Lord is always near to us and the blessings always come.
                </span>

                <span id="SEE_MORE">
                    <a href="#" id="restofstory5-hide" onclick="showHide('restofstory5');return false;">SEE LESS</a>
                </span>
            </div-->
        </div>
            

        <%#= image_tag("li/progress_two/working3x COVER.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>


    <div class="bottom-menu">
        <p id="bottommenuli">
        <%= link_to 'HOME', carma_path %> &nbsp; <span id="textspanlichapter15">/</span> &nbsp; <%= link_to 'NEXT EXHIBIT', carma_the_farm_path %> &nbsp;<span id="textspanlichapter15">/</span> &nbsp; <%= link_to 'GUESTBOOK', carma_guestbook_path %><br /><br /><br />
        </p>
    </div>


<!-- Chapter Eight Begins --><!-- Evelyn needs to write this up!!! -->
