<head>
    <!-- show and hide begins -->
    <script>
        function showHide(shID) {
          if (document.getElementById(shID)) {
            if (document.getElementById(shID+'-show').style.display != 'none') {
              document.getElementById(shID+'-show').style.display = 'none';
              document.getElementById(shID).style.display = 'block';
            }
            else {
              document.getElementById(shID+'-show').style.display = 'inline';
              document.getElementById(shID).style.display = 'none';
            }
          }
        }
    </script>
    <!-- show and hide end -->
    <!-- responsive video begins -->
    <script>
            $(document).ready(function () {
                $(".ChapterVideoDiv").fitVids();
            });
            $(document).ready(function () {
                $(".vidvid").fitVids();
            });
    </script>
    <!-- responsive video end -->
    <!-- fancybox begins -->

        <!--script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script--> <!-- this causes fitvids NOT to work. BOO -->
        <link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css" type="text/css" media="screen">
        <script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js"></script>
    <!-- fancybox end -->

<meta name="viewport" content="width=device-width; initial-scale=1.0,maximum-scale = 3.0">

    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '[redacted-g]', 'antho.co');
          ga('send', 'pageview');
    </script>

</head>

<!-- Story Heading Begins -->
        <div id="ThemeCoverPhotoChocolate" class="clearfix">
            <span id="ThemeTitle">
                <span id="textspanlichapter">CHOCOLATE </span><span id="textspanlichapter1"><br /></span><span id="textspanlichapter2">THE SWEETER THINGS IN LIFE</span><br />
            </span>
            
            <span id="ChapterSectionIndex"><br/><br/><br/>
                <a href="#ch1">1 </a>&#x2f;<a href="#ch2"> 2 </a>&#x2f;<a href="#ch3"> 3 </a>&#x2f;<a href="#ch4"> 4 </a>&#x2f;<a href="#ch5"> 5 </a>&#x2f;<a href="#ch6"> 6 </a>&#x2f;<a href="#ch7"> 7 </a><!--&#x2f;<a href="#ch8"> 8 </a> Evelyn needs to finish remarriage temple sealing part -->
            </span>

        </div>

<!-- Story Heading Ends -->

<!-- Chapter 1 Begins -->
        <span class="anchorup"><a name="ch1"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
        <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 1 &nbsp;</span>
            <span id="textspanlichapter13">A LIFELONG LOVE </span><span id="textspanlichapter15">for </span><span id="textspanlichapter16">CHOCOLATE</span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196380667&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>


        <span id="ChapterQuoteAudio">
        “It’s kind of special liking chocolate that much.” 
        </span>
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">ELLIS LI</span><br /><span id="textspanlichapter24">DAUGHTER</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>I guess I’ve had a lifetime love of chocolate. The older I get, the more powerful it becomes. I really do like chocolate: milk chocolate. I don’t care for the dark chocolate, even though they tell me dark chocolate is healthy for you. I prefer the wicked milk chocolate. My family tolerates me and they often feed my habit, giving me gifts of chocolate.
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("carma/chocolate/small/Lifelongloveforchocolate.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Lifelongloveforchocolate.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Lifelongloveforchocolate-header.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Lifelongloveforchocolate-header.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    
                </ol>    
            </div>


            <span id="ChapterParagraphTwo">
                    One of my favorite places for chocolate is in Rexburg, where I met a very good friend named Florence. She dipped chocolates in her kitchen, and it later became a business because it prospered for her. Florence’s Candy Kitchen in Rexburg is one of my favorite places.
            </span>
            
            <span id="SEE_MORE"><a href="#" id="restofstory1-show"  onclick="showHide('restofstory1');return false;">SEE MORE</a>
            </span>

            <div id="restofstory1" class="more">
                <span id="ChapterParagraphTwo">
                    One time last year, I believe it was at my birthday time, the girls, Debra and Janet, told me that on my birthday we were going to do something very special, but I was not to know where I was to go until we got there. They put me in the car, blindfolded me, and took me to Rexburg and down through the alley where Florence’s Candy Kitchen is. Then they took the blindfold off and there I was in her chocolate factory. She was very pleased and had agreed to show me through all the processes of making her wonderful chocolates. That was a special treat.<br /><br />

                    Another time, two years ago, my family on my birthday gave me a chocolate birthday party. They invited many people to come, family members, neighbors, whoever wanted to come; all they needed to do was bring something chocolate. We set up a big table in the sunroom and everyone that came put their chocolate on the table. When the social part of the party was over, everyone would help themselves to all the different kinds of chocolate. We had a chocolate fountain, we had chocolate milk, we had fudge, we had cherry chocolates…every kind that you could imagine. Everyone was privileged to take home a plate of chocolate. It was a really fun party, one I treasure.<br /><br />

                    I put together a scrapbook about all the fun things I’ve heard about chocolate and that people say about chocolate. I guess one of my favorite ones is “There’s no Chocoholics Anonymous because no one wants to quit eating chocolate.”<br /><br />

                    This little book I have is full of fun quotes. “When no one understands you, chocolate is always there.”<br /><br />

                    “Strength is the capacity to break a chocolate bar into four pieces with your bare hands and then eat just one of the pieces.” There’s so many fun things about chocolate!<br /><br />

                    I think most everyone likes chocolate. I don’t think I’ve ever met anyone who really didn’t like it—yes, I have met someone. My own daughter-in-law, Cyndi Bird, confessed to me one time, “I really don’t care for chocolate.” Our relationship was quite queasy then. I didn’t know how to accept that. My own daughter-in-law. But anyway, we still like each other.<br /><br />

                    Also, I have this theory that chocolate slows down the aging process. It may not be true, but dare I take the chance? And I’m pretty old, so I think it works. I think chocolate has done me good all my life. So there you have it.<br /><br />

                    I have an added thought to that. I have a P.S. I guess my love of chocolate is known world-wide, because a number of years ago, when Janet lived in England where Cadbury’s chocolate is made, she would send Cadbury’s chocolates back to me when she had the opportunity. If ever anybody went over there, she would always ask, “Mom, what do you want them to bring back to you? I don’t need to ask; I know it’s chocolate.” <br /><br />

                    One particular time she had a friend coming from over there. My favorites were the huge Cadbury bars that were about 18 inches long and about an inch thick. They were heavy, but she had a friend bring to me nine of those huge bars. He tied them up and he carried them on the plane from England and brought them and handed them to me. Those bars lasted a long time. They must have weighed a ton, but that sweet man carried them on the plane and brought them to me. <br /><br />

                    It’s kind of special liking chocolate that much.<br /><br />

                    I also collect quotes about chocolate. Here are a few: <br /><br />

                    “We must save planet earth...It’s the only one with chocolate!”<br /><br />

                    “If you’ve got chocolate all over your hands, you’re eating it too slowly!”<br /><br />

                    “CHOCOPHOBIA: The totally logical fear that the world will run out of chocolate.”<br /><br />

                    “After eating a bar of chocolate one can forgive anybody...even one’s relatives.”<br /><br />

                    “Chocolate never faileth.”<br /><br />

                    “Research tells us that fourteen out of any ten people like chocolate.”<br /><br />

                    “The 12 step chocoholics program: Rule #1 — Never ever be more than 12 steps away from chocolate.”<br /><br />

                    “When no one understands you… chocolate is there!”<br /><br />

                    “There is no chocoholics anonymous because no one wants to quit!”<br /><br />

                    “Chocolate is cheaper than therapy and you don’t need an appointment!”<br /><br />

                    “No day is so bad that it can’t be fixed with chocolate.”<br /><br />

                    “9 out of 10 people love chocolate. The 10th person lies.”<br /><br />

                    “And on the 8th day God created chocolate.”<br /><br />
                    
                    “All you need is love...and chocolate.”<br /><br />
                    
                    “Man cannot live by chocolate alone...but woman sure can!”<br /><br />
                    
                    “Exercise is a dirty word. Everytime I hear it, I wash out my mouth with chocolate.”<br /><br />
                    
                    “For some of us there’s therapy. For the rest of us there’s chocolate.”                  
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
            <!--/div-->


                    
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory-hide" onclick="showHide('restofstory');return false;">SEE LESS</a>
                </span-->
            </div>
           
        </div>
        <%= image_tag("carma/chocolate/large/Experiencingtheworld.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>


<!-- Chapter 2 Begins -->
        <span class="anchorup"><a name="ch2"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
        <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 2 &nbsp;</span>
            <span id="textspanlichapter13">THE JEEP TRAIL </span><!--span id="textspanlichapter15">at the </span><span id="textspanlichapter16">FARM</span--><!--span id="textspanlichapter15">to </span><span id="textspanlichapter16">GUATEMALA</span-->
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196379705&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>


        <span id="ChapterQuoteAudio">
        “Within the first five minutes, we knew we had made a not so good choice.” 
        </span>
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">ELLIS LI</span><br /><span id="textspanlichapter24">DAUGHTER</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>“Oh, yes, that road down to Moab will be okay for your pickup camper.”<br /><br />
                
                Those were the words in response to a question if we could go down that side of the mountain from up above Moab when we were visiting Dead Horse Point in Utah. We were vacationing in southern Utah with my sister Ethel and her husband Wayne, who were driving a VW bus. Ken and I were a bit apprehensive about that road down off the mountain because of the size of our camper, but the ranger up there assured us that it would be okay, so we started down with a bit of fear and trepidation. 
            </span>

            <!--div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    
                    
                </ol>    
            </div-->

            <span id="ChapterParagraphTwo">
                As we approached the turn that would take us down another ranger coming along in a jeep, he asked us where we were going in our big outfit. He then warned us that the trail was hairpin sharp, and that there was no turning back once we started—but we had already started down, so we couldn’t turn back! After a bit of consulting with Ethel, we decided to go for it and continue on. The ranger shook his head and said, “Good luck.” 
            </span>
            <span id="SEE_MORE"><a href="#" id="restofstory2-show"  onclick="showHide('restofstory2');return false;">SEE MORE</a>
            </span>

            <div id="restofstory2" class="more">
                <span id="ChapterParagraphTwo">
                    Within the first five minutes, we knew we had made a not so good choice. The road was so narrow and steep down that side of the mountain that we had to back up and turn several times just to get around each hairpin turn! Our pickup was long and the camper heavy so it caused us much fear at each turn: “Oh…oh…can we make this one?” I got out of the pickup to guide Ken at each of the turns, and after much backing and adjusting the angle of the pickup, we managed to get another hairpin behind us! <br /><br />

                    I watched for Ethel and Wayne to come along behind us, but they had no problem negotiating turns in the road because of the compact VW they were in. I asked her if they were okay and she said, “Well you are a lot bigger than we are so if you make the turn then we know we can!” As we looked over the side of the road down to the next curve, we found that because of the steepness of that side, we couldn't even see the road below us or the next turn! But we had no choice but to go on and just do it, with a prayer, much patience, and another prayer. “Don't look over the side again!” And on we went for about an hour. <br /><br />

                    Talk about counting blessings, when we finally leveled off on flat ground, we just sat in that pickup and wiped away a few tears. Moab was across the desert a few miles yet but we were on flat ground; these were blessings because we were counting them all! <br /><br />

                    When we arrived in Moab we pulled into a station for gas, and when the attendant asked where we were from, we told him. He said, astounded, “No way, no way could that pickup and camper make it down that JEEP TRAIL!”
 
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
            </div>

        </div>
        <%= image_tag("carma/chocolate/large/Wordstoliveby-header.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>


<!-- Chapter 3 Begins -->

             <span class="anchorup"><a name="ch3"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>

       <span id="ChapterHeading">

            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 3 &nbsp;</span>
            <span id="textspanlichapter13">WORDS </span><span id="textspanlichapter15">to </span><span id="textspanlichapter16">LIVE BY </span><!--span id="textspanlichapter15">and </span><span id="textspanlichapter13">HOW THEY MET</span-->
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196379615&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>


        <span id="ChapterQuoteAudio">
        “These are all favorites!”
        </span>
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">ALICE CHAU</span><br /><span id="textspanlichapter24">SISTER</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>I need a lot of help getting through most of my days now. I have found that thoughts, just different thoughts that I hear and I read and I’ve listened to, they mean a lot to me and they help me a great deal, so I usually type them up on the computer, print them off, put them on a little tag, and hang ‘em up where I can see them and read them. They help me a lot and I’ll share some of those with you.


            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("carma/chocolate/small/Wordstoliveby.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Wordstoliveby.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Wordstoliveby1.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Wordstoliveby1.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Wordstoliveby2.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Wordstoliveby2.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Wordstoliveby3.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Wordstoliveby3.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Wordstoliveby4.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Wordstoliveby4.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                </ol>    
            </div>

            <span id="ChapterParagraphTwo">
                One of them is, “There’s a better way than the way of the world.” That’s a statement by Gordon B. Hinckley. <br /><br />

                Another is, “He who knows others is learned. He who knows himself is wise.” <br /><br />

                Oh, this is another one of my favorites. “God gave us memory that we might have roses in December.” <br /><br />

                I should sort these out first.
            </span>

            <span id="SEE_MORE"><a href="#" id="restofstory3-show"  onclick="showHide('restofstory3');return false;">SEE MORE</a>
            </span>

            <div id="restofstory3" class="more">
                <span id="ChapterParagraphTwo">
                    Oh, and this is another one of my favorites. “I’m stressed. I don’t know if I found a rope or lost my horse.”<br /><br />

                    “Judge not an eternal soul by the appearance of an earthly body.”<br /><br />

                    “The future is not something we enter. The future is something we create.”<br /><br />

                    “Sometimes we must be hurt in order to grow. Sometimes we must fail in order to know. Sometimes we must lose in order to gain, because some lessons in life are best learned through pain.”<br /><br />

                    “Life is what we make it. Always has been, always will.”<br /><br />

                    This is another favorite: “As long as you keep waking up in the morning is evidence that HE is not through with you.”<br /><br />

                    “Don’t compromise yourself. You’re all you’ve got.”<br /><br />

                    I need one that’s special. I need to find it.<br /><br />

                    “The main thing is to have the main thing be the main thing.”<br /><br />

                    “When life gives you lemons, throw ‘em back and demand chocolate.”<br /><br />

                    “We can’t all be heroes because someone has to sit on the curb and clap as they go by.”<br /><br />

                    “You were given this life because you’re strong enough to live it.”<br /><br />

                    These are all favorites!<br /><br />

                    “Good morning. Let the stress begin.”<br /><br />

                    “Be yourself. Just be yourself, because everyone else is taken.”<br /><br />

                    “While there are some things wrong in the world today, there are many things right, such as teachers who teach, ministers who minister, marriages that make it, parents who sacrifice, and friends who help.”<br /><br />

                    There are so many of these.<br /><br />

                    “If you see the light at the end of the tunnel, it’s the light of the oncoming train.”<br /><br />

                    “I believe everything happens for a reason. Usually the reason is somebody screwed up.”<br /><br />

                    There’s one I need to find here.<br /><br />

                    “A vacation is what you take when you can no longer take what you were taking.”<br /><br />

                    One favorite, I don’t think it’s written down here, but it says…I’ll have to find it.<br /><br />

                    “Be the kind of woman that when your feet touch the floor in the morning, the devil says, “Oh darn. She’s up!”<br /><br />

                    “I’m too blessed to be stressed.”<br /><br />

                    “When life does get tough and the crisis is undeniably at hand, we must in an instant look inward for strength of character to see us through. We will find nothing inside ourselves that we have not already put there.” That’s a good one.<br /><br />

                    “Practical guide for successful living: put your head under the pillow and scream.”<br /><br />

                    Oh, I’m taking too much time. <br /><br />

                    “Whether you think you can or think you can’t, you’re right.”<br /><br />

                    I like this one, too: “How beautiful it is to do nothing and then rest afterwards.”<br /><br />

                    “The power of the Book of Mormon is the application of the doctrine therein.”<br /><br />

                    This is a statement by President Harold B. Lee: “I bear you my witness that the Savior is closer to us than you have any idea. He will be closer to you and powers divine will be at your side when you have nowhere else to turn.”<br /><br />

                    I should have sorted these out ahead of time.<br /><br />

                    “Do not spoil what you have by desiring what you have not, but remember that what you have now was among the things you hoped for.”<br /><br />

                    Oh, this one is a special favorite by President Gordon B. Hinckley: “Anyone who imagines that bliss is normal is going to waste a lot of time running around shouting that he’s been robbed. The fact is that most putts don’t drop. Most beef is tough. Most children grow up to be just people. Most successful marriages require a high degree of mutual toleration. Most jobs are more often dull than otherwise. The trick is to thank the Lord for letting you have the ride.”<br /><br />
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
            </div>
            
        </div>
    <%= image_tag("carma/chocolate/large/Experiencingtheworld-header.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>


<!-- Chapter Four Begins -->


<span class="anchorup"><a name="ch4"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>

       <span id="ChapterHeading">

            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 4 &nbsp;</span>
            <span id="textspanlichapter13">EXPERIENCING </span><span id="textspanlichapter15">the </span><span id="textspanlichapter16">WORLD</span><!--span id="textspanlichapter15">and </span><span id="textspanlichapter13">HOW THEY MET</span-->
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196382082%3Fsecret_token%3Ds-eWnRU&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>


        <span id="ChapterQuoteAudio">
        “I have been blessed to travel! The Lord has been good to me in that respect.”
        </span>
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">ALICE CHAU</span><br /><span id="textspanlichapter24">SISTER</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>           

             I’ve had a love of travel always. Always, forever! During the first years of our marriage we didn’t really travel a lot because we were busy and not financially able to do that. I guess the travel bug started to bite us when Michael was to come home from his mission. He served in the New Zealand Mission, and we traveled as a family to Los Angeles and picked him up at the airport. Then we all traveled back home together and it was an enjoyable time. It took two cars of us to travel down there to pick him up and then travel back home again. That started a love of travel.
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <!--li><%#= link_to image_tag("carma/chocolate/small/Experiencingtheworld.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li-->
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld1.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld1.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld2.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld2.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld3.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld3.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld4.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld4.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld5.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld5.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld6.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld6.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <!--li><%#= link_to image_tag("carma/chocolate/small/Experiencingtheworld7.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld7.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li-->
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld8.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld8.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld9.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld9.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld10.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld10.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld11.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld11.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld12.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld12.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld13.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld13.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld14.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld14.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld15.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld15.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld16.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld16.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld17.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld17.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld18.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld18.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld19.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld19.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld20.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld20.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld21.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld21.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld22.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld22.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld23.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld23.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld24.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld24.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld25.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld25.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld26.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld26.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld27.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld27.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld28.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld28.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld29.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld29.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld30.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld30.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld31.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld31.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>                    
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld32.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld32.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld33.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld33.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld34.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld34.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld35.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld35.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld36.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld36.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld37.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld37.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld38.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld38.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld39.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld39.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>                    
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld40.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld40.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld41.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld41.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Experiencingtheworld42.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Experiencingtheworld42.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                </ol>    
            </div>

            <span id="ChapterParagraphTwo">
                Then when Marlon came home from his mission, I believe we picked him up in Salt Lake. When Robert finished his mission in Australia, we planned to make a major trip down to pick him up. Kenneth and I, and Marlon and Debra left to go down to Australia to pick up Robert. We had a trip that lasted six weeks, and we visited many, many countries in the South Pacific. We visited Mike’s mission and met some of the people that he had worked with in New Zealand. We met many of Robert’s friends and had a very special time there with him. Robert served as an assistant to the president, so he had many things that he could show us in Australia. We thoroughly enjoyed that and met his mission president. 
            </span>
            <span id="SEE_MORE"><a href="#" id="restofstory4-show"  onclick="showHide('restofstory4');return false;">SEE MORE</a>
            </span>

            <div id="restofstory4" class="more">
                <span id="ChapterParagraphTwo">
                    From there we went to Indonesia and met many of Marlon’s mission friends as well. They called him “Yellow Bird” down there. We were kind of tickled with that nickname they gave him because of his blond hair. Being there was especially a fun time because we had a very tall Robert, a very rotund Kenneth–he had a little weight on him–and Debra with her long blond hair. That type of person in Indonesia was very, very rare. We attracted a crowd wherever we went. We had people following us and looking at us and wanting to stop and visit. We had a wonderful time. <br /><br />

                    We also went to Taiwan. We went to Thailand. We were in Singapore. We spent time in Japan. We were in Tokyo for three or four days. Then we flew back to Hawaii where Mike and Randy and Janet met us and we spent another week in Hawaii. That was a very special trip and it really gave us the desire to travel as much as we possibly could throughout the following years.  <br /><br />

                    Another special trip we had in our family was when we were going to celebrate our 50th wedding anniversary. Kenneth was just beginning to get into the throes of Alzheimer’s, so we knew that if we wanted to take a family trip together, we must do it at that time. We planned a trip to go to the Mediterranean.  <br /><br />

                    It was kind of interesting how that trip came together, because some of our children just didn’t have the finances to do that trip. They were concerned about it. We wanted to do a family trip for a 50th wedding anniversary, but we didn’t know where we wanted to go or what to do or how long to stay. Finally, Dani called and she said, “Bob is going to put a trip together for us. Let’s go to the Mediterranean. Let’s go take a trip to the Greek Islands.” Oh, my goodness, I thought that would be wonderful. Debra thought it would be wonderful. Bob thought this was wonderful. We began to plan the trip, and pretty soon those who thought they would not go came together, and as a family, all six of our children and their spouses and Ken and I, we made the trip to the Mediterranean.  <br /><br />

                    We went to Rome. We were in Italy for a week or so. We went to the Greek Islands and absolutely fell in love with them. I’ve always wanted to go back to Sorrento in Italy. That was a very special place for me. That was a marvelous trip. The time we spent together as family—we were unbelievably close, helping each other and enjoying the time that we had there. We had some really fun experiences that I would be happy to share with anyone. Anytime they want to listen to me, I’ll tell them of our experiences on that trip.  <br /><br />

                    I’ve been privileged to make several trips to England and travel on the continent with Bob and Janet. They lived there for ten years while Bob was transferred there for his employment. I was privileged to go to England four different times, and it’s become my most favorite place in the world. I love England and I’ll always have special memories. I’m very much connected to England. My ancestors came from there as well, so I guess there’s a spiritual tie there that keeps me in love with England.  <br /><br />

                    It’s interesting, because when Bob and Janet said they’d been transferred to England, I said, “England! Who on earth wants to go and live in England? Are you sure you’re going to do this?” But it just took one trip over there. I went over when Bradley was born. Janet was having some difficulties with that birth, and I went over to help her and just totally fell in love with England.  <br /><br />

                    I’ve been blessed to travel through Europe: Germany, Switzerland, Holland, Italy. I’ve been blessed to travel. I have been blessed to travel! The Lord has been good to me in that respect.  <br /><br />

                    Haven’t been to Alaska. Everyone’s been to Alaska but me.  <br /><br />

                    Oh my goodness, I’ve been to South America. I’ve been to Guatemala. Janet served her mission in Peru and we went down to pick her up and brought her home with us, because we finished our mission in Guatemala as Janet finished hers. We were able to have some of the family go with us, and we went down and picked up Janet and she drove home with us.  <br /><br />

                    Also, when we finished our mission in Guatemala, we brought back with us a fifteen-year-old Guatemalan girl named Norah Alvarado. Her parents were pleased to let her come home with us, and she was able to go to school in Rigby. A couple of years later she came back and attended Ricks College.  <br /><br />

                    I’ve had some beautiful experiences traveling. I’ve had wonderful times and seen a lot of this wonderful world we live in.<br /><br />

                    <div class="vidvid"><iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196380807&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe></div><br/>
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
            </div>
            
        </div>
    <%= image_tag("carma/chocolate/large/Homeforreunions-header.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>
        





<!-- Chapter Five Begins -->

        
       <span class="anchorup"><a name="ch5"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>

       <span id="ChapterHeading">

            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 5 &nbsp;</span>
            <span id="textspanlichapter13">A HOME </span><span id="textspanlichapter15">for </span><span id="textspanlichapter16">REUNIONS </span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196380677&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>


        <span id="ChapterQuoteAudio">
        “To be together, to show the love we feel for each other—it was just full of love!”
        </span>
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">ALICE CHAU</span><br /><span id="textspanlichapter24">SISTER</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>
                    When Kenneth and I moved out into our new home in the LaBelle area of Rigby, I don’t think we had a clue how our family was going to respond to where we lived and to the home we were in. The home we built was big for two people; there was just Kenneth and I. In fact, when we came back from Guatemala and saw that huge home, we looked at each other and said, “Why did we do that?” 
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("carma/chocolate/small/Homeforreunions.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Homeforreunions.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Homeforreunions1.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Homeforreunions1.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Homeforreunions2.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Homeforreunions2.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Homeforreunions3.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Homeforreunions3.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Homeforreunions4.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Homeforreunions4.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Homeforreunions5.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Homeforreunions5.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Homeforreunions6.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Homeforreunions6.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Homeforreunions7.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Homeforreunions7.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Homeforreunions8.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Homeforreunions8.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Homeforreunions9.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Homeforreunions9.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Homeforreunions10.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Homeforreunions10.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Homeforreunions11.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Homeforreunions11.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Homeforreunions12.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Homeforreunions12.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Homeforreunions13.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Homeforreunions13.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Homeforreunions14.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Homeforreunions14.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Homeforreunions15.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Homeforreunions15.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Homeforreunions16.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Homeforreunions16.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Homeforreunions17.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Homeforreunions17.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Homeforreunions18.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Homeforreunions18.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Homeforreunions19.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Homeforreunions19.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Homeforreunions20.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Homeforreunions20.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Homeforreunions21.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Homeforreunions21.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Homeforreunions22.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Homeforreunions22.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Homeforreunions23.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Homeforreunions23.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Homeforreunions24.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Homeforreunions24.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Homeforreunions25.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Homeforreunions25.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Homeforreunions26.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Homeforreunions26.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Homeforreunions27.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Homeforreunions27.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Homeforreunions28.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Homeforreunions28.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Homeforreunions29.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Homeforreunions29.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                </ol>    
            </div>

            <span id="ChapterParagraphTwo">
                The home was on seven acres. There are two acres of woods, two acres of pastures, and then an acre and a half for the home. I’m not sure just what the numbers are.<br /><br />

                After we had lived here for a number of years, we found that the family loved to come here. They often planned their summer vacations to come, and eventually we had family reunions. I'm not sure just which year we started; I think it was about 1989. The family loved to come especially for reunions. We managed to put everyone up, and they loved to be together. They looked forward to coming and we looked forward so much to having them come. To be together, to show the love we feel for each other, and to see the cooperation—it was just full of love! The reunions have been wonderful. 
            </span>
            <span id="SEE_MORE"><a href="#" id="restofstory5-show"  onclick="showHide('restofstory5');return false;">SEE MORE</a>
            </span>

            <div id="restofstory5" class="more">
                <span id="ChapterParagraphTwo">
                    We always had a theme for our reunions, and everyone in the family participated. We had committees. Everyone was part of a committee, preparing meals and preparing games to play. The food was a big deal. We always tried to have special food that everyone would enjoy. We often had the food catered, but mostly family wanted to work together, to be together, and to have fun together. Our family has always had those blessings of enjoying being together and looking forward to reunion time. We had about half a dozen reunions here in this home. <br /><br />

                    I think reunions are a very special part of family relationships. They bring families together; for those who’ve lived far away and been separated for a number of years, when they come to a reunion—I don't know how to describe it. It's such a warm, special time to be together with those that you love and be part of a very special family. We have always enjoyed having the reunions.<br /><br />

                    <div class="vidvid"><iframe src="https://player.vimeo.com/video/122470506" width="500" height="375" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><br />

                    The last one we had here had about eighty-five people. It was a riot! A riot. Everyone loved it. We had barrels of fun. We were together for about four days total. Some even wanted to stay longer. Family from Mesa traveled so far and they wanted to come and stay longer, so of course we welcomed that. It's a special feeling to know that your family wants to come back home and to be with you—very special.<br /><br />

                    Cyndi gave me a kitchen towel, and the last reunion she hung it on my oven door and I didn't know who left it there. But the towel explains a family. I believe the towel says, “Home is where Mom is.” That's kind of what family is. We don't have a dad right now, but home is where Mom and Dad are, wherever they live. That's where home is. <br /><br />

                    We've always been a close family. We've always enjoyed being close together. We've had many, many blessings in our family because of our love of the gospel, our desire to be together, and the love we feel for one another.
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
            </div>
            
        </div>

        <%= image_tag("carma/chocolate/large/Wishesformyposterity-header.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>

<!-- CHAPTER SIX BEGINS -->

   <span class="anchorup"><a name="ch6"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
      <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 6 &nbsp;</span>
            <span id="textspanlichapter13">WISHES </span><span id="textspanlichapter15">for </span><span id="textspanlichapter16">MY POSTERITY </span><!--span id="textspanlichapter15">in </span><span id="textspanlichapter16">BRIDLINGTON </span-->
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196379626&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>


        <span id="ChapterQuoteAudio">
        “I would wish for them to have the kind of family that I have had.” 
        </span>
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">GREGG LI</span><br /><span id="textspanlichapter24">SON</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>             

           I’ve been asked what I would wish for my children in the future, what kind of a life I would wish for them to have. I would say that if they can have the kind of life that I have had, the happy life that I’ve had, and how fulfilled I feel that my life has been, I would say that is what I would wish for my children.


<br />
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("carma/chocolate/small/Wishesformyposterity.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Wishesformyposterity.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Wishesformyposterity1.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Wishesformyposterity1.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Wishesformyposterity2.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Wishesformyposterity2.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Wishesformyposterity3.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Wishesformyposterity3.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Wishesformyposterity4.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Wishesformyposterity4.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Wishesformyposterity5.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Wishesformyposterity5.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Wishesformyposterity6.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Wishesformyposterity6.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Wishesformyposterity7.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Wishesformyposterity7.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Wishesformyposterity8.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Wishesformyposterity8.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Wishesformyposterity9.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Wishesformyposterity9.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Wishesformyposterity10.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Wishesformyposterity10.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Wishesformyposterity11.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Wishesformyposterity11.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Wishesformyposterity12.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Wishesformyposterity12.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Wishesformyposterity13.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Wishesformyposterity13.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Wishesformyposterity14.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Wishesformyposterity14.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Wishesformyposterity15.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Wishesformyposterity15.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Wishesformyposterity16.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Wishesformyposterity16.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Wishesformyposterity17.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Wishesformyposterity17.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Wishesformyposterity18.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Wishesformyposterity18.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Wishesformyposterity19.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Wishesformyposterity19.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Wishesformyposterity20.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Wishesformyposterity20.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Wishesformyposterity21.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Wishesformyposterity21.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Wishesformyposterity22.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Wishesformyposterity22.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Wishesformyposterity23.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Wishesformyposterity23.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Wishesformyposterity24.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Wishesformyposterity24.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>        
                </ol>    
            </div>

            <span id="ChapterParagraphTwo">

                    I would wish for them to have the kind of family that I have had. I would like to see them have families where their children grow up in the gospel and have strong, viable testimonies of the gospel as my children have had and as my husband and I have had. <br /><br />

                    <div class="vidvid"><iframe src="https://player.vimeo.com/video/122470478" width="500" height="375" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><br />

                    I would wish for them a tremendous posterity, as I have had. Heavenly Father has blessed me tremendously with my family. I couldn’t have asked to have a better family than I’ve had. My posterity, as well, is just…I can’t describe how pleased and happy and blessed I feel to have my family. 
 
            </span>
            
            <!--span id="SEE_MORE"><a href="#" id="restofstory6-show"  onclick="showHide('restofstory6');return false;">SEE MORE</a>
            </span>

            <div id="restofstory6" class="more">
                <span id="ChapterParagraphTwo">
                    As it turned out, Ricks College and the homes up there became a haven for many hundreds of those whose homes were destroyed. My big concern was for the Public Health Office, a newly-built health department building that we had only been using for a few months. I had someone notify the sheriff the next day that I needed to get to my office to remove vaccine materials and other chemicals and any other record materials that could be salvaged. <br /><br />

                    The sheriff came to the bottom of the hill by Smith Park and took me in a row boat to the office and we were able to take out from there all that needed to be kept safe. The health department was soon established in the rock house next to the drive, which was high enough that only the basement apartment had water in it. <br /><br />

                    The apartment in the basement where Robert and Laurie lived was filled with flood water and all of their possessions were soaked and ruined. Marlon's apartment was also totally flooded and they lived in our camper parked in our backyard for awhile. The drive-in and the bottom apartments of the Norsemen were filled as well and so the work to get it cleaned up began. <br /><br />

                    The water in Rexburg eventually ran off and on down the valley. The 8th Ward chapel of which we were members only had a few inches of water and only had minor damage. A miracle there. Volunteers came from everywhere to help in the clean up of flooded Rexburg. Many faith-promoting incidents occurred during the next weeks and months following the tragedy of the Teton Dam breaking. Testimonies were strengthened and faith enlarged by those who were residents of Rexburg as well as those who came to help. <br /><br />

                    Many of us learned that through adversity comes stronger faith and through service comes great blessings. We also earned that no matter what the Lord is always near to us and the blessings always come.
                </span>

                <span id="SEE_MORE">
                    <a href="#" id="restofstory5-hide" onclick="showHide('restofstory5');return false;">SEE LESS</a>
                </span>
            </div-->
        </div>
            

        <%= image_tag("carma/chocolate/large/Mychildren-header.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>

<!-- Chapter Seven Begins -->

    <span class="anchorup"><a name="ch7"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
      <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 7 &nbsp;</span>
            <span id="textspanlichapter13">MY CHILDREN </span><!--span id="textspanlichapter15">the </span><span id="textspanlichapter13">BRIGGS</span-->
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196383597%3Fsecret_token%3Ds-GnEEF&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>


        <span id="ChapterQuoteAudio">
        “My family. I have an exemplary family. I thank my Heavenly Father every day for my family.” 
        </span>
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">ELLIS LI</span><br /><span id="textspanlichapter24">DAUGHTER</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>                    
            My four sons have always been so very special to me. When I was a young girl, the one hope that I always had in my life was that I could have four boys. Even when I was young, I always wanted to have four sons. I don’t know why, I always did. But the two girls were bonuses. That’s my family.<br />
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("carma/chocolate/small/Mychildren.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Mychildren.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Mychildren1.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Mychildren1.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Mychildren2.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Mychildren2.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Mychildren3.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Mychildren3.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Mychildren4.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Mychildren4.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Mychildren5.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Mychildren5.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Mychildren6.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Mychildren6.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Mychildren7.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Mychildren7.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Mychildren8.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Mychildren8.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Mychildren9.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Mychildren9.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Mychildren10.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Mychildren10.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Mychildren11.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Mychildren11.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Mychildren12.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Mychildren12.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Mychildren13.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Mychildren13.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/chocolate/small/Mychildren14.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/chocolate/large/Mychildren14.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    
                </ol>    
            </div>
            <span id="ChapterParagraphTwo">
                    My four sons have always been stalwart men. They’ve lived with integrity. They’ve learned the value of hard work. They’ve been providers for their families. They have set examples for their own children. Those are tremendous blessings. <br /><br />

                    Mike has always been an example to his brothers and sisters. He accepted a mission call and followed his dad’s example, and then all the rest of his siblings served as well.
 
            </span>

            <span id="SEE_MORE"><a href="#" id="restofstory7-show"  onclick="showHide('restofstory7');return false;">SEE MORE</a>
            </span>

            <div id="restofstory7" class="more">
                <span id="ChapterParagraphTwo">

                    Marlon has always been close. I’ve always been able to lean on Marlon. We’ve been neighbors for many, many years. He’s always been right there. I just have to pick up the phone, and he’s right there. <br /><br />

                    Robert’s my happy one. He’s always cheerful. He’s always been accepting of the challenges of life that have been thrust on him. Robert’s a special man. <br /><br />

                    And then Randy. I’ve always described Randy as my child with no guile. I have never ever ever heard him speak unkindly of anyone. Always cheerful, hard-working, and a marvelous father. <br /><br />

                    My family. I have an exemplary family. I thank my Heavenly Father every day for my family. <br /><br />

                    Both of my daughters have been totally devoted to their families, to their children. They have nourished, they have taught, and they have set an example, and they have been there for each of their children and for their families. They have been there. <br /><br />

                    Janet going into the nursing field as I did was very special to me. That was a bonding that I have with Janet that is a wonderful thing to me. Being able to be close to her in England when we served our mission over there was a very special time for Janet and myself, as well. Before that, she was called to serve a mission at the same time we served in Guatemala, and that was another time of special bonding with her.<br /><br />

                    <div class="vidvid"><iframe src="https://player.vimeo.com/video/122470507" width="500" height="375" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><br />


                    Debra’s been my strong one. She’s been by my side always. I’ve always been able to lean upon her, and I have done that. She’s my confidant, my companion, my friend. Happy is a mother who has a daughter for a friend! Debra has been that. Both of my daughters have been my best friends. Now that both Debra and I are both widows together—we both lost our companions in the same year—we have a bonding that’s very special. I feel very special with my daughters. We have special relationships. <br /><br />

                    I have very special relationships with each of my children. I appreciate these blessings. Heavenly Father has blessed me tremendously with my sons and daughters.<br /><br />

                </span>
                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory5-hide" onclick="showHide('restofstory5');return false;">SEE LESS</a>
                </span-->
            </div>
        </div>
        

        

    <div class="bottom-menu">
        <p id="bottommenuli">
        <%= link_to 'HOME', carma_path %> &nbsp; <span id="textspanlichapter15">/</span> &nbsp; <%= link_to 'NEXT EXHIBIT', carma_timeline_path %> &nbsp;<span id="textspanlichapter15">/</span> &nbsp; <%= link_to 'GUESTBOOK', carma_guestbook_path %><br />
        </p>
    </div>


<!-- Chapter Eight Begins --><!-- Evelyn needs to write this up!!! -->
