<head>
    <!-- show and hide begins -->
    <script>
        function showHide(shID) {
          if (document.getElementById(shID)) {
            if (document.getElementById(shID+'-show').style.display != 'none') {
              document.getElementById(shID+'-show').style.display = 'none';
              document.getElementById(shID).style.display = 'block';
            }
            else {
              document.getElementById(shID+'-show').style.display = 'inline';
              document.getElementById(shID).style.display = 'none';
            }
          }
        }
    </script>
    <!-- show and hide end -->
    <!-- responsive video begins -->
    <script>
            $(document).ready(function () {
                $(".ChapterVideoDiv").fitVids();
            });
    </script>
    <!-- responsive video end -->
    <!-- fancybox begins -->

        <!--script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script--> <!-- this causes fitvids NOT to work. BOO -->
        <link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css" type="text/css" media="screen">
        <script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js"></script>
    <!-- fancybox end -->

<meta name="viewport" content="width=device-width; initial-scale=1.0,maximum-scale = 3.0">

    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '[redacted-g]', 'antho.co');
          ga('send', 'pageview');
    </script>

</head>

<!-- Story Heading Begins -->
        <div id="ThemeCoverPhotoIcandohard2" class="clearfix">
            <span id="ThemeTitle">
                <span id="textspanlichapter">I CAN DO HARD II</span><span id="textspanlichapter1"><br /></span><span id="textspanlichapter2">TRIALS AND TRIBULATIONS</span><br />
            </span>
            
            <span id="ChapterSectionIndex"><br/><br/><br/>
                <a href="#ch1">1 </a>&#x2f;<a href="#ch2"> 2 </a>&#x2f;<a href="#ch3"> 3 </a>&#x2f;<a href="#ch4"> 4 </a>&#x2f;<a href="#ch5"> 5 </a>&#x2f;<a href="#ch6"> 6 </a><!--&#x2f;<a href="#ch7"> 7 </a--><!--&#x2f;<a href="#ch8"> 8 </a> Evelyn needs to finish remarriage temple sealing part -->
            </span>

        </div>

<!-- Story Heading Ends -->

<!-- Chapter 1 Begins -->
        <span class="anchorup"><a name="ch1"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
        <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 1 &nbsp;</span>
            <span id="textspanlichapter13">RANDY'S INJURY </span><!--span id="textspanlichapter15">to a </span><span id="textspanlichapter16">MISSIONARY FAMILY</span-->
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <!--div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe src="//player.vimeo.com/video/113120001" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div-->


        <!--span id="ChapterQuoteAudio">
        “My patriarchal blessing promises me that if I will be true and faithful to my covenants and set a proper example, my children will honor and revere my name throughout eternity.” 
        </span-->
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">ELLIS LI</span><br /><span id="textspanlichapter24">DAUGHTER</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>When Randy was a little over two years old he was injured by a gunshot wound to the jaw, by a 22 bullet that entered his right jaw and traveled upwards towards his ear, where it left the jaw. Randy and Debra were in the pickup when it happened and were with their Dad who was taking them with him to the mill in Ririe. They were in the pickup alone when they discovered the gun behind the seat and began to investigate. Apparently Debra had seen someone eject a shell from a gun before and she tried to do the same thing when the gun discharged into Randy’s jaw. 


            </span>

            <!--div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    
                </ol>    
            </div-->


            <span id="ChapterParagraphTwo">
                    When Ken came out of the mill, Randy was bleeding very heavily and he hurried to Rigby to the doctor there but could not get any help at all, so after calling Aunt Mary and having her get in touch with me to meet him in Rigby we drove like crazy to Dr. Reed Fife’s office in Idaho Falls. Dr. Fife told us then that Randy had a gunshot wound and we took him to the hospital immediately. The bullet had entered through the lower jaw and traveled on an angle upward through the jaw, toward the ear where it exited without injuring the ear. His little jaw was shattered and resulted in a long and tedious series of surgery and orthodontia. <br /><br />

                    While Randy was in the hospital one of the nurses neglected to raise the sidebar on his crib-bed and he tumbled out onto the floor but sustained no further injury. The first time in the hospital was for two weeks and he was a very sick little boy. We were blessed that the injury had not resulted in any facial distortion but a severe malocclusion of his jaws and teeth, which we would discover later would be with him for the rest of his life. He spent many years under Dr. Thompson’s care and had surgery in Boise several times. Dr. Fife also followed his care and contributed much to Randy’s progress.
            </span>
            
            <!--span id="SEE_MORE"><a href="#" id="restofstory1-show"  onclick="showHide('restofstory1');return false;">SEE MORE</a>
            </span>

            <div id="restofstory1" class="more">
                <span id="ChapterParagraphTwo">
                    When I met Ken and came to love him, my desire for a temple marriage increased, and my testimony became stronger, as well as my desire to always be part of the Church and the gospel, and have the gospel as the centermost part of our marriage, and to raise our children so they would be faithful and active so they could develop their own testimonies. <br /><br />

                    When Kenneth and I were called very unexpectedly to serve a mission in the Guatemala City Mission and accepted that call, we served for eighteen months. During the first few weeks there I began to read the Book of Mormon fully. Now that I recall, I don’t think I had ever read that book from cover to cover until that time. When I came to read the last page, a feeling came over me I had not experienced before. The tears came unexpectedly, and I knew then without a doubt that the book was true, and indeed that Christ is the Savior. It’s a feeling I shall never forget.  <br /><br />

                    When Ken and I began our family, one thing we were sure that we wanted was for our sons serve as missionaries. Our desire for this was really strong. I could hardly wait to have a missionary in our family. Mike was nineteen when he chose to serve, and I remember being so excited that when his call came, I ripped open the envelope and read where he would go, and then I went to find him at his work to tell him he was called to the New Zealand Mission. These days moms do not, I repeat, do not open any person’s mission envelope! <br /><br />

                    Marlon was called to the Indonesia Mission. Robert followed and served in Australia. Randy’s call was to Oakland, and we worried more about him being in Oakland than the other three boys being 8,000 miles away. Two very special bonuses have been having our two daughters also serve: Debra in the Italy Rome Mission, and Janet in the Peru Mission.  <br /><br />

                    Janet…that’s a little special experience there as well, because when we were called by Bishop Parkinson, we were totally in shock. We had no clue that he was going to call us. So we called our family and told everyone, and when we told Janet, she said, “They can’t do that! The Church can’t do that! I’m not married yet. You can’t go leave me. I’m coming home this next weekend.” She was going to school at BYU. So she came home and made an appointment with the bishop, and he called her to serve a mission. She was 21 and served in the Peru Mission. We were blessed to serve with her in the MTC for three weeks of our time down there. We were all three learning Spanish, and it was a wonderful time together.  <br /><br />

                    It seems that we have been blessed to be a missionary family, having all of our children serve, and then Ken and I being blessed to serve together for three missions, and then after Ken left, I was blessed to serve again.  <br /><br />

                    My patriarchal blessing promises me that if I will be true and faithful to my covenants and set a proper example, my children will honor and revere my name throughout eternity. This has been my heart’s desire above everything. Now many of the grandchildren have served as well, and missionary service has been a real blessing in our family. It has been a great blessing in choices of spouses, as well, that our children have made. We truly as a family have loved missionary service, and that has been a tremendous factor in the strengthening of my testimony and the gratitude I feel to the Lord for the blessings he has given to me and to my family.
                </span-->

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
            <!--/div-->


                    
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory-hide" onclick="showHide('restofstory');return false;">SEE LESS</a>
                </span-->
            </div>
           
        </div>
        <%= image_tag("carma/thefarm/large/thefarm1.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>


<!-- Chapter 2 Begins -->
        <span class="anchorup"><a name="ch2"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
        <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 2 &nbsp;</span>
            <span id="textspanlichapter13">MALADIES </span><span id="textspanlichapter15">at the </span><span id="textspanlichapter16">FARM</span><!--span id="textspanlichapter15">to </span><span id="textspanlichapter16">GUATEMALA</span-->
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196382481%3Fsecret_token%3Ds-5DUa3&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>


        <span id="ChapterQuoteAudio">
        “Working together and depending on others for support were what kept us going.” 
        </span>
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">ELLIS LI</span><br /><span id="textspanlichapter24">DAUGHTER</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>Our years at the farm were happy years. We lived in Milo for 16 years. All six of our children were born while we lived on the farm. We had wonderful, happy years at the farm but also had some adversity mixed in with the happy. But looking back at the adversity somehow seems to strengthen the faith we had in the Lord and keep us close and supportive and loving to one another. 
            </span>

            <!--div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                   
                    
                </ol>    
            </div-->

            <span id="ChapterParagraphTwo">
                Michael was desperately ill when he contracted, we knew not how, a disease called Stevens-Johnson syndrome. By all known prognosis of that disease, he should not have survived, but he did and we knew then that the Lord had much in mind for Mike not to have taken him through all that. Mike also had a “to do” with a mother cow who had recently produced a beautiful calf that Mike got a little too playful with and the mom bunted him and seriously injured him so that surgery was required. Robert had a broken leg while contending with a post hole digger. 


            </span>
            <span id="SEE_MORE"><a href="#" id="restofstory2-show"  onclick="showHide('restofstory2');return false;">SEE MORE</a>
            </span>

            <div id="restofstory2" class="more">
                <span id="ChapterParagraphTwo">
                    Mike and Marlon also had quite an episode of ringworm on their legs as a result of them riding a cow around in the corral, Mike was especially sick as a result of that adventure. The mom of the family, me, contracted a strep infection that resulted in rheumatic fever and required bed rest for several months. I had to leave the farm and family to rest at Grandma Ingram’s for several months, while the family fended for themselves. Working together and depending on others for support were what kept us going. <br /><br />

                    After 16 years farming and because of Ken's looming, possibly serious back problems, we decided to sell the farm and endeavor to find another way to provide for us all. We also could see that if we chose to stay and continue farming, we would be required to invest in bigger and more modern equipment and machinery, which would require investing much money to do so. We chose not to go that way as we had no debt and wanted to remain so if possible, so decided that the farm must go. 
 
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
            </div>

        </div>
        <%= image_tag("carma/thefarm/large/thefarm9cover.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>


<!-- Chapter 3 Begins -->

             <span class="anchorup"><a name="ch3"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>

       <span id="ChapterHeading">

            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 3 &nbsp;</span>
            <span id="textspanlichapter13">ILL </span><span id="textspanlichapter15">with </span><span id="textspanlichapter16">RHEUMATIC FEVER </span><!--span id="textspanlichapter15">and </span><span id="textspanlichapter13">HOW THEY MET</span-->
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196379766&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>


        <span id="ChapterQuoteAudio">
        “The children really pitched in and helped.”
        </span>
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">ALICE CHAU</span><br /><span id="textspanlichapter24">SISTER</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>In between chores and church work and the farm work, I had a sore throat that persisted and would not leave me. I remember that I noticed it was quite chronic at the time that I was canning cherries and was quite sick with the sore throat. I didn't pay too much attention to it because sore throats had always been quite common with me so I went about with my work and tried to ignore it, which, it turned out to be, was very foolish and had I gone to a doctor for an antibiotic I would have saved a lot of trauma for myself and entire family during t at summer. We as a family had planned a fishing and camping trip to Yellowstone and after the work was caught up we did go right on with the trip even though I felt quite sick. 


            </span>

            <!--div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                        
                </ol>    
            </div-->

            <span id="ChapterParagraphTwo">
                We borrowed Larene’s big white tent and loaded it with all of our camping equipment and food and we stayed for three days and the kids seemed to have fun despite the fact that their mother was very, very ill. When we returned home, I discovered that there was a constant fever, and my legs were swelling and beginning to break out In a rash. I also had a nasty rash on my neck and was so ill that we went to Dr. Baker the next day and the tests showed that I either had Rheumatic Fever or Lupus. 
            </span>
            <span id="SEE_MORE"><a href="#" id="restofstory3-show"  onclick="showHide('restofstory3');return false;">SEE MORE</a>
            </span>

            <div id="restofstory3" class="more">
                <span id="ChapterParagraphTwo">
                    Well, my nursing background helped me to remember that Lupus was a very serious disease, most often fatal within possibly two or three years so that caused me to have many sleepless nights until the tests proved that it was indeed Rheumatic Fever. My mother was alone there in Idaho Falls and we all felt that because of the complete bedrest that was necessary for my recovery that it would be best for me to stay with her for as long as possible that summer so that is what we did. I was back in my bedroom at home with my wonderful mother carrying for me. <br /><br />

                    But, at the farm, there was my husband with a 160 acre farm, a herd of milk cows and pigs etc. the middle of summer when there is so much work to do…irrigating…and with six young children to care for! Well, with the help of good family and friends we managed to get through it all. The children really pitched in and helped; certain responsibilities were delegated and they all did the best they could. Janet was only three years old so she was shifted from relative to relative and at times protested quite loudly about her circumstances. <br /><br />

                    Grandma Ingram managed the best she could with her at times but it was difficult for her to tend a three year old and a patient at the same time. I am not sure what or how the chores were delegated at the farm but with the help of Relief Society; and neighbors they managed pretty well. Marlon was the chief cook and I remember the day I came home from Mother's to finish recuperating at home that he had baked a beautiful chocolate cake for the family and it was delicious. Now it is all memory but I had very good care and unlike most Rheumatic Fever patients I recuperated without any complications whatsoever and all that was required for me to continue to do was get plenty of rest and take Penicillin tablets every day for a number of years. Again, as my patriarchal blessing had promised: health of body.
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
            </div>
            
        </div>
    <%= image_tag("carma/townliving/large/townliving8cover.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>


<!-- Chapter Four Begins -->


<span class="anchorup"><a name="ch4"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>

       <span id="ChapterHeading">

            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 4 &nbsp;</span>
            <span id="textspanlichapter13">THE FIRE </span><!--span id="textspanlichapter15">by the </span><span id="textspanlichapter16">LORD</span--><!--span id="textspanlichapter15">and </span><span id="textspanlichapter13">HOW THEY MET</span-->
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196379727&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>


        <span id="ChapterQuoteAudio">
        “Two or three days after surgery, I could hear a fire truck with its loud siren.”
        </span>
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">ALICE CHAU</span><br /><span id="textspanlichapter24">SISTER</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>In 1978 it became necessary for me to undergo surgery and this was to be done at Madison Memorial Hospital, which was located about 1/2 block from where we lived on Reed Street. We could see part of the hospital building from our front yard. From my room in the hospital, I could look out and see part of our home. Two or three days after surgery, I could hear a fire truck with its loud siren and it seemed very close. I climbed out of bed to look out the window and saw that the engine did not continue on Reed Street, but it looked as it stopped in front of my house! And sure enough it stopped there. 
            </span>

            <!--div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                        
                </ol>    
            </div-->

            <span id="ChapterParagraphTwo">
                My first thoughts were, “What is happening? Is there a fire at my house or elsewhere in the neighborhood?” Panic began to consume my thoughts and got more intense as each minute passed. Before long, Ken arrived and informed me that yes, there was a fire in our home downstairs in the family room and it was completely gutted out and it smoked all through the house. He said the fire started when a burning log fell from the fireplace and started the carpet on fire and spread to a couch and then on to consume the entire room. No one was at home.
            </span>
            <span id="SEE_MORE"><a href="#" id="restofstory4-show"  onclick="showHide('restofstory4');return false;">SEE MORE</a>
            </span>

            <div id="restofstory4" class="more">
                <span id="ChapterParagraphTwo">
                    Ken said he was going back to work at the drive-in and before leaving the house put a log on the fire and then left. In a few moments the burning log rolled out and onto the floor and because there was no screen on the fire base to stop the log, it rolled on and started the room and everything in it to be destroyed. <br /><br />

                    He came into my hospital room to tell me the sad news with a heavy heart. Apparently, the company that installed the fireplace were responsible to include a safety screen but failed to do so. Had that been done correctly the log would not have rolled out of the fireplace. Sad news.
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
            </div>
            
        </div>


        <%= image_tag("carma/icandohard/large/TetonDamFlood-header.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>

<!-- CHAPTER FIVE BEGINS -->

   <span class="anchorup"><a name="ch5"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
      <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 5 &nbsp;</span>
            <span id="textspanlichapter13">THE TETON DAM FLOOD </span><!--span id="textspanlichapter15">a </span><span id="textspanlichapter16">BRANCH </span><span id="textspanlichapter15">in </span><span id="textspanlichapter16">BRIDLINGTON </span-->
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196379670&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>


        <span id="ChapterQuoteAudio">
        “We found Rexburg under five feet of water.” 
        </span>
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">GREGG LI</span><br /><span id="textspanlichapter24">SON</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>             

            On June 5, 1976, Ken and I were in Jackson, Wyoming to enjoy a few days of vacation in our trusty pickup camper. I was shopping around town that afternoon while Ken relaxed in the camper. He came to find me and said he had heard on the radio that the Teton Dam had broken and was flooding pretty badly. He then said, “We had better head home right now.” We did so and when we came near to the valley we were told that all the roads were blocked with either water or just blocked to turn traffic away. We headed for the dry farm roads south of Drummond and were able to enter Rexburg from the hills south and east of Rexburg. 

<br />
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("carma/icandohard/small/TetonDamFlood.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/icandohard/large/TetonDamFlood.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/icandohard/small/TetonDamFlood1.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/icandohard/large/TetonDamFlood1.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/icandohard/small/TetonDamFlood2.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/icandohard/large/TetonDamFlood2.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/icandohard/small/TetonDamFlood3.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/icandohard/large/TetonDamFlood3.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/icandohard/small/TetonDamFlood4.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/icandohard/large/TetonDamFlood4.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/icandohard/small/TetonDamFlood5.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/icandohard/large/TetonDamFlood5.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/icandohard/small/TetonDamFlood6.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/icandohard/large/TetonDamFlood6.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/icandohard/small/TetonDamFlood7.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/icandohard/large/TetonDamFlood7.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/icandohard/small/TetonDamFlood8.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/icandohard/large/TetonDamFlood8.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/icandohard/small/TetonDamFlood9.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/icandohard/large/TetonDamFlood9.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>    
                </ol>    
            </div>

            <span id="ChapterParagraphTwo">

                    We found Rexburg under five feet of water and discovered to our great surprise that our home was high enough on the hill to the east on main street that the water had only reached our backyard fence, about 50 feet from our back door! As we walked down to the west end of Smith Park, we could see the five foot river that covered Rexburg. Since Rexburg was the largest town in the Upper Snake River Valley and built against the bottom of the foothills with Ricks College occupying the highest spot in town, the residents were told to refuge at the college and on the hills there. 
 
            </span>
            
            <span id="SEE_MORE"><a href="#" id="restofstory5-show"  onclick="showHide('restofstory5');return false;">SEE MORE</a>
            </span>

            <div id="restofstory5" class="more">
                <span id="ChapterParagraphTwo">
                    As it turned out, Ricks College and the homes up there became a haven for many hundreds of those whose homes were destroyed. My big concern was for the Public Health Office, a newly-built health department building that we had only been using for a few months. I had someone notify the sheriff the next day that I needed to get to my office to remove vaccine materials and other chemicals and any other record materials that could be salvaged. <br /><br />

                    The sheriff came to the bottom of the hill by Smith Park and took me in a row boat to the office and we were able to take out from there all that needed to be kept safe. The health department was soon established in the rock house next to the drive, which was high enough that only the basement apartment had water in it. <br /><br />

                    The apartment in the basement where Robert and Laurie lived was filled with flood water and all of their possessions were soaked and ruined. Marlon's apartment was also totally flooded and they lived in our camper parked in our backyard for awhile. The drive-in and the bottom apartments of the Norsemen were filled as well and so the work to get it cleaned up began. <br /><br />

                    The water in Rexburg eventually ran off and on down the valley. The 8th Ward chapel of which we were members only had a few inches of water and only had minor damage. A miracle there. Volunteers came from everywhere to help in the clean up of flooded Rexburg. Many faith-promoting incidents occurred during the next weeks and months following the tragedy of the Teton Dam breaking. Testimonies were strengthened and faith enlarged by those who were residents of Rexburg as well as those who came to help. <br /><br />

                    Many of us learned that through adversity comes stronger faith and through service comes great blessings. We also earned that no matter what the Lord is always near to us and the blessings always come.
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory5-hide" onclick="showHide('restofstory5');return false;">SEE LESS</a>
                </span-->
            </div>
        </div>
            

        <%= image_tag("carma/icandohard/large/Kennethsphysicaldecline2.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>

<!-- Chapter Six Begins -->

    <span class="anchorup"><a name="ch6"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
      <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 6 &nbsp;</span>
            <span id="textspanlichapter13">KENNETH’S PHYSICAL DECLINE </span><!--span id="textspanlichapter15">the </span><span id="textspanlichapter13">BRIGGS</span-->
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196382269%3Fsecret_token%3Ds-A83jo&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>


        <span id="ChapterQuoteAudio">
        “I learned that many times we must accept help.” 
        </span>
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">ELLIS LI</span><br /><span id="textspanlichapter24">DAUGHTER</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>                    
            Amid all of the happiness and joy that we find living on the earth, we also find that we have some adversity. We had this in our family when Kenneth was diagnosed with Alzheimer’s disease. He was around 80 years old and he was in the midst of this for seven years. It was quite a challenge for the whole family. I was at home with him alone. Our children were all gone, of course, so we faced this challenge together. At first it was total loss of episodes of different things in his memory.  <br />
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    
                    <li><%= link_to image_tag("carma/icandohard/small/Kennethsphysicaldecline.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/icandohard/large/Kennethsphysicaldecline.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/icandohard/small/Kennethsphysicaldecline1a.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/icandohard/large/Kennethsphysicaldecline1.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <!--li><%#= link_to image_tag("carma/icandohard/small/Kennethsphysicaldecline2.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/icandohard/large/Kennethsphysicaldecline2.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li-->
                    <li><%= link_to image_tag("carma/icandohard/small/Kennethsphysicaldecline3.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/icandohard/large/Kennethsphysicaldecline3.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                </ol>    
            </div>
            <span id="ChapterParagraphTwo">
                    The first indication we had was when he ran into a neighbor’s mailbox with a car and came back home and did not even realize what he had done. We went to the doctor to get some help and discovered that he had had some mini strokes. They weren’t quite sure what the future would hold, but they anticipated that he was having a form of dementia. 
 
            </span>

            <span id="SEE_MORE"><a href="#" id="restofstory6-show"  onclick="showHide('restofstory6');return false;">SEE MORE</a>
            </span>

            <div id="restofstory6" class="more">
                <span id="ChapterParagraphTwo">
                    We began with seven years of his going through the process of Alzheimer’s disease. We had a great deal of help from the family. The trauma of seeing him digress was difficult. He always was trying to get back to the farm where he lived early on.<br /><br />

                    I had a great deal of help. I had to depend on family help, as well as neighbors. I learned that many times we must accept help. Heavenly Father expects us to serve each other and to help each other, and I learned through these experiences while Kenneth was experiencing all this that we need to love and support each other. My family has certainly done that. We came together as a family, did all that we could for him, provided service to help him in any way that was needed, and we certainly enjoyed many blessings with that.<br /><br />

                    As I look back on that period of time, I know that my faith in Heavenly Father was strengthened. I came to realize that how we respond to adversity and how we get through it helps strengthen our testimonies and our faith in Heavenly Father and what the future will be, if we are able to keep faithful and help each other the very best that we can.<br /><br />

                    It was difficult to watch him regress. There was a period of time right toward the end when he did not know who I was at all, and that was difficult.<br /><br />

                    For seven years he struggled to find himself and struggled to get back to his home; the farm was where he was always trying to go. We had to watch carefully because he was wanting to leave. He passed away on July the 25th in 2003. We were sorry to lose him, but we felt it was time for him to go.

                </span>
                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory5-hide" onclick="showHide('restofstory5');return false;">SEE LESS</a>
                </span-->
            </div>
        </div>
        

    <div class="bottom-menu">
        <p id="bottommenuli">
        <%= link_to 'HOME', carma_path %> &nbsp; <span id="textspanlichapter15">/</span> &nbsp; <%= link_to 'NEXT EXHIBIT', carma_chocolate_path %> &nbsp;<span id="textspanlichapter15">/</span> &nbsp; <%= link_to 'GUESTBOOK', carma_guestbook_path %><br /><br /><br />
        </p>
    </div>


<!-- Chapter Eight Begins --><!-- Evelyn needs to write this up!!! -->
