
    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '[redacted-g]', 'antho.co');
          ga('send', 'pageview');
    </script>
    <meta name="viewport" content="width=device-width; initial-scale=1.0,maximum-scale = 3.0">


        <div id="menucoverphotocarma" class="clearfix">
            <%#= image_tag("carma/menu/licharacterfinal.png", :id => "centerlogo", :class => "image")  %>
            <span id="THE_LIFE_STORY_OF_LISA_JIM_SUM_LI">
            <span id="textspanli">THE LIFE MUSEUM OF</span><br /><span id="textspanli1">Carma Bird</span>
            </span>
        </div>
        <div id="summarybox" class="clearfix">
            <span id="LIFE_SUMMARY_Title">
            <span id="summarytitletext">A GOSPEL-DRIVEN LIFE</span> 
            </span>
            <span id="Life_Summaryli">
            <span id="summarytext">Carma Bird was born in 1926 in Idaho Falls as the eleventh living child in a close, loving family. She had a happy, peaceful childhood, full of friendships and humor and hometown memories. Though her family was not active in The Church of Jesus Christ of Latter-day Saints, she attended with friends and was baptized at eight years old. <br /><br />

            After high school, Carma left home during the years of World War II to train as a registered nurse at Virginia Mason Hospital in Seattle. Upon her return to Idaho, she met a dashing and persistent returned missionary and farmer, Kenneth Bird. He was likely enchanted by her now classic blend of sass and wit. They were married in the Idaho Falls temple a few months later, and Carma moved to the farm.<br /><br />

            Kenneth and Carma provided a modest living for their family by milking cows, cultivating and harvesting potatoes, managing an orchard, and breeding cattle. At the farm, Carma bore all six of her children: Michael, Marlon, Robert, Debra, Randal, and Janet. Underpinning all the commotion of young family life on the farmland was Carma and Ken's consistent devotion to gospel principles and church participation. When farms began consolidating all across the country, they decided to take the now-or-never opportunity to leave the farm debt-free. <br /><br />

            They spent the next era of their lives in Rexburg, where they reinvested their resources into an Arctic Circle establishment. Kenneth and the boys labored there daily, while Carma worked as the Public Health Nurse for all of Madison County. Carma still relishes those years of watching her children grow up and form their own identities. They then purchased land and built the Norsemen and Riviera apartments, and managed both. After many decades of hard work and perseverance, they acquired the charming “over the river and through the woods” homestead Carma still lives on today. <br /><br />

            Though Carma has lived out most of her years in Idaho, she spent a number of her seasoned years away and abroad, on missions for the Church. In each and every one, she felt like she was “dipped in a big pot of love.” She has served and loved the people of Guatemala, England, and Mexico. Through this legacy of missionary work—and her lifelong living of the gospel—she has experienced the joy of witnessing the preponderance of her posterity serving missions all over the globe. <br /><br />

            She now spends the remainder of her days keeping up with all the birthdays of her grand and great-grandchildren, while scheming her next trip to see them and love them all in person. 

                <br /></span>
            </span>
        </div>


        <a style="display:block" href="<%= carma_farmer_and_nurse_1_path %>">
            <div id="menuhorizontal" class="clearfix">
                <%= image_tag("carma/menu/farmerandnurse1.jpg", :id => "menuthemepic", :class => "image") %>
                <div id="menutitleright" class="clearfix">
                    <span id="PROGRESS_I_Adversity_in_Wartorn_China">
                    <span id="textspanli2">THE FARMER AND THE NURSE I</span><br /><span id="textspanli4">And How They Met</span>
                    </span>
                    <span id="menuthemequote">
                    “That very afternoon, his heart beating, ‘pitty-pat, pitty-pat,’ the Farmer called the Dark-Haired Nurse and asked her for a date.”<br />
                    </span>
                </div>
            </div>
            <div id="Underline" class="clearfix">
            </div>
        </a>

        <a style="display:block" href="<%= carma_farmer_and_nurse_2_path %>">
            <div id="menuhorizontalsuccessive" class="clearfix">
                <%= image_tag("carma/menu/farmerandnurse2.jpg", :id => "menuthemepic", :class => "image")  %>
                <div id="menutitleright" class="clearfix">
                    <span id="PROGRESS_I_Adversity_in_Wartorn_China">
                    <span id="textspanli2">THE FARMER AND THE NURSE II</span><br /><span id="textspanli4">Early Married Life</span>
                    </span>
                    <span id="menuthemequote">
                    “Our children have grown up loving the gospel. I attribute that to Kenneth's example and his determination to do what the Lord wanted him to do with his family.”<br />
                    </span>
                </div>
            </div>
            <div id="Underline" class="clearfix">
            </div>
        </a>

        <a style="display:block" href="<%= carma_missionary_service_1_path %>">
            <div id="menuhorizontalsuccessive" class="clearfix">
                <%= image_tag("carma/menu/missionaryservice1.jpg", :id => "menuthemepic", :class => "image")  %>
                <%#= image_tag("carma/menu/img/candidgroupcovered.jpg", :id => "menuthemepic", :class => "image")  %>
                
                <div id="menutitleright" class="clearfix">
                    <span id="PROGRESS_I_Adversity_in_Wartorn_China">
                    <span id="textspanli2">MISSIONARY SERVICE I</span><br /><span id="textspanli4">Guatemala and Salt Lake City</span>
                    </span>
                    <span id="menuthemequote">
                    “It was rewarding. It strengthened our testimonies. It helped us to have faith in what we could do with the Lord's help.”<br />
                    </span>
                </div>
            </div>
            <div id="Underline" class="clearfix">
            </div>
        </a>

        <a style="display:block" href="<%= carma_missionary_service_2_path %>">
            <div id="menuhorizontalsuccessive" class="clearfix">
                <%= image_tag("carma/menu/missionaryservice2.jpg", :id => "menuthemepic", :class => "image")  %>
                <div id="menutitleright" class="clearfix">
                    <span id="PROGRESS_I_Adversity_in_Wartorn_China">
                    <span id="textspanli2">MISSIONARY SERVICE II</span><br /><span id="textspanli4">England and Mexico</span>
                    </span>
                    <span id="menuthemequote">
                    “This scripture humbled me considerably and brought a flow of tears and a feeling in my heart that this was indeed right. So, here I go.”<br />
                    </span>
                </div>
            </div>
            <div id="Underline" class="clearfix">
            </div>
        </a>

        <a style="display:block" href="<%= carma_i_can_do_hard_1_path %>">
            <div id="menuhorizontalsuccessive" class="clearfix">
                <%= image_tag("carma/menu/icandohard1.jpg", :id => "menuthemepic", :class => "image")  %>
                <div id="menutitleright" class="clearfix">
                    <span id="PROGRESS_I_Adversity_in_Wartorn_China">
                    <span id="textspanli2">I CAN DO HARD I</span><br /><span id="textspanli4">Faith and Courage</span>
                    </span>
                    <span id="menuthemequote">
                    “To go out with seven other grandchildren in the mission field was a wonderful, wonderful blessing for me.”<br />
                    </span>
                </div>
            </div>
            <div id="Underline" class="clearfix">
            </div>
        </a>

        <a style="display:block" href="<%= carma_i_can_do_hard_2_path %>">
            <div id="menuhorizontalsuccessive" class="clearfix">
                <%= image_tag("carma/menu/Icandohard2.jpg", :id => "menuthemepic", :class => "image")  %>
                <div id="menutitleright" class="clearfix">
                    <span id="PROGRESS_I_Adversity_in_Wartorn_China">
                    <span id="textspanli2">I CAN DO HARD II</span><br /><span id="textspanli4">Trial and Tribulation</span>
                    </span>
                    <span id="menuthemequote">
                    “Looking back at the adversity somehow seems to strengthen the faith we had in the Lord and keep us close and supportive and loving to one another.”<br />
                    </span>
                </div>
            </div>
            <div id="Underline" class="clearfix">
            </div>
        </a>

        <a style="display:block" href="<%= carma_chocolate_path %>">
            <div id="menuhorizontalsuccessive" class="clearfix">
                <%= image_tag("carma/menu/chocolate.jpg", :id => "menuthemepic", :class => "image")  %>
                <div id="menutitleright" class="clearfix">
                    <span id="PROGRESS_I_Adversity_in_Wartorn_China">
                    <span id="textspanli2">CHOCOLATE</span><br /><span id="textspanli4">The Sweeter Things in Life</span>
                    </span>
                    <span id="menuthemequote">
                    “I don’t care for the dark chocolate, even though they tell me dark chocolate is healthy for you. I prefer the wicked milk chocolate.”<br />
                    </span>
                </div>
            </div>
            <div id="Underline" class="clearfix">
            </div>
            
        </a>


        <a style="display:block" href="<%= carma_timeline_path %>">
            <div id="menuhorizontalsuccessive" class="clearfix">
                <%= image_tag("carma/menu/timeline.jpg", :id => "menuthemepic", :class => "image")  %>
                <div id="menutitleright" class="clearfix">
                    <span id="PROGRESS_I_Adversity_in_Wartorn_China">
                    <span id="textspanli2">TIMELINE</span><br /><span id="textspanli4">A Chronological Review</span>
                    </span>
                    <span id="menuthemequote">
                    “I was baptized at eight years on the 20th of January, 1935 by Glen I. Wilkinson in the fount at the First Ward chapel.”<br />
                    </span>
                </div>
            </div>
            <div id="Underline" class="clearfix">
            </div>
            
        </a>

        <a style="display:block" href="<%= carma_annex_path %>">
            <div id="menuhorizontalsuccessive" class="clearfix">
                <%= image_tag("carma/menu/annex.jpg", :id => "menuthemepic", :class => "image")  %>
                <div id="menutitleright" class="clearfix">
                    <span id="PROGRESS_I_Adversity_in_Wartorn_China">
                    <span id="textspanli2">ANNEX</span><br /><span id="textspanli4">Childhood, Farm Life, and Town Living</span>
                    </span>
                    <span id="menuthemequote">
                    <!--“The crops had to be put in when it was time; they had to be irrigated, cultivated and harvested when it was ‘the season thereof’ and that everything else had to wait on those times.” -->“The farm work always had to come first, short of sickness; the chores had to be done.”<br />
                    </span>
                </div>
            </div>
            <div id="Underline" class="clearfix">
            </div>
        </a>

        <a style="display:block" href="<%= carma_guestbook_path %>">
            <div id="menuhorizontalsuccessive" class="clearfix">
                <%= image_tag("carma/menu/guestbook.jpg", :id => "menuthemepic", :class => "image")  %>
                <div id="menutitleright" class="clearfix">
                    <span id="PROGRESS_I_Adversity_in_Wartorn_China">
                    <span id="textspanli2">GUESTBOOK</span><br /><span id="textspanli4">Share Your Story</span>
                    </span>
                    <span id="menuthemequote">
                    “What does your 88 year old grandma do? Mine goes 300 feet in the air parasailing.” - Greg Bird<br />
                    </span>
                </div>
            </div>
            <div id="Underline" class="clearfix">
            </div>
            
        </a>



            <!--div class="sponsor-line">
                Sponsored by<%#= image_tag("carma/menu/Norman.png", :class => "sponsor-pic") %> Norman Cheung 
            </div-->

        
        <div id="conclusiverect" class="clearfix">
            <span id="PREPARED_with_LOVE_by_ANTHO_">
            <span id="textspanli5">PREPARED</span> &nbsp;<span id="textspanli7">with</span>&nbsp; <span id="textspanli5">LOVE</span> &nbsp;<span id="textspanli7">by</span>&nbsp; <span id="textspanli5">ANTHO</span>
            </span>
        </div>

