<head>
    <!-- show and hide begins -->
    <script>
        function showHide(shID) {
          if (document.getElementById(shID)) {
            if (document.getElementById(shID+'-show').style.display != 'none') {
              document.getElementById(shID+'-show').style.display = 'none';
              document.getElementById(shID).style.display = 'block';
            }
            else {
              document.getElementById(shID+'-show').style.display = 'inline';
              document.getElementById(shID).style.display = 'none';
            }
          }
        }
    </script>
    <!-- show and hide end -->
    <!-- responsive video begins -->
    <script>
            $(document).ready(function () {
                $(".ChapterVideoDiv").fitVids();
            });
            $(document).ready(function () {
                $(".vidvid").fitVids();
            });
    </script>
    <!-- responsive video end -->
    <!-- fancybox begins -->

        <!--script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script--> <!-- this causes fitvids NOT to work. BOO -->
        <link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css" type="text/css" media="screen">
        <script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js"></script>
    <!-- fancybox end -->

<meta name="viewport" content="width=device-width; initial-scale=1.0,maximum-scale = 3.0">

    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '[redacted-g]', 'antho.co');
          ga('send', 'pageview');
    </script>

</head>

<!-- Story Heading Begins -->
        <div id="ThemeCoverPhotoMissionaryservice2" class="clearfix">
            <span id="ThemeTitle">
                <span id="textspanlichapter">MISSIONARY SERVICE II</span><span id="textspanlichapter1"><br /></span><span id="textspanlichapter2">ENGLAND AND MEXICO CITY</span><br />
            </span>
            
            <span id="ChapterSectionIndex"><br/><br/><br/>
                <a href="#ch1">1 </a>&#x2f;<a href="#ch2"> 2 </a>&#x2f;<a href="#ch3"> 3 </a>&#x2f;<a href="#ch4"> 4 </a>&#x2f;<a href="#ch5"> 5 </a>&#x2f;<a href="#ch6"> 6 </a>&#x2f;<a href="#ch7"> 7 </a>&#x2f;<a href="#ch8"> 8 </a>
            </span>

        </div>

<!-- Story Heading Ends -->

<!-- Chapter 1 Begins -->
        
       <span class="anchorup"><a name="ch1"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>

       <span id="ChapterHeading">

            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 1 &nbsp;</span>
            <span id="textspanlichapter13">RECEIVING OUR CALL </span><span id="textspanlichapter15">to </span><span id="textspanlichapter16">ENGLAND </span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196379773&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>


        <span id="ChapterQuoteAudio">
        “We decided we would serve another mission happily.”
        </span>
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">ALICE CHAU</span><br /><span id="textspanlichapter24">SISTER</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>In the fall after we returned home from the Family History Mission, we got a telephone call from my daughter who was living in England with her family at that time. She said, “Mom, do you and Dad think that you might want to serve another mission?” 


            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("carma/missionaryservice2/small/ReceivingourcalltoEngland0.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice2/large/ReceivingourcalltoEngland0.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice2/small/ReceivingourcalltoEngland.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice2/large/ReceivingourcalltoEngland.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice2/small/ReceivingourcalltoEngland1.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice2/large/ReceivingourcalltoEngland1.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice2/small/ReceivingourcalltoEngland2.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice2/large/ReceivingourcalltoEngland2.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice2/small/ReceivingourcalltoEngland3.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice2/large/ReceivingourcalltoEngland3.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice2/small/ReceivingourcalltoEngland4.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice2/large/ReceivingourcalltoEngland4.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice2/small/ReceivingourcalltoEngland5.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice2/large/ReceivingourcalltoEngland5.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                </ol>    
            </div>

            <span id="ChapterParagraphTwo">
                We thought, “Well, if we're called, I guess we'd go again.” <br /><br /> 

                So she said, “Would you come to England?” <br /><br /> 

                I said, “Well, I don't know. I guess we would!” <br /><br /> 

                She said, “Our mission president over here said if you would come, he would see that you receive a call to come to England. They need couple missionaries in his mission.” <br /><br /> 

                I talked it over with Kenneth and we decided yes. We would serve another mission happily. So the paperwork was done, and before very long our call came in the mail, and we were called to serve for eighteen months in the England Leeds Mission. We were excited! We were excited especially to go to England, because that's where our daughter and her family lived. It was a wonderful mission. We enjoyed it, we learned a lot, and we had a very special experience over there. 


            </span>
            <!--span id="SEE_MORE"><a href="#" id="restofstory5-show"  onclick="showHide('restofstory5');return false;">SEE MORE</a>
            </span>

            <div id="restofstory5" class="more">
                <span id="ChapterParagraphTwo">
                    We were quite close and spent much time together but I had reservations about feelings for Ken and after a few weeks of dating I pretty well made the decision to return to Seattle to renew a relationship I had left when I came home after graduation. <br /><br />

                    When I told Ken what I was about to do he said, “Well, I will just have to come up there after you because the Lord has let me know you are to be my wife.”  <br /><br />

                    Well, that set me back a bit and after much pondering for awhile decided that I had better give the relationship a bit more time. So I stayed with employment at the doctor's office and continued seeing Ken and not much longer after that we became engaged. Ken put an engagement ring on my finger in that darn green pickup before we went into the stake dance and we were promised to each other.  <br /><br />

                    Had Ken not been there I would surely have made a serious mistake and married the wrong person. Whether Ken’s coming home early from his mission had anything or not to do with how it all turned out we will never really know for sure in this world, but one thing that is for sure, we feel we were guided by the Spirit of our Heavenly Father in our relationship and I am very grateful to know that he helped me to make the right decision about my future. As I look back at it all now I can see the mistake I would have made but at the time it was difficult to rationalize correctly because emotions were in control and it is difficult at times to separate the true, lasting feelings from superficial, emotional responses. <br /><br />

                    We were married in the Idaho Falls temple by John R. Sayer on the 21st of September. The temple was closed for maintenance at that time, so Ken and Uncle Jack took me to the Salt Lake temple to receive my endowment. I was alone with no one to be by my side and it was a very difficult experience for me. My parents were not active in the church at all and no one else was able to go through the temple with me. How different now when many family members support one who is attending for the first time. Later as I served a mission in the Mexico City temple and observed the quiet kindness and attention given to a “primera ves” which is a first endowment I no longer wonder at the nervousness I felt at being alone for what should have been a very spiritual and special experience. The Idaho Falls Temple was actually closed for renovation, but we were able to be married on Sept 21st when it was opened for sealings. A lasting memory. <br /><br />

                    Ken’s Aunt Grace and Aunt Mary made our temple clothing for us so we would have our own right from the first which has been a blessing and inspiration to us all our married life. We have also seen that each of our children have their own complete set of temple clothing when they got married. We hoped the example would carry all through each of their own families and help them to go to the temple frequently. <br /><br />

                    We stopped along the way back home to pick fruit..peaches, etc. to take home to can for our very first food supply. We stayed in a motel somewhere that night because I was so tired and worn completely out after the emotional experiences of that day. Actually the whole experience was not very pleasant to me because I was alone without any help in the temple from family. <br /><br />

                    Our wedding day was a beautiful blue day with lots of sunshine and we had our families with us and it was a lovely day. My wedding dress was a beautiful, ivory satin with a bustle! I loved it and it was and still is a treasure to me. The evening of our wedding we had a reception at Ken’s home and it was very nice. Not too many attended because of my parents’ inactivity in the church and Ken’s family had just moved into their ward in Idaho Falls from the Milo farm but we had much family and it was a beautiful evening. Our wedding cake was designed as near as possible to the I.F. temple. Donna Rasmussen (Cook) and Lois Bacon Packer were my bridesmaids and Leo Avery was Ken’s best man, however, he didn’t show up until way too late so my brother Bart stood with Ken. <br /><br />

                    When it was time to get changed and leave for our honeymoon we had quite a time eluding the “shivaree-ers” and not until many years later did I learn that my Dad had been the chief instigator of the goings-on after the reception! <br /><br />

                    We finally made our escape in Ken’s parents car that we used for our honeymoon travel and spent our first married night in the Colonial Motel in Blackfoot. We then drove on to southern Utah and the parks there and then on to California for our 10 day honeymoon. Not too many photos of that trip…cameras at that day and age were not common for everyone. <br /><br />

                    When we returned from our honeymoon we moved into an apt on J Street in Idaho Falls. A one bedroom apartment with nothing else but a small kitchen at one end with the bedroom at the other end of a short hall and the bathroom in between…the problem being that when we moved in we didn’t know that the bathroom had to be shared with another apartment, so we had to keep the hall door open all the time; the door was between the kitchen and the bedroom, so it was mighty inconvenient and not private at all. We lived there for about a month and then moved out and into another apartment on Elm Street on the 2nd floor but it was nice and it was all ours! We had a private bathroom! I remember that apartment very well…I remember the night that Harry Truman won the presidency even though it had been put in headlines in the papers all over the country that Thomas Dewey had won. I was standing at the ironing board when we heard the news over the radio. <br /><br />
                </span-->

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
            <!--/div-->
            
        </div>

        <%= image_tag("carma/missionaryservice2/large/Establishingabranch-header.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>

<!-- CHAPTER two BEGINS -->

   <span class="anchorup"><a name="ch2"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
      <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 2 &nbsp;</span>
            <span id="textspanlichapter13">ESTABLISHING </span><span id="textspanlichapter15">a </span><span id="textspanlichapter16">BRANCH </span><span id="textspanlichapter15">in </span><span id="textspanlichapter16">BRIDLINGTON </span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196381679%3Fsecret_token%3Ds-7uHpg&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>


        <span id="ChapterQuoteAudio">
        “Working together we were able to get the branch started, and it flourished.” 
        </span>
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">GREGG LI</span><br /><span id="textspanlichapter24">SON</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>When we received our mission call to serve in the England Leeds Mission, our assignment was in Bridlington, a little town on the coast of the North Sea. The mission president assigned us to go to that part of the country and organize a branch. There had been a branch there a number of years before, and they needed to organize again and get a branch going.
<br />
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("carma/missionaryservice2/small/Establishingabranch.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice2/large/Establishingabranch.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice2/small/Establishingabranch1.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice2/large/Establishingabranch1.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice2/small/Establishingabranch2.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice2/large/Establishingabranch2.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice2/small/Establishingabranch3.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice2/large/Establishingabranch3.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice2/small/Establishingabranch4.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice2/large/Establishingabranch4.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice2/small/Establishingabranch5.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice2/large/Establishingabranch5.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice2/small/Establishingabranch6.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice2/large/Establishingabranch6.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice2/small/Establishingabranch7.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice2/large/Establishingabranch7.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice2/small/Establishingabranch8.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice2/large/Establishingabranch8.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice2/small/Establishingabranch9.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice2/large/Establishingabranch9.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice2/small/Establishingabranch10.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice2/large/Establishingabranch10.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice2/small/Establishingabranch11.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice2/large/Establishingabranch11.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice2/small/Establishingabranch12.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice2/large/Establishingabranch12.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice2/small/Establishingabranch13.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice2/large/Establishingabranch13.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice2/small/Establishingabranch14.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice2/large/Establishingabranch14.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice2/small/Establishingabranch15.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice2/large/Establishingabranch15.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice2/small/Establishingabranch16.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice2/large/Establishingabranch16.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice2/small/Establishingabranch17.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice2/large/Establishingabranch17.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice2/small/Establishingabranch19.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice2/large/Establishingabranch19.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>           
                </ol>    
            </div>

            <span id="ChapterParagraphTwo">
            
               The work out there was challenging. It was quite an assignment for Kenneth and I. Kenneth had served in the bishopric in one of the wards that we lived in, but to be called to organize a branch of the Church, get it established, and gather up the members was quite a challenge. We did quite a bit of traveling. We wondered, “Is this something that we can do?” We knew that we needed to depend on the Lord totally. To be able to do this was going to require a lot of faith and being dependent on the Lord.
 
            </span>
            
            <span id="SEE_MORE"><a href="#" id="restofstory2-show"  onclick="showHide('restofstory2');return false;">SEE MORE</a>
            </span>

            <div id="restofstory2" class="more">
                <span id="ChapterParagraphTwo">
                    Though we felt like we were lacking in experience, we also felt that if we were prayerful and trusted in the Lord to help us, then we could do it. And we began to do the work that we needed to do out there. One of the sister missionaries shared a thought, and it helped me a great deal. That thought was, “Whom the Lord calls, He qualifies.” I took that to heart. It helped me understand that we could just go ahead and do what needed to be done the best that we could do it. So we did. <br /><br /> 

                    We began to gather up the members, and the members were so happy to have a branch organized in their area again. We had good support from those that we could find. We were given a computer print-out with dozens and dozens of names on it of people that were living there and supposedly members. Most of them were inactive. To be able to go into that area and gather up inactive members and encourage them to come back and be part of the Church again was quite a challenge. But it was rewarding. It strengthened our testimonies. It helped us to have faith in what we could do with the Lord's help. <br /><br />

                    We had help from Elders and Sisters, wonderful young missionaries who were out in that mission. Working together we were able to get the branch started, and it flourished. When we left that mission, we had about thirty or forty people coming to church regularly. That was good. We were happy that we had been given that assignment and happy to be able to do the work there and feel that was what the Lord wanted us to do. We were happy to do it.
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory5-hide" onclick="showHide('restofstory5');return false;">SEE LESS</a>
                </span-->
            </div>
        </div>
            

        <%= image_tag("carma/missionaryservice2/large/Establishingabranch18.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>

<!-- Chapter Three Begins -->

    <span class="anchorup"><a name="ch3"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
      <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 3 &nbsp;</span>
            <span id="textspanlichapter13">FINDING </span><span id="textspanlichapter15">the </span><span id="textspanlichapter13">BRIGGS</span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196381727%3Fsecret_token%3Ds-ig7jp&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>


        <span id="ChapterQuoteAudio">
        “Sister Briggs welcomed me with a big hug, with tears running down her cheeks...” 
        </span>
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">ELLIS LI</span><br /><span id="textspanlichapter24">DAUGHTER</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>There was one couple in particular that we found in the Bridlington area. We would take the computer print-out, go down the list, and were expected to make a personal visit—to knock on doors—and find the members. One particular family attracted us because the parents had four sons. We thought, “Oh my. That would be wonderful to have a branch with four young men there.” So we went to their door two different times and rang the doorbell, but there was never anyone home. We kept going back.  <br />
            </span>

            <!--div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    
                    
                </ol>    
            </div-->

            <span id="ChapterParagraphTwo">
            
               When we were just about ready to have our first meeting in one of the homes in the area, Kenneth said, “I'm going to call the Briggs again on the telephone and see if they're home, rather than make a visit.” 
 
            </span>

            <span id="SEE_MORE"><a href="#" id="restofstory3-show"  onclick="showHide('restofstory3');return false;">SEE MORE</a>
            </span>

            <div id="restofstory3" class="more">
                <span id="ChapterParagraphTwo">
                    I said, “Honey, we're supposed to make a personal visit. We're not just supposed to telephone.”  <br /><br /> 

                    He said, “We've been there twice, and they haven't been home. Just let me give them a call.” He picked up the phone, called them, and they picked up immediately. Brother Bird said, “We have been to your home twice and you haven't been home, and we just wanted to let you know about the branch being organized immediately.” <br /><br /> 

                    Brother Briggs said, “Our doorbell doesn't work.” <br /><br /> 

                    We were able to get them to come to church. They were very happy. When we visited their home, Sister Briggs welcomed me with a big hug, and with tears running down her cheeks, she said, “Brother and Sister Bird, where have you been? Where has the Church been? We haven't been involved for fifteen years.” <br /><br /> 

                    The Briggs were very active in the branch. Brother Briggs was called to be the branch president. We felt like he should be the branch president so he could have the experience that he needed when there would be no missionaries there. It was a happy experience with the Briggs. They became fast friends.<br /><br /> 

                    The little branch flourished. We were able to find members to come, and we held our meetings in a home for a month or two. Then we were able to rent a small building for our meetings. We had primary in the foyer of the little one-room building. Young people would come. We had a wonderful little branch that was established, and we were happy being able to help with that work. <br /><br /> 

                    One of the young men in the branch was about fifteen years old when we went to serve there. He was the primary teacher. When he became of missionary age, he put his missionary papers in and he was called to serve in the Pocatello Idaho Mission. He was ecstatic. He said he always wanted to serve in the United States, and he was hoping for Idaho. His prayers were definitely answered. It was a wonderful experience in that mission with wonderful members to get a branch started and the Church flourishing there. Now they have a new building, and we were happy to be able to participate in that.
                </span>
                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory5-hide" onclick="showHide('restofstory5');return false;">SEE LESS</a>
                </span-->
            </div>
        </div>
            

        <%= image_tag("carma/missionaryservice2/large/Decidingtogoonelasttime-header.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>



<!-- Chapter 4 Begins -->
        <span class="anchorup"><a name="ch4"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
        <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 4 &nbsp;</span>
            <span id="textspanlichapter13">DECIDING </span><span id="textspanlichapter15">to </span><span id="textspanlichapter16">GO ONE LAST TIME</span><!--span id="textspanlichapter15">to </span><span id="textspanlichapter16">GUATEMALA</span-->
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196381320&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>


        <span id="ChapterQuoteAudio">
        “Why was the Lord sending me to the very place I did not want to go?” 
        </span>
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">ELLIS LI</span><br /><span id="textspanlichapter24">DAUGHTER</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>So, where do I begin? At the beginning, I suppose. <br /><br />

            The Prophet Joseph Smith said, “You will have all kinds of trials to pass through. And it is quite as necessary for you to be tried as it was for Abraham and other men of God, and (said he) God will feel after you, and He will take hold of you and wrench your very heart strings, and if you cannot stand it you will not be fit for an inheritance in the Celestial Kingdom of God.” Those words meant a great deal to me, and after Kenneth left, leaving me alone, those words were comforting, and I felt like there was something more that I needed to do. 

            <br />
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("carma/missionaryservice2/small/Decidingtogoonelasttime.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice2/large/Decidingtogoonelasttime.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice2/small/Decidingtogoonelasttime1.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice2/large/Decidingtogoonelasttime1.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice2/small/Decidingtogoonelasttime2.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice2/large/Decidingtogoonelasttime2.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice2/small/Decidingtogoonelasttime3.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice2/large/Decidingtogoonelasttime3.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <!--li><%#= link_to image_tag("carma/missionaryservice2/small/Decidingtogoonelasttime4.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice2/large/Decidingtogoonelasttime4.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li-->
                    <li><%= link_to image_tag("carma/missionaryservice2/small/Decidingtogoonelasttime5.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice2/large/Decidingtogoonelasttime5.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice2/small/Decidingtogoonelasttime6.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice2/large/Decidingtogoonelasttime6.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice2/small/Decidingtogoonelasttime7.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice2/large/Decidingtogoonelasttime7.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice2/small/Decidingtogoonelasttime8.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice2/large/Decidingtogoonelasttime8.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice2/small/Decidingtogoonelasttime9.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice2/large/Decidingtogoonelasttime9.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    
                </ol>    
            </div>

            <span id="ChapterParagraphTwo">
                So three years after Kenneth passed, Bishop Olaveson and I finally got together with all the mission possibilities. He wanted me to go and felt it was right but I didn't know if it was right for about a year. Being with Ruby was so important for me but yet in my heart I knew that a mission was what I needed to do. I was not sure if I really wanted to serve another mission, yet feeling I needed to be serving in the church more than I was. 
            </span>
            <span id="SEE_MORE"><a href="#" id="restofstory4-show"  onclick="showHide('restofstory4');return false;">SEE MORE</a>
            </span>

            <div id="restofstory4" class="more">
                <span id="ChapterParagraphTwo">
                    So after spending one more winter in Arizona with my brothers and sisters I filled the papers and sent them off to Salt Lake hoping that of all the places in the world that the Lord could and would send me it wouldn't be in another Spanish speaking mission. When all was done, the papers were sent in and I had courage enough to tell Ruby, the waiting process began and I knew that once more this was “for real.” The wait for the call to arrive was about three weeks and on the day the letter arrived the suspense was almost palatable. <br /><br />

                    Living in Rigby has a few advantages that those who live in the “big cities” don't have. The post office folks knew that I was waiting for a call so on the day it was to arrive, and it didn't appear in my mail box, the dreaded wait was extended for a few more hours, the mission papers came in later in the day at the post office so when they arrived the post office folks called my home and Shawn went over to pick them up, called Marlon. Marian. And Taylor then presented the letters to me. And there it was, the temple in Mexico City. My very first thought when I saw the words was, “The temple, thank goodness it is for the temple.” <br /><br />

                    I have to admit that was some disappointment there, and there for some time. Why was the Lord sending me to the very place I had set my heart on that I did not want to go? Had I been counseling the Lord all that time when I knew that I shouldn’t be? Some of my most favorite scriptures are in the book of Jacob in the Book of Mormon, especially this verse: “Seek not to counsel the Lord, but to take counsel from his hand” (Jacob 4:10). This scripture took on a whole new meaning for me. I was troubled for quite some time about the call. I knew I would accept the call but my heart was not not involved, until one morning while reading the Book of Mormon in Spanish. I came upon another scripture that is a favorite, but I didn’t recognize it for a few moments because I was reading it in Spanish. This scripture confirmed to me that Mexico City Temple is exactly where the Lord wanted me. It was Jacob 1:17: “Wherefore, I, Jacob, gave unto them these words as I taught them in the temple, having first obtained mine errand from the Lord.” The impact at this time of a scripture that was very familiar to me in English but not recognized immediately in Spanish was pretty strong and it humbled me considerably and brought a flow of tears and a feeling in my heart that this was indeed right. So, here I go. <br /><br />

                    <div class="vidvid"><iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196380634&amp;color=c8c8c8&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe></div>
 
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
            </div>

        </div>
        <%= image_tag("carma/missionaryservice2/large/WhereshallIworktodaycover.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>


<!-- Chapter 5 Begins -->

             <span class="anchorup"><a name="ch5"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>

       <span id="ChapterHeading">

            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 5 &nbsp;</span>
            <span id="textspanlichapter13">“WHERE SHALL I WORK TODAY?”</span><!--span id="textspanlichapter15">in </span><span id="textspanlichapter16">GUATEMALA </span--><!--span id="textspanlichapter15">and </span><span id="textspanlichapter13">HOW THEY MET</span-->
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196379642&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>


        <span id="ChapterQuoteAudio">
        “Ah, little one, search that heart of thine / Art thou working for them or for Me?”
        </span>
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">ALICE CHAU</span><br /><span id="textspanlichapter24">SISTER</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>
                Father, where shall I work today<br />
                And my love flowed warm and free <br />
                Then He pointed out a tiny spot<br />
                And said, tend that for me. <br /><br />

                I answered quickly, Oh, no, not that!<br />
                Why no one would ever see,<br />
                No matter how well my work was done<br />
                Not that little place for me.<br /><br />

                And the word He spoke, it was not stern<br />
                He answered me tenderly:<br />
                Ah, little one, search that heart of thine<br />
                Art thou working for them or for Me?<br /><br />

                Nazareth was a little place<br />
                And so was Galilee.
            </span>

            <!--div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                        
                </ol>    
            </div-->

            <!--span id="ChapterParagraphTwo">
                But when we arrived in Guatemala City, the mission president, President Amado, called us in and he said, “We need someone to go out into the branches and teach them how to keep records and send in their reports, because they’re not doing it. So we want you to go out and do that. You’ve got your car.” We drove to Guatemala in our car and had it with us. We were amazed, because neither Kenneth or I had ever been a secretary or a clerk, and there we were. They gave us that responsibility.



            </span>
            <span id="SEE_MORE"><a href="#" id="restofstory3-show"  onclick="showHide('restofstory3');return false;">SEE MORE</a>
            </span>

            <div id="restofstory3" class="more">
                <span id="ChapterParagraphTwo">
                    We worked with the mission president’s brother for a month, and he took us out to all the branches in the Guatemala City Mission, which was about 20–25 branches we were responsible for. We went out and visited each of the branches, and we had to learn how to do the reports ourselves. We had quite an adventure, because about once a month we would go out and visit those branches and visit with the branch president and teach them how to do the records and make their reports. Oftentimes, we would pull open the file drawer in the branch office, and there would be cobwebs in there because they had not been used. <br /><br />

                    One time we went into one of the branches, and before we could begin our work we had to get a foot-long lizard off the pulpit so we could start. <br /><br />

                    We felt like we were successful in teaching. We learned first and then we taught the presidents in our broken Spanish how to do those reports. When we left, the percentage of reports that were being sent in was way, way high. We felt like we had been blessed to do some good work down there. That was the main thing we were called to do. <br /><br />

                    We had so much adventure in that mission. I smile whenever I think about the Guatemala City Mission. It was special.
                </span-->

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
            <!--/div-->
            
        </div>
    <%#= image_tag("carma/missionaryservice2/large/GraceMenuSmall.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>


<!-- Chapter 6 Begins -->


<span class="anchorup"><a name="ch6"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>

       <span id="ChapterHeading">

            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 6 &nbsp;</span>
            <span id="textspanlichapter13">ENCOURAGING MISSIONARY SONS</span><!--span id="textspanlichapter15"> </span><span id="textspanlichapter16">LORD</span--><!--span id="textspanlichapter15">and </span><span id="textspanlichapter13">HOW THEY MET</span-->
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196381116&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>


        <span id="ChapterQuoteAudio">
        “For each of my great-grandsons, I put a $50 bill in that bank and gave it to them.”
        </span>
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">ALICE CHAU</span><br /><span id="textspanlichapter24">SISTER</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>Another idea that we had to encourage our little grandsons to serve missions was to start a missionary fund for them. I found a missionary bank at the Deseret Book Store, and for each of my great-grandsons, I put a $50 bill in that bank and gave it to them on one of their birthdays. Then each birthday I added a little money to that to encourage our great-grandsons to plan for missions.
            </span>

            <!--div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                        
                </ol>    
            </div-->

            <!--span id="ChapterParagraphTwo">
                We had been going out to visit one branch that was way up in the mountains out of Guatemala City. The road up there was a beautiful drive. It was a difficult road, but it was beautiful because there were bougainvillea flowers blossoming up there everywhere. We loved to drive up there and we looked forward to going. We would help the branch president, whoever was there who we could teach, and see if their reports were up to date. Then we would drive down the other side of the mountain. We had to ford a stream in order to get back into the city. 


            </span>
            <span id="SEE_MORE"><a href="#" id="restofstory4-show"  onclick="showHide('restofstory4');return false;">SEE MORE</a>
            </span>

            <div id="restofstory4" class="more">
                <span id="ChapterParagraphTwo">
                    This one particular time we were reporting to President Amado about our visit to the branches, and when we told how we were getting up to this particular branch, he got really upset and he told us we should never go up on that road, that we should go around the other way to get to that branch, because the particular road we had been traveling on had banditos everywhere. It was a very dangerous road. Even the people in Guatemala in that area didn’t go up on that road to get to that branch. <br /><br /> 

                    We said, “President, we’ve been going up there half a dozen times. We’re perfectly safe. We’re okay.” He said, “Don’t ever go up there again by that road. You take the other road and go around the other way.” We laughed. The President did not laugh; we kind of smiled a little bit, but we obeyed. The next time we went back, we took the other road, and we had to ford a stream to cross it, so we didn’t really enjoy it. If we had gone the other way we wouldn’t have had to cross that stream two times. The way we wanted to go we only had to cross it once.<br /><br /> 

                    One thing we learned while we were in Guatemala was that the Lord did watch over us. We had experiences where we could have been in danger, but because of choices that we made and the whisperings of the Spirit, we made the right choice, even if President Amado had to help us make that choice. <br /><br /> 

                    One other time that was kind of a humorous experience was when we were in Guatemala City. The guerillas were very active in that area. Guatemala City had a lot of distress. The presidential home had sandbags all around it, and there was military guarding the presidential home all of the time. As we traveled throughout the area, oftentimes when we would come closer into Guatemala City, we would be stopped by the police. They would pull us over to the side of the road, and we would have to get out of our car. They would inspect our car. They would look in the trunk and in the motor and everything to see if there was anything that we were doing wrong. That was something that happened quite often. <br /><br /> 

                    Later in the mission, they didn’t even stop us. If we stopped and rolled down the window, they’d ask us some questions. They could see that our Spanish was not very good. We told them we were missionaries, so they would just wave us on. One rather funny thing that happened one time was we were going out to a zone meeting with President Amado and one of his assistants. They were in the car ahead of us, and Elder Bird and I were following in our car. We came to one point in the road. The president’s car had been stopped by the military, and they were out of the car, he and the elder, and they were being inspected bodily, as well as their car. They practically took the car apart to see if there was anything in there that shouldn’t be. We pulled up and we could see what was happening. The policeman came over and we rolled down our window and we told him who we were. He said, “You just go on. No problemo. Just go ahead.” <br /><br /> 

                    When we got down to where we were having our zone meeting, I went to President Amado and I said, “Presidente, if you ever need any help in any difficulty, you just come to Elder Bird and I, and we will help you.”<br /><br /> 

                    We learned that we were watched over carefully. Our blessings were great down there. We had no fear, even though the military checked us time and time again. We had no fear at all. We felt totally safe. We knew we were being watched over. We had a wonderful experience in that mission. As I reflect back on those times, they’re some of my very choicest memories.
                </span-->

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
            <!--/div-->
            
        </div>
    <%#= image_tag("carma/missionaryservice2/large/GraceMenuSmall.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>
        





<!-- Chapter SEVEN Begins -->

        
       <span class="anchorup"><a name="ch7"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>

       <span id="ChapterHeading">

            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 7 &nbsp;</span>
            <span id="textspanlichapter13">A MARVELOUS BLESSING</span><!--span id="textspanlichapter15">to </span><span id="textspanlichapter16">ENGLAND </span-->
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196380648&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>


        <span id="ChapterQuoteAudio">
        “Having your children serve and then going yourself is just a blessing beyond description.”
        </span>
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">ALICE CHAU</span><br /><span id="textspanlichapter24">SISTER</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>Being able to have come down to earth, be married in the temple, have a family, and have the Church has been such an important part of my life. It has been a marvelous blessing. Also, being able to have your children serve as missionaries and then going yourself is just a blessing beyond description. I can't explain how happy I have been to have a family, have them active in the Church, and have the posterity that I have with all my family. It's blessings, blessings!


            </span>

            <!--div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                        
                </ol>    
            </div-->

            <span id="ChapterParagraphTwo">
                To be able to serve missions has been a dream come true. I have a favorite thought that comes to mind quite often, and it was certainly true in the mission field: “Serving a mission is like being dipped in a big pot of love.” That is true as it can be. That love that you feel as you're out there serving the Lord is marvelous and testimony strengthening and faith promoting. It's difficult to find words to express how I feel about being able to serve missions, to have my family, and to be on the earth now. It's blessings that you just can't describe. I'm a happy woman.


            </span>
            <!--span id="SEE_MORE"><a href="#" id="restofstory5-show"  onclick="showHide('restofstory5');return false;">SEE MORE</a>
            </span>

            <div id="restofstory5" class="more">
                <span id="ChapterParagraphTwo">
                    We were quite close and spent much time together but I had reservations about feelings for Ken and after a few weeks of dating I pretty well made the decision to return to Seattle to renew a relationship I had left when I came home after graduation. <br /><br />

                    When I told Ken what I was about to do he said, “Well, I will just have to come up there after you because the Lord has let me know you are to be my wife.”  <br /><br />

                    Well, that set me back a bit and after much pondering for awhile decided that I had better give the relationship a bit more time. So I stayed with employment at the doctor's office and continued seeing Ken and not much longer after that we became engaged. Ken put an engagement ring on my finger in that darn green pickup before we went into the stake dance and we were promised to each other.  <br /><br />

                    Had Ken not been there I would surely have made a serious mistake and married the wrong person. Whether Ken’s coming home early from his mission had anything or not to do with how it all turned out we will never really know for sure in this world, but one thing that is for sure, we feel we were guided by the Spirit of our Heavenly Father in our relationship and I am very grateful to know that he helped me to make the right decision about my future. As I look back at it all now I can see the mistake I would have made but at the time it was difficult to rationalize correctly because emotions were in control and it is difficult at times to separate the true, lasting feelings from superficial, emotional responses. <br /><br />

                    We were married in the Idaho Falls temple by John R. Sayer on the 21st of September. The temple was closed for maintenance at that time, so Ken and Uncle Jack took me to the Salt Lake temple to receive my endowment. I was alone with no one to be by my side and it was a very difficult experience for me. My parents were not active in the church at all and no one else was able to go through the temple with me. How different now when many family members support one who is attending for the first time. Later as I served a mission in the Mexico City temple and observed the quiet kindness and attention given to a “primera ves” which is a first endowment I no longer wonder at the nervousness I felt at being alone for what should have been a very spiritual and special experience. The Idaho Falls Temple was actually closed for renovation, but we were able to be married on Sept 21st when it was opened for sealings. A lasting memory. <br /><br />

                    Ken’s Aunt Grace and Aunt Mary made our temple clothing for us so we would have our own right from the first which has been a blessing and inspiration to us all our married life. We have also seen that each of our children have their own complete set of temple clothing when they got married. We hoped the example would carry all through each of their own families and help them to go to the temple frequently. <br /><br />

                    We stopped along the way back home to pick fruit..peaches, etc. to take home to can for our very first food supply. We stayed in a motel somewhere that night because I was so tired and worn completely out after the emotional experiences of that day. Actually the whole experience was not very pleasant to me because I was alone without any help in the temple from family. <br /><br />

                    Our wedding day was a beautiful blue day with lots of sunshine and we had our families with us and it was a lovely day. My wedding dress was a beautiful, ivory satin with a bustle! I loved it and it was and still is a treasure to me. The evening of our wedding we had a reception at Ken’s home and it was very nice. Not too many attended because of my parents’ inactivity in the church and Ken’s family had just moved into their ward in Idaho Falls from the Milo farm but we had much family and it was a beautiful evening. Our wedding cake was designed as near as possible to the I.F. temple. Donna Rasmussen (Cook) and Lois Bacon Packer were my bridesmaids and Leo Avery was Ken’s best man, however, he didn’t show up until way too late so my brother Bart stood with Ken. <br /><br />

                    When it was time to get changed and leave for our honeymoon we had quite a time eluding the “shivaree-ers” and not until many years later did I learn that my Dad had been the chief instigator of the goings-on after the reception! <br /><br />

                    We finally made our escape in Ken’s parents car that we used for our honeymoon travel and spent our first married night in the Colonial Motel in Blackfoot. We then drove on to southern Utah and the parks there and then on to California for our 10 day honeymoon. Not too many photos of that trip…cameras at that day and age were not common for everyone. <br /><br />

                    When we returned from our honeymoon we moved into an apt on J Street in Idaho Falls. A one bedroom apartment with nothing else but a small kitchen at one end with the bedroom at the other end of a short hall and the bathroom in between…the problem being that when we moved in we didn’t know that the bathroom had to be shared with another apartment, so we had to keep the hall door open all the time; the door was between the kitchen and the bedroom, so it was mighty inconvenient and not private at all. We lived there for about a month and then moved out and into another apartment on Elm Street on the 2nd floor but it was nice and it was all ours! We had a private bathroom! I remember that apartment very well…I remember the night that Harry Truman won the presidency even though it had been put in headlines in the papers all over the country that Thomas Dewey had won. I was standing at the ironing board when we heard the news over the radio. <br /><br />
                </span-->

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
            <!--/div-->
            
        </div>

        <%#= image_tag("carma/missionaryservice2/large/personalities COVER.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>

<!-- CHAPTER EIGHT BEGINS -->

   <span class="anchorup"><a name="ch8"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
      <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 8 &nbsp;</span>
            <span id="textspanlichapter13">FAVORITE SCRIPTURES </span><!--span id="textspanlichapter15">a </span><span id="textspanlichapter16">BRANCH </span><span id="textspanlichapter15">in </span><span id="textspanlichapter16">BRIDLINGTON </span-->
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196383705%3Fsecret_token%3Ds-NubUi&amp;color=c5c5c5&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>


        <span id="ChapterQuoteAudio">
        “‘Our light affliction... worketh for us a far more exceeding and eternal weight of glory.’” 
        </span>
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">GREGG LI</span><br /><span id="textspanlichapter24">SON</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>I have some scriptures that have become very special to me. I've been able to memorize them. Because of that they have helped me through much of my life since I've been a student of the Book of Mormon.


<br />
            </span>

            <!--div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                                      
                </ol>    
            </div-->

            <span id="ChapterParagraphTwo">
            
               The first one, the one that is most important to me, tells everything in just these few verses. It tells everything about the gospel, and about ourselves and what we should be doing. I'll share this with you. It's in Mormon 9:27–29. It says, “O then despise not, and wonder not, but hearken unto the words of the Lord, and ask the Father in the name of Jesus for what things soever ye shall stand in need. Doubt not, but be believing, and begin as in times of old, and come unto the Lord with all your heart, and work out your own salvation with fear and trembling before him. Be wise in the days of your probation; strip yourselves of all uncleanness; ask not, that ye may consume it on your lusts, but ask with a firmness unshaken, that ye will yield to no temptation, but that ye will serve the true and living God. See that ye are not baptized unworthily; see that ye partake not of the sacrament of Christ unworthily; but see that ye do all things in worthiness, and do it in the name of Jesus Christ, the Son of the living God; and if ye do this, and endure to the end, ye will in nowise be cast out.”

            </span>
            
            <span id="SEE_MORE"><a href="#" id="restofstory8-show"  onclick="showHide('restofstory8');return false;">SEE MORE</a>
            </span>

            <div id="restofstory8" class="more">
                <span id="ChapterParagraphTwo">
                    I have another one that's in 2 Corinthians 4:17–18. This one is exceptionally one of my favorites. It goes like this: “For our light affliction, which is but for a moment, worketh for us a far more exceeding and eternal weight of glory; While we look not at the things which are seen, but at the things which are not seen: For the things which are seen are temporal; but the things which are not seen are eternal.” <br /><br />

                    Some of these scriptures I've been able to memorize have become very special to me. I treasure them. I treasure each one of them. <br /><br />

                    Another favorite of mine is from Ether 12:4: “Wherefore, whoso believeth in God might with surety hope for a better world, yea, even a place at the right hand of God, which hope cometh of faith, maketh an anchor to the souls of men, which would make them sure and steadfast, always abounding in good works, being led to glorify God.”<br /><br />

                    I'm happy to share those. Those special three scriptures are my favorites. <br /><br />

                    I might mention, too, that while I was in Guatemala on that mission with Kenneth, I memorized the full psalm of Nephi. I'm pleased that I was able to do that. I can still get through two-thirds of it, but it's a little difficult now for the memorization to come. But to be able to memorize that full psalm of Nephi was special to me. It's about 15 or 20 verses. It helped me a lot when we were serving in the mission in Guatemala. It was a very special thing to have that scripture.
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory5-hide" onclick="showHide('restofstory5');return false;">SEE LESS</a>
                </span-->
            </div>
        </div>
            

        <%#= image_tag("carma/missionaryservice2/large/working3x COVER.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>

        

    <div class="bottom-menu">
        <p id="bottommenuli">
        <%= link_to 'HOME', carma_path %> &nbsp; <span id="textspanlichapter15">/</span> &nbsp; <%= link_to 'NEXT EXHIBIT', carma_i_can_do_hard_1_path %> &nbsp;<span id="textspanlichapter15">/</span> &nbsp; <%= link_to 'GUESTBOOK', carma_guestbook_path %><br />
        </p>
    </div>


<!-- Chapter Eight Begins --><!-- Evelyn needs to write this up!!! -->
