<head>
    <!-- show and hide begins -->
    <script>
        function showHide(shID) {
          if (document.getElementById(shID)) {
            if (document.getElementById(shID+'-show').style.display != 'none') {
              document.getElementById(shID+'-show').style.display = 'none';
              document.getElementById(shID).style.display = 'block';
            }
            else {
              document.getElementById(shID+'-show').style.display = 'inline';
              document.getElementById(shID).style.display = 'none';
            }
          }
        }
    </script>
    <!-- show and hide end -->
    <!-- responsive video begins -->
    <script>
            $(document).ready(function () {
                $(".ChapterVideoDiv").fitVids();
            });
    </script>
    <!-- responsive video end -->
    <!-- fancybox begins -->

        <!--script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script--> <!-- this causes fitvids NOT to work. BOO -->
        <link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css" type="text/css" media="screen">
        <script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js"></script>
    <!-- fancybox end -->

<meta name="viewport" content="width=device-width; initial-scale=1.0,maximum-scale = 3.0">

    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '[redacted-g]', 'antho.co');
          ga('send', 'pageview');
    </script>

</head>

<!-- Story Heading Begins -->
        <div id="ThemeCoverPhotoMissionaryservice2" class="clearfix">
            <span id="ThemeTitle">
                <span id="textspanlichapter">MISSIONARY SERVICE I</span><span id="textspanlichapter1"><br /></span><span id="textspanlichapter2">GUATEMALA AND SALT LAKE CITY</span><br />
            </span>
            
            <span id="ChapterSectionIndex"><br/><br/><br/>
                <a href="#ch1">1 </a>&#x2f;<a href="#ch2"> 2 </a>&#x2f;<a href="#ch3"> 3 </a>&#x2f;<a href="#ch4"> 4 </a>&#x2f;<a href="#ch5"> 5 </a>&#x2f;<a href="#ch6"> 6 <!--</a>&#x2f;<a href="#ch7"> 7 </a--><!--&#x2f;<a href="#ch8"> 8 </a> Evelyn needs to finish remarriage temple sealing part -->
            </span>

        </div>

<!-- Story Heading Ends -->

<!-- Chapter 1 Begins -->
        <span class="anchorup"><a name="ch1"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
        <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 1 &nbsp;</span>
            <span id="textspanlichapter13">OUR PATHWAY </span><span id="textspanlichapter15">to a </span><span id="textspanlichapter16">MISSIONARY FAMILY</span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196379812&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>


        <span id="ChapterQuoteAudio">
        “We truly as a family have loved missionary service.”<!--“My patriarchal blessing promises me that if I will be true and faithful to my covenants and set a proper example, my children will honor and revere my name throughout eternity.” -->
        </span>
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">ELLIS LI</span><br /><span id="textspanlichapter24">DAUGHTER</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>Because I was born into a family as the youngest of eleven children, as well as being part of a family that was inactive in the Church, it’s caused me to ponder often the blessings that have come to me because of my own desire to be part of the Church and establish my own testimony of the gospel. <br />
            </span>

            <!--div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    
                    
                </ol>    
            </div-->


            <span id="ChapterParagraphTwo">
                    I went to church as a child and I participated in activities there because that’s where my friends were. I have wonderful memories of Mutual and Sunday School. As a young adult, my memories included particularly the dance program provided by the Church, and the blessings of June Conference and the dance festivals that were held there. I really don’t have any memory of any instance when I doubted that the gospel was true, or that there was a living prophet directing the Church on the earth. I also don’t recall having any sort of a spiritual experience that gave me a certain testimony of the truth of the gospel during those years.
            </span>
            
            <span id="SEE_MORE"><a href="#" id="restofstory1-show"  onclick="showHide('restofstory1');return false;">SEE MORE</a>
            </span>

            <div id="restofstory1" class="more">
                <span id="ChapterParagraphTwo">
                    When I met Ken and came to love him, my desire for a temple marriage increased, and my testimony became stronger, as well as my desire to always be part of the Church and the gospel, and have the gospel as the centermost part of our marriage, and to raise our children so they would be faithful and active so they could develop their own testimonies. <br /><br />

                    When Kenneth and I were called very unexpectedly to serve a mission in the Guatemala City Mission and accepted that call, we served for eighteen months. During the first few weeks there I began to read the Book of Mormon fully. Now that I recall, I don’t think I had ever read that book from cover to cover until that time. When I came to read the last page, a feeling came over me I had not experienced before. The tears came unexpectedly, and I knew then without a doubt that the book was true, and indeed that Christ is the Savior. It’s a feeling I shall never forget.  <br /><br />

                    When Ken and I began our family, one thing we were sure that we wanted was for our sons serve as missionaries. Our desire for this was really strong. I could hardly wait to have a missionary in our family. Mike was nineteen when he chose to serve, and I remember being so excited that when his call came, I ripped open the envelope and read where he would go, and then I went to find him at his work to tell him he was called to the New Zealand Mission. These days moms do not, I repeat, do not open any person’s mission envelope! <br /><br />

                    Marlon was called to the Indonesia Mission. Robert followed and served in Australia. Randy’s call was to Oakland, and we worried more about him being in Oakland than the other three boys being 8,000 miles away. Two very special bonuses have been having our two daughters also serve: Debra in the Italy Rome Mission, and Janet in the Peru Mission.  <br /><br />

                    Janet…that’s a little special experience there as well, because when we were called by Bishop Parkinson, we were totally in shock. We had no clue that he was going to call us. So we called our family and told everyone, and when we told Janet, she said, “They can’t do that! The Church can’t do that! I’m not married yet. You can’t go leave me. I’m coming home this next weekend.” She was going to school at BYU. So she came home and made an appointment with the bishop, and he called her to serve a mission. She was 21 and served in the Peru Mission. We were blessed to serve with her in the MTC for three weeks of our time down there. All three of us were learning Spanish, and it was a wonderful time together.  <br /><br />

                    It seems that we have been blessed to be a missionary family, having all of our children serve, and then Ken and I being blessed to serve together for three missions, and then after Ken left, I was blessed to serve again.  <br /><br />

                    My patriarchal blessing promises me that if I will be true and faithful to my covenants and set a proper example, my children will honor and revere my name throughout eternity. This has been my heart’s desire above everything. Now many of the grandchildren have served as well, and missionary service has been a real blessing in our family. It has been a great blessing in choices of spouses, as well, that our children have made. We truly as a family have loved missionary service, and that has been a tremendous factor in the strengthening of my testimony and the gratitude I feel to the Lord for the blessings he has given to me and to my family.
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
            </div>


                    
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory-hide" onclick="showHide('restofstory');return false;">SEE LESS</a>
                </span-->
            </div>
           
        </div>
        <%= image_tag("carma/missionaryservice1/large/AcceptingcalltoGuatemala-header.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>


<!-- Chapter 2 Begins -->
        <span class="anchorup"><a name="ch2"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
        <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 2 &nbsp;</span>
            <span id="textspanlichapter13">ACCEPTING </span><span id="textspanlichapter15">the </span><span id="textspanlichapter16">CALL </span><span id="textspanlichapter15">to </span><span id="textspanlichapter16">GUATEMALA</span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196381033&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>


        <span id="ChapterQuoteAudio">
        “We both nearly fell off our chairs, we were in such shock.” 
        </span>
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">ELLIS LI</span><br /><span id="textspanlichapter24">DAUGHTER</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>When we received our call to serve in the Guatemala City Mission, it came as a total surprise. Bishop Parkinson called us into his office one day, and we imagined we were going to receive a calling to serve in the ward in some capacity. But as we sat down and he looked at us, he said, “Brother and Sister Bird, I have a feeling that you need to be called to serve a mission.”<br />
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("carma/missionaryservice1/small/AcceptingcalltoGuatemala.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice1/large/AcceptingcalltoGuatemala.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice1/small/AcceptingcalltoGuatemala1.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice1/large/AcceptingcalltoGuatemala1.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice1/small/AcceptingcalltoGuatemala2.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice1/large/AcceptingcalltoGuatemala2.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice1/small/AcceptingcalltoGuatemala3.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice1/large/AcceptingcalltoGuatemala3.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice1/small/AcceptingcalltoGuatemala4.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice1/large/AcceptingcalltoGuatemala4.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice1/small/AcceptingcalltoGuatemala5.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice1/large/AcceptingcalltoGuatemala5.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice1/small/AcceptingcalltoGuatemala6.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice1/large/AcceptingcalltoGuatemala6.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice1/small/AcceptingcalltoGuatemala7.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice1/large/AcceptingcalltoGuatemala7.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice1/small/AcceptingcalltoGuatemala8.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice1/large/AcceptingcalltoGuatemala8.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice1/small/AcceptingcalltoGuatemala9.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice1/large/AcceptingcalltoGuatemala9.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    
                </ol>    
            </div>

            <span id="ChapterParagraphTwo">
                We both nearly fell off our chairs, we were in such shock. We still had Janet, who was not married. She was going to BYU, but she was the only one not married. We also had a business. We had apartment complexes to manage and take care of.  
            </span>
            <span id="SEE_MORE"><a href="#" id="restofstory2-show"  onclick="showHide('restofstory2');return false;">SEE MORE</a>
            </span>

            <div id="restofstory2" class="more">
                <span id="ChapterParagraphTwo">
                    We were totally surprised. But we said, “Of course. Yes, we will serve.” It was something that you just do. To us it was like we had been called to serve in a ward. It was the same thing. We were asked to do something, and we set about to do it. <br /><br />

                    We got our affairs in order. We had someone in the family that was able to come and manage the apartments, and we had some family move into our home and take care of it. We knew that the Lord would take care of things that needed to be done, so we just did it. We accepted the call and said, “Yes. We’ll go.”
 
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
            </div>

        </div>
        <%= image_tag("carma/missionaryservice1/large/UnexpectedrolesinGuatemala-header.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>


<!-- Chapter 3 Begins -->

             <span class="anchorup"><a name="ch3"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>

       <span id="ChapterHeading">

            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 3 &nbsp;</span>
            <span id="textspanlichapter13">UNEXPECTED ROLES </span><span id="textspanlichapter15">in </span><span id="textspanlichapter16">GUATEMALA </span><!--span id="textspanlichapter15">and </span><span id="textspanlichapter13">HOW THEY MET</span-->
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196379656&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>


        <span id="ChapterQuoteAudio">
        “We supposed that they would call us to help people with their agriculture.”
        </span>
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">ALICE CHAU</span><br /><span id="textspanlichapter24">SISTER</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>When we were called to serve in the Guatemala City Mission, Kenneth and I both supposed that they would call us to a mission where he could help the people down there with their agriculture, because he was a farmer and that’s what he knew best. I always supposed that because I was a nurse that I would help in establishing some clinics and work with mother-baby care classes and that sort of thing. 
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("carma/missionaryservice1/small/UnexpectedrolesinGuatemala.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice1/large/UnexpectedrolesinGuatemala.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice1/small/UnexpectedrolesinGuatemala1.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice1/large/UnexpectedrolesinGuatemala1.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice1/small/UnexpectedrolesinGuatemala2.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice1/large/UnexpectedrolesinGuatemala2.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <!--li><%#= link_to image_tag("carma/missionaryservice1/small/UnexpectedrolesinGuatemala3.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice1/large/UnexpectedrolesinGuatemala3.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li-->
                    <li><%= link_to image_tag("carma/missionaryservice1/small/UnexpectedrolesinGuatemala4.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice1/large/UnexpectedrolesinGuatemala4.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice1/small/UnexpectedrolesinGuatemala5.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice1/large/UnexpectedrolesinGuatemala5.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice1/small/UnexpectedrolesinGuatemala6.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice1/large/UnexpectedrolesinGuatemala6.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice1/small/UnexpectedrolesinGuatemala7.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice1/large/UnexpectedrolesinGuatemala7.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice1/small/UnexpectedrolesinGuatemala8.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice1/large/UnexpectedrolesinGuatemala8.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                </ol>    
            </div>

            <span id="ChapterParagraphTwo">
                But when we arrived in Guatemala City, the mission president, President Amado, called us in and he said, “We need someone to go out into the branches and teach them how to keep records and send in their reports, because they’re not doing it. So we want you to go out and do that. You’ve got your car.” We drove to Guatemala in our car and had it with us. We were amazed, because neither Kenneth or I had ever been a secretary or a clerk, and there we were. They gave us that responsibility.



            </span>
            <span id="SEE_MORE"><a href="#" id="restofstory3-show"  onclick="showHide('restofstory3');return false;">SEE MORE</a>
            </span>

            <div id="restofstory3" class="more">
                <span id="ChapterParagraphTwo">
                    We worked with the mission president’s brother for a month, and he took us out to all the branches in the Guatemala City Mission, which was about 20–25 branches we were responsible for. We went out and visited each of the branches, and we had to learn how to do the reports ourselves. We had quite an adventure, because about once a month we would go out and visit those branches and visit with the branch president and teach them how to do the records and make their reports. Oftentimes, we would pull open the file drawer in the branch office, and there would be cobwebs in there because they had not been used. <br /><br />

                    One time we went into one of the branches, and before we could begin our work we had to get a foot-long lizard off the pulpit so we could start. <br /><br />

                    We felt like we were successful in teaching. We learned first and then we taught the presidents in our broken Spanish how to do those reports. When we left, the percentage of reports that were being sent in was way, way high. We felt like we had been blessed to do some good work down there. That was the main thing we were called to do. <br /><br />

                    We had so much adventure in that mission. I smile whenever I think about the Guatemala City Mission. It was special.
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
            </div>
            
        </div>
    <%= image_tag("carma/missionaryservice1/large/ProtectedbytheLord-header.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>


<!-- Chapter Four Begins -->


<span class="anchorup"><a name="ch4"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>

       <span id="ChapterHeading">

            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 4 &nbsp;</span>
            <span id="textspanlichapter13">PROTECTED </span><span id="textspanlichapter15">by the </span><span id="textspanlichapter16">LORD</span><!--span id="textspanlichapter15">and </span><span id="textspanlichapter13">HOW THEY MET</span-->
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196379783&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>


        <span id="ChapterQuoteAudio">
        “We learned while we were in Guatemala that the Lord did watch over us.”
        </span>
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">ALICE CHAU</span><br /><span id="textspanlichapter24">SISTER</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>When we were called down to Guatemala to serve, we were given the assignment to teach record-keeping and how to make reports to the branch presidents, because they did not know. So many of them had not been trained, and they really didn’t know what to do. The percentage of the reports coming in were low, so the president wanted us to go out to the branches to teach them how to do those reports and keep their records up.
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("carma/missionaryservice1/small/ProtectedbytheLord.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice1/large/ProtectedbytheLord.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("carma/missionaryservice1/small/ProtectedbytheLord1.png", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice1/large/ProtectedbytheLord1.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                </ol>    
            </div>

            <span id="ChapterParagraphTwo">
                We had been going out to visit one branch that was way up in the mountains out of Guatemala City. The road up there was a beautiful drive. It was a difficult road, but it was beautiful because there were bougainvillea flowers blossoming up there everywhere. We loved to drive up there and we looked forward to going. We would help the branch president, whoever was there who we could teach, and see if their reports were up to date. Then we would drive down the other side of the mountain. We had to ford a stream in order to get back into the city. 


            </span>
            <span id="SEE_MORE"><a href="#" id="restofstory4-show"  onclick="showHide('restofstory4');return false;">SEE MORE</a>
            </span>

            <div id="restofstory4" class="more">
                <span id="ChapterParagraphTwo">
                    This one particular time we were reporting to President Amado about our visit to the branches, and when we told how we were getting up to this particular branch, he got really upset and he told us we should never go up on that road, that we should go around the other way to get to that branch, because the particular road we had been traveling on had banditos everywhere. It was a very dangerous road. Even the people in Guatemala in that area didn’t go up on that road to get to that branch. <br /><br /> 

                    We said, “President, we’ve been going up there half a dozen times. We’re perfectly safe. We’re okay.” He said, “Don’t ever go up there again by that road. You take the other road and go around the other way.” We laughed. The President did not laugh; we kind of smiled a little bit, but we obeyed. The next time we went back, we took the other road, and we had to ford a stream to cross it, so we didn’t really enjoy it. If we had gone the other way we wouldn’t have had to cross that stream two times. The way we wanted to go we only had to cross it once.<br /><br /> 

                    One thing we learned while we were in Guatemala was that the Lord did watch over us. We had experiences where we could have been in danger, but because of choices that we made and the whisperings of the Spirit, we made the right choice, even if President Amado had to help us make that choice. <br /><br /> 

                    One other time that was kind of a humorous experience was when we were in Guatemala City. The guerillas were very active in that area. Guatemala City had a lot of distress. The presidential home had sandbags all around it, and there was military guarding the presidential home all of the time. As we traveled throughout the area, oftentimes when we would come closer into Guatemala City, we would be stopped by the police. They would pull us over to the side of the road, and we would have to get out of our car. They would inspect our car. They would look in the trunk and in the motor and everything to see if there was anything that we were doing wrong. That was something that happened quite often. <br /><br /> 

                    Later in the mission, they didn’t even stop us. If we stopped and rolled down the window, they’d ask us some questions. They could see that our Spanish was not very good. We told them we were missionaries, so they would just wave us on. One rather funny thing that happened one time was we were going out to a zone meeting with President Amado and one of his assistants. They were in the car ahead of us, and Elder Bird and I were following in our car. We came to one point in the road. The president’s car had been stopped by the military, and they were out of the car, he and the elder, and they were being inspected bodily, as well as their car. They practically took the car apart to see if there was anything in there that shouldn’t be. We pulled up and we could see what was happening. The policeman came over and we rolled down our window and we told him who we were. He said, “You just go on. No problemo. Just go ahead.” <br /><br /> 

                    When we got down to where we were having our zone meeting, I went to President Amado and I said, “Presidente, if you ever need any help in any difficulty, you just come to Elder Bird and I, and we will help you.”<br /><br /> 

                    We learned that we were watched over carefully. Our blessings were great down there. We had no fear, even though the military checked us time and time again. We had no fear at all. We felt totally safe. We knew we were being watched over. We had a wonderful experience in that mission. As I reflect back on those times, they’re some of my very choicest memories.
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
            </div>
            
        </div>


    <%= image_tag("carma/missionaryservice1/large/UnexpectedrolesinGuatemala3.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>
        





<!-- Chapter Five Begins -->

        
       <span class="anchorup"><a name="ch5"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>

       <span id="ChapterHeading">

            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 5 &nbsp;</span>
            <span id="textspanlichapter13">THE FLEA</span><span id="textspanlichapter15">and </span><span id="textspanlichapter16">ME </span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196379716&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>


        <span id="ChapterQuoteAudio">
        “My sanity is fleeing, / My patience worn thin, / Soon I’ll be headed / For the looney bin.”
        </span>
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">ALICE CHAU</span><br /><span id="textspanlichapter24">SISTER</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>
                    Alas! and Alack! <br />
                    And woe is me!<br />
                    My poor old bod<br />
                    Is overcome by the flea.<br /><br />
                     
                    Four or five here,<br />
                    Eight or ten there. <br />
                    Horrors!<br />
                    I think they’re in my hair!<br /><br />
                     
                    From whence do they come,<br />
                    Those little beasts—<br />
                    Unseen and unheard<br />
                    They begin their feast.<br /><br />
                     
                    The elbow, the thigh<br />
                    The back, the ear.<br />
                    To be eaten alive<br />
                    Is my greatest fear!<br /><br />
                     
                    I scratch, I rub<br />
                    I dig and then pray.<br />
                    Please help me, someone.<br />
                    Take them away!<br /><br />
                     
                    My sanity is fleeing,<br />
                    My patience worn thin,<br />
                    Soon I’ll be headed<br />
                    For the looney bin.<br /><br />
                     
                    What shall I do<br />
                    My problem is great.<br />
                    This unseen enemy<br />
                    Won’t eat any of my mate!<br /><br />
                     
                    My esposo just stands there,<br />
                    No bites at all<br />
                    While on me the monsters<br />
                    Are having a ball!<br /><br />
                     
                     
                    Ah, ha!…now hear this…<br />
                    A solution we meet.<br />
                    I’ll don a rubber suit<br />
                    From my head to the feet!<br /><br />
                     
                    Then as the creatures leap <br />
                    From my “friends” to me <br />
                    They’ll bounce right off <br />
                    From my body and me!<br /><br />
                     
                    Then my joy will be full.<br />
                    My revenge will be sweet <br />
                    The flea is defeated<br />
                    My tormentors, they are beat!<br /><br />
                     
                    Ah, life will be good<br />
                    And once more I’ll sing…<br />
                    OH, NO…here they come <br />
                    With a ladder and swing!<br /><br />
                     
                    Oh, well, I surrender!<br />
                    My cause, it is lost. <br />
                    Until I return<br />
                    To the land of the frost!<br /><br />
                     
                    Then with joy and delight <br />
                    And with peals of laughter, <br />
                    To “them”—fare thee well! <br />
                    For ever and after!


            </span>

            <!--div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                       
                </ol>    
            </div-->

            <!--span id="ChapterParagraphTwo">
                We thought, “Well, if we're called, I guess we'd go again.” <br /><br /> 

                So she said, “Would you come to England?” <br /><br /> 

                I said, “Well, I don't know. I guess we would!” <br /><br /> 

                She said, “Our mission president over here said if you would come, he would see that you receive a call to come to England. They need couple missionaries in his mission.” <br /><br /> 

                I talked it over with Kenneth and we decided yes. We would serve another mission happily. So the paperwork was done, and before very long our call came in the mail, and we were called to serve for eighteen months in the England Leeds Mission. We were excited! We were excited especially to go to England, because that's where our daughter and her family lived. It was a wonderful mission. We enjoyed it, we learned a lot, and we had a very special experience over there. 


            </span-->
            <!--span id="SEE_MORE"><a href="#" id="restofstory5-show"  onclick="showHide('restofstory5');return false;">SEE MORE</a>
            </span>

            <div id="restofstory5" class="more">
                <span id="ChapterParagraphTwo">
                    We were quite close and spent much time together but I had reservations about feelings for Ken and after a few weeks of dating I pretty well made the decision to return to Seattle to renew a relationship I had left when I came home after graduation. <br /><br />

                    When I told Ken what I was about to do he said, “Well, I will just have to come up there after you because the Lord has let me know you are to be my wife.”  <br /><br />

                    Well, that set me back a bit and after much pondering for awhile decided that I had better give the relationship a bit more time. So I stayed with employment at the doctor's office and continued seeing Ken and not much longer after that we became engaged. Ken put an engagement ring on my finger in that darn green pickup before we went into the stake dance and we were promised to each other.  <br /><br />

                    Had Ken not been there I would surely have made a serious mistake and married the wrong person. Whether Ken’s coming home early from his mission had anything or not to do with how it all turned out we will never really know for sure in this world, but one thing that is for sure, we feel we were guided by the Spirit of our Heavenly Father in our relationship and I am very grateful to know that he helped me to make the right decision about my future. As I look back at it all now I can see the mistake I would have made but at the time it was difficult to rationalize correctly because emotions were in control and it is difficult at times to separate the true, lasting feelings from superficial, emotional responses. <br /><br />

                    We were married in the Idaho Falls temple by John R. Sayer on the 21st of September. The temple was closed for maintenance at that time, so Ken and Uncle Jack took me to the Salt Lake temple to receive my endowment. I was alone with no one to be by my side and it was a very difficult experience for me. My parents were not active in the church at all and no one else was able to go through the temple with me. How different now when many family members support one who is attending for the first time. Later as I served a mission in the Mexico City temple and observed the quiet kindness and attention given to a “primera ves” which is a first endowment I no longer wonder at the nervousness I felt at being alone for what should have been a very spiritual and special experience. The Idaho Falls Temple was actually closed for renovation, but we were able to be married on Sept 21st when it was opened for sealings. A lasting memory. <br /><br />

                    Ken’s Aunt Grace and Aunt Mary made our temple clothing for us so we would have our own right from the first which has been a blessing and inspiration to us all our married life. We have also seen that each of our children have their own complete set of temple clothing when they got married. We hoped the example would carry all through each of their own families and help them to go to the temple frequently. <br /><br />

                    We stopped along the way back home to pick fruit..peaches, etc. to take home to can for our very first food supply. We stayed in a motel somewhere that night because I was so tired and worn completely out after the emotional experiences of that day. Actually the whole experience was not very pleasant to me because I was alone without any help in the temple from family. <br /><br />

                    Our wedding day was a beautiful blue day with lots of sunshine and we had our families with us and it was a lovely day. My wedding dress was a beautiful, ivory satin with a bustle! I loved it and it was and still is a treasure to me. The evening of our wedding we had a reception at Ken’s home and it was very nice. Not too many attended because of my parents’ inactivity in the church and Ken’s family had just moved into their ward in Idaho Falls from the Milo farm but we had much family and it was a beautiful evening. Our wedding cake was designed as near as possible to the I.F. temple. Donna Rasmussen (Cook) and Lois Bacon Packer were my bridesmaids and Leo Avery was Ken’s best man, however, he didn’t show up until way too late so my brother Bart stood with Ken. <br /><br />

                    When it was time to get changed and leave for our honeymoon we had quite a time eluding the “shivaree-ers” and not until many years later did I learn that my Dad had been the chief instigator of the goings-on after the reception! <br /><br />

                    We finally made our escape in Ken’s parents car that we used for our honeymoon travel and spent our first married night in the Colonial Motel in Blackfoot. We then drove on to southern Utah and the parks there and then on to California for our 10 day honeymoon. Not too many photos of that trip…cameras at that day and age were not common for everyone. <br /><br />

                    When we returned from our honeymoon we moved into an apt on J Street in Idaho Falls. A one bedroom apartment with nothing else but a small kitchen at one end with the bedroom at the other end of a short hall and the bathroom in between…the problem being that when we moved in we didn’t know that the bathroom had to be shared with another apartment, so we had to keep the hall door open all the time; the door was between the kitchen and the bedroom, so it was mighty inconvenient and not private at all. We lived there for about a month and then moved out and into another apartment on Elm Street on the 2nd floor but it was nice and it was all ours! We had a private bathroom! I remember that apartment very well…I remember the night that Harry Truman won the presidency even though it had been put in headlines in the papers all over the country that Thomas Dewey had won. I was standing at the ironing board when we heard the news over the radio. <br /><br />
                </span-->

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
            <!--/div-->
            
        </div>

            <%= image_tag("carma/missionaryservice1/large/Ourmissionatchurchheadquarters-header.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>
        

<!-- CHAPTER SIX -->


        <span class="anchorup"><a name="ch6"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
        <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 6 &nbsp;</span>
            <span id="textspanlichapter13">OUR MISSION </span><span id="textspanlichapter15">at </span><span id="textspanlichapter16">CHURCH HEADQUARTERS</span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196379818&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>


        <span id="ChapterQuoteAudio">
        “The Church was beginning to use the computer system for family history.” 
        </span>
        <div id="ChapterText" class="clearfix">
            <!--span id="ChapterByline">
            <span id="textspanlichapter22">ELLIS LI</span><br /><span id="textspanlichapter24">DAUGHTER</span>
            </span-->

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText"></span>Our mission call to the Family History Mission in Salt Lake City was a volunteer calling. Kenneth’s sister had planned to go down and serve in that mission, and she asked us if we would be interested in going at the same time she went. We said, “Yes, we’d be happy to do that.” We sent our papers in and we received our call to serve in the Family History Mission in Salt Lake City, and we served for six months. 

<br /><br/>
            </span>

            
                <%= link_to image_tag("carma/missionaryservice1/large/Ourmissionatchurchheadquarters.jpg", :class => "vidvid"), "https://dqp5htr9jmxmj.cloudfront.net/assets/carma/missionaryservice1/large/Ourmissionatchurchheadquarters.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                       
            


            <span id="ChapterParagraphTwo">
                   It was a happy mission, and we enjoyed doing it. We had many other couples that were there. One thing we especially enjoyed was each morning there would be a devotional in the Visitor’s Center on Temple Square. My memories of that mission are very pleasant. 


            </span>
            
            <span id="SEE_MORE"><a href="#" id="restofstory6-show"  onclick="showHide('restofstory6');return false;">SEE MORE</a>
            </span>

            <div id="restofstory6" class="more">
                <span id="ChapterParagraphTwo">
                    Our work was quite different. Kenneth worked in the Family History Library itself, and my work was in the Church Office Building. We would walk down the hill, and he’d go one direction and I’d go in the other direction. <br /><br />

                    We could see that the Church was beginning to use the computer system for family history recording, and it was an interesting mission. Seeing now what has happened with the family history program in the Church, it’s a good feeling to know that you were there when it first began to move forward.
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
            </div>


                    
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory-hide" onclick="showHide('restofstory');return false;">SEE LESS</a>
                </span-->
            </div>
           
        </div>
        <%= image_tag("carma/missionaryservice1/large/Pathwaytomissionaryfamily-header.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>




        

    <div class="bottom-menu">
        <p id="bottommenuli">
        <%= link_to 'HOME', carma_path %> &nbsp; <span id="textspanlichapter15">/</span> &nbsp; <%= link_to 'NEXT EXHIBIT', carma_missionary_service_2_path %> &nbsp;<span id="textspanlichapter15">/</span> &nbsp; <%= link_to 'GUESTBOOK', carma_guestbook_path %><br /><br /><br />
        </p>
    </div>


<!-- Chapter Eight Begins --><!-- Evelyn needs to write this up!!! -->
