    <head>
	<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0">
    </head>
    <body>

        <div id="Museum_Cover_Photo_Mod" class="clearfix">
            <span id="Subject_Name_Mod">
            EVELYN LI
            </span>
            <div id="Subtitle_Container" class="clearfix">
                <%= image_tag("evelyn/menu/arrow motif left.png", :id => "arrow_motif_left", :class => "image")  %>
                <span id="Museum_Subtitle_Mod">
                Living History Museum
                </span>
                <%= image_tag("evelyn/menu/arrow motif right.png", :id => "arrow_motif_right", :class => "image")  %>
            </div>
        </div>
        <p id="Sponsorship_Mod">
        Sponsored by Norman Cheung
        </p>
        <div id="Watercolor" class="clearfix">
            <div id="Row_1_Container" class="clearfix">
                <a style="display:block" href="<%= evelyn_hardship_path %>">
                    <div id="Exhibit_Container" class="clearfix">
                        <%= image_tag("evelyn/menu/Exhibit Photo Mod.png", :id => "Exhibit_Photo_Mod", :class => "image")  %>
                        <div id="Exhibit_Rectangle_Mod" class="clearfix">
                            <p id="Exhibit_Title_Mod">
                            Hardship
                            </p>
                            <p id="Exhibit_Subtitle_Mod">
                            The Climb out of Poverty
                            </p>
                        </div>
                    </div>
                </a>
                <a style="display:block" href="<%= evelyn_faith_path %>">
                    <div id="Exhibit_Container_copy_2" class="clearfix">
                        <%= image_tag("evelyn/menu/Exhibit 2 Photo Mod.png", :id => "Exhibit_2_Photo_Mod", :class => "image")  %> 
                        <div id="Exhibit_2_Rectangle_Mod" class="clearfix">
                            <p id="Exhibit_2_Title_Mod">
                            Faith
                            </p>
                            <p id="Exhibit_2_Subtitle_Mod">
                            Changing through Conversion
                            </p>
                        </div>
                    </div>
                </a>
                <a style="display:block" href="<%= evelyn_motherhood_1_path %>">
                    <div id="Exhibit_Container_copy_3" class="clearfix">
                        <%= image_tag("evelyn/menu/Motherhood_I_Menu_Photo.png", :id => "Motherhood_I_Menu_Photo", :class => "image")  %> 
                        <div id="Rectangle_11" class="clearfix">
                            <p id="Motherhood_1">
                            Motherhood 1
                            </p>
                            <p id="Parenting_as_a_Working_Widow">
                            Parenting as a Working Widow
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div id="Row_2_Container" class="clearfix">
                <a style="display:block" href="<%= evelyn_purpose_path %>">
                    <div id="Exhibit_Container1" class="clearfix">
                        <%= image_tag("evelyn/menu/political speech.png", :id => "Exhibit_Photo_Mod1", :class => "image")  %> 
                        <div id="Exhibit_Rectangle_Mod1" class="clearfix">
                            <p id="Exhibit_Title_Mod1">
                            Purpose
                            </p>
                            <p id="Exhibit_Subtitle_Mod1">
                            Driving Out Darkness
                            </p>
                        </div>
                    </div>
                </a>
                <a style="display:block" href="<%= evelyn_motherhood_2_path %>">
                    <div id="Exhibit_Container_copy_21" class="clearfix">
                        <%= image_tag("evelyn/menu/tea ceremony.png", :id => "Exhibit_2_Photo_Mod1", :class => "image")  %> 
                        <div id="Exhibit_2_Rectangle_Mod1" class="clearfix">
                            <p id="Exhibit_2_Title_Mod1">
                            Motherhood II
                            </p>
                            <p id="Exhibit_2_Subtitle_Mod1">
                            Raising Righteous Children
                            </p>
                        </div>
                    </div>
                </a>
                <a style="display:block" href="<%= evelyn_descendants_path %>">
                    <div id="Exhibit_Container_copy_31" class="clearfix">
                        <%= image_tag("evelyn/menu/Exhibit 6 Photo Mod.png", :id => "Motherhood_I_Menu_Photo1", :class => "image")  %> 
                        <div id="Rectangle_11" class="clearfix">
                            <p id="Motherhood_11">
                            Descendants
                            </p>
                            <p id="Parenting_as_a_Working_Widow1">
                            My Hopes for Them
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div id="Row_3_Container" class="clearfix">
                <a style="display:block" href="<%= evelyn_family_tree_path %>">
                    <div id="Exhibit_Container2" class="clearfix">
                        <%= image_tag("evelyn/menu/Family Photo.png", :id => "Exhibit_Photo_Mod2", :class => "image")  %>
                        <div id="Exhibit_Rectangle_Mod2" class="clearfix">
                            <p id="Exhibit_Title_Mod2">
                            Family Tree
                            </p>
                            <p id="Exhibit_Subtitle_Mod2">
                            Links &amp; Relations
                            </p>
                        </div>
                    </div>
                </a>
                <a style="display:block" href="<%= evelyn_timeline_path %>">
                    <div id="Exhibit_Container_copy_22" class="clearfix">
                        <%= image_tag("evelyn/menu/4HowWeMet.png", :id => "Exhibit_2_Photo_Mod2", :class => "image")  %>
                        <div id="Exhibit_2_Rectangle_Mod2" class="clearfix">
                            <p id="Exhibit_2_Title_Mod2">
                            Timeline   
                            </p>
                            <p id="Exhibit_2_Subtitle_Mod2">
                            Chronology of Events
                            </p>
                        </div>
                    </div>
                </a>
                <a style="display:block" href="<%= evelyn_guestbook_path %>">
                    <div id="Exhibit_Container_copy_32" class="clearfix">
                        <%= image_tag("evelyn/menu/Guestbook_Menu_Photo.png", :id => "Motherhood_I_Menu_Photo2", :class => "image")  %> 
                        <div id="Rectangle_12" class="clearfix">
                            <p id="Motherhood_12">
                            Guestbook
                            </p>
                            <p id="Parenting_as_a_Working_Widow2">
                            Contribute Your Story
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div id="Mod_Menu_Bottom" class="clearfix">
            <div id="MWL_Box_Mod" class="clearfix">
                <%= image_tag("evelyn/menu/arrow motif left.png", :id => "arrow_motif_left_copy", :class => "image")  %> 
                <p id="MWL_black">
                MADE WITH LOVE by ANTHO
                </p>
                <%= image_tag("evelyn/menu/arrow motif right.png", :id => "arrow_motif_right_copy", :class => "image")  %>
            </div>
        </div>

    </body>