

    <head>


    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 3.0">

    </head>

<body>

        <span id="In_Exhibit_Title_Mod">
        FAMILY TREE
        </span>
        <div id="boxmodex_familytree" class="clearfix">
            <%= image_tag("evelyn/menu/arrow motif left.png", :id => "exhibit_top_arrow_motif_left", :class => "image")  %>
            <span id="In_Exhibit_Subtitle_Mod">
            Links and Relations
            </span>
            <%= image_tag("evelyn/menu/arrow motif right.png", :id => "exhibit_top_arrow_motif_right", :class => "image")  %>
        </div>
        <div id="boxmodex1" class="clearfix">
            <span id="Previous_Exhibit_Link_Mod"><a href="<%= evelyn_descendants_path %>">
            previous exhibit</a> 
            </span>
            <span id="Next_Exhibit_Link_Mod"><a href="<%= evelyn_timeline_path %>">
            next exhibit</a>
            </span>
        </div>


<div class="lifamilytree">
<!--div id="familytreemosaic"-->
        <%= image_tag("evelyn/FamilyTree/Large/EvelynFamilyTree.png", :id => "LiFamilyTree", :class => "image") %>
        <%#= image_tag("li/tree/litree1.png", :id => "LiFamilyTree1", :class => "image") %>
        <%#= image_tag("li/tree/litree2.png", :id => "LiFamilyTree2", :class => "image") %>
        <%#= image_tag("li/tree/litree3.png", :id => "LiFamilyTree3", :class => "image") %>
        <%#= image_tag("li/tree/litree4.png", :id => "LiFamilyTree4", :class => "image") %>
        <%#= image_tag("li/tree/litree5.png", :id => "LiFamilyTree5", :class => "image") %>
        <%#= image_tag("li/tree/litree6.png", :id => "LiFamilyTree6", :class => "image") %>
        <%#= image_tag("li/tree/litree7.png", :id => "LiFamilyTree7", :class => "image") %>
</div>

        <div id="boxmodex1" class="clearfix">
            <span id="Previous_Exhibit_Link_Mod"><a href="<%= evelyn_descendants_path %>">
            previous exhibit</a> 
            </span>
            <span id="Next_Exhibit_Link_Mod"><a href="<%= evelyn_timeline_path %>">
            next exhibit</a>
            </span>
        </div>

        <div id="boxmodex4" class="clearfix">
            <%= image_tag("evelyn/menu/arrow motif left.png", :id => "arrow_motif_left1", :class => "image")  %>
            <span id="Home_Link_Mod"><a href="<%= evelyn_path %>">
            HOME</a>
            </span>
             <%= image_tag("evelyn/menu/arrow motif right.png", :id => "arrow_motif_right1", :class => "image")  %>
        </div>