

    <head>


    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 3.0">

    <script>
            $(document).ready(function () {
                $(".ChapterVideoMod").fitVids();
            });

    </script>

    <!-- fancybox begins -->

        <!--script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script--> <!-- this causes fitvids NOT to work. BOO -->
        <link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css" type="text/css" media="screen">
        <script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js"></script>
    <!-- fancybox end -->
    </head>

<body>

        <span id="In_Exhibit_Title_Mod">
        DESCENDANTS
        </span>
        <div id="boxmodex_descendants" class="clearfix">
            <%= image_tag("evelyn/menu/arrow motif left.png", :id => "exhibit_top_arrow_motif_left", :class => "image")  %>
            <span id="In_Exhibit_Subtitle_Mod">
            MY HOPES FOR THEM
            </span>
            <%= image_tag("evelyn/menu/arrow motif right.png", :id => "exhibit_top_arrow_motif_right", :class => "image")  %>
        </div>
        <div id="boxmodex1" class="clearfix">
            <span id="Previous_Exhibit_Link_Mod"><a href="<%= evelyn_motherhood_2_path %>">
            previous exhibit</a> 
            </span>
            <span id="Next_Exhibit_Link_Mod"><a href="<%= evelyn_family_tree_path %>">
            next exhibit</a>
            </span>
        </div>


<!-- CHAPTER ONE -->

        
        <div id="Gallery_Strip" class="clearfix">
            <ol class="GalleryPicsMod">
                
                    <li><%= link_to image_tag("evelyn/Descendants/Smaller/0DreamsforPosterity1.jpg", :id => "Pic_1_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/evelyn/Descendants/Large/0DreamsforPosterity1.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("evelyn/Descendants/Smaller/0DreamsforPosterity2.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/evelyn/Descendants/Large/0DreamsforPosterity2.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("evelyn/Descendants/Smaller/0DreamsforPosterity3.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/evelyn/Descendants/Large/0DreamsforPosterity3.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("evelyn/Descendants/Smaller/0DreamsforPosterity4.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/evelyn/Descendants/Large/0DreamsforPosterity4.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("evelyn/Descendants/Smaller/0DreamsforPosterity5.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/evelyn/Descendants/Large/0DreamsforPosterity5.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("evelyn/Descendants/Smaller/0DreamsforPosterity6.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/evelyn/Descendants/Large/0DreamsforPosterity6.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("evelyn/Descendants/Smaller/0DreamsforPosterity7.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/evelyn/Descendants/Large/0DreamsforPosterity7.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("evelyn/Descendants/Smaller/0DreamsforPosterity8.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/evelyn/Descendants/Large/0DreamsforPosterity8.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("evelyn/Descendants/Smaller/0DreamsforPosterity9.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/evelyn/Descendants/Large/0DreamsforPosterity9.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("evelyn/Descendants/Smaller/0DreamsforPosterity10.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/evelyn/Descendants/Large/0DreamsforPosterity10.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("evelyn/Descendants/Smaller/0DreamsforPosterity11.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/evelyn/Descendants/Large/0DreamsforPosterity11.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("evelyn/Descendants/Smaller/0DreamsforPosterity12.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/evelyn/Descendants/Large/0DreamsforPosterity12.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("evelyn/Descendants/Smaller/0DreamsforPosterity13.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/evelyn/Descendants/Large/0DreamsforPosterity13.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("evelyn/Descendants/Smaller/0DreamsforPosterity14.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/evelyn/Descendants/Large/0DreamsforPosterity14.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("evelyn/Descendants/Smaller/0DreamsforPosterity15.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/evelyn/Descendants/Large/0DreamsforPosterity15.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("evelyn/Descendants/Smaller/0DreamsforPosterity16.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/evelyn/Descendants/Large/0DreamsforPosterity16.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("evelyn/Descendants/Smaller/0DreamsforPosterity17.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/evelyn/Descendants/Large/0DreamsforPosterity17.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("evelyn/Descendants/Smaller/0DreamsforPosterity18.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/evelyn/Descendants/Large/0DreamsforPosterity18.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("evelyn/Descendants/Smaller/0DreamsforPosterity19.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/evelyn/Descendants/Large/0DreamsforPosterity19.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("evelyn/Descendants/Smaller/0DreamsforPosterity20.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/evelyn/Descendants/Large/0DreamsforPosterity20.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("evelyn/Descendants/Smaller/0DreamsforPosterity21.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/evelyn/Descendants/Large/0DreamsforPosterity21.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("evelyn/Descendants/Smaller/0DreamsforPosterity22.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/evelyn/Descendants/Large/0DreamsforPosterity22.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("evelyn/Descendants/Smaller/0DreamsforPosterity23.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/evelyn/Descendants/Large/0DreamsforPosterity23.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("evelyn/Descendants/Smaller/0DreamsforPosterity24.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/evelyn/Descendants/Large/0DreamsforPosterity24.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("evelyn/Descendants/Smaller/0DreamsforPosterity25.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/evelyn/Descendants/Large/0DreamsforPosterity25.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("evelyn/Descendants/Smaller/0DreamsforPosterity26.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/evelyn/Descendants/Large/0DreamsforPosterity26.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("evelyn/Descendants/Smaller/0DreamsforPosterity27.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/evelyn/Descendants/Large/0DreamsforPosterity27.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("evelyn/Descendants/Smaller/0DreamsforPosterity28.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/evelyn/Descendants/Large/0DreamsforPosterity28.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("evelyn/Descendants/Smaller/0DreamsforPosterity29.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/evelyn/Descendants/Large/0DreamsforPosterity29.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("evelyn/Descendants/Smaller/0DreamsforPosterity30.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/evelyn/Descendants/Large/0DreamsforPosterity30.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("evelyn/Descendants/Smaller/0DreamsforPosterity31.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/evelyn/Descendants/Large/0DreamsforPosterity31.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("evelyn/Descendants/Smaller/0DreamsforPosterity32.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/evelyn/Descendants/Large/0DreamsforPosterity32.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("evelyn/Descendants/Smaller/0DreamsforPosterity33.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/evelyn/Descendants/Large/0DreamsforPosterity33.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("evelyn/Descendants/Smaller/0DreamsforPosterity34.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/evelyn/Descendants/Large/0DreamsforPosterity34.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("evelyn/Descendants/Smaller/0DreamsforPosterity.jpg", :id => "Pic_2_Gallery_Mod"), "https://dqp5htr9jmxmj.cloudfront.net/assets/evelyn/Descendants/Large/0DreamsforPosterity.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                </ol>   
        </div>
        <div id="boxmodex2" class="clearfix">
            <span id="Chapter_Title_Mod">
            Thoughts for My Posterity
            </span>
            <span id="Contributor_Name_Mod">
            Evelyn Li
            </span>
            <span id="First_Paragraph_Mod">
            My dream is that my children will have equal opportunity, like everybody else in America. My dream is to have a country that will be successful and follow God’s path, so God will protect it. My dream is to not have any war for my children. I don’t want them to have to sacrifice their lives and worry constantly about security from foreign countries. My dream is for them to be able to have a family, to have children, to be able to share the gospel with each other, to walk God’s path, to remember God. My dream is to have them live in an environment that they can easily access God, instead of living in Sodom and Gomorrah, which blinds their eyes. <br />
            </span>
            <div id="boxmodex3" class="clearfix">
                <div class="ChapterVideoDivMod">
                    <div class="ChapterVideoMod">
                        <iframe src="//player.vimeo.com/video/119499859" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
                <span id="Chapter_Quote_Mod">
                “My dream is for them to be able to have a family, to have children, to be able to share the gospel with each other, to walk God’s path, to remember God.”
                </span>
            </div>
            <span id="Second_Paragraph_Mod">However, God has a plan, and I never know what God’s plan is, so if my children realize how much God loves them, and believe in God and follow his doctrines, and come back to heaven, that’s ultimately what our life is all about - to live this life getting deceived, but ultimately choose the path to come back to heaven and our Heavenly Father.<br /><br /> 
            </span>

            <span id="Exclusive_Quote_Mod">
             ”I want my children to have wisdom and intelligence, to be able to make the right choice to go back to heaven. Then we can all be happily living forever with each other in heaven.“
            </span>

            <span id="Second_Paragraph_Mod">
            I want them to appreciate the love of God and the excitement of knowing God. So what I did was help them learn about the Gospel. When my children were young, I took them to church and constantly exposed them to the Gospel, to the music, hoping that they would appreciate the spiritual part of the world.  <br /><br />

            I also want them to be successful in this world, meaning I want them to live a good life that they will feel proud of, to have achievement, that they will feel they were born to this earth to achieve. For example, if they are born to be a lawyer, they will be a lawyer. If they are born to be a carpenter, they will be a good carpenter. If they are born to be an engineer, they could build a spaceship. Something that is not going to retard them or deprive them of that opportunity.
            </span>

            <div id="boxmodex3" class="clearfix">
                <div class="ChapterVideoDivMod">
                    <div class="ChapterVideoMod">
                        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/189859558&amp;color=d3d1d0&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                    </div>
                </div>
            </div>

            <span id="Second_Paragraph_Mod">
            I remember when I was growing up in Hong Kong, it was impossible to have that dream, because looking at the country being run by the mafia, there was no way we could have that. I want my children to have the opportunity, like me, to go to a good school, have good educations, and achieve the dream that they want to achieve. <br /><br /> 

            That’s one of the reasons why I ran for U.S. Congress District 17 in 2012. America was in debt $14 trillion. What that means is that each individual, as of now, owes somebody $30,000. With that in mind, when our children grow up, all they’re going to be doing is paying somebody’s debt. They’re not going to have the opportunity that I had. They’re not going to be able to go to college. They’re not going to be able to go to medical or law school. Our land will be owned by somebody, some foreigners. That sparked me to run for Congress. I don’t want the dream to be suffocated for our future generations. That’s one aspect of it. <br /><br />
            </span>

            <span id="Exclusive_Quote_Mod">
             ”I want [my descendants] to feel the joy of success.“
            </span>

            <span id="Second_Paragraph_Mod">
            The other aspect is morality. When I was growing up, gay marriage was hardly mentioned. But now it’s being legalized all over the place. The looseness in morality actually can cause the downfall of many civilizations. It has been in the past and it will be in the future. It is something that I don’t want our children to suffer. In order to have a prosperous nation and future generation, we have to respect God, and respecting Him means following His commandments. No matter how smart we are, we are still under the control of nature, the control of the universe, the control of deity. If we don’t see that simple equation, we are doomed to fail. How could we ever live when the earth is rocking, when the planet is burning? Where is our future? There is no future.  <br /><br />

            That’s why I spent a lot of my time campaigning, even after being a doctor. I want to speak my voice to an audience or to anybody to remind them of the love of God, to remind them that we have to respect God. To remind them that we have to live a clean life. To remind them that they need to have a future. And for us, to grow in the next generations. That is my dream for my descendants: to prosper. 

            </span>

        </div>



<!-- BOTTOM OF PAGE -->

        <div id="boxmodex1" class="clearfix">
            <span id="Previous_Exhibit_Link_Mod"><a href="<%= evelyn_motherhood_2_path %>">
            previous exhibit</a> 
            </span>
            <span id="Next_Exhibit_Link_Mod"><a href="<%= evelyn_family_tree_path %>">
            next exhibit</a>
            </span>
        </div>

        <div id="boxmodex4" class="clearfix">
            <%= image_tag("evelyn/menu/arrow motif left.png", :id => "arrow_motif_left1", :class => "image")  %>
            <span id="Home_Link_Mod"><a href="<%= evelyn_path %>">
            HOME</a>
            </span>
             <%= image_tag("evelyn/menu/arrow motif right.png", :id => "arrow_motif_right1", :class => "image")  %>
        </div>
</body>