<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale = 1, maximum-scale = 2, user-scalable=1" />
    <script src="//use.typekit.net/[redacted-a].js"></script>
    <script>try{Typekit.load();}catch(e){}</script>    
    <style type="text/css">
      @-moz-document url-prefix() {
        @media only screen and (max-width: 2927px) {
          #imagew {
              margin-top: 5px;
          }
        }
        @media only screen and (max-width: 1220px) {
          #boxw16 {
              margin-top: -160px;
          }
        }
      }
    </style>
    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '[redacted-g]', 'antho.co');
          ga('send', 'pageview');
    </script>
</head>

<body>
<%= render 'shared/public_header' %>
    <%# if signed_in? %>

      <!--div id="boxzz">
      <div id="textspanaaa"> Featured Story </div>
      <br><br>
      <%#= link_to image_tag("rainforestpaint.png", :size => "960x720", :id => "rainforestpaint", :class => "image"), randybird_path %>
      
      <br><br><br>
      <div id="textspanaaaa"> More Stories Coming Soon </div>
      <br><br><br><br><br>
      </div-->

    <%# else %>

       
        
            <div id="boxw1" class="clearfix">
                <div id="boxw2" class="clearfix">
                    <div id="boxw3" class="clearfix">
                        <div id="boxw4" class="clearfix">
                        </div>
                        <div id="boxw5" class="clearfix">
                            <span id="Bring_your_family_story_to_life">
                            Bring your family story to life
                            </span>
                            <p id="Celebrate_their_lives_with_an_interactive_online_museum_">
                            Celebrate their lives with an interactive online museum 
                            </p>
                        </div>
                        <div id="boxw6" class="clearfix">
                        </div>
                    </div>
                </div>
                <div id="boxw7" class="clearfix">
                    <p id="•_preserve_cherish_your_priceless_memories_today_•_send_">
                    preserve & cherish your <br />  priceless memories today<br /><br /><br />send us everything & <br />  we’ll curate it for you<br /><br /><br />inspire the next generation with <br />  captivating online narratives<br /><br />
                    </p>
                    <p id="•_give_your_family_a_voice_a_face_through_audio_and_film_">
                    give your family a voice & a face <br />  through audio and film<br /><br /><br />share your museum with <br />  everyone or just family<br /><br /><br />continue to add stories long<br />  after the museum is built
                    </p>
                </div>
                <%= image_tag("line 1.png", :id => "line_1", :class => "image") %>
                <p id="Steps">
                Steps
                </p>


        <div id="boxsteps" class="clearfix">
            <div id="boxsteps1" class="clearfix">
                <div id="boxsteps2" class="clearfix">
                    <div id="boxsteps3" class="clearfix">
                    </div>
                </div>
                <div id="boxsteps4" class="clearfix">
                    <div id="boxsteps5" class="clearfix">
                    </div>
                </div>
                <div id="boxsteps6" class="clearfix">
                    <div id="boxsteps7" class="clearfix">
                    </div>
                </div>
            </div>
            <div id="boxsteps8" class="clearfix">
                <div id="boxsteps9" class="clearfix">
                    <p id="textsteps">
                    Meet<br />With Us
                    </p>
                </div>
                <div id="boxsteps10" class="clearfix">
                    <p id="textsteps1">
                    Gather<br />Your Media
                    </p>
                </div>
                <div id="boxsteps11" class="clearfix">
                    <p id="textsteps2">
                    Let Us<br />Do the Rest
                    </p>
                </div>
            </div>
            <div id="boxsteps12" class="clearfix">
            </div>
            <div id="boxsteps13" class="clearfix">
                <div id="boxsteps14" class="clearfix">
                    <p id="textsteps3">
                    Free Consultation to Discuss<br />options, timeline, & pricing
                    </p>
                </div>
                <div id="boxsteps15" class="clearfix">
                    <p id="textsteps4">
                    Collect photos, videos, &<br />stories you already have
                    </p>
                </div>
                <div id="boxsteps16" class="clearfix">
                    <p id="textsteps5">
                    Relax, while we tackle<br /><a href="http://www.antho.co/method" id="textstepsspan">the hard stuff</a>
                    </p>
                </div>
                <div id="boxsteps17" class="clearfix">
                </div>
            </div>
            <div id="boxsteps18" class="clearfix">
            </div>
            <div id="boxsteps19" class="clearfix">
            </div>
        </div>


        <div id="displaynone">
                <div id="boxw8" class="clearfix">
                    <div id="boxw9" class="clearfix">
                    </div>
                    <p id="Meet_with_Us">
                    Meet<br />with Us
                    </p>
                    <div id="boxw10" class="clearfix">
                        <div id="boxw11" class="clearfix">
                        </div>
                        <div id="boxw12" class="clearfix">
                            <div id="boxw13" class="clearfix">
                                <p id="free_consultation_to_discuss_options_timeline_pricing">
                                free consultation to discuss<br />options, timeline, & pricing
                                </p>
                            </div>
                        </div>
                        <div id="boxw14" class="clearfix">
                        </div>
                    </div>
                    <div id="boxw15" class="clearfix">
                    </div>
                    <p id="Gather_Your_Media">
                    Gather <br />Your Media
                    </p>

                    

                    <div id="boxw26" class="clearfix">
                        <div id="boxw27" class="clearfix">
                        </div>
                        <div id="boxw28" class="clearfix">
                            <div id="Boxw" class="clearfix">
                                <p id="collect_photos_videos_stories_you_already_have1">
                                collect photos, videos, &<br />stories you already have
                                </p>
                            </div>
                        </div>
                        <div id="boxw29" class="clearfix">
                        </div>
                    </div>
                    <div id="boxw30" class="clearfix">
                    </div>
                    <p id="Let_Us_Take_Care_of_the_Rest1">
                    Let Us <br />Do the Rest
                    </p>
                    <div id="boxw31" class="clearfix">
                        <div id="boxw32" class="clearfix">
                        </div>
                        <div id="Boxw1" class="clearfix">
                            <div id="Boxw2" class="clearfix">
                                <a id="Relax_While_we_tackle_the_hard_stuff_1" href="<%= method_path %>" target="_blank">
                                <span id="textspanw3">Relax, While we tackle <br /></span><span id="textspanw4">the hard stuff</span><span id="textspanw5">.<br /></span>
                                </a>
                            </div>
                        </div>
                        <div id="boxw33" class="clearfix">
                        </div>
                    </div>
                  </div>
            </div>

                <%= image_tag("line 2.png", :id => "imagew1", :class => "image") %>
                <p id="Sample_Museum">
                Featured Museum
                </p>
                <%= link_to image_tag("dsintro2.png", :id => "rainforest", :class => "image"), salmon_path %>
                <a id="boxw34" href="<%= contact_path %>" class="clearfix">
                    <p id="CONTACT_USw">
                    CONTACT US
                    </p>
                </a>
            </div>
        <div id="boxx1" class="clearfix">
            
                <!--p id="Antho_Antho_provi des_services_and_products_to_help_you_preserv"-->
                <p id="landingtext">
                
                <span id="textspanx5">Set Your Story Free</span><span id="textspanx9"><br /><br /></span>
        
                <span id="textspanz2">Preserving a life story can be a daunting experience. The standard novel-length memoir is often too long and intimidating for most people to write -- and for most people to read. Obituary-length biographies are generally too short, conveying more of what people were instead of who they were. Commonly, the work is delayed until a more convenient time.<br /><br />

                Meanwhile, unwritten memories steadily and irreversibly fade. Even for the most coherent of us, illness can set in and death can be unexpected. Memories, left unrecorded, are fragile, ephemeral, in danger of vanishing. <br /><br />

                And yet, our rapidly accumulating repositories of digital photos, home videos, and audio clips have become more of a complicated technical hindrance than a pleasant stroll through our past. <br /><br />

                What if the act of remembering were different? Like entering the walls of a curated museum? What if it were more immersive, less encumbered, and infused with greater meaning? What if our most priceless relics in shoeboxes, envelopes, journals, and hard drives were made easily accessible and delightful to peruse?<br /><br />

                That’s where we come in, tying all the loose ends of your grand heritage together. Through a custom website that we build and maintain, your life story is set free to inspire both friends and family.<br /><br />
                </span>

                </p> <br /><br />
            </div>
        </div>
                
        

    <%# end %>

 </body>


