<head>
    <!-- show and hide begins -->
    <script>
        function showHide(shID) {
          if (document.getElementById(shID)) {
            if (document.getElementById(shID+'-show').style.display != 'none') {
              document.getElementById(shID+'-show').style.display = 'none';
              document.getElementById(shID).style.display = 'block';
            }
            else {
              document.getElementById(shID+'-show').style.display = 'inline';
              document.getElementById(shID).style.display = 'none';
            }
          }
        }
    </script>
    <!-- show and hide end -->
    <!-- responsive video begins -->
    <script>
            $(document).ready(function () {
                $(".ChapterVideoDiv").fitVids();
            });
    </script>
    <!-- responsive video end -->
    <!-- fancybox begins -->

        <!--script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script--> <!-- this causes fitvids NOT to work. BOO -->
        <link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css" type="text/css" media="screen">
        <script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js"></script>
    <!-- fancybox end -->

<meta name="viewport" content="width=device-width; initial-scale=1.0,maximum-scale = 3.0">

    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '[redacted-g]', 'antho.co');
          ga('send', 'pageview');
    </script>

</head>

<!-- Story Heading Begins -->
        <div id="ThemeCoverPhotoGrace" class="clearfix">
            <span id="ThemeTitle">
                <span id="textspanlichapter">GRACE</span><span id="textspanlichapter1"><br /></span><span id="textspanlichapter2">AN ATYPICAL LOVE STORY</span><br />
            </span>
            
            <span id="ChapterSectionIndex"><br/><br/><br/>
                <a href="#ch1">1 </a>&#x2f;<a href="#ch2"> 2 </a>&#x2f;<a href="#ch3"> 3 </a>&#x2f;<a href="#ch4"> 4 </a>&#x2f;<a href="#ch5"> 5 </a>&#x2f;<a href="#ch6"> 6 </a>&#x2f;<a href="#ch7"> 7 </a><!--&#x2f;<a href="#ch8"> 8 </a> Evelyn needs to finish remarriage temple sealing part -->
            </span>

        </div>

<!-- Story Heading Ends -->

<!-- Chapter 1 Begins -->
        <span class="anchorup"><a name="ch1"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
        <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 1 &nbsp;</span>
            <span id="textspanlichapter13">THEIR CHILDHOOD </span><span id="textspanlichapter15">in the </span><span id="textspanlichapter16">MOTHERLAND</span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe src="//player.vimeo.com/video/113120001" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>


        <span id="ChapterQuote">
        “My mother went karaoke one day, and...she ran into my father. They both enjoyed to sing. She thought he was handsome.” 
        </span>
        <div id="ChapterText" class="clearfix">
            <span id="ChapterByline">
            <span id="textspanlichapter22">ELLIS LI</span><br /><span id="textspanlichapter24">DAUGHTER</span>
            </span>

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText">W</span>hen my father was growing up, they had a really large lychee garden. His father was quite wealthy back then. His father had many wives, three or four of them. He would say, when he was young, there was so much money, he’d have this bag of money he’d always bring with him to go out and play. But during the war, the Japanese invaded their land, and as teenagers, he and his siblings all fled to Hong Kong. It was then and there that he took care of all his siblings, his two younger brothers and sister. He began to work for the movie theaters, by painting these enormous posters for them, advertising the films. He started to make a good amount of money, and he had his brother help him out. They started designing labels for milk bottles, for Coca-cola soda bottles, and he would create these dolls that stores placed in storefronts and windows to welcome customers. <br />
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("li/grace/small/childhood.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/childhood.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/childhood1.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/childhood1.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/childhood2.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/childhood2.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/childhood3.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/childhood3.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/childhood4.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/childhood4.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/childhood5.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/childhood5.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/childhood6.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/childhood6.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/childhood7.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/childhood7.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/childhood8.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/childhood8.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/childhood9.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/childhood9.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/childhood10.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/childhood10.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/childhood11.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/childhood11.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/childhood12.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/childhood12.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/childhood13.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/childhood13.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/childhood14.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/childhood14.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/childhood15.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/childhood15.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/childhood16.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/childhood16.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/childhood17.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/childhood17.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/childhood18.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/childhood18.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/childhood19.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/childhood19.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/childhood20.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/childhood20.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/childhood21.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/childhood21.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/childhood22.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/childhood22.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/childhood23.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/childhood23.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/childhood24.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/childhood24.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/childhood25.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/childhood25.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/childhood26.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/childhood26.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/childhood27.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/childhood27.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/childhood28.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/childhood28.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/childhood29.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/childhood29.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/childhood30.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/childhood30.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/childhood31.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/childhood31.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>                    
                    <li><%= link_to image_tag("li/grace/small/childhood32.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/childhood32.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/childhood33.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/childhood33.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/childhood34.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/childhood34.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/childhood35.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/childhood35.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                </ol>    
            </div>

            <span id="ChapterParagraphTwo">
            My mother went karaoke one day, and that was when she ran into my father. They both enjoyed to sing. She thought he was handsome. After getting to know each other, they were married.   
            </span>
            <span id="SEE_MORE"><a href="#" id="restofstory-show"  onclick="showHide('restofstory');return false;">SEE MORE</a>
            </span>

            <div id="restofstory" class="more">
                <span id="ChapterParagraphTwo">
                    He worked with a certain client on advertisements that made him quite a bit of money. Then he started working with restaurants, in helping them design advertisements, and create illustrations. 
                    <br /><br />

                    When I was really small, I remember sitting in the middle seat of his motorcycle, and he would take me everywhere on it. 
                    <br /><br />

                    My mother was born in Hong Kong, whereas my father was born in the mainland. My mother’s father sailed boats, and always brought home food from the ocean, for my mother to cook. She was a wonderful home chef. My mother’s mother, my grandmother, would always help take care of us grandkids. She would help others sew Chinese dresses (cheongsam), and was very skilled and made a living as a seamstress. 
                    <br /><br />

                    At that time, my uncles and aunts and cousins (such as Debbie and Fanny) and us would all live under one roof, in Wanchai, Happy Valley area. When we would go to school, we would just go downstairs and buy some sticky rice to eat. My mother would also go to work. My father was drafting advertisements, creating movie posters. Life was difficult at the time because he would love to gamble, and my mother would love to play mahjong. So I wouldn’t say that life was fine, even though they were employed—because with all this gambling, life was made more difficult.
                    <br /><br />
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory-hide" onclick="showHide('restofstory');return false;">SEE LESS</a>
                </span-->
            </div>
           
        </div>
        <%= image_tag("li/grace/movinggambling COVER.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>


<!-- Chapter 2 Begins -->
        <span class="anchorup"><a name="ch2"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
        <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 2 &nbsp;</span>
            <span id="textspanlichapter13">GAMBLING </span><span id="textspanlichapter15">and </span><span id="textspanlichapter16">MOVING</span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe src="//player.vimeo.com/video/113120003" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>


        <span id="ChapterQuote">
        “He always wanted to strike it rich, and obtain money he didn’t have to work for.” 
        </span>
        <div id="ChapterText" class="clearfix">
            <span id="ChapterByline">
            <span id="textspanlichapter22">ELLIS LI</span><br /><span id="textspanlichapter24">DAUGHTER</span>
            </span>

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText">A</span>ll the time, my father would go to Macau to gamble. Then, he would not have money to pay the rent. So we would have to leave the place we rented, and move elsewhere. Basically, he had a difficult time overcoming this habit, and controlling himself. He always wanted to strike it rich, and obtain money he didn’t have to work for. He always talked about wanting to strike it rich. It was his desire, but he didn’t take into account how improbable that all was. When he got older, he still never had a lot money; he struggled his whole life with that.<br />
            </span>

        </div>
        <%= image_tag("li/grace/endearment COVER.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>


<!-- Chapter 3 Begins -->
       <span class="anchorup"><a name="ch3"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
       <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 3 &nbsp;</span>
            <span id="textspanlichapter13">A SINGULAR TERM </span><span id="textspanlichapter15">of &nbsp;</span><span id="textspanlichapter16">ENDEARMENT </span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/186093351%3Fsecret_token%3Ds-Lvgao&amp;color=c8c8c8&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>


        <span id="ChapterQuote">
        “‘老家伙’ is like calling your husband ‘Old Fogey.’”
        </span>
        <div id="ChapterText" class="clearfix">
            <span id="ChapterByline">
            <span id="textspanlichapter22">KAREN LI</span><br /><span id="textspanlichapter24">DAUGHTER-IN-LAW</span>
            </span>

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText">I</span>'ve known Gong Gong and Popo since 1981. The first time I met them was in Fresno, when they were living there. One thing I will always remember is what Popo called Gong Gong. She gave him a nickname in Cantonese: 老家伙 (pronounced “Lo Ga Fo”) “老家伙” is like calling your husband "Old Fogey." On one hand, it's like she's complaining, "Old Man," and on the other hand it's a very fond name, because they were very close to each other. I haven't called Gregg "Old Fogey" yet, but maybe someday I will.  <br />
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <!--span class="GalleryTitle">
                G<br/>A<br/>L<br/>L<br/>E<br/>R<br/>Y
                </span-->
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("li/grace/small/endearment1.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/endearment1.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/endearment2.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/endearment2.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/endearment3.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/endearment3.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/endearment4.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/endearment4.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>          
                </ol>    
            </div>
            
        </div>
<%= image_tag("li/grace/addictiondivorce COVER.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>
        

<!-- Chapter Four Begins -->


       <span class="anchorup"><a name="ch4"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>

       <span id="ChapterHeading">

            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 4 &nbsp;</span>
            <span id="textspanlichapter13">DIVORCE </span><span id="textspanlichapter15">in </span><span id="textspanlichapter13">NAME ONLY </span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe src="//player.vimeo.com/video/113120053" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>


        <span id="ChapterQuote">
        "...Her actions and behavior all pointed to how much she really cares about him."
        </span>
        <div id="ChapterText" class="clearfix">
            <span id="ChapterByline">
            <span id="textspanlichapter22">ALICE CHAU</span><br /><span id="textspanlichapter24">SISTER</span>
            </span>

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText">T</span>he things I remember are probably rather trivial, for example, when I came to visit from Hawaii, I already knew Lisa and Jim were divorced. Jim had taken a liking towards gambling, and Lisa detested it. She felt he was addicted to it. From a perspective of debt, a life of that sort had its trials. My sister went to work, and she felt her husband was gambling all her earnings away. <br />
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("li/grace/small/addictiondivorce1.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/addictiondivorce1.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/addictiondivorce2.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/addictiondivorce2.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/addictiondivorce3.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/addictiondivorce3.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/addictiondivorce4.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/addictiondivorce4.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/addictiondivorce5.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/addictiondivorce5.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>    
                </ol>    
            </div>

            <span id="ChapterParagraphTwo">
            
                Then later, I heard about the divorce, and I thought, what a pity. They were living in Oakland at the time, and each of them lived in a different level of the same apartment building. When I came to visit from Hawaii, Jim was still dead-set on gambling. One minute, Lisa would use her mouth to scold Jim, and the other minute, Lisa would invite him down to drink tea. So everytime we would go to lunch, they would come together as one. I told her, you always say he’s this and that, how come you care so much about him? But I guess that should be the case. So lunch, dinner, whatever it was, all three of us would go together. 
 
            </span>
            <span id="SEE_MORE"><a href="#" id="restofstory4-show"  onclick="showHide('restofstory4');return false;">SEE MORE</a>
            </span>

            <div id="restofstory4" class="more">
                <span id="ChapterParagraphTwo">
                    When I would come to California to visit, I would come over to the third floor to Jim’s apartment and watch television with them, listen to the radio, or just talk. And Jim, he had gotten older, and started having problems with his foot, and yet he was very self-reliant. But then Lisa would go over to his place, and help pick up his things for him, telling him not to take the bus with his foot being the way it is. But so many seniors take the bus to the casinos, because they can spend the day gambling, eating the buffets, and playing happily. And as long as you didn’t gamble so intensely, there wouldn’t be any problems. But Jim, he’s a bit more enthusiastic in his gambling, perhaps it’s in his feeling around morality or justice—he was always saying he was going to win back what he spent—all day he said he was going to make a killing. 
                    <br /><br />

                    With his old age in mind, it could be argued that it was not a terrible way to spend your time. But Lisa didn’t like to gamble; she liked to play mahjong. So, many times, when I would come to visit, we would play mahjong together, but I would resist playing such large bets. I would be willing, two by two, I’d play with them. They’d be very happy. Then she wanted to apply for a senior home for me, so we can all be close together, and be happy. 
                    <br /><br />

                    It was so odd, Lisa would say she disliked Jim, but then also take such good care of him. It was ironic. We would think, why get a divorce? It would only make sense if she really didn't like him. But her actions and behavior all pointed to how much she really cares about him. 
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
            </div>
            
            </div>
        <%= image_tag("li/menu/GraceMenuSmall.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>

<!-- Chapter Five Begins -->

        <span class="anchorup"><a name="ch5"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
        <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 5 &nbsp;</span>
            <span id="textspanlichapter13">SERVE </span><span id="textspanlichapter15">without </span><span id="textspanlichapter16">EXPECTING RETURNS </span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>

        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe src="//player.vimeo.com/video/114207438" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>

        <span id="ChapterQuote">
        "From this saying, I’ve always felt that she had a lot of love in her."
        </span>

        <div id="ChapterText" class="clearfix">
            <span id="ChapterByline">
            <span id="textspanlichapter22">ELLIS LI</span><br /><span id="textspanlichapter24">DAUGHTER</span>
            </span>
            </span>

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText">M</span>y mother would always say, "When you help others, you can’t expect them to always return the favor." From this saying, I’ve always felt that she had a lot of love in her. When it came to my father, she had a tremendous amount of hope.  
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("li/grace/small/noreturn1.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/noreturn1.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/noreturn2.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/noreturn2.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/noreturn3.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/noreturn3.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/noreturn4.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/noreturn4.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/noreturn5.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/noreturn5.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>                                      
                </ol>    
            </div>

                <span id="ChapterParagraphTwo">
            
                    From an achievement point of view, when she had a fantasy and desire to do something, she would immediately do it; she didn’t like to wait. She was a very direct individual, and did things very quickly. She had a lot of hope, a lot of faith, and this blessed her throughout her life.  
 
                </span>
        </div>

        <%= image_tag("li/grace/personalities COVER.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>

<!-- Chapter Six Begins -->

    <span class="anchorup"><a name="ch7"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
      <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 6 &nbsp;</span>
            <span id="textspanlichapter13">HIS LOUD PERSONALITY</span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe src="//player.vimeo.com/video/113120049" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>


        <span id="ChapterQuote">
        “When I told my mother that I missed him, she pointed out that what we missed was his love for others.""
        </span>
        <div id="ChapterText" class="clearfix">
            <span id="ChapterByline">
            <span id="textspanlichapter22">ELLIS LI</span><br /><span id="textspanlichapter24">DAUGHTER</span>
            </span>

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText">W</span>hen I was really young, my father would speak really loudly, and be incredibly frightening. So much so, that the entire street could hear him talk. He also really liked to tell jokes, and was very witty and charming. <br />
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("li/grace/small/personalities1.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/personalities1.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/personalities2.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/personalities2.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/personalities3.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/personalities3.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                </ol>    
            </div>
            <span id="ChapterParagraphTwo">
             
               When he left us, we all missed his humor, and the spirit of happiness he brought with him. When I told my mother that I missed him, she pointed out that what we missed was his love for others. He had so much love. When we were in his presence, we’d feel very comfortable, we’d feel loved. We felt that he constantly cared about us. 
 
            </span>

            
                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory5-hide" onclick="showHide('restofstory5');return false;">SEE LESS</a>
                </span-->
            </div>
        </div>
            

        <%= image_tag("li/grace/travails COVER.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>

        
<!-- Chapter Seven Begins -->

    <span class="anchorup"><a name="ch8"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
      <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 7 &nbsp;</span>
            <span id="textspanlichapter13">PERSEVERANCE </span><span id="textspanlichapter15">through &nbsp;</span><span id="textspanlichapter16">TRIALS </span><span id="textspanlichapter15">and &nbsp;</span><span id="textspanlichapter16">TRAVAILS</span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe src="//player.vimeo.com/video/113120052" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>


        <span id="ChapterQuote">
        “...Popo held herself well and with such elegance. Oftentimes I find myself wanting to emulate her strength.” 
        </span>
        <div id="ChapterText" class="clearfix">
            <span id="ChapterByline">
            <span id="textspanlichapter22">KIMBERLI CHEUNG</span><br /><span id="textspanlichapter24">GRANDDAUGHTER</span>
            </span>

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText">P</span>opo is my grandma, and I admire her for her strength and her perseverance. I can only imagine the hardships that she went through raising her children under the limited financial circumstances she was in when she was married with four kids. It's interesting to me that she didn't have someone to tell her, "Stay strong. Be patient with your husband. Be patient with your kids." Nothing like that. She just believed in it herself that one day, all of this hard work was going to pay off. She didn't have religion at that time. She didn't have a belief or faith until much, much later—right before she passed away. It amazes me that she had such perseverance through the trials she went through in her marriage and raising children.  <br />
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("li/grace/small/travails1.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/travails1.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/travails2.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/travails2.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/travails3.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/travails3.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/travails4.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/travails4.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/travails5.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/travails5.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/travails6.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/travails6.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/travails7.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/travails7.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/travails8.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/travails8.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/travails9.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/travails9.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/travails11.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/travails11.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/grace/small/travails12.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/grace/travails12.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>                    
                </ol>    
            </div>

            <span id="ChapterParagraphTwo">
            
               Later she was asked to help raise the three of us, my brothers and I, when my dad passed away and my mom had to go back to school and work. I had the opportunity to see Popo in a motherly role with us. I always saw her as being patient, and she was really patient with her husband. She never yelled. I don't know how she did it, because her husband, my grandfather, could say some rude things, things that really pushed people's buttons and that are humiliating and embarrassing in public. But Popo held herself well and with such elegance. Oftentimes I find myself wanting to emulate her strength. I don't know where she got that from, but I admire it and her ability to be resilient to the characters around her, like the type of people that push all of her buttons, and who push everyone else's buttons. Because I'm in the same family, I understand! 
 
            </span>
            
        </div>

        <%= image_tag("li/grace/travails COVER 2.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>


        <div id="gueststories" class="clearfix">
         
            <% @anthology_items = Micropost.where(:topic => 'An Atypical Love Story') %>
            <% @identity = "151" %>
            <% @subject_matter = 'An Atypical Love Story' %>
            <div id="x" >
                <%= render 'shared/guest_stories_li_pages' %>
            </div>
        </div>

    <div class="bottom-menu">
        <p id="bottommenuli">
        <%= link_to 'HOME', li_path %> &nbsp; <span id="textspanlichapter15">/</span> &nbsp; <%= link_to 'NEXT EXHIBIT', li_spirituality_path %> &nbsp;<span id="textspanlichapter15">/</span> &nbsp; <%= link_to 'GUESTBOOK', li_guestbook_path %><br />
        </p>
    </div>


<!-- Chapter Eight Begins --><!-- Evelyn needs to write this up!!! -->
