<head>
    <!-- show and hide begins -->
    <script>
        function showHide(shID) {
          if (document.getElementById(shID)) {
            if (document.getElementById(shID+'-show').style.display != 'none') {
              document.getElementById(shID+'-show').style.display = 'none';
              document.getElementById(shID).style.display = 'block';
            }
            else {
              document.getElementById(shID+'-show').style.display = 'inline';
              document.getElementById(shID).style.display = 'none';
            }
          }
        }
    </script>
    <!-- show and hide end -->
    <!-- responsive video begins -->
    <script>
            $(document).ready(function () {
                $(".ChapterVideoDiv").fitVids();
            });
    </script>
    <!-- responsive video end -->
    <!-- fancybox begins -->

        <!--script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script--> <!-- this causes fitvids NOT to work. BOO -->
        <link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css" type="text/css" media="screen">
        <script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js"></script>
    <!-- fancybox end -->
        <meta name="viewport" content="width=device-width; initial-scale=1.0,maximum-scale = 3.0">

    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '[redacted-g]', 'antho.co');
          ga('send', 'pageview');
    </script>

</head>

<!-- Story Heading Begins -->
        <div id="ThemeCoverPhotoProgress3" class="clearfix">
            <span id="ThemeTitle">
                <span id="textspanlichapter">PROGRESS III</span><span id="textspanlichapter1"><br /></span><span id="textspanlichapter2">PROSPERITY IN POSTERITY</span><br />
            </span>
            
            <span id="ChapterSectionIndex"><br/><br/><br/>
                <a href="#ch1">1 </a>&#x2f;<a href="#ch2"> 2 </a>&#x2f;<a href="#ch3"> 3 </a>&#x2f;<a href="#ch4"> 4 </a>&#x2f;<a href="#ch5"> 5 </a>
            </span>

        </div>

<!-- Story Heading Ends -->

<!-- Chapter 1 Begins -->
        <span class="anchorup"><a name="ch1"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
        <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 1 &nbsp;</span>
            <span id="textspanlichapter13">TO </span><span id="textspanlichapter15">the </span><span id="textspanlichapter16">MAINLAND </span><span id="textspanlichapter18">and &nbsp;</span><span id="textspanlichapter20">BEYOND</span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe src="//player.vimeo.com/video/114207331" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>


        <span id="ChapterQuote">
        “The tipping point for the family was when the kids began to get jobs.” 
        </span>
        <div id="ChapterText" class="clearfix">
            <span id="ChapterByline">
            <span id="textspanlichapter22">GREGG LI</span><br /><span id="textspanlichapter24">SON</span>
            </span>

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText">W</span>e went to Fresno in 1982. Uncle John, who is my father's brother, Iso, said, "Why don't you come out to Fresno? There's an opportunity to have your own restaurant."  The restaurant was called "Cathay. " They all went out to Fresno, and I was there for a couple months to help them start out. That was a tipping point for them, because they left Hawaii. Hawaii had been the first stop. It wasn't easy for them to leave, but they came to a new apartment, a new restaurant, and they were working together. Day and night they would work and prepare food. It wasn't a dim sum restaurant, but a Chinese take-out restaurant, where they made a lot of dishes.<br />
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("li/progress_three/small/turningpoint1.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/turningpoint1.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/turningpoint2.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/turningpoint2.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/turningpoint3.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/turningpoint3.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/turningpoint4.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/turningpoint4.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/turningpoint5.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/turningpoint5.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/turningpoint6.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/turningpoint6.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/turningpoint7.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/turningpoint7.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/turningpoint8.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/turningpoint8.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/turningpoint9.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/turningpoint9.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/turningpoint10.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/turningpoint10.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/turningpoint11.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/turningpoint11.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/turningpoint12.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/turningpoint12.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/turningpoint13.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/turningpoint13.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/turningpoint14.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/turningpoint14.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/turningpoint15.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/turningpoint15.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/turningpoint16.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/turningpoint16.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/turningpoint17.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/turningpoint17.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/turningpoint18.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/turningpoint18.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/turningpoint19.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/turningpoint19.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/turningpoint20.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/turningpoint20.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/turningpoint21.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/turningpoint21.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/turningpoint22.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/turningpoint22.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/turningpoint23.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/turningpoint23.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                </ol>    
            </div>

            <span id="ChapterParagraphTwo">
            That was the first time we were close to Uncle John's family, because Fresno is like a hometown: very small, middle of nowhere, and the main things happening are down Blackstone and Water Street Square. It's an agricultural town. They were there for a few years.   
            </span>
            <span id="SEE_MORE"><a href="#" id="restofstory-show"  onclick="showHide('restofstory');return false;">SEE MORE</a>
            </span>

            <div id="restofstory" class="more">
                <span id="ChapterParagraphTwo">
                    The tipping point for the family was when the kids began to get jobs. One of my jobs was in Washington, D.C., and I said, "Why don't you come and live with us?" They drove the Honda across America for the first time. They always wanted to do that, but never had. They also wanted to take the Greyhound and dreamed about going around America. So they drove the Honda and I met them down in Washington, D.C. For once, they had a place to live and didn't have to pay rent. But my mom said, "We gotta do some work. This is kind of boring, sitting around." She went to look for a job. My father went across the street and into a Chinese restaurant. He would go in and get along very quickly because he's been there, and since he knows how difficult it is to hire a cook, he knows he's going to get a job. He got a job but had a little accident. He fell and broke his arm, so that stopped. At that time, Evelyn said, "We need your help in California.” Alan wasn't doing well, they had three kids, and they needed my mom. They flew back to California, and that's where they settled for a long time. It was their last place. 
                    <br /><br />

                    When they left Hawaii they started improving their financial well-being. They were at a stage when they didn't have to worry that much, because they didn't have to pay for rent or our food costs. But they also wanted to work and keep busy. I think Mom tried some part-time jobs in Sacramento, but I'm not sure. I do know she helped Evelyn build her business. Gong Gong loved gambling, so he would take any excuse, jump on a Greyhound, and go see Las Vegas. He had his dream, using the Greyhound and gambling a bit. 
                    <br /><br />

                    They liked the United States, and they had a new family: Alex, Jonathan, and Kimberli. California was a different world for them, and they learned to like it so much, they never went back to Hawaii. Because they were so far away, I saw Gong Gong less and less. 
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory-hide" onclick="showHide('restofstory');return false;">SEE LESS</a>
                </span-->
            </div>
           
        </div>
        <%= image_tag("li/progress_three/ppp COVER.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>


<!-- Chapter 2 Begins -->
        <span class="anchorup"><a name="ch2"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
        <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 2 &nbsp;</span>
            <span id="textspanlichapter13">PERSEVERANCE, PERSISTENCE, </span><span id="textspanlichapter15">and </span><span id="textspanlichapter16">POTENTIAL</span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe src="//player.vimeo.com/video/112441093" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>


        <span id="ChapterQuote">
        “Another thing that I really appreciate about my parents: they taught me how good we are. We were born to be good.” 
        </span>
        <div id="ChapterText" class="clearfix">
            <span id="ChapterByline">
            <span id="textspanlichapter22">EVELYN LI</span><br /><span id="textspanlichapter24">DAUGHTER</span>
            </span>

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText">I</span>want to share with you the values they instilled in us. One was diligence; another was perseverance. And another was not giving up easily—persistence. I used that, and that was why I was able to be a doctor. They never gave up. They saw life as a breeze.<br />
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("li/progress_three/small/ppp.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/ppp.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/ppp1.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/ppp1.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/ppp2.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/ppp2.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/ppp3.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/ppp3.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/ppp4.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/ppp4.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/ppp5.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/ppp5.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/ppp6.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/ppp6.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/ppp7.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/ppp7.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/ppp8.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/ppp8.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/ppp9.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/ppp9.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/ppp10.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/ppp10.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/ppp11.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/ppp11.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/ppp12.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/ppp12.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/ppp13.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/ppp13.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/ppp14.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/ppp14.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/ppp15.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/ppp15.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/ppp16.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/ppp16.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/ppp17.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/ppp17.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/ppp18.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/ppp18.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/ppp19.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/ppp19.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/ppp20.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/ppp20.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/ppp21.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/ppp21.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/ppp22.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/ppp22.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/ppp23.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/ppp23.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/ppp24.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/ppp24.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/ppp25.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/ppp25.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/ppp26.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/ppp26.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/ppp27.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/ppp27.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/ppp28.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/ppp28.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/ppp29.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/ppp29.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/ppp30.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/ppp30.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/ppp31.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/ppp31.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>                    
                    <li><%= link_to image_tag("li/progress_three/small/ppp32.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/ppp32.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/ppp33.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/ppp33.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/ppp34.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/ppp34.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                </ol>    
            </div>

            <span id="ChapterParagraphTwo">
            
                Persistence and perseverance are a little different in my opinion. Persistence is when you keep doing something regardless of what the result is. Perseverance is when you hang in there and hang in there; there is hope at the end of the tunnel. And my parents had both of them. Because of those virtues I learned from them, I was able to be a doctor eventually. There were hard times that I went through learning how to be a doctor, going through internship and residency—it was a very difficult time. By learning from their characters, I was able to suppress and conquer that. I learned not to worry about the end; just keep doing it. Do what you think is right. Throughout all of my life I have been confronted with difficult experiences and adversity, and with those virtues in the back of my mind, I have been able to use them and conquer those experiences. I feel that those are very, very valuable lessons that I learned from them.

 
            </span>
            <span id="SEE_MORE"><a href="#" id="restofstory2-show"  onclick="showHide('restofstory2');return false;">SEE MORE</a>
            </span>

            <div id="restofstory2" class="more">
                <span id="ChapterParagraphTwo">
                    There's another thing that I really appreciate about my parents. They taught me how good we are. We were born to be good. We were born to be special. It doesn't matter how bad the world is; we're special spirits that came down on earth. There's a mission for us. Every time we fall down or when I fall down, I remember that sentence: “There's a special mission that you have in your future." We may not know what it is, but God knows. That was one thing that propelled me to keep moving forward. My dad would constantly remind me, "You are one special person, and there's a very important mission that you're going to have to accomplish the rest of your life." Remembering that alone gives me energy and motivation to do a lot of things.
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
            </div>

        </div>
        <%= image_tag("li/progress_three/helpkids COVER.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>


<!-- Chapter 3 Begins -->
       <span class="anchorup"><a name="ch3"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
       <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 3 &nbsp;</span>
            <span id="textspanlichapter13">HELPING OUT </span><span id="textspanlichapter15">with the &nbsp;</span><span id="textspanlichapter16">KIDS </span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe src="//player.vimeo.com/video/112440172" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>


        <span id="ChapterQuote">
        “Little did I know that it was God's plan that my parents were to come down to help me before...disaster came.” 
        </span>
        <div id="ChapterText" class="clearfix">
            <span id="ChapterByline">
            <span id="textspanlichapter22">EVELYN LI</span><br /><span id="textspanlichapter24">DAUGHTER</span>
            </span>

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText">M</span>y parents came to help me out during the time my children were growing up. My dad fractured his wrist while working in a restaurant in New York while my brother was working for the FBI. The restaurant was so threatened that they decided to close the restaurant, according to my dad. They were afraid of any kind of lawsuit, so my dad lost his job. He came to California to live with me, and I spent six months helping him look for jobs. I was concerned about not being able to find him one. He was about fifty years old. It turned out that it was planned by God that he came down, because shortly after, my husband was diagnosed with pancreatic cancer and died. I needed help in my home with my three children. Two were in diapers. Having my dad and mom with me was opportune, because I needed help.  <br />
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <!--span class="GalleryTitle">
                G<br/>A<br/>L<br/>L<br/>E<br/>R<br/>Y
                </span-->
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("li/progress_three/small/helpkids.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/helpkids.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/helpkids1.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/helpkids1.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/helpkids2.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/helpkids2.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/helpkids3.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/helpkids3.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/helpkids4.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/helpkids4.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/helpkids5.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/helpkids5.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/helpkids6.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/helpkids6.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/helpkids7.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/helpkids7.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/helpkids8.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/helpkids8.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/helpkids9.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/helpkids9.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/helpkids10.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/helpkids10.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/helpkids11.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/helpkids11.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/helpkids12.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/helpkids12.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/helpkids13.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/helpkids13.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/helpkids14.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/helpkids14.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/helpkids15.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/helpkids15.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/helpkids16.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/helpkids16.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/helpkids17.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/helpkids17.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/helpkids18.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/helpkids18.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/helpkids19.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/helpkids19.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/helpkids20.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/helpkids20.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/helpkids21.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/helpkids21.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>             
                </ol>    
            </div>

            <span id="ChapterParagraphTwo">
            
                I wanted to go back to finish my medical training. At the time I had finished two years of an internal medicine residency. I couldn't take my board exam unless I had one more year of schooling. I sold my house and we moved to Concord, close to my sister. My parents moved with me and helped me out with the children. I worked 120 hours a week, and it was hard to care for three kids. The fact that my parents were with me was very helpful. After that one year of training, I was offered a cardiology fellowship because the professor thought I had done a good job. I asked my parents and sister, and they were very supportive. They said, "Go ahead and do your two more years of training so that you can have a better future." I was grateful for that, and I went and did two more years. It made a lot of difference, helping us financially stabilize the family. It all worked out. Looking back on it, little did I know that it was God's plan that my parents were to come down to help me before this disaster came. 
 
            </span>

            <span id="SEE_MORE"><a href="#" id="restofstory3-show"  onclick="showHide('restofstory3');return false;">SEE MORE</a>
            </span>

            <div id="restofstory3" class="more">
                <span id="ChapterParagraphTwo">
                    My parents were also very happy because, in my view, they had lived in a chaotic period in Hong Kong, where fame and fortune contrasted with poverty. They only knew how to have a city life. This was the first time they were introduced to a family life. They had never experienced a stable income and a stable place to live. All of those years I was living with them in Hong Kong, we were moving every six months because they had no job or they found and then lost the job. It was never a stable family situation. When they came and lived with me and took care of my children, it was the first time they experienced a stable family life. They were happy about it. There is a transition of converting a city person—a city lifestyle—into a domestic lifestyle. But my parents actually enjoyed it. They were able to raise the three grandkids. 
                    <br /><br />

                    They had struggled with making a living in Hong Kong while we were growing up and didn't have time to take care of us, so we had an aunt that moved from China to Hong Kong, and she helped my parents raise us. My auntie happened to be a village girl who moved to Hong Kong when she was twelve years old. She lived with us, helped us cook, and pretty much was like a nanny in our home. My parents were never home. Even though we moved everywhere with them, they were never home because they were struggling to make money. When my parents lived with me and helped me raise my three children, it was the first time they actually were hands-on with children themselves. They never had that experience when their children were growing up. They enjoyed it and were especially fond of my three kids. They had other grandchildren, but they mainly were babysitting my children because most of the time I was out working. I think it turned out well. They appreciated their period of time of stability, kindness, and calmness. The past had been more of a stormy sea.
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
            </div>
            
        </div>
<%= image_tag("li/progress_three/teachresilience COVER.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>
        

<!-- Chapter Four Begins -->


       <span class="anchorup"><a name="ch4"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>

       <span id="ChapterHeading">

            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 4 &nbsp;</span>
            <span id="textspanlichapter13">INSTILLING RESILIENCE </span><span id="textspanlichapter15">throughout </span><span id="textspanlichapter13">OUR LIVES </span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe src="//player.vimeo.com/video/114207326" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>


        <span id="ChapterQuote">
        "Despite all of the things thrown at them, I never heard them complain. They didn't ever say that. They didn't go there."
        </span>
        <div id="ChapterText" class="clearfix">
            <span id="ChapterByline">
            <span id="textspanlichapter22">GREGG LI</span><br /><span id="textspanlichapter24">SON</span>
            </span>

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText">W</span>hat we learned from our parents was to never give up, to always find the silver lining. If you look at the time we had together from a negative point of view, it was tough. But we enjoyed it. Part of learning is going through the process of change, and when you come to a problem, improvising. You find a way forward. That is my kind of lesson, because the last thirty years I've been a problem solver; I solve all sorts of problems. Last time I looked I had worked on over 1,000 projects. Each problem is different. You solve it because you have to improvise and you have to be innovative; otherwise it would have been solved in the first place. You have to approach it from a different way. Not all problems are solved perfectly: some are solved more completely, while for others, it’s the start of a new problem. But my parents gave me the ability to be resilient. When things were tough, you had to go on. Despite all of the things thrown at them, I never heard them complain. They never said, "This is a lousy life." There are some people who say, "That wasn't fair, this wasn't a fair card." They didn't ever say that. They didn’t go there. Instead they said, "Deal with it." And every time we came out, we somehow came out ahead. Problems came out solved. Then we moved to the next problem. <br />
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("li/progress_three/small/teachresilience.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/teachresilience.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/teachresilience1.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/teachresilience1.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/teachresilience2.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/teachresilience2.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/teachresilience3.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/teachresilience3.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/teachresilience4.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/teachresilience4.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/teachresilience5.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/teachresilience5.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/teachresilience6.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/teachresilience6.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/teachresilience7.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/teachresilience7.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/teachresilience8.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/teachresilience8.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/teachresilience9.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/teachresilience9.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/teachresilience10.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/teachresilience10.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/teachresilience11.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/teachresilience11.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/teachresilience12.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/teachresilience12.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/teachresilience13.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/teachresilience13.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>       
                </ol>    
            </div>

            <span id="ChapterParagraphTwo">
            
                There were constant challenges. We never had enough money, we had to boil our own water because there wasn't a water heater, or we had to walk to school because we didn't have money for buses. It was okay; we worked our way around it. My mom always wanted us to learn Chinese, so she would pay a little extra and after normal school Gansin and I would walk to Chinese school and pick up some Chinese. It was actually just babysitting, but there was always a way around. They prepared us to do our own part, and we went forward in our own lives. 
 
            </span>
            <span id="SEE_MORE"><a href="#" id="restofstory4-show"  onclick="showHide('restofstory4');return false;">SEE MORE</a>
            </span>

            <div id="restofstory4" class="more">
                <span id="ChapterParagraphTwo">
                    They both liked a good dinner and appreciated the little things. My father had a bad habit of complaining, "The food isn't good enough." It was part of him being a cook. He'd say, "Ah, this is lousy." He made sure everyone in the restaurant knew it. He was never a person that would sit back and take it. He's always been an in-your-face kind of guy: very loud, because he, in his own way, wanted to make sure he communicated. He was a bit deaf, as well, so he spoke a little louder than most people. My mom has been very patient, a very good mother, and a good wife to him, because of all his ups and downs. She was always there. It was not easy, with my father's temper. He was an artist, when it came down to it, so he was quite emotional and very, very creative. I think their combination somehow brought us through. 
                    <br /><br />

                    My parents were demanding about what we could become, and Evelyn picked up that demand. She was very tough. I remember her coming down on my case when I was eleven or twelve: "Gregg, every day you read a new word." Every day she would pick up ten words because she wanted to go to the best school. The rest of us, being lazy, wouldn't do that. We would do what we were used to doing. But she grabbed me and said, "Look, study this!" She was bigger at that time, so we had to listen. 
                    <br /><br />

                    My mom worked on the girls and made sure they knew how to cook and they learned the things they would need to run their families.  The boys would do the dishes and the girls would cook. Ellis had it down to an art and could prepare a meal in thirty minutes. Evelyn is a good cook, too, partly because she learned from my mom. 
                    <br /><br />

                    When you’re going through lessons every day, you don't think about it because it's second nature. But when we think about how we got to where we are now, and what things we go back to, it all comes down to those lessons. There were many lessons about certain things you don't do: ethics, morals. Those are learned from family. My parents were not religious, but they knew what was right and what was wrong. We would talk about politics and religion, and they had their own views, but they didn’t sway us to any one view. They tried to make sure we had a strong foundation to make our own views. There was never any, "This is right. This is wrong." To them, the only thing was, “Get an education. That's the right thing to do. Everything else is B.S.” 
                    <br /><br />

                    My father and mother were always saying, "If you get into the best school, we'll find a way to fund you. Don't worry about it." Amazingly, all four of us graduated from a university. I don't know how we did it; we just did it. That, to us, has no particular meaning. But when we see our relatives and hear comments from them, it's interesting how they see it. They say, "Your mom and father did a great job." 
                    <br /><br />
                    
                    I usually say, "How so?" 
                    <br /><br />

                    "All four of you went to college. Look at our kids. They didn't do that. Look at their kids; they didn't do that. You all have good families and you’ve been doing well. What else can you ask for?"
                    <br /><br />

                    You look at results. Sometimes progress is vague, but the results will be there. My parents provided that foundation. 
                    <br /><br />

                    Let's not forget they went from China to Hong Kong, to Hawaii, to California, to Washington, D.C., and back to California. That's a lot of stress. That's a lot of change. They were able to glue the family together despite all of that. That's the tribute. The first generation is always difficult. The second generation does a little better. The third generation, the sky is the limit.
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
            </div>
            
            </div>
        <%= image_tag("li/progress_three/prideinkids COVER.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>

<!-- Chapter Five Begins -->
        <span class="anchorup"><a name="ch5"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
        <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 5 &nbsp;</span>
            <span id="textspanlichapter13">PRIDE </span><span id="textspanlichapter15">in </span><span id="textspanlichapter16">THEIR CHILDREN </span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>

        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/186093347%3Fsecret_token%3Ds-LhJew&amp;color=dbdbdb&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>

        <span id="ChapterQuote">
        "...I could see in their eyes that they were happy..."
        </span>

        <div id="ChapterText" class="clearfix">
            <span id="ChapterByline">
            <span id="textspanlichapter22">KAREN LI</span><br /><span id="textspanlichapter24">DAUGHTER-IN-LAW</span>
            </span>
            </span>

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText">W</span>hat made Gong Gong and Popo proud was talking about their four sons and daughters, and then all of the grandkids. Whenever we had group pictures, they loved it. They always wanted to show their friends. 
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <!--li><%#= link_to image_tag("li/progress_three/small/prideinkids1.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/prideinkids1.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li this photo is used for guestbook cover-->
                    <li><%= link_to image_tag("li/progress_three/small/prideinkids2.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/prideinkids2.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/prideinkids3.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/prideinkids3.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/prideinkids4.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/prideinkids4.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/prideinkids5.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/prideinkids5.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/prideinkids6.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/prideinkids6.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/prideinkids7.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/prideinkids7.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/prideinkids8.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/prideinkids8.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/prideinkids9.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/prideinkids9.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/prideinkids10.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/prideinkids10.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_three/small/prideinkids11.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_three/prideinkids11.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>                                 
                </ol>    
            </div>

            <span id="ChapterParagraphTwo">
                Whenever we looked at the group pictures together, I could see in their eyes that they were happy and satisfied because they felt it was a complete family. They did a great job and made big sacrifices coming to the United States to raise a family of four children.
            </span>
        </div>
        <!--br /><br />
            <div id="HorizontalDivider" class="clearfix"></div-->
            
<!-- END QUOTE -->

        <%= image_tag("li/progress_three/turningpoint COVER.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>

        <span class="StoryQuote">
            
            "God sees the beauty in them, and God made them the patriarchs of our ancestor line. They were the first ones that moved to California, to the United States, and to bring in many of our relatives."<br /> 
            <span class="StoryQuoteByline">- EVELYN LI, DAUGHTER</span><br /><br />
        </span>

        <div id="gueststories" class="clearfix">
         
            <% @anthology_items = Micropost.where(:topic => 'New Dreams in a New Country') %>
            <% @identity = "151" %>
            <% @subject_matter = 'New Dreams in a New Country' %>
            <div id="x" >
                <%= render 'shared/guest_stories_li_pages' %>
            </div>
        </div>

        <div class="bottom-menu">
            <p id="bottommenuli">
            <%= link_to 'HOME', li_path %> &nbsp; <span id="textspanlichapter15">/</span> &nbsp; <%= link_to 'NEXT EXHIBIT', li_grace_path %> &nbsp; <span id="textspanlichapter15">/</span> &nbsp; <%= link_to 'GUESTBOOK', li_guestbook_path %><br />
            </p>
        </div>

