<head>
    <!-- show and hide begins -->
    <script>
        function showHide(shID) {
          if (document.getElementById(shID)) {
            if (document.getElementById(shID+'-show').style.display != 'none') {
              document.getElementById(shID+'-show').style.display = 'none';
              document.getElementById(shID).style.display = 'block';
            }
            else {
              document.getElementById(shID+'-show').style.display = 'inline';
              document.getElementById(shID).style.display = 'none';
            }
          }
        }
    </script>
    <!-- show and hide end -->
    <!-- responsive video begins -->
    <script>
            $(document).ready(function () {
                $(".ChapterVideoDiv").fitVids();
            });
    </script>
    <!-- responsive video end -->
    <!-- fancybox begins -->

        <!--script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script--> <!-- this causes fitvids NOT to work. BOO -->
        <link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css" type="text/css" media="screen">
        <script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js"></script>
    <!-- fancybox end -->
        <meta name="viewport" content="width=device-width; initial-scale=1.0,maximum-scale = 3.0">

    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '[redacted-g]', 'antho.co');
          ga('send', 'pageview');
    </script>

</head>

<!-- Story Heading Begins -->
        <div id="ThemeCoverPhotoProgress1" class="clearfix">
            <span id="ThemeTitle">
                <span id="textspanlichapter">PROGRESS I</span><span id="textspanlichapter1"><br /></span><span id="textspanlichapter2">ADVERSITY IN WARTORN CHINA</span><br />
            </span>
            
            <span id="ChapterSectionIndex"><br/><br/><br/>
                <a href="#ch1">1 </a>&#x2f;<a href="#ch2"> 2 </a>&#x2f;<a href="#ch3"> 3 </a>&#x2f;<a href="#ch4"> 4 </a>&#x2f;<a href="#ch5"> 5 </a>&#x2f;<a href="#ch6"> 6 </a>
            </span>

        </div>

<!-- Story Heading Ends -->

<!-- Chapter 1 Begins -->
        <span class="anchorup"><a name="ch1"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
        <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 1 &nbsp;</span>
            <span id="textspanlichapter13">LIVING </span><span id="textspanlichapter15">amid the </span><span id="textspanlichapter16">AFTERMATH </span><span id="textspanlichapter18">of &nbsp;</span><span id="textspanlichapter20">WAR</span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe src="//player.vimeo.com/video/114207324" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>


        <span id="ChapterQuote">
        “...We emigrated from the north, and it took 500 years of moving slowly from Xinjiang all the way to...southern China...” 
        </span>
        <div id="ChapterText" class="clearfix">
            <span id="ChapterByline">
            <span id="textspanlichapter22">GREGG LI</span><br /><span id="textspanlichapter24">SON</span>
            </span>

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText">R</span>umor has it that we came from a northern part of China called Xinjiang, and you can tell by the way we look. We don't really look Chinese–the hairiness, the closeness of our eyes, and the features of our bodies. When Auntie Ellis was young, she was really, really pretty. Not that she's not pretty now, but back then, she was a knock-out. She didn’t look like a typical Chinese person. Neither do I. Even now, when I go to Hong Kong, they look at me. If they ask me a question and I think a little bit, they start using English, because they see me as not exactly Chinese. So rumor has it that we emigrated from the north, and it took 500 years of moving slowly from Xinjiang all the way to Liaoning, another province, until we got to southern China and settled in a place called Hung Wei Village in Zhongshan Prefecture. That's where the story stops. You can trace some of our lineage, because we thought we had been there in southern China for 22 generations. But according to my father, we came from the north and slowly migrated. I ran into other relatives who also gave me the same story.<br />
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("li/progress_one/small/genealogy1.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/genealogy1.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/genealogy2.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/genealogy2.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/genealogy3.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/genealogy3.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/genealogy4.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/genealogy4.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/genealogy5.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/genealogy5.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/genealogy6.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/genealogy6.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/genealogy7.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/genealogy7.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/genealogy8.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/genealogy8.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/genealogy9.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/genealogy9.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/genealogy10.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/genealogy10.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/genealogy11.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/genealogy11.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/genealogy12.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/genealogy12.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/genealogy13.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/genealogy13.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/genealogy14.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/genealogy14.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/genealogy15.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/genealogy15.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/genealogy16.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/genealogy16.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/genealogy17.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/genealogy17.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/genealogy18.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/genealogy18.jpg", :class => "fancybox", :rel => "gallery", :title => "" %>
                    </li>
                    
                    
                </ol>    
            </div>

            <span id="ChapterParagraphTwo">
            My great-grandfather was in imports-exports, or railways. He went down to Australia, married, and we have a branch of the family down there. I have no idea who they are, but we have a branch. He came back and was forced to give up his land. He bought a lot of land with the money that he earned, figuring that the Japanese could bomb all they wanted; a little hole could be filled up with dirt and would be gone. He never thought about the Communists. They locked him up in jail because he was a rich land owner, and back then, you had to give up all of your land. The story from my father was they had him kneel in glass to torture him. He got to the stage where he committed suicide.  
            </span>
            <span id="SEE_MORE"><a href="#" id="restofstory-show"  onclick="showHide('restofstory');return false;">SEE MORE</a>
            </span>

            <div id="restofstory" class="more">
                <span id="ChapterParagraphTwo">
                    My grandfather was a village chief and ran gambling casinos and so forth. Back then you had to do what you needed to survive, and the family prospered. Apparently they had a big house and mansions, and he had several wives. One of the wives came out to Hawaii when she was about fifty, but after that one meeting, she was gone. The grandmother’s side never took her seriously, so she disappeared. <br /><br />

                    Grandfather decided to move down to Hong Kong during the World War and the war in China, and my father went down to Hong Kong, too. They felt it was the best time to go. But when you're rich and you own land in China, you smoke opium. The story goes that the village wanted to open Chinese trade, and what they had to do was sell opium, which is heroin–very addictive. Grandfather picked up the opium and couldn't get rid of it. He died around age 65. I was around three or four years old, and he would take me around. I remember it a little bit. <br /><br />

                    My father was the number one son. That means that you have a lot of responsibilities thrown on you. A lot of responsibility. It was more than just working and bringing food for your family; he had to take care of Uncle John (Yi Sok), Uncle Summie (Sam Sok), Gujie (the youngest), and the rest of the family. He told me once that they had twelve brothers and sisters, but a lot of them died in the war so they ended up with only four. He, being the father figure, had to take care of them. He brought them meals, gave them spending money, lined them up for work; whatever he had to do. <br /><br />

                    The story goes that my father was working as an artist at this theater called Roxy Theater, Lok Sing Hei Yun. By the way, that's where my name came from, and where Uncle Gansin's name came from: Ga Lok Ga Sing–Roxy Theater. The theater burned down. It’s relevant because what my father did back then was paint huge posters. You can see some of the work he's done with old movies, like Gone with the Wind. He would paint Clark Gable, stick it up, and people would come see the movies. Uncle John, Iso, came down from the village and was apprenticed to my father, learning how to paint. My father said he was so good he could do a big poster in one day. The difficulty was with the heads, because people can recognize if you're off. He was really good at fixing the proportions. One day Uncle John fell asleep while smoking, and that <a id="underline" href="https://www.youtube.com/watch?v=l1GXJBIkb74"> burned the whole theater down</a>. They were out of a job–unemployed. It was lucky that nobody died. <br /><br />

                    Next he started painting, because back then, it all depended on what skills you had. At the time he had had one teacher who taught him in three months. At the end of the third month the teacher said, "Sum Li, you know everything there is to know. I can't teach you anymore." <br /><br />

                    He wanted to be an architect and then one day he had an opportunity. A friend came to him and said, "Why don't you bid for this project? I think you're really good." <br /><br />

                    My father said, “I’m only an artist." <br /><br />

                    "You're more than an artist. You're a designer, an interior designer. You can build things." <br /><br />

                    "Okay, I'll put in a bid." <br /><br />

                    The bid was for the interior design of a chain of restaurants. And he won! He created a business called the Li Sum Art Studio. It was his first business of his own. He rented out a garage, which, by the way, is right across the street from where we're living in Hong Kong now. You can see that same garage, but now they use it to fix cars. He worked very hard, got project after project, and his name was quite well known. Now when I go back to Hong Kong and ask friends in the industry about "Fitting Out Interior Design," they've heard of it. "Oh, that's what happened to Li Sum!” There are a lot of newspaper clippings they still have today. Uncle Gansin has those clippings of things father did in Hong Kong at that time. He was very proud of his history. 
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory-hide" onclick="showHide('restofstory');return false;">SEE LESS</a>
                </span-->
            </div>
           
        </div>
        <%= image_tag("li/progress_one/adversity political 5.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>


<!-- Chapter 2 Begins -->
        <span class="anchorup"><a name="ch2"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
        <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 2 &nbsp;</span>
            <span id="textspanlichapter13">RESPONDING </span><span id="textspanlichapter15">to </span><span id="textspanlichapter16">POLITICAL ADVERSITY </span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe src="//player.vimeo.com/video/112440181" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>


        <span id="ChapterQuote">
        “My dad would be so generous to let [refugees] sleep in our house. I mean, we didn’t have a house, but we had that garage!” 
        </span>
        <div id="ChapterText" class="clearfix">
            <span id="ChapterByline">
            <span id="textspanlichapter22">EVELYN LI</span><br /><span id="textspanlichapter24">DAUGHTER</span>
            </span>

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText">M</span>y parents were people of few words. They didn't really talk too much, so we learned from how they reacted to adversity. For example, the time in their life they lost the house; the times in their life they had no jobs. They constantly had no jobs through all this time we were growing up in the family. I still remember that Dad said the moment I was born, he lost his job. <br />
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("li/progress_one/small/adversity political 1.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/adversity political 1.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/adversity political 2.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/adversity political 2.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/adversity political 3.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/adversity political 3.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/adversity political 4.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/adversity political 4.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                </ol>    
            </div>

            <span id="ChapterParagraphTwo">
            
                Hong Kong was in chaos. There were times of riots. Unemployment was at an all-time 
                high. So many times in their lives they did not have jobs, and despite this adversity that 
                they faced, they were able to suppress it and ride over it. They didn't sell us; they didn't 
                throw us out into the street; they didn't starve us. Despite that they had only a few 
                dollars in their pockets, they put us through school. They struggled to make connections 
                so we could have schools to go to. 

 
            </span>
            <span id="SEE_MORE"><a href="#" id="restofstory2-show"  onclick="showHide('restofstory2');return false;">SEE MORE</a>
            </span>

            <div id="restofstory2" class="more">
                <span id="ChapterParagraphTwo">
                    It's amazing how my dad provided for the family despite all this adversity. For example, I 
                    remember we were living in the garage in Hong Kong, and there was a car that 
                    somehow hit one of our family members. Then the woman came into our house and 
                    apologized profusely for how sorry she was that she hit one of us. My dad immediately 
                    took the opportunity and said, "What kind of profession are you?" She said, "I'm the 
                    principal of an elementary school." In Hong Kong it's not like in America, where 
                    everybody goes to school. In Hong Kong you have to have money and connections. Not 
                    only money; you have to have connections in order to even go to school. So my dad 
                    said, "Oh, you know, don't worry. I have a daughter here. We're hoping that she can go 
                    to school. She's six years old." Which was me! That's how he got me into Precious 
                    Blood Elementary School. It’s in my memory. I still remember that woman sitting in the 
                    chair, and we're huddling around because this stranger has come into our house. 
                    <br /><br />

                    That's one thing about my dad: he was very generous to strangers. I still remember he 
                    would invite strangers to our house to sleep for a few days, and then let them go. One 
                    time it was refugees from Russia. They said, "We're running away because of political 
                    issues and for political asylum." My dad would be so generous to let them sleep in our 
                    house. I mean, we didn’t have a house, but we had that garage! Everybody slept there. 
                    There was no division of rooms. Everybody slept in a big room and everyone had 
                    different beds. My dad was so nice to let them sleep there. That's the person my dad 
                    was—very generous. 
                    <br /><br />

                    He also took the opportunity to support us. So, that principal—to make a long story short—she gave us a discount, gave us a scholarship, and allowed me to go to school in the 
                    school down the street. That was really nice, and it's amazing how my dad survived in 
                    this world of little resources with little skill, little language skill. I guess that's what 
                    brought him the strength to come to America, even with little ability to achieve, and he 
                    was able to raise us.
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
            </div>

        </div>
        <%= image_tag("li/progress_one/intelligence perseverance 53.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>


<!-- Chapter 3 Begins -->
       <span class="anchorup"><a name="ch3"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
       <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 3 &nbsp;</span>
            <span id="textspanlichapter13">INTELLIGENCE </span><span id="textspanlichapter15">and &nbsp;</span><span id="textspanlichapter16">PERSEVERANCE </span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe src="//player.vimeo.com/video/112440172" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>


        <span id="ChapterQuote">
        “He learned art for only six months and he was able to be the supervisor of some of the major theaters in Hong Kong.” 
        </span>
        <div id="ChapterText" class="clearfix">
            <span id="ChapterByline">
            <span id="textspanlichapter22">EVELYN LI</span><br /><span id="textspanlichapter24">DAUGHTER</span>
            </span>

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText">M</span>ore than their strength and courage, it is their intelligence and their perseverance that I admire. My parents only had one year of school in all their lives. It was called 㩧㩧齋 (pronounced “bok bok jai,” i.e. old-style private school). That was during World War II. My mom went to school for one year and learned how to read and write. So did my dad. Yet they had beautiful calligraphy. They could write better than I could in Chinese. They recited a lot of poetry that I could not recite, and I went to six years of Chinese school, and they only went to one year. They were very intelligent people.  <br />
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <!--span class="GalleryTitle">
                G<br/>A<br/>L<br/>L<br/>E<br/>R<br/>Y
                </span-->
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("li/progress_one/small/intelligence perseverance 51.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/intelligence perseverance 51.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/intelligence perseverance 52.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/intelligence perseverance 52.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/intelligence perseverance 54.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/intelligence perseverance 54.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/intelligence perseverance 55.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/intelligence perseverance 55.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/intelligence perseverance 56.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/intelligence perseverance 56.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/intelligence perseverance 57.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/intelligence perseverance 57.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/intelligence perseverance 58.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/intelligence perseverance 58.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>                
                </ol>    
            </div>

            <span id="ChapterParagraphTwo">
            
                My dad was very intelligent. He learned art for only six months and he was able to be the supervisor of some of the major theaters in Hong Kong. He was responsible for all of the drawings, all of the portraits in the theater advertisements. At that time photography was not very sophisticated, so they advertised by drawing. My dad was able to vividly represent the characters of the actors through his drawing. We had some of the drawings, but throughout the years they were lost. It was amazing how he was able to portray each individual portrait. I am not able to do that. My sister is also an artist and she is also very good, but none of us can represent a character like that. 
 
            </span>
            
        </div>
<%= image_tag("li/progress_one/gong gong art 45.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>
        

<!-- Chapter Four Begins -->


       <span class="anchorup"><a name="ch4"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>

       <span id="ChapterHeading">

            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 4 &nbsp;</span>
            <span id="textspanlichapter13">ART </span><span id="textspanlichapter15">and </span><span id="textspanlichapter13">WORK </span><span id="textspanlichapter15">of my </span><span id="textspanlichapter16">FATHER </span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe src="//player.vimeo.com/video/114207437" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>


        <span id="ChapterQuote">
        “He was rather successful at [his craft]. But it was still hard for him to find work.” 
        </span>
        <div id="ChapterText" class="clearfix">
            <span id="ChapterByline">
            <span id="textspanlichapter22">ELLIS LI</span><br /><span id="textspanlichapter24">DAUGHTER</span>
            </span>

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText">W</span>hile in Hong Kong, my father created a lot of art for theaters. He painted posters, and designed the art on glass bottles. He was rather successful at it. But it was still hard for him to find work. He felt he was rather talented. <br />
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("li/progress_one/small/gong gong art 46.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/gong gong art 46.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/gong gong art 47.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/gong gong art 47.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/gong gong art 48.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/gong gong art 48.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/gong gong art 49.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/gong gong art 49.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/gong gong art 50.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/gong gong art 50.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>               
                </ol>    
            </div>

            <span id="ChapterParagraphTwo">
            
                When we moved here from Hong Kong, he brought over these modular iron building bars, that could be adapted to all sorts of purposes. Once, he placed the iron bars into the ground to support the trees growing in Evelyn’s backyard. When we were in Hawaii, he built these beds, all sorts of beds, out of these iron bars, for us to sleep on. The iron bars served as the frames, and we would just place a plank of wood to act as our sleeping surface. <br /><br />

                So he was very talented and creative, and he developed that talent well. It was through this that he made a living for himself.
 
            </span>

            
            </div>
        <%= image_tag("li/progress_one/family upbringing - Version 2 26.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>

<!-- Chapter Five Begins -->
        <span class="anchorup"><a name="ch5"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
        <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 5 &nbsp;</span>
            <span id="textspanlichapter13">STORIES </span><span id="textspanlichapter15">of &nbsp;</span><span id="textspanlichapter16">FAMILY UPBRINGING </span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe src="//player.vimeo.com/video/114207326" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>


        <span id="ChapterQuote">
        One of Father's life lessons: "If the family can work together, it can never be broken."
        </span>
        <div id="ChapterText" class="clearfix">
            <span id="ChapterByline">
            <span id="textspanlichapter22">GREGG LI</span><br /><span id="textspanlichapter24">SON</span>
            </span>

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText">M</span>om and Gong Gong would use living situations to teach their four kids. There was something about the way they would get lessons across. They would always say that as brothers and sisters, you have to function as one. Father would tell us a story in which there was a king on his deathbed. He would ask each family member to bring a branch, and he would show them that one branch could break easily, but if you put the branches together, you cannot break them. If the family can work together, it can never be broken. He wanted to convey that even though he and Mom would not be there, the family is still there. <br />
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("li/progress_one/small/family upbringing 6.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/family upbringing 6.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/family upbringing 7.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/family upbringing 7.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/family upbringing 8.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/family upbringing 8.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/family upbringing 9.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/family upbringing 9.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/family upbringing 10.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/family upbringing 10.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/family upbringing 11.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/family upbringing 11.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/family upbringing 12.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/family upbringing 12.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/family upbringing 13.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/family upbringing 13.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/family upbringing 14.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/family upbringing 14.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/family upbringing 15.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/family upbringing 15.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/family upbringing 16.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/family upbringing 16.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/family upbringing 17.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/family upbringing 17.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/family upbringing 18.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/family upbringing 18.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/family upbringing 19.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/family upbringing 19.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/family upbringing 20.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/family upbringing 20.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/family upbringing 21.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/family upbringing 21.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/family upbringing 22.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/family upbringing 22.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/family upbringing 23.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/family upbringing 23.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/family upbringing 24.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/family upbringing 24.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>      
                    <li><%= link_to image_tag("li/progress_one/small/family upbringing 25.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/family upbringing 25.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>                                        
                </ol>    
            </div>

            <span id="ChapterParagraphTwo">
            
               Evelyn and my dad were always having words. Evelyn was headstrong and Gong Gong was very headstrong. In Hong Kong, when Evelyn was nine years old, she went to get hot water and spilled it. She had hot water all over her body. When you get hot water on your body, you have to put some ice or honey on quickly or you scar for life. But Evelyn, being Evelyn, said, "I'm not taking my clothes off." Father said, "You take those clothes off!” "I'm not taking my clothes off." They were arguing back and forth, and eventually she took her clothes off so we could put some honey on her body. We don't know how Evelyn looks today, of course, and maybe it didn’t work, but I'm pretty sure it did. Honey has always been something that Gong Gong told us to believe in. He said, "This stuff is like the nectar of gods. You have to drink it every day." To the day he died, he always drank honey. Evelyn tells us that it was a miracle that he lasted so long. A lot of parts were not moving, not working, but somehow he still functioned.

 
            </span>
            <span id="SEE_MORE"><a href="#" id="restofstory5-show"  onclick="showHide('restofstory5');return false;">SEE MORE</a>
            </span>

            <div id="restofstory5" class="more">
                <span id="ChapterParagraphTwo">
                    Despite the limited years of education my father had because of the war, his Chinese was really good. At one stage, because of a problem with his eyes, he learned to be a Chinese doctor. He bought different books, read them, underlined them, and practiced on us. He would make his own secret formula and drink it. He was able to learn things from nothing. His Chinese was so good that we had no clue what many words he used were because he was reading at a university level. And he could write. His writing was very cursive–difficult to read–and the character and language he used was at quite a high level. I know that because when I showed some of his letters to educated people, they said, "Wow. This is a person who writes with a lot of poetry." 
                    <br /><br />

                    If you look at how my parents tried to educate us, there are some lessons that come through. Education is key if you want to get out of the neighborhood and make something of yourself. They tried to brainwash us, even when we were young. "If you don't get a college education, don't come back." Dad would teach us about ethics, in his own way. One day he taught Gansin and me about the birds and the bees. I was eleven and he was eight. It was funny because we were in the car and didn't know what was going on. All of a sudden my father was in our faces. I looked at Gansin and Gansin looked at me. "What is this? Is this for real?" Then we started to think, "Hmm. Maybe what he's telling is the truth." Dad had heard it from my mom, who told him, "You better talk to those guys about the birds and the bees, otherwise they're going to get into trouble." So we learned it like that, in five seconds! That's growing up.
                    <br /><br />

                    He encouraged us to be good at what we did. There was a competition at a local department store, and we were supposed to use watercolor to paint something. And guess what? I won! I won in my age group, and as a result they gave me a world clock. I had to win because my father was an artist, and he guided you on what colors to bring out. I didn't know I could draw.
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory5-hide" onclick="showHide('restofstory5');return false;">SEE LESS</a>
                </span-->
            </div>
        </div>
        <%= image_tag("li/progress_one/response to chopstick fail 59.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>

<!-- Chapter Six Begins -->

    <span class="anchorup"><a name="ch6"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
      <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 6 &nbsp;</span>
            <span id="textspanlichapter13">EATING </span><span id="textspanlichapter15">and &nbsp;</span><span id="textspanlichapter16">FAILING </span><span id="textspanlichapter15">with </span><span id="textspanlichapter16">CHOPSTICKS </span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe src="//player.vimeo.com/video/114207325" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>


        <span id="ChapterQuote">
        “By eating every grain, that reminds you the importance of being frugal.” 
        </span>
        <div id="ChapterText" class="clearfix">
            <span id="ChapterByline">
            <span id="textspanlichapter22">GREGG LI</span><br /><span id="textspanlichapter24">SON</span>
            </span>

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText">B</span>ack in Hong Kong, years ago, you didn't eat until Father sat down. That has always been a tradition in our family. When he sits down, you can start eating. All of the kids sit around, "Yap, yap, yap, yap, yap!", and don't touch the food. My mom taught us to always grab what's in front of you. You don't pick, pick, pick. Grab what is in front of you. You also eat every grain of rice on your plate, because that's to help you remember who brings in the money and who looks out for the family. By eating every grain, that reminds you the importance of being frugal.   <br />
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("li/progress_one/small/response to chopstick fail 61.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/response to chopstick fail 61.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/response to chopstick fail 62.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/response to chopstick fail 62.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/response to chopstick fail 63.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/response to chopstick fail 63.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_one/small/response to chopstick fail 64.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_one/response to chopstick fail 64.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    
                </ol>    
            </div>

            <span id="ChapterParagraphTwo">
            
               I was learning at that time how to use chopsticks. I was four or five, and kids usually have plastic bowls, so I was grabbing something, and I couldn't grab it. Next thing I know, my father slapped the rice bowl, and it flew and hit the wall. I was looking at that, thinking, "That's interesting." He was mad because I couldn't properly eat a meal; I couldn't pick up a little bean. He said, "Until you pick up a bean, you're not eating again." I was in shock. "Ohhhh!" Of course, my mom and father always played this game. Over the next day my mom set out a bowl of beans, real beans, and I would pick at them, using chopsticks: one, two, three, four, until I could do it. It only took a day, and I could eat again. It was good cop, bad cop. Father was always the mean one, and mom was the caring one. But you know, it worked. That's how I learned to use chopsticks.
 
            </span>
            
            </div>
            
        </div>
        <%= image_tag("li/progress_one/response to chopstick fail 60.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>
        <br />
        <br /> <span> </span>

        <div id="gueststories" class="clearfix">
         
            <% @anthology_items = Micropost.where(:topic => 'Adversity in Wartorn China') %>
            <% @identity = "151" %>
            <% @subject_matter = 'Adversity in Wartorn China' %>
            <div id="x" >
                <%= render 'shared/guest_stories_li_pages' %>
            </div>
        </div>



        <div class="bottom-menu">
            <p id="bottommenuli">
            <%= link_to 'HOME', li_path %> &nbsp; <span id="textspanlichapter15">/</span> &nbsp; <%= link_to 'NEXT EXHIBIT', li_progress_two_path %> &nbsp; <span id="textspanlichapter15">/</span> &nbsp; <%= link_to 'GUESTBOOK', li_guestbook_path %><br />
            </p>
        </div>