<head>
    <!-- show and hide begins -->
    <script>
        function showHide(shID) {
          if (document.getElementById(shID)) {
            if (document.getElementById(shID+'-show').style.display != 'none') {
              document.getElementById(shID+'-show').style.display = 'none';
              document.getElementById(shID).style.display = 'block';
            }
            else {
              document.getElementById(shID+'-show').style.display = 'inline';
              document.getElementById(shID).style.display = 'none';
            }
          }
        }
    </script>
    <!-- show and hide end -->
    <!-- responsive video begins -->
    <script>
            $(document).ready(function () {
                $(".ChapterVideoDiv").fitVids();
            });
    </script>
    <!-- responsive video end -->
    <!-- fancybox begins -->

        <!--script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script--> <!-- this causes fitvids NOT to work. BOO -->
        <link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css" type="text/css" media="screen">
        <script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js"></script>
    <!-- fancybox end -->
    <meta name="viewport" content="width=device-width; initial-scale=1.0,maximum-scale = 3.0">

    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '[redacted-g]', 'antho.co');
          ga('send', 'pageview');
    </script>

</head>

<!-- Story Heading Begins -->
        <div id="ThemeCoverPhotoProgress2" class="clearfix">
            <span id="ThemeTitle">
                <span id="textspanlichapter">PROGRESS II</span><span id="textspanlichapter1"><br /></span><span id="textspanlichapter2">NEW DREAMS IN A NEW COUNTRY</span><br />
            </span>
            
            <span id="ChapterSectionIndex"><br/><br/><br/>
                <a href="#ch1">1 </a>&#x2f;<a href="#ch2"> 2 </a>&#x2f;<a href="#ch3"> 3 </a>&#x2f;<a href="#ch4"> 4 </a>&#x2f;<a href="#ch5"> 5 </a>&#x2f;<a href="#ch6"> 6 </a>&#x2f;<a href="#ch7"> 7 </a>&#x2f;<a href="#ch8"> 8 </a>
            </span>

        </div>

<!-- Story Heading Ends -->

<!-- Chapter 1 Begins -->
        <span class="anchorup"><a name="ch1"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
        <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 1 &nbsp;</span>
            <span id="textspanlichapter13">COURAGE </span><span id="textspanlichapter15">in </span><span id="textspanlichapter16">CROSSING OCEANS</span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe src="//player.vimeo.com/video/116612840" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>


        <span id="ChapterQuote">
        "...Imagine moving to another country and facing the cultural difference, and then having difficulty with the language." 
        </span>
        <div id="ChapterText" class="clearfix">
            <span id="ChapterByline">
            <span id="textspanlichapter22">EVELYN LI</span><br /><span id="textspanlichapter24">DAUGHTER</span>
            </span>

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText">W</span>hat I admire so much about my parents is their guts, their bravery in moving to a country that doesn't speak their language at the ages of 30 to 40. That's the prime time of a person's life, and it's also a time that is the most difficult to learn a language or culture. And yet there were able to conquer that. They were able to have the spirit, the strength, and the courage to move. Not only moving themselves, not only worrying about feeding themselves, but also about feeding four children. I think Gansin was about five years old, and my sister about thirteen years old—so it's a range of a bunch of children reaching up to the teenager years. Imagine if I moved to Russia when I'm thirty, and bringing four children.<br />
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("li/progress_two/small/immigration0.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/immigration0.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/immigration0a.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/immigration0a.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/immigration2.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/immigration2.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/immigration3.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/immigration3.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/immigration4.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/immigration4.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/immigration5.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/immigration5.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/immigration6.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/immigration6.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/immigration7.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/immigration7.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/immigration8.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/immigration8.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/immigration9.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/immigration9.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/immigration10.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/immigration10.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/immigration11.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/immigration11.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/immigration12.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/immigration12.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li> 
                    
                </ol>    
            </div>

            <span id="ChapterParagraphTwo">
            It was very difficult, especially because my dad was kind of wayward, and that would have compounded the problem my mom faced. Yet they were able to do it. That's admirable. After we moved to Hawaii, my dad suddenly became a very good person and started to go to work, taking two jobs, and my mom taking two jobs, each working over eight to ten hours a day. It’s very difficult for anyone to imagine moving to another country and facing the cultural difference, and then having difficulty with the language. On top of that, working so many hours…how are they going to survive? It’s something I cannot even imagine myself endeavoring.  
            </span>
           
        </div>
        <%= image_tag("li/progress_two/oursharedlives2 COVER.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>


<!-- Chapter 2 Begins -->
        <span class="anchorup"><a name="ch2"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
        <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 2 &nbsp;</span>
            <span id="textspanlichapter13">A SISTER'S INFLUENCE </span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe src="//player.vimeo.com/video/113120054" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>


        <span id="ChapterQuote">
        "She found a place for us to live—and we're talking about three families! There was a lot to arrange, and she did it all."
        </span>
        <div id="ChapterText" class="clearfix">
            <span id="ChapterByline">
            <span id="textspanlichapter22">ALICE CHAU</span><br /><span id="textspanlichapter24">SISTER</span>
            </span>

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText">I</span> have one sister, and one older brother. Lisa, my sister, is older than me by 12 years. When I was small, she was already off and married. She lived rather far away after that, so visiting one another was not always convenient. Soon after marriage, she started having children. I actually lived with them and ate with them for one or two years, when I was in school, because the school was so far away from my parents’ home. I still remember how small the children were; Gregg was only three at the time. I helped take care of the children, since Lisa still went to work.   <br />
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("li/progress_two/small/oursharedlives1.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/oursharedlives1.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/oursharedlives3.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/oursharedlives3.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/oursharedlives4.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/oursharedlives4.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/oursharedlives5.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/oursharedlives5.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/oursharedlives6.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/oursharedlives6.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/oursharedlives7.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/oursharedlives7.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/oursharedlives8.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/oursharedlives8.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/oursharedlives9.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/oursharedlives9.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/oursharedlives10.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/oursharedlives10.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/oursharedlives11.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/oursharedlives11.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/oursharedlives12.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/oursharedlives12.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/oursharedlives13.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/oursharedlives13.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/oursharedlives14.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/oursharedlives14.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/oursharedlives15.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/oursharedlives15.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/oursharedlives16.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/oursharedlives16.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/oursharedlives17.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/oursharedlives17.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/oursharedlives18.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/oursharedlives18.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/oursharedlives19.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/oursharedlives19.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/oursharedlives20.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/oursharedlives20.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/oursharedlives21.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/oursharedlives21.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                </ol>    
            </div>

            <span id="ChapterParagraphTwo">
            
                She lived very close to her in-laws, just rented a place across the street from them. My sister was a very good person. She always took care of me as a sister. Two years later, I started going to another school, closer to my parent’s home, and so I moved back home with them. Then very soon after, Lisa immigrated with her family to America, and immediately applied for me and my brother and my parents to immigrate as well.

 
            </span>
            <span id="SEE_MORE"><a href="#" id="restofstory2-show"  onclick="showHide('restofstory2');return false;">SEE MORE</a>
            </span>

            <div id="restofstory2" class="more">
                <span id="ChapterParagraphTwo">
                    After arriving in America, we were very close, and always met up. Before we got there, they prepared all sorts of things for us. She helped us find a place to live—and this was three families we’re talking about! There was a lot to arrange, and she did it all. We appreciated her very much. After we arrived, Lisa was working at a restaurant. She hurried to find us jobs, because by the time we immigrated, we already had three little kids. She went with us to look for jobs. We were just very close.
                    <br /><br />

                    In the end, Lisa’s daughter Evelyn was studying to specialize in cardiology, and needed someone to help watch over her three kids. What I know is that she was at Evelyn’s condo, taking care of them, and her and her husband Jim Sum lived in a condo closeby. They were really happy, together with the grandkids. Jim often helped Evelyn’s family do things as well.
                    <br /><br />

                    After a short period of time, when Lisa was already in California, I was still in Hawaii with my family. By the way, previously, when Lisa was still in Hong Kong, Lisa constantly took very good care of our father. In America, she would send back cigars—my father loved to smoke cigarettes. She’d send clothes too. I didn’t ever do this sort of thing, Lisa just had this heart and thought to do it. He would then send her back money. At times, I would be jealous. Why, I thought, did my father love her so much? Is it because she was the oldest? 
                    <br /><br />

                    After joining my sister in California, moving from Hawaii, I was very happy, because she was my only sister. In the 2000’s, when I was still in Hawaii and she was in California, she’d visit, but all my children decided to move to California after university studies, and I decided to make the move too. And it made me really happy to be together again. 
                    <br /><br />

                    In the end, my brother’s daughter Debbie, Lisa, and I were of similar ages—not quite the same—but we all loved to get together, drink tea, eat dim sum, and chat and laugh the time away. 
                    <br /><br />

                    And then she got sick. We thought, she shouldn’t—at this time of her life, she was so young! She should have been able to live so much longer! But she was happy when she was here with us. 
                    <br /><br />

                    Our mother, Choy Po, was in Hawaii, and hadn’t passed away yet, and her family saw how I was taking care of her. She came to California and stayed here for a short time, and Lisa was able to take on her responsibility as a daughter to care for her mother in her old age. She was wonderful. 
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
            </div>

        </div>
        <%= image_tag("li/progress_two/streetsmarts1 COVER.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>


<!-- Chapter 3 Begins -->
       <span class="anchorup"><a name="ch3"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
       <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 3 &nbsp;</span>
            <span id="textspanlichapter13">TEACHING ME </span><span id="textspanlichapter15">to be &nbsp;</span><span id="textspanlichapter16">STREET SMART</span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe src="//player.vimeo.com/video/114207327" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>


        <span id="ChapterQuote">
        "He said, ...'You gotta stand up, be yourself, but don't ever come home crying. You gotta go out and fight.'"
        </span>
        <div id="ChapterText" class="clearfix">
            <span id="ChapterByline">
            <span id="textspanlichapter22">GREGG LI</span><br /><span id="textspanlichapter24">SON</span>
            </span>

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText">O</span>nce my father got drunk. He's not a drinker; he can't drink, really. We'd just moved to Hawaii in 1967. He went out, had a good meal, and Mom and Father came home. And he was drunk! He started kissing me and taking turns kissing all of the kids. We were thinking, "Is this real?" Afterward, it dawned on him that he shouldn't be acting like that. He never drank to that extent again.  <br />
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <!--span class="GalleryTitle">
                G<br/>A<br/>L<br/>L<br/>E<br/>R<br/>Y
                </span-->
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("li/progress_two/small/streetsmarts2.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/streetsmarts2.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/streetsmarts3.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/streetsmarts3.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>                    
                    <li><%= link_to image_tag("li/progress_two/small/streetsmarts4.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/streetsmarts4.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
              
                </ol>    
            </div>

            <span id="ChapterParagraphTwo">
            
                In the house on School Street, some Mormon missionaries came and knocked on our door. That's where Evelyn and Ellis began to hear the Mormon Gospel. 
                <br /><br />
                Because the neighborhood was very rough, father wanted to make sure that I grew up properly. But you have to hang out with the gangs, and there were two gangs out there. There’s always initiation, when you go out of a gang: they beat you up. One day, when I was very young, they beat me up, and I came home crying. My father said, "Get out of the house."
                <br /><br /> 
                I said, "Why?"
                <br /><br /> 
                "You don't come home crying."
                <br /><br /> 
                "Oh." 

            </span>
            <span id="SEE_MORE"><a href="#" id="restofstory3-show"  onclick="showHide('restofstory3');return false;">SEE MORE</a>
            </span>

            <div id="restofstory3" class="more">
                <span id="ChapterParagraphTwo">                     
                    Imagine a kid that young: you come home, you want your father to say, "Well, don't worry. Tomorrow will be a better day." But no. He said, "Get out." So I went back out. You never forget that kind of lesson because you learn to be tougher. Eventually those friends who beat me up became my good friends.
                    <br /><br /> 

                    My father was like that because, he said, "In the neighborhood where I grew up, I had nobody. You gotta learn to live tough in this neighborhood." He also taught me a lesson. He said, "If you ever get into trouble, never mind the crowd. Get the leader who's giving you the trouble, and beat him up. There's only one guy who’s important, and you gotta focus on him. All the rest will back down.” He also told me of a time when he went up to a mob in Hong Kong and some people went after him. He took one punch to whoever was bothering him–there was a gang around him–and he hit him in the balls. Poom! All the rest ran. He said, “That's the lesson I learned. That's the lesson you’re gonna learn. You gotta stand up, be yourself, but don't ever come home crying. You gotta go out and fight." That was hard, but I remembered it.
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
            </div>

        </div>
<%= image_tag("li/progress_two/ducknoodles11 COVER.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>
        

<!-- Chapter Four Begins -->


       <span class="anchorup"><a name="ch4"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>

       <span id="ChapterHeading">

            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 4 &nbsp;</span>
            <span id="textspanlichapter13">DUCK NOODLES </span><span id="textspanlichapter15">with a </span><span id="textspanlichapter13">SIDE </span><span id="textspanlichapter15">of </span><span id="textspanlichapter16"> LIFE LESSONS </span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe src="//player.vimeo.com/video/114207388" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>


        <span id="ChapterQuote">
        “When we came home with an A on our grade cards, we got a dollar. That was how we earned our spending money.” 
        </span>
        <div id="ChapterText" class="clearfix">
            <span id="ChapterByline">
            <span id="textspanlichapter22">GREGG LI</span><br /><span id="textspanlichapter24">SON</span>
            </span>

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText">I</span> always thought Ellis was the artist in the family, but my father spent a lot of time teaching her. When she was very young she could paint beautiful pictures. He was very proud of Ellis, because she was the first child. By the time he got to us, he didn't want to teach us how to paint. I didn't know that I could, and that made me go into architecture. I went to Washington University and majored in architecture, so he had some influence in my life. <br />
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("li/progress_two/small/ducknoodles2.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/ducknoodles2.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/ducknoodles3.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/ducknoodles3.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/ducknoodles4.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/ducknoodles4.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/ducknoodles5.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/ducknoodles5.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/ducknoodles6.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/ducknoodles6.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/ducknoodles7.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/ducknoodles7.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/ducknoodles8.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/ducknoodles8.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/ducknoodles9.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/ducknoodles9.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/ducknoodles10.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/ducknoodles10.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                               
                </ol>    
            </div>

            <span id="ChapterParagraphTwo">
            
                He was always trying to find lessons, making sure that we learned the proper way of growing up. When parents are so busy and there are four kids, how do you spend time with them? He had his own way of teaching, of trying to get a story in so that you learn and grow from that. What he usually did was take one of us out. Back then he would take me out for a one-on-one. That stopped after a while, after I went to Washington, D.C., but when I was in my teenage years, he would take me out. He knew exactly what I liked to eat, so he would say, "Oh, why don't we get some duck noodles?" That was my favorite. He'd always get me on duck noodles. I’d say, “Okay, we'll get some duck noodles.” There was the father-and-son time, usually over duck noodles. Then he would tell me stories of how he would do certain things. He believed in running his own business. He said, “You can't get anywhere by doing someone else's job.” By working his manapua job, the truck that sells dim sum, Dad gave me the idea of never working for anybody else. He always believed in running his own shop. He was doing well, actually, until the gambling came in. Then he spent all of his extra money on gambling, and of course, as a gambler, you don't always win. When he won, he was very generous, and he would spend it in two days flat. Whatever we wanted, he would give us money for it. 
 
            </span>
            <span id="SEE_MORE"><a href="#" id="restofstory4-show"  onclick="showHide('restofstory4');return false;">SEE MORE</a>
            </span>

            <div id="restofstory4" class="more">
                <span id="ChapterParagraphTwo">                     
                    My father would say, "You have to learn the essence of life, the reality of life." When we came home with an A on our grade cards, we got a dollar. That was how we earned our spending money. You get a B, you get 50 cents. You get a C, you get nothing. This is reality: you bring him the report card, he brings his wallet out. That was interesting because that taught us about the value of money. 
                    <br /><br />

                    The first thing I did to him was years ago, back in Hong Kong. We were living on Blue Pool Road. I guess I was a nosey kid. How old was I? Five, six, seven? I took things apart. One day I took apart a drill with a screwdriver. When he found me, he said, “Now you can't put it back together again!” That's the kid in me, always taking things apart. 
                    <br /><br />

                    My father was always good at building things. He would build things that you couldn't imagine. He would build bunk beds using steel girders, and that's how we learned about mechanical engineering. He would say that if you structured these things, you had to put a strut here to reinforce it.  Architecture and engineering were also his loves. At one stage he was putting up signs and doing designs for a major bank in Hong Kong, the Hong Kong-Shanghai Bank. It’s like during Christmas, when you see a big bell outside; those were huge projects for someone with zero education who learned his artistic skill over a three month period. He had to earn a living for a family of four kids, so he had to improvise. He was very good at it, and he was always good at leading his own group. 
                    <br /><br />

                    My mom is a fascinating lady. She loved diamonds, as well as all sorts of colored gems. She also knew the value of hard work. There are so many stories, it's difficult to say which one is meaningful.
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
            </div>
            
        </div>
        <%= image_tag("li/progress_two/povertyinhawaii22 COVER.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>

<!-- Chapter Five Begins -->
        <span class="anchorup"><a name="ch5"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
        <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 5 &nbsp;</span>
            <span id="textspanlichapter13">POVERTY </span><span id="textspanlichapter15">on </span><span id="textspanlichapter16">HAWAIIAN SHORES </span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe src="//player.vimeo.com/video/114207391" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>


        <span id="ChapterQuote">
        "The Salvation Army took a picture of our neighborhood and put it on a poster to encourage people to donate."<!--"My father told us, 'If you don't graduate from a university, don't even come back. You're not my sons or daughters.'"-->
        </span>
        <div id="ChapterText" class="clearfix">
            <span id="ChapterByline">
            <span id="textspanlichapter22">GREGG LI</span><br /><span id="textspanlichapter24">SON</span>
            </span>

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText">B</span>ack then, education for four kids was expensive. It was not free; you had to pay for it. Violet, the youngest sister of my father, was married and had moved to Hawaii, so they sponsored us to move there. That was the first tipping point. My father told us, "Look. You know it's Hawaii. It's the best school in the world. You guys are gonna get in. If you don't graduate from a university, don't even come back. You're not my sons or daughters." Evelyn, being Evelyn, said, "By the way, Pop–that's a good school, but that's not the best school." 

<br />
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("li/progress_two/small/povertyinhawaii9.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/povertyinhawaii9.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/povertyinhawaii1.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/povertyinhawaii1.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/povertyinhawaii2.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/povertyinhawaii2.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/povertyinhawaii3.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/povertyinhawaii3.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/povertyinhawaii4.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/povertyinhawaii4.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/povertyinhawaii5.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/povertyinhawaii5.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/povertyinhawaii6.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/povertyinhawaii6.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>                                    
                    <li><%= link_to image_tag("li/progress_two/small/povertyinhawaii7.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/povertyinhawaii7.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/povertyinhawaii8.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/povertyinhawaii8.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/povertyinhawaii9.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/povertyinhawaii9.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/povertyinhawaii10.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/povertyinhawaii10.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/povertyinhawaii11.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/povertyinhawaii11.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/povertyinhawaii12.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/povertyinhawaii12.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/povertyinhawaii13.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/povertyinhawaii13.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/povertyinhawaii14.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/povertyinhawaii14.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/povertyinhawaii15.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/povertyinhawaii15.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/povertyinhawaii16.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/povertyinhawaii16.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/povertyinhawaii17.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/povertyinhawaii17.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/povertyinhawaii18.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/povertyinhawaii18.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/povertyinhawaii19.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/povertyinhawaii19.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/povertyinhawaii20.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/povertyinhawaii20.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/povertyinhawaii21.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/povertyinhawaii21.jpg", :class => "fancybox", :rel => "gallery5", :title => "" %>
                    </li>
                </ol>    
            </div>

            <span id="ChapterParagraphTwo">
            
               We were in Hawaii. My father had to be very creative. We found a place that wasn't very expensive. He took down the door and put it on top of two boxes, and it became a table. That place was so poor that the Salvation Army came and took a picture of our neighborhood and put it on a poster to encourage people to donate. That was our first place, in School Street. 

            </span>
            <span id="SEE_MORE"><a href="#" id="restofstory5-show"  onclick="showHide('restofstory5');return false;">SEE MORE</a>
            </span>

            <div id="restofstory5" class="more">
                <span id="ChapterParagraphTwo">
                    You had to survive as an emigrant. Father took a job doing whatever he could. He tried to apply his design skills, but of course people didn't recognize him–he didn't speak English and he didn't have a license. Back then, interior architects didn't have licenses. But he was good. Back in Hong Kong, he taught people how to draw interior designs. He had a class, had students coming in, and I remember them coming up to our apartment and learning. The Li Sum Art Studio survived all the way. Even at the time when I went to college, that was in the back of his mind. He loved painting, and he drew and tried to do some painting on the side. 
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory5-hide" onclick="showHide('restofstory5');return false;">SEE LESS</a>
                </span-->
            </div>
        </div>
        <%= image_tag("li/progress_two/gonggongcareer13 COVER.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>

<!-- Chapter Six Begins -->

    <span class="anchorup"><a name="ch6"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
      <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 6 &nbsp;</span>
            <span id="textspanlichapter13">UPWARD </span><span id="textspanlichapter15">and &nbsp;</span><span id="textspanlichapter16">ONWARD </span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe src="//player.vimeo.com/video/114207389" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>


        <span id="ChapterQuote">
        “Goodwill is an original part of us. Father made sure that we had our fun as children, even though we didn't have money.” 
        </span>
        <div id="ChapterText" class="clearfix">
            <span id="ChapterByline">
            <span id="textspanlichapter22">GREGG LI</span><br /><span id="textspanlichapter24">SON</span>
            </span>

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText">I</span>n Hawaii, one of Dad’s good friends found him a job. His friend’s was named Warder, and he worked in a restaurant called Aberdeen. Father would go in and cook. He had never learned to be a cook, but he needed to survive. He couldn't paint–people don't hire artists–and the market demanded a cook, so he became a second cook. Warder was the chief cook, and they got along for a long time. One day I was actually invited to a day on the job. You would go to the restaurant and sit and watch for a day. That's boring for a kid, but you appreciated the fact that he cooked. You have to do a lot of preparation. He got there early in the morning and did a lot of work, but around 2:00, he wasn’t busy. So what do you do when you're not busy? You start playing cards and gambling. He began to pick up his vices. That affected the rest of the family and his entire history. He was a gambler.<br />
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("li/progress_two/small/gonggongcareer1.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/gonggongcareer1.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/gonggongcareer2.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/gonggongcareer2.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/gonggongcareer3.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/gonggongcareer3.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/gonggongcareer4.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/gonggongcareer4.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/gonggongcareer5.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/gonggongcareer5.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/gonggongcareer6.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/gonggongcareer6.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/gonggongcareer7.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/gonggongcareer7.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/gonggongcareer7b.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/gonggongcareer7b.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/gonggongcareer8.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/gonggongcareer8.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/gonggongcareer9.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/gonggongcareer9.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/gonggongcareer10.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/gonggongcareer10.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/gonggongcareer11.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/gonggongcareer11.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/gonggongcareer12.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/gonggongcareer12.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/gonggongcareer14.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/gonggongcareer14.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/gonggongcareer15.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/gonggongcareer15.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/gonggongcareer16.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/gonggongcareer16.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/gonggongcareer17.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/gonggongcareer17.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/gonggongcareer18.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/gonggongcareer18.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/gonggongcareer19.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/gonggongcareer19.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/gonggongcareer19a.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/gonggongcareer19a.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/gonggongcareer19b.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/gonggongcareer19b.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/gonggongcareer20.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/gonggongcareer20.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/gonggongcareer21.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/gonggongcareer21.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/gonggongcareer22.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/gonggongcareer22.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/gonggongcareer23.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/gonggongcareer23.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/gonggongcareer24.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/gonggongcareer24.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/gonggongcareer25.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/gonggongcareer25.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/gonggongcareer26.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/gonggongcareer26.jpg", :class => "fancybox", :rel => "gallery6", :title => "" %>
                    </li>                    
                </ol>    
            </div>

            <span id="ChapterParagraphTwo">
            
               He was also very creative–creative enough that he made our beds, the bunk beds. He loved those steel girders that you can cut and create your own shelves with, and in a little room he put in bunk beds for six people. 
 
            </span>
            
            <span id="SEE_MORE"><a href="#" id="restofstory6-show"  onclick="showHide('restofstory6');return false;">SEE MORE</a>
            </span>

            <div id="restofstory6" class="more">
                <span id="ChapterParagraphTwo">
                    When we arrived to Hawaii, we moved to different places. My mom believed in getting the best education for us, and because of the zoning you had to live in the good neighborhoods to go to the good schools. She worked two part-time jobs to make sure that we grew up properly, and she made sure we ended up in the right school neighborhoods. To do that, you had to use your friend's address. We were living all over, depending on who his or her friend was. We got into some of the good schools. Also, education was free, but you still needed 25 cents for lunch. With four kids, that's a dollar for lunch, which was still a lot of money. Mom was the one that was steady and pulled the family together, because Father would be out gambling or doing other things.
                    <br /><br />

                    When you're coming in as an immigrant, you barely make enough to cover the rent. My father would take us to Goodwill and Salvation Army stores, and he would say, "Pick whatever you'd like from all of these toys." We bought so many games: Risk, Monopoly...we learned to play with all of them. It was cheap. Goodwill is an original part of us. Father made sure that we had our fun as children, even though we didn't have money.
                    <br /><br />

                    After being a second cook, my father wanted to start his own business. He told me one day, "Gregg, always own your own business." Being an independent person, Father didn't listen to anybody. He was very,"My way or the highway." He created a dim sum restaurant. The idea would actually work great today, but it was too early. He was always ahead of his time. Anyway, he was learning how to make dim sum, and he was not a very good cook. I remember he learned to cook rice cake. The Filipinos love rice cake. Apparently they make it back in the Philippines, and it's a delicacy they buy at beaches. Whenever we went to a Filipino neighborhood, they bought all of the rice cake. It's very difficult to make, because you have to make it at the right temperature to make it crystal clear, and the sweetness has to come through, otherwise it will turn sour. 
                    <br /><br />

                    We were living in Kukuri Garden at that time, in low income housing, and he was cooking inside, which he was not supposed to do. He cooked the rice cake, and then the only way to get it out to people was to buy a van. We bought a Volkswagen van that became the shop. We would drive it around and sell dim sum. He pulled in $150 every day in business, and he found that the best place to sell was the beach; there weren't any shops or foot stalls. He would purposely park somewhere, and he would have a flat tire. While he fixed his flat, Gansin and I would sell 叉燒包 (pronounced “cha siu bao”, i.e. bbq pork bun, or manapua), those little bread buns. One day Father said, "Maybe we need to sell it hot." He took one of those stoves and put it in the car, and we would steam it right there. You could get six little 叉燒包 for a dollar. That business was quite good because he worked short hours, brought in the money, and people started following him. He was the first one with a manapua truck. He would put a sign on top of the Volkswagen, open up, and people could see the sign. Then he would play music, and guess what? He had us singing. "Manapua, manapua, pi pi yow, pi pi yow…" (to the <a href="https://soundcloud.com/yikyekyok/are-you-sleeping-brother-john">tune of "Are you sleeping,  Brother John?"</a>). We would blast it on the speaker driving down the highway. If we drove in a suburb, all the kids would come; it was like an ice cream truck. Then he picked up the name 阿-叔 (pronounced “aa suk"), which means uncle. "阿-叔 Manapua"–it stuck with him. He called his company “阿-叔 Manapua” and “阿-叔 叉燒包.”
                    <br /><br />

                    Since we were kids, we were child labor. I was the chief cook. I remember tossing the buns outside to ferment for the night. I would go in, stick my buns in and stir, and some of my hair would come off and stick to the buns. We made buns, we made 叉燒 (pronounced “cha siu”, i.e. bbq pork), and we made the 蝦餃 (pronounced “ha gao”), the shrimp dumpling. That was the most difficult because the skin had to be crystal clear, and the only way to get that was to pour hot water on top of the flour. You had to squish it at the same time, and it was burning hot. You also had to put oil on your hand, so the flour didn't stick to your hand; that's why my hand is so smooth here. 
                    <br /><br />

                    Eventually Father bought a shop, a take-out restaurant. We lived right in the back. That got most of us through high school to college. He enjoyed it because he could do things with us and he was making good money. With that money we bought our first house, which was over at Kalihi. That wasn't a very good neighborhood, but at least you could have a house.
                    <br /><br />

                    Evelyn went to Farrington High School because that's closest to Kalihi. She was a very shrewd businesswoman and bought a Datsun Nissan to sell manapua around the neighborhood. She drove and employed me. I was twelve to fifteen at the time. I would go in the back, take the dim sum, and sell it to people. She made some good money. Then the neighborhood got rough, in that there were more competitors. 
                    <br /><br />

                    My mom was working two jobs as a waitress, and I remember coming home one day in high school and slamming the door, which kids usually do. I didn't know that Mom was resting. She would usually sleep after the day job in the afternoon, and then continue working during the night at another restaurant. She came up to me that day and didn't scold me; she just said, "I need to rest during this hour. When you go in and out, can you not slam the door?" We said, "Hmmm. Of course not." We slammed the door anyway, because we didn't know any better. Popo was very patient with us while we were growing up. 
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory5-hide" onclick="showHide('restofstory5');return false;">SEE LESS</a>
                </span-->
            </div>
        </div>
            

        <%= image_tag("li/progress_two/working3x COVER.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>

<!-- Chapter Seven Begins -->

    <span class="anchorup"><a name="ch7"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
      <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 7 &nbsp;</span>
            <span id="textspanlichapter13">WORKING, WORKING, WORKING</span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe src="//player.vimeo.com/video/113119999" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>


        <span id="ChapterQuote">
        “The businesses went quite well. They were able to make some money, and life was better.” 
        </span>
        <div id="ChapterText" class="clearfix">
            <span id="ChapterByline">
            <span id="textspanlichapter22">ELLIS LI</span><br /><span id="textspanlichapter24">DAUGHTER</span>
            </span>

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText">A</span>t one time, we had to move to our grandmother’s, then we moved to Hawaii. When they crossed over here, life was incredibly stressful. They started their own businesses, including a bread truck. And from when we were very small, we would help out with that. We would wake up at 5am and start baking bread. And we’d do this everyday. And we’d make dim sum specialties, with shrimp (ha gau) and pork (cok jai). The businesses went quite well. They were able to make some money, and life was better. <br />
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("li/progress_two/small/working3x1.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/working3x1.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/working3x2.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/working3x2.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/working3x3.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/working3x3.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/working3x4.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/working3x4.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/working3x5.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/working3x5.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/working3x6.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/working3x6.jpg", :class => "fancybox", :rel => "gallery7", :title => "" %>
                    </li>
                    
                </ol>    
            </div>
            <span id="ChapterParagraphTwo">
            
               At the time I was in middle school. My mother would work at Dole Plantation canning pineapples in the day, and then cook food for their other business at night. They would work two jobs a day. And Evelyn and I would help cook as well.
 
            </span>

            
                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory5-hide" onclick="showHide('restofstory5');return false;">SEE LESS</a>
                </span-->
            </div>
        </div>
            

        <%= image_tag("li/progress_two/survivorBBQ COVER.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>

        
<!-- Chapter Eight Begins -->

    <span class="anchorup"><a name="ch8"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
      <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 8 &nbsp;</span>
            <span id="textspanlichapter13">SURVIVING </span><span id="textspanlichapter15">with </span><span id="textspanlichapter16">BBQ PORK BUNS</span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe src="//player.vimeo.com/video/112440177" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>


        <span id="ChapterQuote">
        “He made the best 叉燒包. The whole island would flock to our place to buy his 叉燒包.” 
        </span>
        <div id="ChapterText" class="clearfix">
            <span id="ChapterByline">
            <span id="textspanlichapter22">EVELYN LI</span><br /><span id="textspanlichapter24">DAUGHTER</span>
            </span>

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText">M</span>y father was a generous man. He was also an opportunist: very, very smart at surviving. I remember he would use the law to his advantage to help us find residence. It could be a negative thing, but for him to survive in that chaotic Hong Kong situation, it was probably the only way he could survive. In other words, he's a survivor. I'm grateful for that, although we also learned not to do what he did. <br />
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("li/progress_two/small/survivorBBQ.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/survivorBBQ.jpg", :class => "fancybox", :rel => "gallery8", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/survivorBBQ1.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/survivorBBQ1.jpg", :class => "fancybox", :rel => "gallery8", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/survivorBBQ2.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/survivorBBQ2.jpg", :class => "fancybox", :rel => "gallery8", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/survivorBBQ3.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/survivorBBQ3.jpg", :class => "fancybox", :rel => "gallery8", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/survivorBBQ4.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/survivorBBQ4.jpg", :class => "fancybox", :rel => "gallery8", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/survivorBBQ5.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/survivorBBQ5.jpg", :class => "fancybox", :rel => "gallery8", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/survivorBBQ6.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/survivorBBQ6.jpg", :class => "fancybox", :rel => "gallery8", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/survivorBBQ7.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/survivorBBQ7.jpg", :class => "fancybox", :rel => "gallery8", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/survivorBBQ8.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/survivorBBQ8.jpg", :class => "fancybox", :rel => "gallery8", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/survivorBBQ9.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/survivorBBQ9.jpg", :class => "fancybox", :rel => "gallery8", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/survivorBBQ10.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/survivorBBQ10.jpg", :class => "fancybox", :rel => "gallery8", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/survivorBBQ11.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/survivorBBQ11.jpg", :class => "fancybox", :rel => "gallery8", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/survivorBBQ12.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/survivorBBQ12.jpg", :class => "fancybox", :rel => "gallery8", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/survivorBBQ13.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/survivorBBQ13.jpg", :class => "fancybox", :rel => "gallery8", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/survivorBBQ14.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/survivorBBQ14.jpg", :class => "fancybox", :rel => "gallery8", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/survivorBBQ15.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/survivorBBQ15.jpg", :class => "fancybox", :rel => "gallery8", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/survivorBBQ16.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/survivorBBQ16.jpg", :class => "fancybox", :rel => "gallery8", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/progress_two/small/survivorBBQ17.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/progress_two/survivorBBQ17.jpg", :class => "fancybox", :rel => "gallery8", :title => "" %>
                    </li>

                    
                </ol>    
            </div>

            <span id="ChapterParagraphTwo">
            
                There was a negative part about him: he always wanted to please my mom—which is a good thing—but sometimes to the degree that it was excessive. He would gamble to make a few more dollars so that my mom could have a diamond ring, which she never got. We were poor all of our family life. So even though it was something my dad wanted to do to please my mom, it never materialized. 

 
            </span>
            
            <span id="SEE_MORE"><a href="#" id="restofstory8-show"  onclick="showHide('restofstory8');return false;">SEE MORE</a>
            </span>

            <div id="restofstory8" class="more">
                <span id="ChapterParagraphTwo">
                    His diligence in seeking work helped us realize the importance of hard work. He also emphasized education. He told us that by the time we were in college, everybody else would be graduating from college. 
                    <br /><br />

                    My dad had a lot of insight about the future. A lot of the things that he said came true. For example, he said, "China will flourish in ten to twenty years. China will be very successful." And it did. Twenty years later we saw China blooming. He also felt proud of being Chinese, and he reminded us to continue to be educated in the Chinese language and in our culture. He was proud of the Chinese heritage and the fact that we have so many years of civilization, history, and stories that help us focus on being kind to others. He once said that the reason why Chinese culture still exists after 6,000 years is because we are kind; we are kind to foreigners. Which is true. We had a lot of invaders in China, and it still remained a nation. You can see that a lot of nations have disintegrated, but China has continued to be China. We have had the Qing Dynasty, the Yuan Dynasty—they were all foreigners—and yet China exists, and there is still a Chinese language. 
                    <br /><br />

                    Even though my dad only had one year of education, he was such a smart man. He had a lot of insight about life in general. There's a distinctive story that I remember about him when my first husband died. I was feeling so sad, sitting in a room all by myself, crying. My three kids were sleeping, and it was three in the morning. Dad would come hug me and say, "Don't worry. God has a plan for you." His words comforted me. Without him at that moment, life would have been devastating. He was always there for me.
                    <br /><br />

                    While I was growing up in Hawaii we had a small restaurant where we made 叉燒包(pronounced “cha siu bao”, i.e. bbq pork bun). He made the best 叉燒包. The whole island would flock to our place to buy his 叉燒包, just to take it back to the other little island. It was amazing! He did a wonderful job. No one could make the 叉燒包 that he made because he invented the recipe. He used the American machine to make it, and in those days we didn't have the fusion between Asian and Western culture to make Chinese cuisine, but he was one of the pioneers in doing that. The problem was that he had so much knowledge and he was not a literary man; he didn't write things down and he didn't follow a cookbook, either. So, as you can see, nobody knows how to make the 叉燒包 anymore because he couldn't write it down, and none of us learned the secret. His 叉燒包 was the best! 
                    <br /><br />

                    While I was growing up we would wrap 雲吞 (pronounced “won ton”, or soup dumplings) in his little shop. He would say, "If you have homework to do, you don't have to wrap 雲吞." All of us would say, "We have homework to do!" That's how we all became good students. We spent the time to go and study, and that was how we passed our teenage years.
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory5-hide" onclick="showHide('restofstory5');return false;">SEE LESS</a>
                </span-->
            </div>
        </div>
            

        <%= image_tag("li/progress_two/immigration10.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>

        <div id="gueststories" class="clearfix">
         
            <% @anthology_items = Micropost.where(:topic => 'Prosperity in Posterity') %>
            <% @identity = "151" %>
            <% @subject_matter = 'Prosperity in Posterity' %>
            <div id="x" >
                <%= render 'shared/guest_stories_li_pages' %>
            </div>
        </div>

        <div class="bottom-menu">
            <p id="bottommenuli">
            <%= link_to 'HOME', li_path %> &nbsp; <span id="textspanlichapter15">/</span> &nbsp; <%= link_to 'NEXT EXHIBIT', li_progress_three_path %> &nbsp; <span id="textspanlichapter15">/</span> &nbsp; <%= link_to 'GUESTBOOK', li_guestbook_path %><br />
            </p>
        </div>

        <!-- Large modal -->


