<head>
    <!-- show and hide begins -->
    <script>
        function showHide(shID) {
          if (document.getElementById(shID)) {
            if (document.getElementById(shID+'-show').style.display != 'none') {
              document.getElementById(shID+'-show').style.display = 'none';
              document.getElementById(shID).style.display = 'block';
            }
            else {
              document.getElementById(shID+'-show').style.display = 'inline';
              document.getElementById(shID).style.display = 'none';
            }
          }
        }
    </script>
    <!-- show and hide end -->
    <!-- responsive video begins -->
    <script>
            $(document).ready(function () {
                $(".ChapterVideoDiv").fitVids();
            });
    </script>
    <!-- responsive video end -->
    <!-- fancybox begins -->

        <!--script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script--> <!-- this causes fitvids NOT to work. BOO -->
        <link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css" type="text/css" media="screen">
        <script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js"></script>
    <!-- fancybox end -->
       <meta name="viewport" content="width=device-width; initial-scale=1.0,maximum-scale = 3.0">

    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '[redacted-g]', 'antho.co');
          ga('send', 'pageview');
    </script>


</head>

<!-- Story Heading Begins -->
        <div id="ThemeCoverPhotoSpirituality" class="clearfix">
            <span id="ThemeTitle">
                <span id="textspanlichapter">SPIRITUALITY</span><span id="textspanlichapter1"><br /></span><span id="textspanlichapter2">A LIFELONG JOURNEY</span><br />
            </span>
            
            <span id="ChapterSectionIndex"><br/><br/><br/>
                <a href="#ch1">1 </a>&#x2f;<a href="#ch2"> 2 </a>&#x2f;<a href="#ch3"> 3 </a>&#x2f;<a href="#ch4"> 4 </a>
            </span>

        </div>

<!-- Story Heading Ends -->

<!-- Chapter 1 Begins -->
        <span class="anchorup"><a name="ch1"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
        <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 1 &nbsp;</span>
            <span id="textspanlichapter13">A LIFE </span><span id="textspanlichapter15">of &nbsp;</span><span id="textspanlichapter16">UNCOMMON KINDNESS </span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe src="//player.vimeo.com/video/112441092" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>


        <span id="ChapterQuote">
        "I would scream and yell, and I said, 'Dad, how can you let people do this to you?'...His kindness was extraordinary." 
        </span>
        <div id="ChapterText" class="clearfix">
            <span id="ChapterByline">
            <span id="textspanlichapter22">EVELYN LI</span><br /><span id="textspanlichapter24">DAUGHTER</span>
            </span>

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText">M</span>y parents’ spirituality: it's interesting, I must say. My dad struggled all of his life. I'm sure he must have been very spiritual when he was a kid, but when he was having us—when reality set in—he didn't feel like there was a God. The only time he had a stable income was the five years after he got married, and then when I was born he lost his job. Ever since that time, life was very rocky for him. For him to believe there was a God was very difficult, if not impossible. He still believed there was a deity, he still believed there were spirits. He would use spiritual stories to impress us about life. He impressed on us that you need to do good in order to have good things happen to you. .<br />
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("li/spirituality/small/spiritualjourney.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/spirituality/spiritualjourney.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/spirituality/small/spiritualjourney1.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/spirituality/spiritualjourney1.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/spirituality/small/spiritualjourney2.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/spirituality/spiritualjourney2.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/spirituality/small/spiritualjourney3.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/spirituality/spiritualjourney3.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/spirituality/small/spiritualjourney4.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/spirituality/spiritualjourney4.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/spirituality/small/spiritualjourney5.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/spirituality/spiritualjourney5.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/spirituality/small/spiritualjourney6.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/spirituality/spiritualjourney6.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/spirituality/small/spiritualjourney7.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/spirituality/spiritualjourney7.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/spirituality/small/spiritualjourney8.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/spirituality/spiritualjourney8.jpg", :class => "fancybox", :rel => "gallery1", :title => "" %>
                    </li>
                </ol>    
            </div>

            <span id="ChapterParagraphTwo">
            I remember when he was gambling in Hong Kong—converting our garage into a gambling casino, because that was the only way he knew how to make money—he would keep us busy by telling us, "Why don't you draw something on the floor? Those spirits that you draw will come up at night and dance." We loved that. We would be drawing beautiful people on the floor of the garage so that they would get up at night and dance with us. Since we were kids running around with nothing to do, that was one way he kept us busy. I'm sure he didn’t believe that was true, but he somehow made us believe it was.   
            </span>
            <span id="SEE_MORE"><a href="#" id="restofstory-show"  onclick="showHide('restofstory');return false;">SEE MORE</a>
            </span>

            <div id="restofstory" class="more">
                <span id="ChapterParagraphTwo">
                    He was a very kind person. He would allow strangers to come into the house and stay with us without asking questions. He housed several people. One boy was about thirteen years old, and his mom walked in front of our garage one day and said, "I have no food. I have no money. Can you take care of my son?” My dad was probably thinking in his own mind, "We don't have enough food for our own family. How can we accept you?" But he was so generous. He took him in and housed that boy for four or five years. Wherever we moved, the boy would move with us, and he would help with little chores left and right. He finally went to work in the police academy. It was not only one boy; there was another boy, too. He also came, and my dad accepted him. He was thirteen or fourteen years old. They were good kids. They had family problems, but my parents accepted them to come and stay with us.
                    <br /><br />

                    Back to my dad's spirituality. He believed in good things. If you do good things, good things will come to you. After he moved to America, he wasn't a church-goer, and he didn't have time to discuss the gospel or even sit down and listen to the Gospel. It’s understandable, with the little bit of money he had in his pocket, and he had to feed us. Many nights, we were still hungry while we were sleeping. He didn't have enough food for all of us to eat. I still remember we mixed two eggs with a lot of water so all of us would have something to eat. That went on in Hong Kong, and it still went on when we were in Hawaii. 
                    <br /><br />

                    When he was in his fifties, he started wondering more about God, and then he read a lot of books and fell in love with Buddhism. He believed that if you do bad, something bad will happen to you. In his life, he had so many bad people do bad things to him. I would scream and yell, and I said, "Dad, how can you let people do this to you?" He was such a kind person. He made good 叉燒包, and he would go out to the streets of Hawaii to sell it. People became jealous, took away his license, and said, “You cannot sell 叉燒包 anymore." And then they set up all of these rules. “You cannot do this; you cannot do that.” He struggled to feed the family. Later, there was a stranger about his age who asked him, “What are you doing? I would like to learn from you." He would be so generous in teaching this man how to do business. He learned from my dad, then took over everything and squeezed my dad out of the business. I didn't like that, but my dad was very kind. He would accept it and say, "Okay. That's life. Don't worry." 
                    <br /><br />

                    Once, his eye suddenly went blind; he had a retinal detachment. He went to see the doctor right away, but the doctor probably didn't have enough knowledge, and then didn't refer him to a specialist. He lost his eyesight. After I went to medical school, I learned that if you have a retinal detachment, you have to fix it within 24 hours. That doctor did not fix my dad's eye within 24 hours. He fixed it about three or four days later, and so my dad was blind in one of his eyes ever since. He could have sued that doctor, but he decided not to. He said, "Evelyn, everybody has problems in life. I don't need to add more problems to this doctor. The curse will come back to you for that." He never sued him. His kindness was extraordinary. He was kind to everybody, so everybody took advantage of him. He was always so poor all of his life, because everybody took advantage of him. 
                    <br /><br />

                    He became a follower of Buddha. When we were very active in the Mormon Church, we tried to talk him into coming to our church. Every now and then he would say that he would, and he would come, and then he would go back to the Buddhist religion. He did not believe in the Mormon Church until later. When he was 60 or 70 years old, he developed cirrhosis of the liver. It was because of his wild life in Hong Kong. He smoked, he gambled, he drank, he played with a lot of women, and so he developed hepatitis, and it developed into cirrhosis. The last two years of his life he was really weak. He started seeing the love of God in his life. He went on a cruise with us, a Mormon cruise, and learned about the Mormon Church. He started to believe, and then he was baptized. Then, a year later, he died. Before that, my mom was really against our church, and so he was not very active. He didn't get a chance to go to the temple. 
                    <br /><br />

                    After he died, my mom was still very against religion. I wondered, "How could anybody be so against religion?" I found out later on that my mom actually believed in God and Jesus Christ when she was growing up. Somehow someone preached to her when she was twelve and thirteen. But at that time it was World War II. Bombs were going off left and right. She went to wash dishes for restaurants at the age of twelve, and she would walk home in between bombs in Hong Kong. Her dad worked as a sailor for some European and American ships, and her dad would bring home some food for them. Otherwise they wouldn't have survived. That experience made my mom tough and strong, to the point that she didn't believe there was a God. She only believed there is war, there is money, there is power, and there are weaklings. If you are weak, you cannot survive. That was all she could remember. You have to depend on your own strength; there is no God. So the next 20 or 30 years of her life, she thought, “Why should you believe there is a God?” When I became a doctor, married, had kids, and then my husband died, that didn't help her, either. She still didn't believe there was a God. 
                    <br /><br />

                    The later decades of her life were not too bad. She was more stable then. Her husband was behaving better, compared to the wayward husband she used to have. When she was eight months pregnant with my brother, Gansin, she had to go up to the whore house to take my dad out of a bed with two other women. Living that kind of life, she was still hanging in there. It's amazing. My mom was a tough woman. For her to believe in deity was difficult. 
                    <br /><br />
                </span>

            </div>
           
        </div>
        <%= image_tag("li/spirituality/religiousfreedomCOVER.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>


<!-- Chapter 2 Begins -->
        <span class="anchorup"><a name="ch2"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
        <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 2 &nbsp;</span>
            <span id="textspanlichapter13">FREEDOM </span><span id="textspanlichapter15">of &nbsp;</span><span id="textspanlichapter16"> RELIGION</span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe src="//player.vimeo.com/video/114207438" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>


        <span id="ChapterQuote">
        “Another thing that I really appreciate about my parents: they taught me how good we are. We were born to be good.” 
        </span>
        <div id="ChapterText" class="clearfix">
            <span id="ChapterByline">
            <span id="textspanlichapter22">ELLIS LI</span><br /><span id="textspanlichapter24">DAUGHTER</span>
            </span>

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText">M</span>y father’s religious beliefs were very free, in that he didn’t force his beliefs upon others. When I was a teenager, I joined the Church of Jesus Christ of Latter-day Saints. He said, “If you like it, then go.” He never said I couldn’t go. My mother was the same way, very democratic, never forcing her beliefs on anyone else either. Although they never really went to church, I would accompany my mother to Catholic services when I was young. <br />
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("li/spirituality/small/religiousfreedom1.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/spirituality/religiousfreedom1.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/spirituality/small/religiousfreedom2.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/spirituality/religiousfreedom2.jpg", :class => "fancybox", :rel => "gallery2", :title => "" %>
                    </li>
                </ol>    
            </div>

            <span id="ChapterParagraphTwo">
            
                My mother, being so democratic, would say “I need to play mahjong; I don’t believe!” She thought that because she gambled, she couldn’t be a Christian. But then, in the end, she and my father both converted. After they became older, things changed and they started attending church.

 
            </span>

        </div>
        <%= image_tag("li/spirituality/religiousfreedomCOVER 2 better.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>


            <span class="StoryQuote">
            
            "The other thing I'm very grateful for is that even though they were atheists for a while, they did not stop us from going to church. That's how we could develop our own spiritual journeys."<br /> <span class="StoryQuoteByline">- EVELYN LI, DAUGHTER</span>
 
            </span>

        <%= image_tag("li/spirituality/changeofheartCOVER.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>

<!-- Chapter 3 Begins -->
       <span class="anchorup"><a name="ch3"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>
       <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 3 &nbsp;</span>
            <span id="textspanlichapter13">A CHANGE </span><span id="textspanlichapter15">of &nbsp;</span><span id="textspanlichapter16">HEART </span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe src="//player.vimeo.com/video/112440180" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>


        <span id="ChapterQuote">
        "She finally realized that this was her calling in life, to initiate the baptisms for her ancestor list of 2,000 names." 
        </span>
        <div id="ChapterText" class="clearfix">
            <span id="ChapterByline">
            <span id="textspanlichapter22">EVELYN LI</span><br /><span id="textspanlichapter24">DAUGHTER</span>
            </span>

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText">I</span>t was hard for my mom to believe in God. The last two decades of her life, she seemed to have a pretty stable life. She had little health setbacks. She had a tumor in her belly which she got removed at Stanford. She had some precancerous cells in her cervix, and she had that removed. When she got older, two or three years before she died, she developed Parkinson's Disease, which had a little bit of an effect on her, but not very much. My work had slowed down a little bit, so I was able to spend more time talking to her. My children had graduated from high school and didn't need as much of my attention, so I started talking to her, watching videos with her, and explaining to her why God loved her. I still remember our conversation. I said, "Look, you had all of these tumors in your body, and even Stanford said it could be cancerous. Even your cervical problems were precancerous lesions. And God loves you! He cures your disease without you even knowing about it." After multiple explanations, she began to see the love of God. Subsequently she was baptized, approximately two years after my dad died.  <br />
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <!--span class="GalleryTitle">
                G<br/>A<br/>L<br/>L<br/>E<br/>R<br/>Y
                </span-->
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("li/spirituality/small/changeofheart.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/spirituality/changeofheart.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/spirituality/small/changeofheart1.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/spirituality/changeofheart1.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/spirituality/small/changeofheart2.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/spirituality/changeofheart2.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/spirituality/small/changeofheart3.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/spirituality/changeofheart3.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/spirituality/small/changeofheart4.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/spirituality/changeofheart4.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/spirituality/small/changeofheart5.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/spirituality/changeofheart5.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/spirituality/small/changeofheart6.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/spirituality/changeofheart6.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/spirituality/small/changeofheart7.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/spirituality/changeofheart7.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/spirituality/small/changeofheart8.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/spirituality/changeofheart8.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/spirituality/small/changeofheart9.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/spirituality/changeofheart9.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/spirituality/small/changeofheart10.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/spirituality/changeofheart10.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/spirituality/small/changeofheart11.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/spirituality/changeofheart11.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/spirituality/small/changeofheart12.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/spirituality/changeofheart12.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/spirituality/small/changeofheart13.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/spirituality/changeofheart13.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/spirituality/small/changeofheart14.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/spirituality/changeofheart14.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/spirituality/small/changeofheart15.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/spirituality/changeofheart15.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/spirituality/small/changeofheart16.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/spirituality/changeofheart16.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/spirituality/small/changeofheart17.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/spirituality/changeofheart17.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/spirituality/small/changeofheart18.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/spirituality/changeofheart18.jpg", :class => "fancybox", :rel => "gallery3", :title => "" %>
                    </li>        
                </ol>    
            </div>

            <span id="ChapterParagraphTwo">
            
                She decided to follow Uncle Gregg to Hong Kong, and then in Hong Kong she had a stroke. She was half paralyzed and wanted to come back here, except the airline would not allow her to come back to America. I had to fly down to Hong Kong to pick her up and take her by ship to come back. When I first saw her in Hong Kong in the nursing home, I felt so bad. I said, “What's going on with my mom? She was so capable and functional, and suddenly she's in a wheelchair, not talking.” I felt sympathetic and full of compassion. And sad, too, because this was my mom, converting from one person to another person. I took care of her for three weeks on the ship and got to know her a little bit more, and after she came back to America she was living in my house and I spent more time explaining to her how lucky she was to have God to take care of her, to have her peace. I showed her a lot of videos, a lot of <a href="https://www.lds.org/general-conference/?lang=eng">General Conference</a>, and she began to understand more. A few months after she came back, she understood and wanted to go to the temple. I took her, and she really liked the temple. She believed there was a God now. 
 
            </span>

            <span id="SEE_MORE"><a href="#" id="restofstory3-show"  onclick="showHide('restofstory3');return false;">SEE MORE</a>
            </span>

            <div id="restofstory3" class="more">
                <span id="ChapterParagraphTwo">
                    She enjoyed the temple. She would be in her wheelchair using a tube to be fed—she could hardly even breathe—but she would dress herself so nicely on a Saturday, waiting for me to take her to the temple. I still remember one time I promised her that we were going to go with her, but last minute we couldn't go. She was so sad, so sad. I still feel bad! I still remember how she looked, and I feel bad. She was so happy going to the temple. 
                    <br /><br />

                    One thing I must say: for the longest time, I asked her for the ancestor file so that I could be baptized for our ancestors, and she would say, "No, no, no, no, no! I don't believe in your church." Then, after she came back from Hong Kong, she was half paralyzed. She could not stand, she could not walk, she could not eat, she could not breathe, she got a tracheotomy, she could not talk. But she could think very well. With all that, she was very sad. One day she said, "Evelyn, I don't want to live anymore, because life is so hard. You have to feed me with liquids. I cannot even eat solids. What is the point of living?" She wanted to die. At that point in time she wanted to leave the world because she was such an invalid, but each time she wanted to die, God wouldn't let her. She was just not dying, and she was not happy about it! But one day something changed in her, and she said, "I will give you the ancestor book." I got it, and within three months I had it converted into the computer file. I got the names and again I took her to the temple. I was supposed to be the first one who would start the ancestor file and do the endowment session. But for some reason I was called to attend to another duty, because I was also a worker there. So my mom turned out to be the first person who did the ancestor work for her entire line of 2,000 people. She was the first one who did it! After that I was the second one. A month later, she died peacefully. She went back to heaven peacefully. She got her wish to leave the world. Looking back at it, I think she was appointed to have this job all her life, and she was too stubborn to accept it. 
                    <br /><br />

                    My mom finally realized it was her calling to initiate baptism and endowment for her entire ancestor line, which had 2,000 people. It was amazing that all of these things came about. I couldn't do all 2,000 names; I was probably up to about 1,000 names. I got really tired, and I had some other responsibilities, and that was when I prayed to God. I said, "I cannot do these 2,000 names." At that very moment, someone contacted me, and said, "My ancestor is connected to your ancestor. I’ve done some names for you." I said, "Wow! Are you kidding me? You have done some names in connection with my ancestor names?" We met up where they were in Hawaii. They were descendants of one of our ancestors. I think it was God's response to me. Someone was there to help me finish the rest. They helped me finish half of it. I myself couldn't have done all of those names, because in those days, technology was not as good as it is now. It took half an hour in input one name, and so to input so many names was painstaking. But we did it and made it happen, and had all of the ancestor file, the names, and the endowments for all of that work. It was one of the indications that God exists. He answered my prayer out of the blue moon! I would never have imagined someone would call and say, "Your ancestor is connected to mine."
                </span>

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
            </div>
            
        </div>
<%= image_tag("li/spirituality/cruiseshipCOVER better.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>
        

<!-- Chapter Four Begins -->


       <span class="anchorup"><a name="ch4"> </a><div class="invisichar"> a</div>
<br /><br /><br /><div> </div></span>

       <span id="ChapterHeading">

            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 4 &nbsp;</span>
            <span id="textspanlichapter13">JUST </span><span id="textspanlichapter15">in </span><span id="textspanlichapter13">TIME </span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/186093351%3Fsecret_token%3Ds-Lvgao&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>


        <span id="ChapterQuote">
        "If I'd missed that, it would've been another year before she could've come back to SF."
        </span>
        <div id="ChapterText" class="clearfix">
            <span id="ChapterByline">
            <span id="textspanlichapter22">KAREN LI</span><br /><span id="textspanlichapter24">DAUGHTER-IN-LAW</span>
            </span>

            <span id="ChapterParagraphOne">
            <span id="BigFirstLetterText">S</span>ix months before Popo's last trip to Hong Kong, she moved to Hong Kong and stayed in a senior home. She had a private room and toilet, and there was 24-hour standby nursing care for her. But in her last stages, she really wanted to go back to San Francisco because most of her family still lived there. That was a difficult because she couldn't travel by plane because of a surgery; there was a hole in her throat, and the doctor highly recommended that she not travel by air. It put us in a very difficult position, because how could we move her back to San Francisco without flying? 
            <br />
            </span>

            <div id="ChapterPictureGallery" class="clearfix">
                <ol class="GalleryPics">
                    <li><%= link_to image_tag("li/spirituality/small/cruiseship.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/spirituality/cruiseship.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/spirituality/small/cruiseship1.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/spirituality/cruiseship1.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                    <li><%= link_to image_tag("li/spirituality/small/cruiseship2.jpg", :class => "fboxImageSize"), "https://dqp5htr9jmxmj.cloudfront.net/assets/li/spirituality/cruiseship2.jpg", :class => "fancybox", :rel => "gallery4", :title => "" %>
                    </li>
                </ol>    
            </div>

            <span id="ChapterParagraphTwo">
            
                We researched and finally found out that once a year there was a cruise ship that came to Hong Kong and then would travel to Shanghai and somewhere in Japan. If I remember correctly it was a three week cruise that would take her back to Los Angeles, not even San Francisco. Evelyn flew back to ride on the cruise ship with Popo from Hong Kong to Shanghai, and then to Japan. Three weeks later they landed in L.A., and then they had to drive from L.A. back to San Francisco. That was funny. When I booked that ticket, it was only two weeks prior to boarding at the Hong Kong pier. If I had missed that, it would have been another year before she could have come back to San Francisco. That was memorable because it was timely.
 
            </span>
            

                <!--span id="SEE_MORE">
                    <a href="#" id="restofstory2-hide" onclick="showHide('restofstory2');return false;">SEE LESS</a>
                </span-->
               
        </div>
            

        <%= image_tag("li/spirituality/spiritualityendCOVER.jpg", :id => "ChapterHeadingCoverPhoto", :class => "image") %>

            <span class="StoryQuote">
            
            "They are kind people—very kind people. Even when my husband first met me, I asked him what he thought about my parents. He said, 'They are kind people.'' That was the only thing that came out of his mouth. He is a very quiet man, a man of few words, but that's what he said. That describes my parents."<br /> <span class="StoryQuoteByline">- EVELYN LI, DAUGHTER</span><br /><br />
 
            </span>

            <!-- Button trigger modal -->

        

        <div id="gueststories" class="clearfix">
         
            <% @anthology_items = Micropost.where(:topic => 'Spirituality') %>
            <% @identity = "151" %>
            <% @subject_matter = 'Spirituality' %>
            <div id="x" >
                <%= render 'shared/guest_stories_li_pages' %>
            </div>
        </div>

        <div class="bottom-menu">
            <p id="bottommenuli">
            <%= link_to 'HOME', li_path %> &nbsp; <span id="textspanlichapter15">/</span> &nbsp; <%= link_to 'NEXT EXHIBIT', li_guestbook_path %> &nbsp; <span id="textspanlichapter15">/</span> &nbsp; <%= link_to 'GUESTBOOK', li_guestbook_path %><br /></p>
        </div>
