<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale = 1, maximum-scale = 2, user-scalable=1" />
    <script src="//use.typekit.net/[redacted-a].js"></script>
    <script>try{Typekit.load();}catch(e){}</script>    
    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '[redacted-g]', 'antho.co');
          ga('send', 'pageview');
    </script>
</head>


<body>

	<% provide(:title, 'Method') %>

<%= render 'shared/public_header' %>

        <%= image_tag("method 1.png", :id => "pictureboard", :class => "image") %>
        <p id="About">
        How It Works
        </p>
        <p id="Antho_Antho_provides_services_and_products_to_help_you_preserv">
        <span id="textspanz2">At Antho, we build tributes that underscore the value of every human life. Every individual has a few stories worth exploring, ones that can send audiences through triumph, tragedy and other moving episodes of human experience. Those stories, filled with footprints, are what we hope to capture. <br /><br /></span>

        
        <div id="boxx1" class="clearfix">
            <p id="Antho_Antho_provides_services_and_products_to_help_you_preserv">
                <span id="textspanx5">Building Your Story</span><br /><br /><br />
                <span id="textspanz2">To put together your distinctive story, we meet with the subject three times to lay the foundation for the museum and conduct interviews. We also interview up to four close friends and family members, to bring essential perspective and dimension to the overall narrative. We then spend several weeks fine-tuning the stories, designing the museum, and putting it all online. The typical span of a project’s timeline is two to three months, with a debut typically around an anniversary or a holiday.</span>
            </p>
            <p id="Antho_Antho_provides_services_and_products_to_help_you_preserv">
                <span id="textspanx14">Keep it Brief and Approachable<br /></span><span id="textspanx15"><br /></span><span id="textspanz2">Commissioning a life story can be a daunting task. One of the methods we champion is keeping it brief. Shortening stories diminishes the intimidation factor, while still preserving the principal lessons, themes, and personalities. <br /><br />

                Most people can skip over covering a few periods of life, forming a more cohesive and enchanting overarching story. We work alongside your loved ones to ask the right questions to bring out the threads most relevant and compelling to them. (link to a few of our sample questions)<br /><br />
 
                We then work with you to gather, condense, and refine the story of the subject’s life. The subject’s history will be divided into multiple stories that represent major themes or journeys in that person’s life. Some will be longer, some shorter, depending on the narrative. In addition to the major narratives, we include a few side stories that add character and personality to the story subject. Altogether, the stories will add up to about 10,000 words, or about eight average New York Times articles. 
                </span><br />
            </p>
            <%= image_tag("method 2.png", :id => "bookdemo", :class => "image") %>
            <!--p id="Antho_Antho_provides_services_and_products_to_help_you_preserv">
            <!span id="textspan8"> &nbsp; &nbsp; &nbsp; A Life is Worth Ten Thousand Words</span>
            </p-->
            <p id="Antho_Antho_provides_services_and_products_to_help_you_preserv">
                <span id="textspanx14">Bring Your History to the 21st Century<br /></span><span id="textspanx15"><br /></span><span id="textspanz2">We pull in sensory elements of high-resolution voice, music, and film that come to life naturally on the Internet. We merge together the experiences of a lively family dinner party, a life-changing speech, and a stirring museum visit. <br /><br />

                We work seamlessly between both modern digital and traditional print worlds. We interview the main characters with our Zoom H6 and film and photograph them with our 5D Mark II. We aim to incorporate elements of public radio storytelling, documentary filmmaking, and literary journalism in each composition, adding a touch of dramatic flair. Through this process, we help make your story captivating, accessible, and memorable to family and friends. <br /><br />

                We combine all the digital content with archival print material. We help gather stories and pictures from family wide and far to fill gaps and add perspective. We then work with vintage photo collections, home video footage, and old journals and scrapbooks to arrange a tribute fit for a king. </span>
            </p>
            <%= image_tag("multipleviewpoints.png", :id => "bookdemo", :class => "image") %>

            <p id="Antho_Antho_provides_services_and_products_to_help_you_preserv">
                <span id="textspanz2">
                To make our finished products appealing to the target audience of younger generations, we borrow post-processing styles found in popular highbrow culture. We blend the charm of ordinary life with the techniques and splendor of our inspirations, invoking a certain warm ambience, unique to every family. <br /> <br /> 

                Our influences include <a href="http://www.cmu.edu/randyslecture/">Randy Pausch’s "The Last Lecture"</a>, <a href="http://www.nytimes.com/projects/2012/snow-fall/#/?part=tunnel-creek">New York Times’ Pulitzer Prize-winning “Snowfall,”</a> <a href="http://www.thisamericanlife.org/">Ira Glass’s “This American Life,”</a> <a href="http://en.wikipedia.org/wiki/The_Glass_Castle">Jeannette Walls’s </span><span id="textspany1">The Glass Castle</span></a><span id="textspanz2">, <a href="http://mitchalbom.com/d/books/3856/tuesdays-morrie">Mitch Albom’s </span><span id="textspany1">Tuesdays with Morrie</span></a><span id="textspanz2">, <a href="http://storycorps.org/">David Isay’s “StoryCorps,”</a> <a href="http://www.humansofnewyork.com/">Brandon Stanton’s “Humans of New York,”</a> <a href="http://en.wikipedia.org/wiki/Dreams_from_My_Father">Barack Obama’s </span><span id="textspany1">Dreams from My Father</span></a><span id="textspanz2">, and <a href="http://www.byutv.org/show/c95a6dd1-3fda-4401-aa8d-9f4e7340684b/turning-point">BYUTV’s “Turning Point.”</a></span>
            </p>
            <%= image_tag("orchardscreen.png", :id => "bookdemo", :class => "image") %>

            <p id="Antho_Antho_provides_services_and_products_to_help_you_preserv">      
                <span id="textspanx14">Leave Behind a Meaningful Legacy<br /><br /></span><span id="textspanz2"> 

                The final product is an interactive online museum, where visitors can be immersed in the family history, browsing and watching, reading and listening. They can leave stories and photos of their own, and share the stories with others on social media. <br /><br />

                Your museum will be a significant, lasting portrait of who the subject really was, ready and available to inspire the rising generation. <br /> <br />

                Call us today at 206.701.9486. <br /><br />
                </span><br />
            </p>


        </div>
        <div id="boxv2" class="clearfix">
        </div>

</body>
