<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale = 1, maximum-scale = 2, user-scalable=1" />
    <script src="//use.typekit.net/[redacted-a].js"></script>
    <script>try{Typekit.load();}catch(e){}</script>    
    </script>
    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '[redacted-g]', 'antho.co');
          ga('send', 'pageview');
    </script>
</head>

    <% provide(:title, 'Michelle Nielsen') %>

<body>
          <p id="Michelle_Title">
              <span id="Michelle_Name">Michelle Lyn Nielsen<br />
              </span><br />
          </p>
              <%= link_to image_tag("MichelleFrame2.png", :id => "Michelle_Frame", :class => "image") %><br />
              
              
              <p id="Eulogy_Titlep">
                <span id="Eulogy_Title">Eulogy</span><br /><br />
              </p>
              <p id="italicintro">
                  This tribute was shared at her graveside service on June 7, 2014. 
                </p> 
              <p id="Eulogy_Content">
                
                <span id="textspanm1">
                  Michelle Lyn Nielsen studied, tested, lived, and loved the gospel of Jesus Christ. Because of that, she knew that her life did not begin at birth, and it would not end with death. Before coming to earth, her spirit lived with her Heavenly Father, and she chose to embrace His plan for her to come into mortality and receive a body, be tested, and overcome her trials through faith in Jesus Christ.<br /><br />

                  She was born on a lovely summer day, August 24, 1991.The day was fitting, because she was the most beautiful baby her parents and seven siblings had ever seen. Being the youngest in a family of eight children required considerable patience, and Michelle developed it, along with a feistiness and quiet stubbornness. She was her own girl from the very start.<br /><br />

                  Michelle held her own with her older siblings, riding bikes, climbing trees, building forts, and jumping on trampolines. Her brothers used to tell her “No grils [sic] allowed,” but she pushed past the keep out signs posted on their doors and later endured their camping and backpacking trips. She brought a refining touch to their lives, sitting down at the piano and making up songs and singing when she was just three years old. <br /><br />

                  She had a surprisingly dedicated love for learning as a little girl. She assigned herself “homework” before she ever went to kindergarten, and would sit for hours practicing letters, drawing, and doing workbooks. She mastered her signature early on and inscribed it, backwards, in unexpected places like the sides of dressers, bookshelves, and doors. She took classes in art, sign language, and piano. <br /><br />

                  She exercised her creative genius by constructing vast paper, tape, and glue masterpieces. As she grew older she tried her hand at baking, drawing, water colors, scrapbooking, knitting, crocheting, jewelry making, and writing. Her creations were everywhere around her room, the house, and in gift boxes to people she loved.<br /><br />

                  Faith came naturally to Michelle. She was eager to be baptized a member of the Church of Jesus Christ of Latter-day Saints at age eight. She wore a lovely white dress, and her father, Randy, performed the ordinance. It was the first covenant she made with her Heavenly Father in this life, and, characteristically, she lived consistent with that covenant. As she matured, the Young Women program gave her opportunities to develop her unassuming, genuine nature. She diligently worked at her talents and her testimony, completing the Young Woman Recognition Award in only two years. In seminary she studied carefully and filled the margins of her scriptures with notes and thoughts. She was motivated by a sincere desire for spiritual knowledge.<br /><br />

                  Out of her desire to serve, Michelle saw a need in her high school and founded Random Acts of Kindness, a club that focused on anonymous acts of service. She engaged in a wide variety of interests, playing on the tennis team, participating in French club, singing in the chamber choir, and performing in the musicals Les Miserables and Fiddler on the Roof. She had a velvety alto voice that blended well with virtually every voice she sang with. One special year involved singing in an a cappella group with her brother Michael, and the next year she was the bass for the women’s quartet the Hy-Tones. Piano practice also filled her days. She was a passionate if shy performer, and singing and playing the piano with her family became a favorite tradition.<br /><br />

                  Michelle had a talent for putting others at ease and being silly. On one occasion her parents came home to a house full of giggling girls, strips of fabric covering the kitchen, and hot hair-removal wax dripping all over the counters. She would head off to Leavenworth on summer weekends to clean cabins and enjoy a girls night with friends, and she mastered the art of Star Tipping and taught that valuable skill to others.<br /><br />

                  In high school Michelle traveled with the French Club to France, and then with her choir to other parts of Europe. She loved academics and thrived in her science classes, especially biology and genetics, and graduated in 2009 as valedictorian. When she left for college at Brigham Young University, she went with her focus on a science degree.<br /><br />

                  In early October of 2010, Scot Nielsen was encouraged to ask Michelle out on a blind date by his best friend and a mutual friend of Michelle's, Aaron Clark. The story is quite a good one, but is summarized best by Aaron's words to the two of them. To Michelle: "You just need to find a really sweet guy." To Scot: "She's tall, you're tall, it'll work."<br /><br />

                  They got to know each other better and began dating in earnest in November and were engaged the following May. Scot and Michelle were married for time and all eternity on August 5, 2011.<br /><br />

                  Over the following years, their love deepened through many adventures and challenges, Michelle becoming sweeter than ever, supporting and helping Scot to become a better man and good husband.<br /><br />

                  A long and difficult fight with cancer resulted in Michelle's peaceful passing on June 4, 2014. On their final day together, Michelle and Scot were able to express their love to each other and enjoy another one of their pleasant days simply sitting together.<br /><br />

                  We know that Michelle will be busy on the other side of the veil, and we are sure that she looks forward, as do we, to the day when she can be reunited with Scot and we will all be resurrected to live again.<br /><br />

                  Heavenly Father, in his wisdom, allows some lives to last only moments, others years, some decades. We are humbled today to honor Michelle’s vibrant 22 years and express our faith and hope in the eternity that awaits her.<br /><br /><br />

                  <span id="OtherLinksTitle">Other Links</span><br /><br />

                  The Nielsen Family is raising funds to help pay for Michelle's funeral and other expenses related to her medical care. If you would like to donate, please go to <u><a href="http://www.youcaring.com/memorial-fundraiser/for-michelle-/187884">Michelle's YouCaring site</a></u>. <br /><br />

                  Michelle's obituary can be read at the <u><a href="http://www.wingmortuary.com/fh/obituaries/obituary.cfm?o_id=2549361&fh_id=10655">Wing Mortuary site</a></u>. <br /><br />

                  Nicole Cheung, Michelle's sister, wrote a <u><a href="http://nicolio.co/blog/2014/6/4/to-michelle">blog post</a></u> that captured Michelle's spirit marvelously. It also features pictures of Michelle throughout her life.  

                </span>

              </p>
              <div id="bluebox">
                <p id="Contribute_Explanation">
                  <span id="Contribute_Title">Contribute to Michelle Nielsen's Life Story</span><br /><br />
                  </span>
                
                  <span id="textspanm1">Michelle’s family is creating an online memorial for her. Please contribute any photos or memories you have of her, or reflections on how she made a difference in your life. At the end of June, all the contributions will be gathered together and curated into a museum of her life. Your stories will live on indefinitely in this online museum. 
                  <br /><br /></span>
                </p>
              </div>


                      <div id="storyfeedtop">
                        <div id="show">
                          <div class="main">                  
                            <div class="horizontal">               
                                  <ol class="microposts">
                                    <% @anthology_items = Micropost.where(:subject_id => "15") %>
                                    <%= render "shared/anthology" %>
                                  </ol>   
                            </div> 
                          </div>
                        </div> 
                      </div>

                      <p id="Michelle_Story_Form">
                          <span id="Call_To_Action">Add a Story or Tribute</span>
                      </p>

                        <div id="gueststories" class="clearfix">

                            <%# @anthology_items = Micropost.where(:subject_id => "9") %>
                            <% @identity = "15" %>
                            <%# @place = 1 %>
                            <% @subject_matter = 'none' %>
                            <a name="x" >
                            <!-- div id="<%= @place %>" -->
                              <%= render 'shared/guest_storiesm' %>
                            </a>
                        </div>

                      <div id="storyfeedbottom">
                        <div id="show">
                          <div class="main">                  
                            <div class="horizontal">               
                                  <ol class="microposts">
                                    <% @anthology_items = Micropost.where(:subject_id => "15") %>
                                    <%= render "shared/anthology" %>
                                  </ol>   
                            </div> 
                          </div>
                        </div> 
                      </div>
                      <br /><br /><br />


<br /><br /><br /><br />

