<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale = 1, maximum-scale = 2, user-scalable=1" />
    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '[redacted-g]', 'antho.co');
          ga('send', 'pageview');
    </script>
</head>
    
<body>

<% provide(:title, 'Randy Bird: Boyhood') %>

        <%= image_tag("B O Y H O O D.png", :id => "B_O_Y_H_O_O_D", :class => "image") %>
        <p id="Beginnings_Born_in_an_Idaho_Falls_hospital_in_1957_I_was_the_">
        <span id="textspane">Beginnings<br /></span><span id="textspane1"><br />Born in an Idaho Falls hospital in 1957, I was the fifth child and fourth son, sandwiched in between my older sister Debi and younger sister Janet. I shared a room with my sisters until I was eight years old at the farmhouse that was built by my Grandpa Bird. My father was raised on the same farm, which he eventually bought from his dad years later. When my father got married, the family moved to the farm and all my siblings and I were born there.</span>
        </p>
        <%= image_tag("carmakensuitcase.png", :id => "carmakensuitcase", :class => "image") %>
        <p id="Dad_had_raspberries_and_always_had_a_huge_garden_north_of_the_">
        Dad had raspberries and always had a huge garden, north of the stockyards near the cattle. We had almost an acre garden. Lots of corn, squash and beans. He also had an orchard, of which I remember pear and apple trees. We were probably 15-20 fruit trees south of the house. There were also huge cottonwood trees that stretched high into the sky. They were so big we were worried they’d come crashing down in a windstorm on the house. 
        </p>
        <%= image_tag("cribbaby.png", :id => "cribbaby", :class => "image") %>
        <%= image_tag("cyndiprofile.png", :id => "cyndiprofile", :class => "image") %>
        <p id="The_Gun_Accident_Cyndi_Bird_wife_When_Randy_was_just_two_year">
        <span id="textspane2">The Gun Accident</span><span id="textspane3"><br /></span><span id="textspane4">Cyndi Bird, wife<br /></span><span id="textspane5"><br />When Randy was just two years old, he placed his mouth over the barrel of a firearm. It accidentally shot off and shattered his jaw. He was rushed off to the hospital and endured a number of reconstructive surgeries over the course of his childhood.&nbsp;Though it was an influential and defining part of his childhood, one of the remarkable things about him is that he never let it negatively shape and limit the trajectory of his life. </span>
        </p>
        <%= image_tag("bikewithdad.png", :id => "bikewithdad", :class => "image") %>
        <p id="I_remember_my_older_brothers_built_a_treehouse_that_was_30-40_f">
        I remember my older brothers built a treehouse that was 30-40 feet in the air. It was in a huge Lumbard Tree that was used as a windbreak for the farm. It grew on our property, but when it got big it grew into the fence line of the Palmers next door. There were the Bird boys and the Palmer boys so there was always a little bit of friction there of who owned the tree, because the fence went right through it. The tree grew around the wire and there was always a little bit of hand to cuff about whose property it was. It’s just how it was back then. So we built this tree house and it was way up. I played in that all the time. We hollowed it out and had an entrance at the bottom, from which you would climb up to the top. The treehouse itself was totally hidden, so it was a great hideout. <br /><br />I was just a ruddy kid to my brothers. I wasn’t really in the group of boys and they were always all three together. I was sandwiched in-between my sisters, which meant I grew closer to them. This probably had to do with the fact that we shared a room in the farmhouse. I remember a lot of sibling rivalry with my younger sister Janet especially. Robert and Marlon slept downstairs in the “dungeon” basement, where Mom also had an old pump organ. Mike slept upstairs. <br />
        </p>
        <%= image_tag("randyposed.png", :id => "randyposed", :class => "image") %>
        <p id="_All_the_way_up_until_we_moved_when_I_was_eight_I_had_a_blast">
        All the way up until we moved when I was eight, I had a blast on the farm. I didn’t really have to work as hard as my three older brothers. They milked the cows, hauled the hay and did most of the hard labor. When they found out we were moving, they were happy and I remember being sad. Mike was 17, Marlon 15, and Robert 13. Deb was 11, I was eight and Janet was six. <br /><br />My mother's goal was always to move away from the farm. My father loved it as it was his father's trade. But my mother knew that there were more opportunities in a larger town. It took 17 years for that opportunity to raise its head. We moved to Rexburg in 1967, when my parents purchased an Arctic Circle fast food restaurant. Fast food was low-key at the time, not as popular as it would become in its heyday, but there was a rising interest. 
        </p>
        <%= image_tag("carmakenfarm.png", :id => "carmakenfarm", :class => "image") %>
        <p id="The_Move_to_Rexburg_I_remember_being_super_excited_to_move_to_">
        <span id="textspane6">The Move to Rexburg<br /></span><span id="textspane7"><br />I remember being super excited to move to a larger town and live on a new street. The population of Rexburg was 8-10,000 people at the time. I don't remember feeling remorse about moving. It was a family affair and we had lots of friends and relatives help us move. We did it all by ourselves (no professionals) with pick ups and trucks.<br /><br />I remember my first night living in Rexburg. That was an eventful thing. I remember sitting in bed and everything being so clean and crisp and new. Our address was 484 Maple Drive and we lived there from 1967-1971, so about four years. It was a typical split level house. My parents then built a house on Reid Street four years later. Dad still farmed, but sold some of the land off and added more property in town to build apartments.<br /><br />We started our life in what was known as the Rexburg 4th Ward in our church. Life continued on. I remember the transition was harder for my older brothers. Mike was a senior in High school at the time. He started a band and played in the garage. He played bass guitar and actually sang really well. Mike loved cars especially. I remember he had a dodge charger. He’d take a girl on a date and put a $20 bill on the dash and tell the girl if she could reach and get it when he accelerated she could have it, but the G-force was so great they could never get it. Or at least that’s how the story went. <br /><br />It was exciting to have your parents own an Arctic Circle because it meant a lot of food. For my teenage years, it was great to know that I could eat all this yummy food all the time. &nbsp;Moving off the farm, we all inherited a strong work ethic to work hard and provide. My father was a man who got up really early to start the day’s work. He instilled in us a very strong work ethic, which was very instrumental for us in our transition to town living. He worked just as hard with his new businesses as he had on the farm.</span>
        </p>
        <%= image_tag("famportraitearlychildhood.png", :id => "famportraitearlychildhood", :class => "image") %>
        <p id="Schooling_and_Appearance_I_adjusted_to_new_life_in_Rexburg_whi">
        <span id="textspane8">Schooling and Appearance<br /></span><span id="textspane9"><br />I adjusted to new life in Rexburg while I was in third grade at Adams elementary. We lived just off Smith Park's boundary and on the east side of the park, was the school campus. School for me seemed good. I had good influences and bad influences. I don't remember any event of being ostracized. Though I was a farm boy, there were many other farm children at the school as well, so I wasn’t much different. I remember one particular friend who lived down the street named Kevin Wilding. <br /><br />I had some positive and negative childhood experiences. Playing baseball one day, I was swinging a bat, and the catcher behind me was too close, so that in the follow-through of my swing, there was solid contact of my bat onto his head. I don't remember any negative fallout from it, but I’ll certainly never forget that event.<br /></span>
        </p>
        <p id="“I_wasn_t_cool_I_was_probably_average_although_I_didn_t_feel">
        “I wasn't cool. I was probably average, although I didn't feel average; I had a loving family...  The ostracization that I could have felt was minimized by their efforts.” 
        </p>
        <p id="Because_of_the_gunshot_accident_when_I_was_two_years_old_my_ja">
        Because of the gunshot accident when I was two years old, my jaw was very disfigured until I was about 11 or so and had surgery. I must have stood out, but I can't remember any particular event of being ostracized because I looked funny. But I do remember that I looked funny in the mirror. I wasn't the biggest, strongest, or smartest. This all had an impact on me. I wasn't cool. I was probably average, although I didn't feel average; I had a loving family. I wondered if their view of me growing up was that I had some sort of disability and they needed to watch out for me. My parents took every opportunity to help me get my jaw corrected. As I kept growing, I had a new plate installed every year or so, because one side would grow more than the other. I had many, many visits to the dentist and orthodontist to preserve the bite, so I could chew food properly. I remember my mother driving many hours and Grandma Ingram flying to Boise to accompany me for different operations/appointments. I always felt I was well taken care of. The ostracization that I could have felt was minimized by their efforts. <br /><br />I do recall in school being treated as someone special with my plate installation and the wiring of my teeth shut. It was necessary for my jaw to be wired to my upper teeth. I was only able to breathe through my nose or breathe through my teeth. I could not open my mouth and could only consume liquefied food. Since my dad owned an Arctic Circle, that meant lots of milkshakes. I even got them at school! My friends today still think about those incidents. This was impactful in my life because I knew my parents’ loving concern for me during those years. <br /><br />After moving to Rexburg, our financial situation improved, due to my dad's hard work and my mom's part-time employment as a county nurse. I remember coming home from school in Jr. High and that my mom was often at the county building working. She helped with indigent people around town. I remember her being very beautiful, and how she would do anything to provide for her family. I always felt her love. That said, I know my family was very male-dominant, with a father and three older brothers. Mother was respected by all, and a great influence on the family. I don't recall any marital discord in my family whatsoever. 
        </p>
        <div id="boxe" class="clearfix">
            <%= image_tag("carmaprof.png", :id => "carmaprof", :class => "image") %>
            <p id="_Guile_Carma_Bird_mother_He_has_never_had_any_guile_I_have_">
            <span id="textspane10">Guile<br /></span><span id="textspane11">Carma Bird, mother<br /></span><span id="textspane12"><br />He has never had any guile. &nbsp;I have never &nbsp;heard him speak unkindly of another. &nbsp;He was a very easy young son to raise. There was no contention from him in whatever situation might arise growing up. He was an obedient and happy child. Unusually so.<br /></span>
            </p>
        </div>
        <%= image_tag("playful.png", :id => "playful", :class => "image") %>
        <%= image_tag("scouts.png", :id => "scouts", :class => "image") %>
        <div id="gueststories" class="clearfix">
         
            <% @anthology_items = Micropost.where(:topic => 'Boyhood') %>
            <% @identity = "9" %><%# 139 is for testing %>
            <% @subject_matter = 'Boyhood' %>
            <div id="x" >
                <%= render 'shared/guest_stories' %>
            </div>
        </div>
    </div>
    <div id="buttonbottom">
        <%= link_to "Back to Life Story", randybird_path, class: "button2" %><br><br>
        <%= link_to "Next Story", randybird_formative_years_path, class: "button" %>
    </div>
    </body>
</html>