<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale = 1, maximum-scale = 2, user-scalable=1" />
    <script>
        $(document).ready(function () {
            $("#cyndivideo").fitVids();
        });
        $(document).ready(function () {
            $("#cyndivideo2").fitVids();
        });
        $(document).ready(function () {
            $("#mikevideo").fitVids();
        });
        $(document).ready(function () {
            $("#nicolevideo2").fitVids();
        });
        $(document).ready(function () {
            $("#nicolevideo").fitVids();
        });
    </script>
    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '[redacted-g]', 'antho.co');
          ga('send', 'pageview');
    </script>
</head>
    
<body>

<% provide(:title, 'Randy Bird: Provide') %>
    <!--div id="primaryContainer" class="primaryContainer clearfix"-->
        
        <%= image_tag("riverfamily.png", :id => "riverfamily", :class => "image") %>
        <p id="An_Intergenerational_Tradition_There’s_a_strong_tradition_of_h">
        <span id="textspan">An Intergenerational Tradition</span><span id="textspan1"><br /></span><span id="textspan2"><br />There’s a strong tradition of hard work in my family. It started back many generations with my grandfather who operated a farm in Milo, Idaho that eventually my Dad bought and worked on. It was a 220 acre farm and as most people know, farmers are known for working hard. You have to work hard in order to meet certain schedules and certain time frames, weather permitting. <br /><br />And so you rose early to milk cows and basically had more jobs than you could possibly get done in a day. It was possible -- depending on how you disciplined your life -- to never stop working. This mentality was instilled in my grandfather as a farmer. My dad grew up on the same farm and continued for 17 years before we moved. </span>
        </p>
        <%= image_tag("KenRay.png", :id => "KenRay", :class => "image") %>
        <p id="And_at_that_point_I_was_8_years_old_so_I_wouldn’t_say_that_I_e">
        At that point I was eight years old, so I wouldn’t say that I experienced the hard work myself. I thought the farm was a wonderful place. For an eight year old it was fun and games. And though I know I did some work, it wasn’t like what my older brothers were doing. Yet, the tradition was there and even though we moved from the farm when I was just a kid in 1965, I was expected to work and work hard. That was the legacy of the farm. <br /><br />After moving off the farm, my dad owned and operated an Article Circle Restaurant and I was expected to help, to clean up, to mow lawns and earn money for my own spending. In those ways I was able to carry on that tradition. I think I was able to carry it on because I’m a hands-on person. I’m a kinesthetic type of worker. I love to fix things, repair things and even if something can’t be easily repaired, I will figure it out. My natural inclination has always been to do it myself.
        </p>
        <%= image_tag("caterpillarred.png", :id => "caterpillarred", :class => "image") %>
        <p id="The_Vision_of_Self-Employment_I_always_felt_--and_it’s_part_of">
        <span id="textspan3">The Vision of Self-Employment</span><span id="textspan4"><br /></span><span id="textspan5"><br />I've always felt --and it’s part of the tradition -- that being a farmer, you really are your own businessman, even though you might not think so. You may not call a farmer an entrepreneur but that’s exactly what he is. The tradition of working hard and being independent came with me from the farm, and my dad exemplified that in my life. My brothers exemplified it as well. I recall them working construction jobs in their teenage years, and a little bit before and after their missions, but we were encouraged by our dad to find a business and make something of ourselves. <br /><br />That's exactly what my brothers did. They started a sprinkling and landscape business right after they came back from their missions. Though I didn’t know what the future held for me or what type of businessman I was going to be, I knew I needed to keep looking and I would find a way to support my family. It was just part of my makeup.<br /></span>
        </p>
        <p id="I_knew_that_I_needed_to_just_keep_looking_and_I_would_be_led_to">
        "I knew that I needed to just keep looking and I would be led to something that would bring about the amount of money I needed to support my whole family, so my wife could stay home and <span id="textspan6">support our children, which was our highest priority."</span>
        </p>
        <p id="For_Cyndi_and_I_our_goals_were_for_her_to_stay_home_with_the_c">
        For Cyndi and I, our goals were for her to stay home with the children. I could not have provided that experience for her or for our children if I were simply a wage earner. You’re just not going to make it with one income in Idaho, so many people find themselves needing to have two incomes to get by. So with those goals in mind, I knew that I needed to just keep looking and I would be led to something that would bring about the amount of money I needed to support my whole family, so my wife could stay home and support our children, which was our highest priority.
        </p>
        <%= image_tag("birdfamindoor.png", :id => "birdfamindoor", :class => "image") %>
        <p id="What_I_learned_from_my_brothers_who_started_their_own_businesse">
        What I learned from my brothers who started their own businesses was the fact that I could do it. I’m fortunate to have a father and a family that was extremely supportive. As I’ve grown up and seen the world from a bigger view, many people don’t have those blessings. It’s a tremendous advantage to have a father who could show you how to work and a mother who could teach you compassion and who was at home to help you on the feminine side of things with social cues and things. It was just very important to have that support. So I knew that when the time came and I needed to make those decisions - Do I want to start this little business here? - Can I do this? I already knew the answer, that I could try. 
        </p>
        <p id="“I_knew_that_when_the_time_came_and_I_needed_to_make_those_deci">
        <span id="textspan7">“I knew that when the time came and I needed to make those decisions -- Do I want to start this little business here? Can I do this? --I already knew the answer, </span><span id="textspan8">that I could try</span><span id="textspan9">.”</span> 
        </p>
        <p id="And_I_may_fail_In_fact_there_were_several_times_when_I_starte">
        And I may fail. In fact, there were several times when I started little businesses. I won’t go into what they were, they were tiny and little, and at the time there seemed a possibility of earning a decent income. But now that I’m older and more mature, I’m actually quite embarrassed to think that I even attempted them and that I would let people talk me into doing some woodworking task which would not pay out in the long run. But I think in my 20’s I was led a little bit more by my enthusiasm. I just wanted to stay busy doing things, working hard and hoping the pay would come later. <br /><br />At the same time, I had to research prospects and see if they would meet my long-term goals. As I got older and hit my 30’s, I was able to see opportunities with better lenses. I could see better, I could see further and I had some experience under my belt by working for others that really made all the difference.
        </p>
        <br><br><br>

        <%= image_tag("apartmentstitle.png", :id => "apartmentstitle", :class => "image") %>
        
        <p id="Our_First_Business_Cyndi_and_I_had_been_married_a_little_over_">
        <span id="textspan10">Our First Business<br /></span><span id="textspan11"><br /></span><span id="textspan12">Cyndi and I had been married a little over a year when my father presented an opportunity to us to purchase two acres of land close to Ricks college in Rexburg, Idaho. This 6-plex was far from campus, and no one wanted to live that far away. It was owned by a Mr. Wayne Josephson, an older man out of Idaho Falls who was looking to get out of this investment. At the time, Cyndi and I were looking to get going in a direction in our life. For the last year, I had gone into real estate down in Utah and had been unsuccessful. I had come back and was either going to work with my brothers, which I did, or look for other opportunities. So there I was, I’d been married a year, I was 23-24 and this opportunity came for someone to purchase this piece of land at a reasonable price. The only question was, “Could we provide the manpower to get it ready?” This was late July, just a month before school began, and the whole place needed major renovations. &nbsp;<br /><br />So we purchased the 6-plex with the idea of filling it full of 32-34 college boys (with about six to each apartment). Complexes come with reputations and this place was called Campus View, because it overlooked campus, but still most people wouldn’t live there. It was relegated to Ricks College football players and the college subsidized their rent. <br /><br />We ended up needing to make a strong commitment to get this place up and running and rented to 32 men in a month. With the help of my parents full-time and Cyndi and I mega-time, day and night, we worked to make the place presentable. After taking a $10,000 loan from my father for cleaning carpets and installing new doors and flooring, we were able to rent it out and then pay back that loan. <br /><br />We didn’t really have a place to stay, so we moved in to one of the studio apartments, which we eventually converted into a one-bedroom. We didn’t have rent to pay, but we had to remodel and create a bedroom so Cyndi and I could have privacy. <br /><br />For several years, we lived there and Cyndi managed the apartments. In the spring, summer and fall, I worked with my brothers in landscaping, making a good wage. But I was frequently out of town for work, and Cyndi was left with the bulk of the work dealing with the students and performing night checks. Cyndi acquired skills that she, at 21, probably didn’t want at the time. But she did learn them -- and learned them well -- like how to stand up for herself and to football players who were swearing and cussing because you demanded that they pay their rent. She’s the better for it. even though she might not agree with that. <br /></span>
        </p>
        <%= image_tag("tractorapartment.png", :id => "tractorapartment", :class => "image") %>
        <%= image_tag("rakingapartment.png", :id => "rakingapartment", :class => "image") %>
        <p id="Asparagus_on_the_River_Bank_Video_by_Cyndi_Bird_wife">
        <span id="textspan13">Asparagus on the River Bank<br /></span><span id="textspan14">Cyndi Bird, wife</span>
        </p>
        <div id="cyndivideo">
        <iframe height="720" width="1280" src="//www.youtube.com/embed/klJqleAwRso?rel=0" frameborder="0" allowfullscreen></iframe>  </div> 
        <p id="For_four_years_we_kept_this_place_pretty_much_full_We_didn’t_">
        For four years, we kept this place pretty much full. We didn’t really make any money, but we saved money. Cyndi was very good at saving money. <br /><br />In 1984, we moved into a home about two blocks away. We changed the name of our complex to The Chaparral, hoping to improve the reputation. And we did; we were able to raise the standards for the young men living there and were able to get into a little bit better clientele. We even raised rents a little bit; it was never enough to go out and buy a car or anything of this nature, but we were able to support ourselves. Cyndi was able to stay at home with our children and take care of our highest priorities. <br /><br />For the first twenty years of owning the place, there was a tremendous amount of work that had to be done year in and year out just to keep it functioning. In the middle of that work, we would sometimes look at each other and say, “Is this really worth it? Why don’t we just sell this place? Move on. Do something else.” And I think we even listed it a time or two. People really weren’t interested. It was too far away from campus [laughing]. For that reason, because there was no great demand and because I think we were also just led, by Cyndi’s intuition and our belief that one day if we were disciplined, if we were persistent -- which is something we were really good at being --  it would all pay off. 
        </p>
        <%= image_tag("chapparal.png", :id => "chapparal", :class => "image") %>
        <p id="“We_were_led_by_Cyndi’s_intuition_and_our_belief_that_one_">
        <span id="textspan15">“We were...led, by Cyndi’s intuition and our belief, that one day, if we were disciplined, </span><span id="textspan16">...it would all pay off.</span><span id="textspan17">”</span> 
        </p>
        <p id="In_the_year_2002-03_Ricks_College_made_the_announcement_that_t">
        In the year 2002-03, Ricks College made the <a id="underline" href="http://www.byui.edu/a-new-kind-of-university/the-announcement">announcement</a> that they were transforming into a four-year university, becoming <a id="underline" href="http://www.byui.edu">Brigham Young University-Idaho (BYU-I)</a>.  During the transition period, all of a sudden people wanted to buy our place and of course we knew the value of it. At that time it had probably tripled in value in a matter of just days because of the college’s announcement. So we went about taking that opportunity and finding a partner. Cyndi and I had very little money or cash to do a project that would require millions of dollars, but we had the land and it put us in the driver’s seat. We were able to find a financial partner we could trust whose name was Randall Harward. We’ve been partners ever since. 
        </p>
        <%= image_tag("apartmentside.png", :id => "apartmentside", :class => "image") %>
        <p id="We_built_the_University_Courtyard_Apartments_a_multi-building_">
        We built the <a id="underline" href="http://ucourtyard.com">University Courtyard Apartments</a>; a multi-building complex of 93 apartments that rent to newlywed couples.<br /><br />By listening to the spirit of persistence and following the examples of my parents, we stuck it out. It became easier to persevere as time went on, as we were just plain blessed for making high-priority goals that kept our sights looking up instead of just looking forward or down. It has been a tremendous blessing and it will continue to bless our family for many years to come.
        </p>

        <%= image_tag("familysmaller.png", :id => "familysmaller", :class => "image") %>
        <p id="_The_Move_to_Full_Independence_listening_to_this_on_audio_is_r">
        <span id="textspan18">The Move to Full Independence</span><span id="textspan19"><br /></span><span id="textspan20">listening to this excerpt is recommended (see right)</span><span id="textspan21"><br /><br /></span><span id="textspan22">Moving from Idaho to Washington presented itself in a couple different ways. Number one was that Cyndi and I started feeling the need to get out on our own. I had been working daily for my brothers at Early Bird Landscaping for many, many years. My whole family interacted frequently on a weekly basis and our social lives revolved mostly around them.<br /><br />The apartments supplied enough </span><span id="textspan23">supplementary income so that Cyndi could stay at home. But I often worked out of state, and it came to the point when Cyndi only had so many hands to care for the children and operate the apartments. &nbsp;We felt that I needed to be home on a steady basis and support her. <br /><br />Then there was the matter of making enough money. What did the future hold? I could see that I wasn’t going to become a partner in Early Bird, which meant that I would always be earning a wage. <br /><br />So all these factors led us to keep investigating and looking for other opportunities. A good friend of mine from school, Cody Howard, had started a franchise business of carpet cleaning in a new way. It was a dry-in-one-hour method. Much like Early Bird Sprinkling, which was a new business back in the 70’s that put sprinkler pipes in the ground that could freeze, we thought that one-hour-to-dry carpet cleaning would give us an edge or a niche in that market. We investigated it further, and I actually went and cleaned some carpets for Cody. <br /><br />I liked it; it was a change from what we would now describe as the difficult position of managing young men and getting them to pay their rent. It was pretty much always a negative encounter if they didn't have it. So knowing that to be the type of business that we were in, we asked ourselves, “Did we want to continue doing that all our life?” And we decided we needed to look elsewhere. The opportunity presented itself to get involved in the carpet cleaning business, so we decided to try it out. <br /><br />It was a positive experience, which was quite surprising to me. You are what you experience each day and I was experiencing extremely happy customers who loved the results that I gave on their carpets after cleaning them. They would even feed me and give me tips. They would be so happy because you came in and solved one of their problems, and it was just a good feeling to jump in the truck at the end of the day having made two to three customers extremely happy. <br /><br />Cyndi and I began discussing getting involved in this franchise and we decided we needed to do it. How we were going to do it was not going to be easy. We had some savings which we had put into buying a home and other investments, but they were small. We needed to decide if we were going to cut some of those investments, sell our home and move to Washington state. Cody, in his forethought was selling states as a territory for cheap -- well, I didn’t think it was cheap back then, but looking back now it was a fire sale. (But that’s how businesses get started. You have to start with the premise that you hope it’s going to provide an income and then grow from there.) So we investigated it and the feeling grew between Cyndi and me that we needed to get involved with this. <br /><br />We weren’t really receiving the warmest responses from our family to do what we wanted to do, which was to move away from family, but we were led to do this because it was fulfilling our higher goals. We wanted to make sure Cyndi stayed at home and raised the children and I could provide enough living income so that she could do that and we would live a comfortable life. We could see the future in doing a franchise working for us. As we look back on it now after 25 years of making that decision, it was a tremendous leap of faith. Cyndi was expecting our fifth child, I had spent most of the summer before working for my Dad for about $1000 a month, and we had a little bit of income from the apartments, but not a lot to live on. </span><br />
        </p>
        <div id="box" class="clearfix">
            <p id="The_Big_Leap">
            <span id="textspan24">The Big Leap<br /></span><span id="textspan25">Randy Bird</span><span id="textspan26"> </span>
            </p>
            <!--img id="randysoundcloudleap" src="img/randysoundcloudleap.png" class="image" /-->
            <div id="randysoundcloudleap"><iframe width="100%" height="100%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/129937921%3Fsecret_token%3Ds-rWBxy&amp;auto_play=false&amp;hide_related=true&amp;visual=true"></iframe></div>
        </div>
        <%= image_tag("bufferkid2.png", :id => "bufferkid2", :class => "image") %>
        <%= image_tag("cliffshot.png", :id => "cliffshot", :class => "image") %>
        <p id="We_wanted_to_open_up_some_carpet_cleaning_businesses_in_the_sta">
        We wanted to open up some carpet cleaning businesses in the state. We ended opening up five areas as sub-contractor areas. so I put ads in the paper and hired five guys. They provided their own vehicle and I provided carpet cleaning equipment. I hired them and we split the profits 50/50. We did that for almost two years. It was marginally successful; it was more of a worry than anything because I was 700 miles away from the transactions of these businesses in five different cities. We decided if we were going to commit to this, we needed to move to Washington. <br /><br />I came to Washington with my brother Marlon and we went to different areas looking for a place to move to start our business. Carpet cleaning had then turned into a <a id="underline" href="http://www.heavensbest.us"> great franchising opportunity, but the person who cleaned the carpet was the person who made the money. We also knew that I needed to be more experienced in cleaning carpet, so I needed to open up an area of my own. The question was where? We did a lot of investigating, but Cyndi had a roommate who led us to <a id="underline" href="http://vimeo.com/88411706">Wenatchee</a>. She thought that it would be a great fit for us based on her description of what we were looking for, and boy, was it!
        </p>
        <%= image_tag("panoramic.png", :id => "panoramic", :class => "image") %>
        <p id="It_was_a_tremendous_blessing_for_us_to_move_to_and_live_in_Wena">
        It was a tremendous blessing for us to move to and live in Wenatchee. Now I say that from hindsight of 25 years, but at that time, here’s how small our goals were: In 1988 when we moved, our plan was for me to move over here for four months - May, June, July and August - 3.5-4 months, and to get the business started. I lived in a studio apartment in kind of a run down part of town. I cleaned carpets out of the back of my 1982 GMC pickup with a camper shell on the back with two business signs on each side. That was my “business vehicle” and what we lacked in funding we were in overabundance with the thought that I could do it. All I needed to do was work hard. <br /><br />Cyndi and I sat down and we made plans on how we would market our business. The day I pulled into Wenatchee, I was ready to clean carpets. I had flyers that I delivered to the Wenatchee World, they went in the newspaper that next day and in two days after I was moved in the phone was ringing and I was cleaning carpets. My goal for that month was to make at least $2000 gross in order for me to stay in Wenatchee. If I couldn't do that amount it wasn't going to work and I was going to turn around and come back home. So I had three months to prove to myself and to Cyndi and the family and to everyone that I could do this. <br /><br />In the midst of this preparation I started listening to positive self-talk tapes. You can imagine the time I had on my hands after I got done working each day without family around. I would sit down and get all pumped up listening to Florence Nightingale, Think and Grow Rich, Covenant Tapes; there’s a number of them and I still have them, which is ridiculous. They’re still down on the shelves and they’re still there because they remind of what I did and how I did it and how it made me believe that I could do it. <br /><br />So for three months I worked my tail off. I had my son Nate, who was eight years old, come over on occasion and he would go to work with me. As I cleaned and did the work in the customer’s home, he had little jobs to do, but those would end and then he would sit at the table and talk to the homeowner. They'd ask about our family and he'd tell them about his brothers and sisters and how the family would soon be moving to Wenatchee if things went well. I don’t know what he said, but whatever it was it worked. Our marketing plan worked well too and the business just took right off. <br /><br />I’m not saying we made a lot of money, but I made enough to pay the rent and to convince Cyndi to follow me. That was really the crucial thing, and being the supportive wife that she is and always has been, she followed me. I think she was crazy at the time. If we would have reversed shoes, I probably would have said, “No.” She was very good at supporting me even though things looked glum from her side. We pulled into Wenatchee with the entire family in a 27 foot U-haul that I drove. Cyndi came with the other children in the GMC pickup that had no air conditioning in the middle of August. She survived and with very few complaints on her part.<br />
        </p>
        <div id="box1" class="clearfix">
            <%= image_tag("nate.png", :id => "nate", :class => "image") %>
            <p id="_The_Hard_Way_by_Nate_Bird_son_Dad_decided_to_move_away_from_">
            <span id="textspan27">The Hard Way<br /></span><span id="textspan28">Nate Bird, son<br /><br /></span><span id="textspan29">Dad decided to move away from his family, start a new business in a new state, with four kids and a 5th on the way at the age of 31. The courage and confidence that took is one of the reasons I look up to dad as a provider and patriarch of his family. He didn’t take the easy way out. He made the right choices even when they required the hardest routes.<br /></span>
            </p>
        </div>
        <div id="box2" class="clearfix">
            <p id="Starting_Out_Together">
            <span id="textspan30">Starting Out Together<br /></span><span id="textspan31">Nate Bird, son<br /></span><span id="textspan32"> </span>
            </p>
            <!--img id="natestartsoundcloud" src="img/natestartsoundcloud.png" class="image" /-->
            <iframe id="natestartsoundcloud" width="100%" height="auto" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/134063312%3Fsecret_token%3Ds-zz7B5&amp;auto_play=false&amp;hide_related=true&amp;visual=true"></iframe>
        </div>
            <%= image_tag("sepiagarage.png", :id => "sepiagarage", :class => "image") %>
        <p id="_I’m_not_saying_we_made_a_lot_of_money_but_I_made_enough_to_pa">
            I must have been blind because she was so disappointed in Wenatchee at the time. I don’t think she was so much disappointed as she had just lost her good friends and moved away from everything comfortable. We had a nice home in Rexburg and now we were moving into a 3-bedroom 1935 rental on Kittitas Street. She was uprooted and it was much more difficult for her than me. Luckily she held on and believed in me and from that point on we just worked hard and she was able to stay at home as we had planned. She never has had to work outside of the home and we were able to keep those goals that we set for the family intact all these years through thick and thin. Because of that, we were blessed and it’s a great story. It worked.
        </p>
            <%= image_tag("van.png", :id => "van", :class => "image") %>
        <div id="box3" class="clearfix">
            <p id="Business_Lessons">
            <span id="textspan33">Business Lessons<br /></span><span id="textspan34">Nate Bird, son</span><br /> 
            </p>
            <!--img id="natebizsoundcloud" src="img/natebizsoundcloud.png" class="image" /-->
            <iframe id="natebizsoundcloud" width="100%" height="auto" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/134063370%3Fsecret_token%3Ds-8s0uu&amp;auto_play=false&amp;hide_related=true&amp;visual=true"></iframe>
        </div>

            <%= image_tag("reunionshot.png", :id => "reunionshot", :class => "image") %>
        <p id="Providing_for_Ten_I_look_back_at_Cyndi_and_I_in_our_youth_and_">
        <span id="textspana">Providing for Ten<br /></span><span id="textspana1"><br />I look back at Cyndi and I in our youth and I think, “Did we have eight children out of naivete?” We certainly didn’t feel that way. We felt like we were led, that this is what we wanted. I just felt like the support was there and I was able to have just a sense of can-do that led us into doing a lot of good things. A big part of Idaho tradition was larger families, and being surrounded by that certainly influenced us.<br /><br />I remember bringing home our twin babies and as they were sitting on the kitchen table, I was standing there next to them. Then Cyndi said, “Look what you’ve done, Honey. Look what you’ve got now. How are we gonna support these guys?” My response was, “Well, they’re not going to come home to a mansion, but they’re going to leave from one.” I don’t know where that came from in me. We certainly weren’t living in a mansion, we were living in a little three bedroom home with seven kids. It was crowded; even though that had its blessings, it also has its hardships. I don’t know where that came from; it was just deep inside. I felt able to do it. I was physically able, and I think I had my ladder up against the right trees with the church that I belonged to, with the direction my business was going and I knew that I would be able to pick the fruit eventually if I worked hard enough.</span>
        </p>
        <%= image_tag("twins.png", :id => "twins", :class => "image") %>
        <p id="twins1">
        <span id="textspana2">When the Twins Arrived<br /></span><span id="textspana3">Cyndi Bird, wife</span>
        </p>
        <div id="cyndivideo2">
        <iframe height="720" width="1280" src="//www.youtube.com/embed/n69-ppvie3g?rel=0"  frameborder="0" allowfullscreen></iframe></div>
        <p id="A_big_part_of_Idaho_tradition_was_larger_families_and_being_su">
        A big part of Idaho tradition was larger families, and being surrounded by that certainly influenced us. Still, I look back at Cyndi and I in our youth and I think, “Did we do this out of naivete?” We certainly didn’t feel that way. We felt like we were led, and that this -- our family of ten -- is what we wanted. I just felt like the support was there and I was able to have just a sense of can-do  that led us into doing a lot of good things.
        </p>
        <%= image_tag("wheelbarrow.png", :id => "wheelbarrow", :class => "image") %>
        <p id="Because_Cyndi_wanted_a_large_family_and_we_both_wanted_to_have_">
        Because Cyndi wanted a large family and we both wanted to have our children with a mother at home, frugality naturally had to be a part of our lifestyle. I dont think I was raised as frugally as Cyndi was, though I am frugal, but with two people having the same ideals -- despite a different past -- it made a big difference. <br /><br />Confidence grows as you have more experience. Confidence is not able to grow if you’re not receiving support from those around you and from others who are mentors in your life. I think being a member of our church was a blessing because we were surrounded by positive people, leaders who told us that yes you can do this, you just need to be persistent and you need to save. Some of the things we did in order to be frugal was Cyndi always had a savings account. We’ve always put away $200 in at least one account. We’ve done that ever since we were married. That was a number that we liked and that we thought we could afford. <br /><br />Frugality is something that I learned from my dad. What you hear financial people saying about saving a little for your self every month is true. It does teach you. It’s like paying tithing. You don’t have as much money, but you’re able to get more out of the money that you do have because you don’t spend unnecessarily. As for the confidence it takes to raise a large family, I don’t know, I think Cyndi has always wanted a large family and I was willing to go along with that. I knew I could provide for a large family. I just knew that I could do that given the time, energy and background I had. I was confident that I could do it. I don’t think it was an outward confidence, it was more an inward confidence from just sticking to the task at hand. <br /><br />And if my ladder is up the right tree, and it’s a good tree and it’s going to give fruit, then it will eventually pay off. We’ve had several investments that have done that. At the time, did we know they were going to do well? No. And we’ve had some that didn’t do well. I think far and above, we had angels looking over us, helping us make the right decisions. Cyndi also has a great intuition on making decisions. She and I were almost always on the same page, pulling in tandem on the same rope and not against each other. We were able to move steadily in one direction and that has paid off through the years.<br /><br /><br />
        </p>
        <div id="boxa" class="clearfix">
            <%= image_tag("nicole.png", :id => "nicole", :class => "image") %>
            <p id="_Industrious_Mornings_by_Nicole_Cheung_daughter_No_one_exempl">
            <span id="textspana4">Industrious Mornings<br /></span><span id="textspana5">Nicole Cheung, daughter<br /></span><span id="textspana6"><br />No one exemplifies “early to bed, early to rise” as well as Dad. He would often put in several hours work before any of us rose in the morning for family scripture study. To instill this great habit in his children, he cheerily went from room to room waking us up at 6am every morning. He had it down to a routine and there was always a warning that he was coming. Just before 6am, the sound of trumpets would come from the living room downstairs. It started quietly and gradually grew louder and louder. That’s right, the Rocky Soundtrack theme song greeted us every morning and told us that Dad was on the way. We’d dash under the covers before he opened the door and flipped the light on (his secret way to get us out of bed). At that point, we could either painfully suffer under the covers, in the light, with blaring Rocky music or get up and go downstairs for family scripture study. Dad knew what he was doing because we usually chose the latter.</span>
            </p>
            <!--iframe id="spotify2" src="https://embed.spotify.com/?uri=spotify:track:4hszow3YBRAbGGA0WbbR6r" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe-->
            <iframe id="spotify2" width="100%" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/51513310&amp;color=ff5500&amp;auto_play=false&amp;hide_related=true&amp;show_artwork=false"></iframe><br>
        </div>
        <%= image_tag("fencebuilding.png", :id => "fencebuilding", :class => "image") %>
        <p id="_I’ve_never_really_been_a_very_materialistic_person_I_remember">
        I’ve never really been a very materialistic person. I remember my brothers always spending a lot of money on cars, particularly my brother Mike; he always had a nice car and it was a fast car. He worked hard and earned the money and took care of himself very well. But I never aspired to have a big, fast car. I never really aspired to want to have something showy. I think I was just more comfortable being out of the spotlight and just marching to my own drum, doing things the way I wanted to do them. I don’t think it was a sacrifice to go without. It was all for a greater cause if we did. We always ate food that was good and nourishing. When we were young with all the little kids, we rarely ate out; most people didn’t eat out back then, but now it’s a very common thing.<br /><br />I think the habit is learned and then it carries over into different aspects of your life, where you realize, “Ya know, I really don’t need that.”
        </p>
        <p id="“You_realize_‘Ya_know_I_really_don’t_need_that_’”_">
        “You realize, ‘Ya know, I really don’t need that.’” 
        </p>
        <p id="My_things_in_life_that_I_liked_to_do_didn’t_cost_a_lot_I_loved">
        My things in life that I liked to do didn’t cost a lot. I loved to play basketball and do sports; it was my release. And that’s very inexpensive. In Rexburg and in Wenatchee, I was able to go play ball 2-3 times a week. I’d get up early at five o’clock and meet up with a bunch of guys down at our church and we’d play ball from 6-7am. I’d be home by the time the kids were waking up and getting ready to go to school. It worked out great and really fulfilled me.
        </p>

        <%= image_tag("PNWforest.png", :id => "PNWforest", :class => "image") %>
        <p id="_Providing_Experiences_Cyndi_spent_a_lot_of_time_planning_even">
        <span id="textspana7">Providing Experiences<br /></span><span id="textspana8"><br /></span><span id="textspana9">Cyndi spent a lot of time planning events and doing things with the kids. Whether it was picking weeds with our neighbors on Monday night for Family Home Evening or a 4000 mile trip through Utah, Nevada and California, we took time to provide these kind of family experiences together. We did some crazy, crazy things that I don’t think other people would do with a family our size. Now when we get together with the kids, those experiences and vacations are what we talk about.<br /><br />We always made a point to go. It was always a sacrifice, because we didn’t have a lot of money and we just prayed the car would get us there. Sometimes it failed us, but most the time it came through. Those are the experiences we wanted to preserve. Again, was it a sacrifice? It might have looked like a sacrifice then, but when you look back, each one of them has turned into a blessing. Hopefully we’ve passed that legacy onto our kids. If they want to have family experiences with their children that teach them to get off the couch and do things, to be outdoors in nature, to hike, to get involved, they know it's possible.</span><br />
        </p>
        <p id="“Is_it_a_sacrifice_It_might_have_looked_like_a_sacrifice_then_">
        “Is it a sacrifice? It might have looked like a sacrifice then, but when you look back, each one of them has turned into a blessing.”
        </p>
        <%= image_tag("cartree.png", :id => "cartree", :class => "image") %>
        <div id="boxa1" class="clearfix">
            <p id="Onlookers_and_Naysayers_Audio_by_Randy_Bird_">
            <span id="textspana10">Onlookers and Naysayers</span><span id="textspana11"><br /></span><span id="textspana12">Randy Bird<br /></span><span id="textspana13"> </span>
            </p>
            <iframe id="naysayerssoundcloud" width="100%" height="100%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/134067878%3Fsecret_token%3Ds-VTZSh&amp;auto_play=false&amp;hide_related=true&amp;visual=true"></iframe>
        </div>
        <p id="I_think_the_experiences_were_important_because_it_got_Cyndi_out">
        I think the experiences were important because it got Cyndi out of the house. She needed breaks. I don’t know if going on vacation was really a vacation for her because it took far more work, but it was a break of sorts because it was a different type of work. Same with me; it was a different type of work. Certainly we didn’t go do romantic things with 7-8 kids in tow. We did things that kids wanted to do like camp on the beach, hunt for rocks, make sand castles, hike along shore lines, etc.It was important for us to get the children out and enjoying nature, seeing the world, seeing the ocean. We lived 5-6 hours aways from the ocean, so whenever we went it was special. We would spend at least several days at the beach enjoying the waves and ocean, even as cold as it was. Was it worth it? Worth every minute and every dime we spent.
        </p>
        <%= image_tag("hikefront.png", :id => "hikeportrait", :class => "image") %>
        <%= image_tag("nicole.png", :id => "nicole1", :class => "image") %>
        <p id="text">
        <span id="textspana14">The Pacific Coast Hike</span><br /><span id="textspana15">Nicole Cheung, daughter</span><br /><br />My family loves camping and hiking, but all of us going at once can be quite an ordeal. Just finding ten backpacks, ten sleeping bags and ten people's worth of gear takes weeks of preparation. Not only that, but my dad loves to camp in style. So of course, we bring along things like steak and other gourmet essentials.<br /><br />The Pacific Coast hike is exotic and breathtaking and feels as though you've stumbled into another world. The Olympic National Rainforest looms to the east as you hike your way down the coast, and it’s necessary to time your hike so the tide drops at just the right moments to get through tricky coastal areas. When it's impossible to get through on the beach, you actually hike up ladders into the rainforest.<br /><br />My dad is always such a trooper on these trips. He is responsible for everyone's comfort and well-being, but also making sure we pull our weight and don't slow things down. It's a fine balance to achieve with eight children of all varying levels of hiking ability. Nothing too crazy happened on this trip (besides a few rainy nights on the beach), but by the end of day five we were all exhausted. We had the option of spending the last night camping on the beach or heading back to civilization. Dad made the executive decision and took us all to a hotel with the best hot tub and pool he could find.<br /><br />Accommodations for ten people at a nice hotel are not cheap and I know my dad didn't have to do it. But he did anyway. I'll never forget showering after that trip and then jumping into the pool and hot tub. We probably all stayed way longer than recommended in the hot tub, but it just felt so good on our hike-worn bodies. It was the perfect way to end an epically amazing camping trip and we owed it all to a generous and doting Dad.<br />
        </p>
        <p id="Lake_Trip_Video_by_Michael_Bird_son">
        <span id="textspana16">Lake Trip<br /></span><span id="textspana17">Michael Bird, son</span>
        </p>

        <div id="mikevideo">
        <iframe width="1280" height="720" src="//www.youtube.com/embed/cfD60CKnOjg?rel=0" frameborder="0" allowfullscreen></iframe></div>
        <p id="Daddy-Daughter_Motorbike_Trip_Video_by_Nicole_Cheung_daughter">
        <span id="textspana18">Daddy-Daughter Motorbike Trip<br /></span><span id="textspana19">Nicole Cheung, daughter</span>
        </p>
        <div id="nicolevideo2" /><iframe width="1280" height="720" src="//www.youtube.com/embed/E-NFuoFKfYQ?rel=0" frameborder="0" allowfullscreen></iframe></div>

        <%= image_tag("homeparadise.png", :id => "homeparadise", :class => "image") %>
        <p id="Providing_a_Home_Audio_Only_">
        <span id="textspana20">Providing a Home<br /></span><span id="textspana21">Audio Only</span>
        </p>
        <%= image_tag("grassplot.png", :id => "grassplot", :class => "image") %>
        <div id="boxa2" class="clearfix">
            <p id="Building_a_Home">
            <span id="textspana22">DIY, Home Building Edition</span><span id="textspana23"><br /></span><span id="textspana24">Randy Bird</span><br /> 
            </p>
            <iframe id="soundcloudrandyhome" width="100%" height="100%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/134067886%3Fsecret_token%3Ds-kKLHd&amp;auto_play=false&amp;hide_related=true&amp;visual=true"></iframe>
        </div>
        <div id="boxa3" class="clearfix">
        </div>
        <%= image_tag("plotdug.png", :id => "plotdug", :class => "image") %>
        <%= image_tag("woodenwalls.png", :id => "woodenwalls", :class => "image") %>
        <%= image_tag("cement.png", :id => "cement", :class => "image") %>
        <div id="boxa4" class="clearfix">
            <%= image_tag("tiffany.png", :id => "tiffany", :class => "image") %>
            <p id="_A_Helping_Hand_Tiffany_Bird_daughter-in-law_Every_time_Randy">
            <span id="textspana25">A Helping Hand<br /></span><span id="textspana26">Tiffany Bird, daughter-in-law<br /><br /></span><span id="textspana27">Every time Randy came to visit, he would want us to come up with some kind of house project for him to work on while he was here. He has helped us paint entertainment centers, put knobs on our cabinet doors and handles on all our kitchen drawers, installed lighting in the kitchen and the garage, put edging around our flower beds, planted bushes in our yard, and fixed other little things here and there. He is so handy to have around and just loves to do house work, even for someone else. He knows so much about building houses and the structure of things.<br /><br /></span> 
            </p>
        </div>
        <%= image_tag("roofstructure.png", :id => "roofstructure", :class => "image") %>
        <%= image_tag("homesun.png", :id => "homesun", :class => "image") %>
        <%= image_tag("completed.png", :id => "completed", :class => "image") %>
        <div id="boxa5" class="clearfix">
            <p id="So_You_Want_to_Build_a_House">
            <span id="textspana28">So You Want to Build a House</span><span id="textspana29"><br /></span><span id="textspana30">Nate Bird, son</span><br /> 
            </p>
            <iframe id="natehousesoundcloud" width="100%" height="100%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/134063351%3Fsecret_token%3Ds-UuQ8W&amp;auto_play=false&amp;hide_related=true&amp;visual=true"></iframe>
        </div>
        <%= image_tag("concretekids.png", :id => "concretekids", :class => "image") %>
        <%= image_tag("Cyndihome.png", :id => "Cyndihome", :class => "image") %>
        <%= image_tag("kidsswim.png", :id => "kidsswim", :class => "image") %>
        <p id="Inventions_Video_by_Nicole_Cheung_daughter">
        <span id="textspana31">Inventions<br /></span><span id="textspana32">Nicole Cheung, daughter</span>
        </p>
        <div id="nicolevideo"><iframe width="1280" height="720" src="//www.youtube.com/embed/FGI3K2bhDH8?rel=0" frameborder="0" allowfullscreen></iframe><a name="x"></a></div>
        <div id="gueststoriesf" class="clearfix">
         
            <% @anthology_items = Micropost.where(:topic => 'Provide') %>
            <% @identity = "9" %>
            <% @subject_matter = 'Provide' %>
            
            <%= render 'shared/guest_stories' %>
        </div>
            <%= image_tag("stairway.png", :id => "stairway", :class => "image") %>
        <div id="buttonbottom">
            <%= link_to "Back to Life Story", randybird_path, class: "button2" %><br><br>
            <%= link_to "Next Story", randybird_protect_path, class: "button" %>
        </div>
    </body>
</html>