<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale = 1, maximum-scale = 2, user-scalable=1" />
    <script>
        $(document).ready(function () {
            $("#cyndivideob2").fitVids();
        });
        $(document).ready(function () {
            $("#cyndivideob").fitVids();
        });
        $(document).ready(function () {
            $("#mikevideob1").fitVids();
        });
        $(document).ready(function () {
            $("#nicolevideob").fitVids();
        });
        $(document).ready(function () {
            $("#nicole_-_seatbelt_videob").fitVids();
        });
        $(document).ready(function () {
            $("#mikevideob").fitVids();
        });
        $(document).ready(function () {
            $("#mattvideob").fitVids();
        });
    </script>
    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '[redacted-g]', 'antho.co');
          ga('send', 'pageview');
    </script>
</head>
<% provide(:title, 'Randy Bird: Protect') %>
    <body>

    <!--div id="primaryContainer" class="primaryContainer clearfix"-->

        <%= image_tag("Westerncouple.png", :id => "Westerncouple", :class => "image") %>
        <p id="From_Physical_Danger_In_ancient_times_life_was_more_of_a_stru">
        <span id="textspanb3">From Physical Danger<br /></span><span id="textspanb4"><br /></span><span id="textspanb5">In ancient times, life was more of a struggle and fathers had to protect their families regularly from physical harm. Though the physical threat isn’t as great today, there is still a need to watch over and guide our families to safety.</span>
        </p>
        <%= image_tag("lakechelan.png", :id => "lakechelan", :class => "image") %>
        <p id="The_Lake_Chelan_Rescue_Randy_Bird">
        <span id="textspanb6">The Lake Chelan Rescue<br /></span><span id="textspanb7">Randy Bird</span>
        </p>
        <div id="randy_-_lake_chelan_-_soundcloud"><iframe width="100%" height="100%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/134067876%3Fsecret_token%3Ds-0WOXh&amp;auto_play=false&amp;hide_related=false&amp;visual=true"></iframe></div>
        <%= image_tag("mitchell2.png", :id => "mitchell2", :class => "image") %>
        <p id="No_Pain_No_Gain_Mitchell_Bird_son_Sometimes_to_protect_us_D">
        <span id="textspanb8">No Pain, No Gain<br /></span><span id="textspanb9">Mitchell Bird, son<br /></span><span id="textspanb10"><br />Sometimes to protect us, Dad needed to endanger us. Counterintuitive as it seemed, it would prove to be a defining part of my physical and psychological development. I grew up a tall, skinny kid. I wasn't lazy, but just had a hard time toughening up. My dad made it his duty to make sure we became men by doing manly things. I could go on forever but I wish to focus on one specific experience: motor biking.<br /><br />My mother does not like motor bikes. I don't know why, but my dad decided it was time for us to learn how to ride them. Before we knew it, there were three bikes all ready to roll (for him, my twin brother Mike, and me). I had experience on a four-wheeler but not on a motor bike. I felt vulnerable, weak and afraid. My dad helped me get started and taught me how to shift gears. After a while, it wasn't that bad. Then I biffed in our apple orchard. Nope, it was still bad. Even after several biking trips (in Spokane, up Mission Ridge and past Beehive Reservoir), I still did not enjoy it.<br /><br />One day on a repeat trip to Beehive Reservoir, my dad gave me some simple advice. "Mitch, just trust the bike. It's not going to hurt you." I didn't trust him about the "not hurt me" part but I decided then and there to trust the bike. Boooyaaw! Since then, motor biking has been a great thrill in my life! I've grown to appreciate my dad in what he does and knows. As I think back, I can remember him telling me those same words 100 times, yet for some reason, it clicked that one time. Yes, I do get hurt a lot (torn pants, sprained ankle, cut legs, etc) but it is fun and worth it! Thanks Dad for never giving up on me and making me who I am today, a manly man.</span>
        </p>
        <div id="boxb1" class="clearfix">
            <%= image_tag("nicole.png", :id => "nicole", :class => "image") %>
            <p id="_Our_Very_Own_Superhero_Nicole_Cheung_daughter_The_wind_was_s">
            <span id="textspanb11">Our Very Own Superhero<br /></span><span id="textspanb12">Nicole Cheung, daughter<br /></span><span id="textspanb13"><br />We were stranded for what seemed like hours on this sun-struck, coastal rock edifice, so that Dad could safely transport the others to the harbor with less human cargo. On his way back to retrieve us, the wind was so strong that he had to hug the side of the lake and basically criss-cross the entire way across the treacherously large waves. It was a slow and arduous task and he was all by himself. When he got to us, he was just glad we were still alive and thankful he had made it. When he left the boat dock with my mom and younger siblings waving from shore, everyone thought he was crazy to go back out. But he knew he had more kids to rescue.<br /><br />I'm sure this must have been a traumatizing experience for my dad, and looking back now, I realize that he was no less than a superhero out to rescue his children at any cost. If I learned anything from that weekend, it was that my dad loved me enough to risk his life for me.</span> 
            </p>
        </div>
        <%= image_tag("autumnleaves.png", :id => "autumnleaves", :class => "image") %>
        <p id="Everyday_Safety_Nicole_Cheung_daughter">
        <span id="textspanb14">Everyday Safety<br /></span><span id="textspanb15">Nicole Cheung, daughter</span>
        </p>
        <div id="nicole_-_seatbelt_videob">
        <iframe width="1280" height="720" src="//www.youtube.com/embed/L00NHgR53Ac?rel=0" frameborder="0" allowfullscreen></iframe></div>
        <%= image_tag("natalie.png", :id => "natalie", :class => "image") %>
        <p id="Man_of_the_Hour_Natalie_Mahler_daughter_Dad_arrived_not_a_mom">
        <span id="textspanb16">Man of the Hour<br /></span><span id="textspanb17">Natalie Mahler, daughter<br /><br /></span><span id="textspanb18">Dad arrived not a moment too soon. When Mom joins the league of the sick and afflicted on the stomach flu couch, it’s time to call in the cavalry.<br />&nbsp;<br />There half the family lay, and the older, more capable half, too, lounging out our miserable lives on the brown upholstered sectional. Mom always covered that couch with sheets when vomiting was involved, so there had to have been sheets. It was a long day; we were staring down another TV episode of Duck Tales when we weren’t hanging over the metal bowls at our sides heaving out our insides. (How did we ever eat popcorn out of them again afterward?) The saltines were stale. The lemon-lime soda pop was flat. And warm. I looked around at my greasy-haired, pajama-wearing, foul-breathed couch mates and rolled over to hide in my corner of cushions. I could smell myself, and eight year olds don’t usually smell.<br />&nbsp;<br />Slam! The mudroom door could only mean one thing. Dad’s smiling mustache filled the hallway, leaving little room for the toddler and grocery bags around his legs. O bringer of glad tidings! Bearer of good gifts! “If ye then, being evil, know how to give good gifts unto your children…” A general if feeble cry went up, and Dad doled out two-liter bottles of fizzy pop and crisp saltines. He emptied bowls. He freed us from Duck Tales with rentals fresh from Videl Video. None of us had showered, no one changed clothes, and no teeth brushing happened over those bowls, but I felt better. If the carpet cleaning angel on Heaven’s Best business shirts had an earthly counterpart, he stood there before us swapping out vomit towels. Dad, in a blue shirt and blue jeans, smelling of cherry-almond carpet protectant, and at the end of a long day’s work, was the man of the hour.</span>
        </p>

        <%= image_tag("smallfamily.png", :id => "smallfamily", :class => "image") %>
        <p id="The_Metaphysical_Realm_To_protect_in_a_modern_sense_is_to_pro">
        <span id="textspanb19">The Metaphysical Realm<br /></span> <span id="textspanb20"><br /></span><span id="textspanb21">To protect in a modern sense is to protect your children from social situations or habits that they’re too young to know that -- if continued -- will bring about much sorrow in their lives. They need to be protected from drugs, bad tv shows, from making choices to go to the wrong movies. It’s important that a parent teaches their children and protects them from those situations. The father’s role to protect is really to be involved in his family. It’s very important that a father is involved and not just on the sidelines in this. <br /></span><span id="textspanb22"><br /></span><span id="textspanb23">Being At Home<br /></span><span id="textspanb24"><br /></span><span id="textspanb25">The method we found most effective in protecting our children was having Cyndi at home all the time with the children. When they came home, she had such a good relationship with them that she could ask them how their day went and typically wouldn’t get a one word answer -- “Oh fine”, or, “It was okay.” Maybe the boys would try to get away with a one word answer, the girls were better at explaining how their day went, but Cyndi and I -- our goal was to go a little bit further and have a good enough of a relationship that they’d want to share with us their day. It wasn’t a ten-minute interview, but it happened casually in the family circumstances of getting home from school and getting ready for dinner. If you show your child that you care and ask them questions about their day, you’ll learn a lot. <br /></span>
        </p>
        <div id="boxb2" class="clearfix">
            <%= image_tag("michelle.png", :id => "michelle", :class => "image") %>
            <p id="_The_Gospel_by_Michelle_Nielsen_daughter_I_feel_that_the_grea">
            <span id="textspanb26">The Gospel<br /></span><span id="textspanb27">by Michelle Nielsen, daughter<br /><br /></span><span id="textspanb28">I feel that the greatest way Dad protected us was by teaching us the gospel and obedience to the commandments.</span>
            </p>
        </div>
        <p id="The_things_we_did_well_I_married_Cyndi_I_think_that’s_the_be">
        "The things we did well? I married Cyndi. I think that’s the best thing I ever did when it came to parenting."
        </p>
        <p id="We_learned_that_what_goes_on_at_home_is_not_what_goes_on_at_sch">
        <span id="textspanb29">We learned that what goes on at home is not what goes on at school at all. Sometimes a child at school is not doing what they should be doing. It’s the parents’ responsibility to know that child well enough that they can tell something is wrong, that something’s not going well with one of their friends or they’re disappointed with one of their grades or they didn’t do as well on a sports team. They need to be there and have that relationship with the child so the child knows that mom and dad care about them. If they truly know that you care and you’re not trying to be better than they are or to criticize them, then they’ll talk. If you have more emotional deposits with that child, then you’re able to have more of a rapport and really know what’s going on in that child’s life so you can protect that child.<br /><br />I was able to work at home more in the last ten years than in the first fifteen. I had employees after the first three to four years, so I became a part-time manager, part-time cleaner. That helped me to be at home more often than what most fathers can be. That was a choice that Cyndi and I made and because of that choice and how it fit our needs -- I mean, 8 children, are you kidding me? People don’t even consider the idea now a days because it’s just not possible. Things have changed so much in the last 25 years that you could only see this circumstance in a business like this, in carpet cleaning where you can go out in the evenings and your children can work alongside you. Sometimes we’d just have evening work and I’d have time off during the day. This made it possible for me to be at home when the children came home from school. I was able to some degree help Cyndi in all the parenting.</span>
        </p>
        <%= image_tag("randywalking.png", :id => "randywalking", :class => "image") %>
        <p id="Cyndi_became_very_successful_at_knowing_how_to_handle_circumsta">
        Cyndi became very successful at knowing how to handle circumstances because every two years we got to handle the same response from yet another eight year old.  Two years later there would be another eight year old and two years later another eight year old, so she became very good at knowing what an eight year old would think. Or a ten year old. She was very efficient and able to handle many of the circumstances. What she couldn’t handle she would turn over to me, sometimes to great success and sometimes to not so great success, depends on who you ask. <br /><br />I was more of an easygoing parent. They knew what I expected, but I wasn’t heavy handed. I’d usually end up playing with the kids when I got home and she’d look at me like, “You’re supposed to be disciplining this child, what are you doing playing with them!?”, but somehow it worked; we bonded. My goal was to bond with my children and also to teach them to work and be honest. If during that day they had done something they shouldn’t have done and needed to be corrected, I think having them feel the remorse of knowing what a father or mother expects of them is just what they need. It’s not always at the end of a spanking or a tongue-lashing; if you are bound and bonded well to your child, they will feel bad for disappointing dad or mom and that is enough discipline at times.
        </p>
        <p id="Time_with_Children">
        <span id="textspanb30">Time with Children<br /></span><span id="textspanb31">Cyndi Bird, wife</span>
        </p>
        <div id="cyndivideob2"><iframe width="1280" height="720" src="//www.youtube.com/embed/iMXmPms3IJo?rel=0" frameborder="0" allowfullscreen></iframe></div>
        <p id="Disciplining_with_Meekness_Matthew_Bird_son">
        <span id="textspanb32">Disciplining with Meekness<br /></span><span id="textspanb33">Matthew Bird, son</span>
        </p>
        <div id="mattvideob"><iframe width="1280" height="720" src="//www.youtube.com/embed/ukqVkj3C9wk?rel=0" frameborder="0" allowfullscreen></iframe></div>
        <%= image_tag("armsfamportrait.png", :id => "armsfamportrait", :class => "image") %>
        <p id="_The_philosophy_that_when_a_student_is_ready_the_teacher_will_">
        <span id="textspanb34">The philosophy that when a student is ready, the teacher will appear is very true. When the student or child is ready, the parent needs to know that now is the right time. The questions you ask and the answer given by the child is going to determine whether or not that child is ready to hear more answers and if it’s a good time for you to go deeper into the subject. But if the child is not ready and every child is different, then you’re going to bore the child or the child is just going to roll their eyes and zone out. A parent’s gotta be aware of these things, they gotta have that intuition to know. Cyndi was definitely the one with the best intuition. She was very good at being with the children, knowing their circumstances as much as she possibly could and making determinations based on their responses.<br /></span>
        </p>
        <p id="“There_are_lots_of_things_you_need_to_protect_your_children_fro">
        “There are lots of things you need to protect your children from, but media was definitely number one.”
        </p>
        <p id="We_tried_to_motivate_each_of_our_children_in_a_direction_that_f">
        We tried to motivate each of our children in a direction that fit their physical, mental and emotional skills. As parents, we tried to know what those levels of competence were for our children as they grew up. Of course all parents want what’s best for their kids, but it’s important that we go a little bit further. What that means for us in this day and age is that a parent be involved and not lay parental responsibilities on the school district or the church leaders or the scout leader. It rests first on the parent.
        </p>
        <p id="Serious_Protection">
        <span id="textspanb35">Serious Protection<br /></span><span id="textspanb36">Nate Bird, son<br /></span><span id="textspanb37"> </span>
        </p>
        <div id="natetvsoundcloud"><iframe width="100%" height="100%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/134063331%3Fsecret_token%3Ds-Bvikn&amp;auto_play=false&amp;hide_related=true&amp;visual=true"></iframe></div>
        <%= image_tag("swingfam.png", :id => "swingfam", :class => "image") %>
        <p id="Empowering_Our_Children_When_it_came_down_to_doing_things_like">
        <span id="textspanb38">Empowering Our Children<br /></span><span id="textspanb39"><br />When it came down to doing things like preparing dinner, it took a lot of work for such a big family. Of course it’s a father’s responsibility to make sure there’s money in the bank so that there’s food on the table, but the work goes a lot further than that. The food needs to be bought, mom has to go to the store, which means children have to be watched while she’s gone to the store; food has to be prepared, then cleaned up, and there’s just a lot that happens on the side in a family of eight children. <br /><br />Out of necessity, we gave the older children responsibility for caring for the younger children. We only had two hands a piece and we had eight children, so we were four hands short. The babies couldn’t take care of themselves at all. From one to five years old, they just weren’t able to help much, so we assigned an older child to a younger child, not just because we wanted to delegate it away, but because it was necessary.<br /><br />I think they could see that we truly needed help and when things didn’t go well, things fell apart. When the children helped each other, things went well and we had fun. I think they could see that. So they bought into that family organization and I think it benefited everybody involved.</span><span id="textspanb40"><br /><br /></span><span id="textspanb41">We’re not perfect parents by any means. &nbsp;The things we did well? I married Cyndi. I think that’s the best thing I ever did when it came to parenting because she’s a great parent and we’re a good team. We’re a good balance. We were on the same page together. Being a good parent really has to do with being on the same page with your spouse, so your children can’t work mom into a yes and dad into a no or vice-versa, because children will do that. <br /><br />If the parents are involved in a child’s life to the point that that child agrees with them on the standards, then you’re going to have a much easier time of parenting. We tried to give them experience and instilled principles, values and standards in the home so that the children could then govern themselves.</span><br />
        </p>
        <!--div id="boxb3" class="clearfix">
        </div>
        <div id="Western_Family_Culture" class="clearfix">
                </div-->

        <!--div id="flowContainer"-->
            <!--img id="westernguns" src="img/westernguns.png" class="image" />
            <div id="boxb" class="clearfix">
                <p id="_Family_Culture_Because_the_family_was_large_many_aspects_of_">
                <span id="textspanb">Family Culture<br /></span><span id="textspanb1"><br /></span><span id="textspanb2">Because the family was large, many aspects of our culture translated from the responsibility of just taking care of them. I think we were able to take that responsibility and create fun times. <br /><br />Our children were easier to parent because they liked being at home and being around family. &nbsp;Though they still wanted to be with friends and such in junior high and high school and separate themselves in that way, they still liked to be home. We’d love to take full credit for this family culture, but we can’t. A lot of the family culture evolved because of the size and makeup of the family and not a cut plan from the beginning. They liked to hang out with each other, which we owe to the fact that their siblings were just a little bit older or younger than them. It fell into our laps and I think we did the best we could with it. We turned a lot of circumstances into being fun because everybody got along so well.</span> 
                </p-->
        <!--/div-->

        <!--/div-->       
        <p id="Teaching_from_Your_Own_Mistakes_Michael_Bird_son">
        <span id="textspanb42">Teaching from Your Own Mistakes<br /></span><span id="textspanb60">Michael Bird, son</span>
        </p>
		<div id="mikevideob">
			<iframe width="1280" height="720" src="//www.youtube.com/embed/ubdPPv1TIPU?rel=0" frameborder="0" allowfullscreen></iframe>
		</div>
		 <div id="boxb4" class="clearfix">
            <%= image_tag("nick.png", :id => "nick", :class => "image") %>
            <p id="_Unconditional_Support_Nicholas_Bird_son_Dad_s_never-failing_">
            <span id="textspanb47"><br /></span><span id="textspanb48">Unconditional Support<br /></span><span id="textspanb49">Nicholas Bird, son<br /></span><span id="textspanb50"><br />Dad's never-failing support in the decisions I have made in my life until present has really been what I want to be to my children. &nbsp;He empowered me to make decisions and let me wield agency. &nbsp;He supported me through all my sports and schooling, and gave encouragement when I asked him for it. &nbsp;I never felt judged by Dad in how he talked to me, which is evidence of a true care and love.</span><br>
            </p>
        </div>
        <p id="_Instilling_Values_We_did_such_things_as_reading_The_Strength_">
        <span id="textspanb44">Instilling Values<br /></span><span id="textspanb45"><br /></span><span id="textspanb46">We did such things as reading <a id="underline" href="https://www.lds.org/youth/for-the-strength-of-youth?lang=eng">The Strength of Youth pamphlet</a> in the mornings consistently for many, many years. At one point some of our children had it memorized. The 17 standards, it may have changed now, but there were 17 different standards of the church that were outlined in the For the Strength of Youth pamphlet, were a tremendous help to us. Sometimes we didn’t have time to do scripture study and get involved in an in-depth reading, so the pamphlet was a quick way to teach solid principles.</span><br /> 
        </p>

        <%= image_tag("readingtokids.png", :id => "readingtokids", :class => "image") %>
        <p id="If_we_studied_something_beyond_the_Strength_of_Youth_pamphlet_">
        If we studied something beyond the Strength of Youth pamphlet, it was the <a id="underline" href="http://mormon.org/beliefs/book-of-mormon">Book of Mormon</a>. We made an effort to always read the Book of Mormon as our family study. The stories in there of the prophets and the difference between good and evil and good and bad and Laman and Lemuel and Sam and Nephi are such stark examples of how a child can make the wrong decisions or the right decisions. You can be a Nephi or a Laman and that is taught far better in the Book of Mormon than in any other scripture.
        </p>

        <%= image_tag("rooftop.png", :id => "rooftop", :class => "image") %>
        <p id="Teaching_Children_to_Work_Cyndi_and_I_wanted_our_children_to_k">
        <span id="textspanb51">Teaching Children to Work<br /></span><span id="textspanb52"><br /></span><span id="textspanb53">Cyndi and I wanted our children to know how to work. We were lucky to be able to involve our children in my franchise business of Heaven’s Best Carpet Cleaning, whether it was behind the scenes paperwork, drying and washing pads, or going out on late night jobs where they could vacuum. We were able to have them on occasion work even though they were young. As they got older in their teenage years they were able to actually work more competently and go out and clean vacancies and homes where it would be appropriate to have a younger person there. We wanted to make sure that our image was good and our standards were high, so we didn’t just send out a young person to clean carpets if they were 17; there’s a time and a place to have them clean, but we were blessed to have them involved in the carpet cleaning. You don’t see that today. Everything is so specialized to the point where children are excluded and they don’t know how to work, particularly with their hands. <br /><br />It’s difficult for the youth sometimes -- not always, depends on their life goals and ambitions -- &nbsp;but I see many youth struggling to know how to put in a good 10 hours a day of good labor; it’s just difficult for them. Back on the farm, that was the minimum required to get things done. We wanted to teach our children how to work, how to be involved and to obey. They needed to obey us as long as we were requesting righteous responses and wanting them to do good things. We expected them to obey and working along side our children was where they learned those good things.</span><br />
        </p>
        <div id="boxb5" class="clearfix">
            <%= image_tag("michelle.png", :id => "michelle2", :class => "image") %>
            <p id="Opportunities_to_Work_Michelle_Nielsen_daughter_Dad_provided">
            <span id="textspanb54">Opportunities to Work <br /></span><span id="textspanb55">Michelle Nielsen, daughter<br /></span><span id="textspanb56"><br />Dad provided uniquely for our family by providing opportunities for work through Heaven's Best. He taught us to work hard by example and loved to work with us. </span>
            </p>
        </div>
        <p id="Making_Work_Fun_Nicole_Cheung_daughter">
        <span id="textspanb57">Making Work Fun<br /></span><span id="textspanb58">Nicole Cheung, daughter</span>
        </p>
        <div id="nicolevideob">
        <iframe width="1280" height="720" src="//www.youtube.com/embed/vHpvC4OBync?rel=0" frameborder="0" allowfullscreen></iframe></div>
        <p id="Learning_to_Love_Gardening_Michael_Bird_son">
        <span id="textspanb59">Learning to Love Gardening<br /></span><span id="textspanb60">Michael Bird, son</span>
        </p>
        <div id="mikevideob1">
        <iframe width="1280" height="720" src="//www.youtube.com/embed/sDh9PryyWxk?rel=0" frameborder="0" allowfullscreen></iframe></div>
        <%= image_tag("workmontage.png", :id => "workmontage", :class => "image") %>

        <p id="Last_Thoughts_Cyndi_Bird_wife">
        <span id="textspanb61">Last Thoughts<br /></span><span id="textspanb62">Cyndi Bird, wife</span>
        </p>
        <div id="cyndivideob"><iframe width="1280" height="720" src="//www.youtube.com/embed/4qw6xvFD_xY?rel=0" frameborder="0" allowfullscreen></iframe></div>
                <div id="boxb6" class="clearfix">
            <%= image_tag("nick.png", :id => "nick1", :class => "image") %>
            <p id="_With_Few_Regrets_Nicholas_Bird_son_I_think_dad_might_not_wan">
            <span id="textspanb66"><br /></span><span id="textspanb67">With Few Regrets<br /></span><span id="textspanb68">Nicholas Bird, son<br /><br /></span><span id="textspanb69">I think Dad might not want much said about him, because he may not care so much. &nbsp;He's a selfless guy and I bet he doesn't give a lot of thought to his own legacy, unless pried out of him. <a name="x"> </a>What I think is important to Dad though is that he watched out for the poor in heart, followed his principles and didn't deviate from his temple covenants. &nbsp;He loved his wife and his family and spent time on the things that he valued most. &nbsp;He lived a life with very few regrets.</span>
            </p>
        </div>
                
        <div id="gueststoriesc" class="clearfix">
         
            <% @anthology_items = Micropost.where(:topic => 'Protect') %>
            <% @identity = "9" %>
            <% @subject_matter = 'Protect' %>
            
            <%= render 'shared/guest_stories' %>
        </div>
        <!--p id="Innate_Respect"-->
        <!--span id="textspanb63">Innate Respect<br /></span><span id="textspanb64">Nate Bird, son<br /></span><span id="textspanb65"> </span>
        </p>
        <img id="natebizsoundcloudb" src="img/natebizsoundcloud.png" class="image" /-->
        <!--p id="This_I_Leave_With_You_Randy_Bird_"-->
        <!--span id="textspanb70">This I Leave With You<br /></span><span id="textspanb71">Randy Bird<br /></span><span id="textspanb72"> </span-->
        <!--span id="textspanb63">This I Leave With You<br /></span><span id="textspanb64">Randy Bird<br /></span><span id="textspanb65"> </span>
        </p>
        <img id="randy_-_conclusion_-_soundcloud" src="img/randy%20-%20conclusion%20-%20soundcloud.png" class="image" /-->

        <%= image_tag("valleywords.png", :id => "valleywords", :class => "image") %>
        <div id="buttonbottom">
            <%= link_to "Back to Life Story", randybird_path, class: "button2" %><br><br>
            <%= link_to "Next Story", randybird_boyhood_path, class: "button" %>
        </div>
    <!--/div-->
    </body>
</html>