<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale = 1, maximum-scale = 2, user-scalable=1" />
    <script>
        $(document).ready(function () {
            $("#mattvideoc").fitVids();
        });
        $(document).ready(function () {
            $("#nicolevideobelieving").fitVids();
        });
        $(document).ready(function () {
            $("#cyndivid").fitVids();
        });
        $(document).ready(function () {
            $("#nicolevid").fitVids();
        });
    </script>
    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '[redacted-g]', 'antho.co');
          ga('send', 'pageview');
    </script>
</head>
    
<body>

<% provide(:title, 'Randy Bird: Preside') %>

        <%= image_tag("presideintro.png", :id => "presideintro", :class => "image") %>
        <p id="Presiding_Over_the_Home_Presiding_in_the_family_in_the_spiritu">
        <span id="textspanc">Presiding Over the Home<br /></span><span id="textspanc1"><br /></span><span id="textspanc2">Presiding in the family in the spiritual realm has been one of the most important roles for me in our family. It was first taught to me when I learned about the <a id="underline" href="https://www.lds.org/youth/learn/ap/priesthood-keys/what?lang=eng"> priesthood </a> as a young boy. <br /><br />I received the <a id="underline" href="http://www.mormon.org/faq/purpose-of-priesthood">priesthood </a> when I was 12 years old. I was ordained a deacon, and in the <a id="underline" href="http://eom.byu.edu/index.php/Priesthood_Quorums"> quorum </a> of the deacons, there was a president who presided. So at a young age I learned that there’s a president who’s in charge, who’s presiding -- it doesn’t mean he’s doing all the work, but he’s overseeing. That’s what presiding is, being a leader and making sure things run smoothly.<br /></span>
        </p>
        <p id="“There’s_no_purpose_to_presiding_if_people_are_going_in_differe">
        “There’s no purpose to presiding if people are going in different directions. The one who presides is going to find commonality and everyone will come up with the best solution together.”
        </p>
        <p id="Early_in_our_marriage">
        Someone needs to be responsible and accountable, and someone needs to be in charge. In our family, it’s my responsibility to make sure that I counsel with my “counselors.” One of my counselors is my spouse, Cyndi, who makes sure that as I preside with the priesthood, I am doing so righteously and counsel with her and the other members of the family, like in a family counsel setting. <br />
        </p>
        <p id="Intentional_Family_Cyndi_Bird_wife">
        <span id="textspanc3">Intentional Family<br /></span><span id="textspanc4">Cyndi Bird, wife</span>
        </p>
        <div id="cyndivid"><iframe width="1280" height="720" src="//www.youtube.com/embed/k92z_UBWqIM?rel=0" frameborder="0" allowfullscreen></iframe></div>

        <p id="Early_in_our_marriage1">
        Early in our marriage, Cyndi respected this role of mine to preside, and it’s something that was modeled to me by my own father. But in the first ten years of our marriage, I was gone a lot. I was there in the winter time and frequently in the summer also, but a job that required travel prevented me from presiding consistently over family prayer, family home evening, etc. <br />
        </p>
        <%= image_tag("redfamily.png", :id => "familyred", :class => "image") %>
        <p id="After_moving_to_Wenatchee">
        After moving to Wenatchee, we were able to change some of that, and make my presiding more consistent. I was able to use the skills I’d learned in the priesthood with the support of my wife and through counseling with her.<br /><br />Fortunately, I married a woman who was strong, full of conviction and able to meet challenges head on as our family grew. She enjoyed so many aspects of parenting that when the tough times came, she was able to work her way through them, enjoying enough of the good things that we were able to make the tough things seem not so tough. She was able to delegate and make sure that the children grew up with responsibilities. Cyndi was very good at organization, which developed as more children arrived.<br />
        </p>
        <%= image_tag("treeleaning.png", :id => "treeleaning", :class => "image") %>
        <%= image_tag("RandyNathan.png", :id => "RandyNathan", :class => "image") %>
        <p id="Since_Cyndi_had_much_more_knowledge_on_family_organization_than">
        Since Cyndi had much more knowledge on family organization than I did, I would usually default to her on many decisions. We would counsel together and we would agree together. We put together several programs and systems for our family to follow. We had Joy School, teaching children responsibility, we spent money on piano lessons, we spent money on things that maybe a lot of people maybe wouldn’t spend money on to help organize a family and to bring certain skills to our children. We just felt that was important. I wanted our children to play piano and even though we didn’t make a lot of money, we decided that we didn’t care what it would cost, there would be money there for piano lessons. We just set it up and made sure they started at a young age. I thought that was one of the best things we ever did. Although we weren’t as successful with the boys, we were very successful with the girls, and have been richly blessed because of that. <br /><br />Achieving a balance is just a matter of the amount of love you have in the family. If you put enough deposits in the emotional bank account, you can make withdrawals during bad times, and those certainly will come. But if you have enough good times, then there will be a balance achieved and your children will accept you and still trust you.<br /><br />There’s no purpose to presiding if people are going in different directions. The one who presides is going to find commonality and they’re going to come up with a solution that is the best, righteous solution. So that is what presiding in the family meant to me, and I think that’s how we ended up in the last 20 years of our life in Wenatchee, having a more uniform family structure and organization.
        </p>
        <div id="Box-Priesthood" class="clearfix">
            <p id="_What_the_Priesthood_Can_Do_for_a_Man_Holding_the_priesthood_">
            <span id="textspanc5">What the Priesthood Can Do for a Man<br /></span><span id="textspanc6"><br /></span><span id="textspanc7">Holding the <a id="underline" href="http://mormon.org/faq/purpose-of-priesthood">priesthood</a> has helped me guide our family because it keeps me from being distracted. I think it’s easy for a man to be distracted by work and not involved in the family as much. &nbsp;It’s possible that if he’s not staying close to the spirit and praying a lot, he’ll spend most of his time away from spiritual things and the people that he loves like his children or spouse. When he’s out in the workforce and he’s bombarded side to side, the priesthood provides boundaries and standards to follow. It also keeps you busy one or two nights a week doing church <a id="underline" href="http://mormon.org/faq/no-paid-clergy">callings,</a> so you have less time to get into trouble. That’s not such a bad thing when you’re in your 20’s and 30’s. You have lots of energy and it’s important that energy be directed in the right place. The sooner one determines that he can be a great service to his fellow men, and that he doesn’t need permission to act, thenhe can just do it. That’s what I poured my excess energy into. The priesthood gave me avenues through <a id="underline" href="http://www.scouting.org/">scouting</a>, teaching and leading to give service to others.</span>
            </p>
        </div>
            <%= image_tag("atrayuegroup3.png", :id => "atrayuegroup3", :class => "image") %>
        <div id="boxfix" class="clearfix">
            <div id="boxfix1" class="clearfix">
                <div id="Box-Tiffany" class="clearfix">
                    <%= image_tag("tiffany.png", :id => "tiffany", :class => "image") %>
                    <p id="_Like_Father_Like_Son_Tiffany_Bird_daughter-in-law_Over_the_">
                    <span id="textspanc8">Like Father, Like Son<br /></span><span id="textspanc9">Tiffany Bird, daughter-in-law<br /></span><span id="textspanc10"><br /></span><span id="textspanc11">Over the last ten years that I have known Randy, I have seen so many similarities with him and Nate. Their personalities and mannerisms are so much alike. There are so many instances where I am talking to Cyndi about Nate and she shares the exact same story about Randy that just happened twenty plus years earlier. There are times when Nate has said something and I’ve responded, “That was your dad speaking,” or “That was Randy Junior!” But that is one of the things that makes Nate so wonderful, the fact that he is a lot like his dad. <br /><br />They are mister-fix-its. If something is wrong with the car or the house, they evaluate the problem, research solutions, then fix it themselves. They are “it’ll be fine” guys. They don’t worry about stuff that hasn’t happened yet. It will all work out. And if it doesn’t, oh well. Not a big deal. They love it when the wife goes out shopping and “saves them lots of money” on great deals and bargains. They are businessmen and entrepreneurs. Owning their own business is their life dream. They love to talk to each other about business, investments, and technology. They both love to learn and read up on what is happening around them. They don’t do things for show or recognition. <br /><br />They are family men, who put their family first. They both support their wives and go along with their ideas. They love to serve, taking the time to help others. They have strong testimonies in the gospel. They love to laugh and have a good time. They love to watch and talk sports. They are both leaders, know how to work with others and manage people and projects. But they lead humbly, usually without people even noticing. They are executors, if you want something done, they are your guys. They are hard workers and providers for their families. <br /><br />I love that Nate is so much like Randy. All such great qualities to have. </span>
                    </p>
                </div>
                    <%= image_tag("reunionblue.png", :id => "reunionblue", :class => "image") %>
            </div>
            <div id="boxfix2" class="clearfix">
                <div id="Box-Michelle" class="clearfix">
                    <%= image_tag("michelle.png", :id => "michelle", :class => "image") %>
                    <p id="_Consistency_Michelle_Bird_daughter_Mom_and_dad_worked_so_wel">
                    <span id="textspanc12">Consistency<br /></span><span id="textspanc13">Michelle Bird, daughter<br /></span><span id="textspanc14"><br /></span><span id="textspanc15">Mom and Dad worked so well together when it came to doing family home evenings regularly... not perfectly but consistently... I think that made such a difference. It brought peace, order, learning and teaching into our home.</span>
                    </p>
                </div>
                    <%= image_tag("Randy 84 - Version 2.jpg", :id => "snowman", :class => "image") %>
                <div id="Box-Matthew" class="clearfix">
                    <%= image_tag("matthew.png", :id => "matthew", :class => "image") %>
                    <p id="_Charity_Matthew_Bird_son_Dad_stands_out_to_me_as_one_of_thos">
                    <span id="textspanc16"><br /></span><span id="textspanc17">Charity<br /></span><span id="textspanc18">Matthew Bird, son<br /></span><span id="textspanc19"><br />Dad stands out to me as one of those rare persons who exemplifies charity as explained by Moroni: "And charity suffereth long, and is kind, and envieth not, and is not puffed up, seeketh not her own, is not easily provoked, thinketh no evil, and rejoiceth not in iniquity but rejoiceth in the truth, beareth all things, believeth all things, hopeth all things, endureth all things." I think any or all of these characteristics is an accurate description of Daddio's character and attitude.</span>
                    </p>
                </div>
                <div id="Box-Mitchell" class="clearfix">
                    <%= image_tag("mitchell.png", :id => "mitchell", :class => "image") %>
                    <p id="_Slow_to_Anger_Mitchell_Bird_son_Dad_is_slow_to_anger_He_doe">
                    <span id="textspanc24">Slow to Anger<br /></span><span id="textspanc25">Mitchell Bird, son<br /></span><span id="textspanc26"><br /></span><span id="textspanc27">Dad is slow to anger. He does not tell you his annoyances or frustrations unless you really deserve it. I trust in Dad because of this. He does not belittle, degrade or offend me. Instead, he explains what I did wrong, shares stories of himself making the same mistake, and gives me advice. He is always worthy to have the spirit and never has a spirit of contention. I cannot count the number of times Dad has surprised me by giving love instead of anger. He is a true father.</span>
                    </p>
                </div>
            </div>
            <div id="boxfix3" class="clearfix">
                <div id="Box-Bob" class="clearfix">
                    <%= image_tag("bob.png", :id => "bob", :class => "image") %>
                    <p id="_Forgiveness_Bob_McKeen_brother-in-law_During_the_summer_of_1">
                    <span id="textspanc20">Forgiveness<br /></span><span id="textspanc21">Bob McKeen, brother-in-law<br /></span><span id="textspanc22"><br /></span><span id="textspanc23">During the summer of 1983, &nbsp;Janet and I were seeing a lot of each other, though any talk of marriage or engagement was still very much between just the two of us. One weekend, we were in Rexburg, helping Randy and Cyndi with some yard work at the apartments. At one point, Randy and I got in the car to get something, with Nate joining us. As I closed the door, I didn't notice, until it was too late, that Nate's hand was in the way. He screamed as horribly as I felt, even though it was a complete accident. I felt badly for what had happened but equally so for the prospect that that mistake had also destroyed my relationship with Janet, even though she wasn't in the car. <br /><br />As Randy got Nate soothed and settled down, I apologized profusely and braced for an expected tongue lashing and verbal shredding, similar to what such mistakes had engendered, while growing up. It was a sense of "I've just landed myself on Randy's personna non grata list and flushed any chance of marrying Janet down the toilet. &nbsp;It's over." Randy must have sensed my sense of horror because he calmly said don't worry; things like this happen; it's okay. Outwardly, I quietly apologized, again, for the accident and thanked him for what he said. Inwardly, I felt as if the weight of the world came off my shoulders, replaced with a gratitude for Randy's patience and charity that I could never repay. <br /><br />Years later, Oskar Schlinder (Liam Neeson) perhaps summarized that moment for me best when he told Amon Goeth (Ralph Fiennes): "Power is when we have every justification to kill [or in Randy's case, respond indignantly] and we don't . . . . We pardon them. &nbsp;That's power." And that's why I stand in awe at Randy's quiet inner strength, self-discipline and power, today more than ever. &nbsp;It's also why I'm more in his debt as a brother-in-law than ever before and why it's such a privilege to know him.</span>
                    </p>
                </div>
                <%= image_tag("twinreading.jpg", :id => "readingtotwins", :class => "image") %>
            </div>
        </div>
        <%= image_tag("wenatchee2.png", :id => "wenatchee", :class => "image") %>
        <p id="An_Example_of_Counseling_The_decision_to_move_to_Wenatchee_was">
        <span id="textspanc28">An Example of Counseling<br /></span><span id="textspanc29"><br />The decision to move to Wenatchee was one of those circumstances when Cyndi and I needed to counsel together a lot because it was such a big move. We’d been married 9-10 years and it was a situation where others didn’t want us to do what we were about to do. I understaood their trepidation, but we just had that strong inner feeling that this was what we should do. We always prayed as husband and wife very consistently at night, not as much in the morning, but at night we would counsel about what happened throughout the day and circumstances that had arisen. <br /><br />In this particular situation of moving to Wenatchee, it was probably a good year, year-and-a-half process of making that decision. Once we made it and shared it with the family, it was just a matter of feeling a confirmation from the spirit, a confirmation of our own abilities to do it and trusting in the support we had in our church and the Gospel. Knowing that we could move 700 miles away and we still find friends who were like us in our church was very important. My reasons for moving were more related to providing for the family, but Cyndi needed to make sure she had the support surrounding her to raise five children. Being able to move to Wenatchee and have that support made circumstances much easier for us. <br /><br />The move we made to Wenatchee is number one in my book of pivotal decisions and following through with it it has been the most tremendous blessing we’ve ever experienced. </span>
        </p>
        <%= image_tag("sunnybackground.png", :id => "sunnybackground", :class => "image") %>
        <div id="HandlingConflict-Box" class="clearfix">
            <p id="_Handling_Conflict_When_we_would_have_disagreements_I_would_u">
            <span id="textspanc30">Handling Conflict<br /></span><span id="textspanc31"><br />When we would have disagreements, I would usually be the one that didn’t say much. I would rather sleep on it and discuss it the next day. She would want to discuss it as soon as she reached the boiling point or then and there. I was one who did not do well in debate class, so I would always want to default until tomorrow. Tomorrow is sometimes a better day to discuss some items, but many times I just did not want to face the music. Sometimes because I was the guilty party and sometimes not, but we certainly had our different methods. We used both of them. Sometimes we handled things quickly and sometimes I would say in general, “I don’t want to discuss it now, let’s discuss it later when we’ve got cooler heads; cooler heads will prevail and we’ll have more answers.” <br /><br />This was mostly in circumstances when I didn’t have any answers at the time. Cyndi is pretty quick on her toes and witty and persistent. Me, I’m more passive-persistent. It’s the next day when I have a clear view of the problem and solution in my mind. But those are the two ways we’d handle it. Things worked out; we had a good foundation underneath us. Never was there a thought in our mind that this could be serious enough that it could do damage to our marriage. It was just a matter of working out the circumstances and making sure we were making the right decisions when they needed to be made.</span>
            </p>
        </div>
        <div id="Box-Cyndi-Patience" class="clearfix">
            <%= image_tag("cyndipic.png", :id => "cyndi", :class => "image") %>
            <p id="_Patience_Cyndi_Bird_wife_Another_thing_I_like_about_Randy_is">
            <span id="textspanc32">Patience<br /></span><span id="textspanc33">Cyndi Bird, wife<br /></span><span id="textspanc34"><br />Another thing I like about Randy is he's just really patient. I've been grateful for that over the years because I need a lot of patience. And children need a lot of patience. I've never been so grateful to have him as a father for my children. I can literally count on one hand the times he's raised his voice at our children. Literally, probably less than five times that I can remember. That's really important to me that his children are not afraid of him, because Dads can be scary if they get angry at children. So can I. Unfortunately, I wasn't quite as calm as he was, but he was very patient and he loved his kids to death.</span>
            </p>
        </div>
        <%= image_tag("westernfamily.png", :id => "westernfamily", :class => "image") %>
        <div id="Box-Dignity" class="clearfix">
            <%= image_tag("nate.png", :id => "nate", :class => "image") %>
            <p id="_Quiet_Dignity_Nate_Bird_son_I_think_quiet_dignity_is_what_ma">
            <span id="textspanc35">Quiet Dignity<br /></span><span id="textspanc36">Nate Bird, son<br /></span><span id="textspanc37"><br /></span><span id="textspanc38">I think quiet dignity is what makes Dad unique. He is someone who has been very successful in life and been very humble about it. He is a self-made man. He is always learning, changing and growing.</span>
            </p>
        </div>
        <div id="Box-Nick_Meek" class="clearfix">
            <%= image_tag("nick.png", :id => "nick", :class => "image") %>
            <p id="_Greatness_in_Meekness_Nicholas_Bird_son_This_is_something_th">
            <span id="textspanc39">Greatness in Meekness<br /></span><span id="textspanc40">Nicholas Bird, son<br /><br /></span><span id="textspanc41">This is something that I really admire about Dad that I didn't pay attention to or notice while growing up at home as much. &nbsp;Dad treats Mom really well and handles emotions with flying colors. I'm not sure how unique it is because I don't know the details of most my friends’ and family’s marriages. But when I think of Dad now, I think of a meek, humble guy who doesn't lash back when he gets lashed, and I can't think of many times he responded in anger, and not one time he responded in anger to Mom. &nbsp;A great man with character.</span>
            </p>
        </div>
        <p id="Teaching_Nicole_Cheung_daughter">
        <span id="textspanc42">Teaching<br /></span><span id="textspanc43">Nicole Cheung, daughter</span>
        </p>
        <div id="nicolevid"><iframe width="1280" height="720" src="//www.youtube.com/embed/M014pdby5AE?rel=0" frameborder="0" allowfullscreen></iframe></div>
        <p id="Presiding_in_Parenthood_Leading_by_example_is_really_the_best_">
        <span id="textspanc44">Presiding in Parenthood<br /></span><span id="textspanc45"><br />Leading by example is really the best way for children to learn, as long as it’s consistent. Cyndi and I have tried to discipline our children fairly and consistently, but at the same time we have to make sure that the consistency is righteous and leading in the right direction. <br /><br />You can handle contention the authoritarian way, which is, “I’m bigger and stronger and you’re going to do what I say because I said it,” or <a id="underline" href="https://www.lds.org/manual/teachings-joseph-smith/chapter-24?lang=eng"> you can teach children righteous principles and let them govern themselves</a>. &nbsp;In particular, we would discuss with them what our prophets have told us. We would give them examples and recommendations in our instruction to them, share strong feelings and our testimony, which is the best way to handle a circumstance. It’s not through, “My way or the highway,” it’s through, “What’s the right thing to do?” <br /><br />We worked hard to find good friends for our kids, which meant that Cyndi and I chose good parents, with children who could associate with ours. In that way, we were able to form a loose group of friends who had the same ideals and the same family values. Our children were very good at following the example we set. We also had many inspiring examples around us of church leaders and close friends, people who wanted to do the right thing and be good influences.<br /></span>
        </p>
        <%= image_tag("riverbankportrait.png", :id => "riverbankportrait", :class => "image") %>
        <p id="I_see_the_fruits_of_the_Gospel">
        <span id="textspanc46">I see the <a id="underline" href="https://www.lds.org/scriptures/nt/matt/7.15-20?lang=eng">fruits of the <a id="underline" href="https://www.lds.org/topics/gospel?lang=eng">gospel</a> in my children everyday. They are numerous. I think those fruits will go on for generations. I think we had a very good family organization and once that was established and successful, we hoped our children would follow that example, in their own way and in their own circumstances. Those fruits for Cyndi and I were most recently experienced when all of us were in our church’s temple during Nicole’s wedding in Oakland. It was the first time that we were all together in the temple at one time. Another mantra that Cyndi and I have is “No empty chairs” and that means no empty chairs in heaven. We want all our kids to be there and their spouses and their children. Our primary responsibility is our children, so no empty chairs is something that I’ve told Cyndi that I would like to have on my gravestone. It has tremendous meaning in regard to the fruits, the fruits of our marriage and our eight children. The idea is that we will all occupy a chair and there won’t be an empty one. It would be a tremendous blessing. <br /><br />When we get together in reunions I think our children get along extremely well, very few confrontations if any. As you grow older you see a lot of children grow apart. I’ve seen it in my family under some circumstances and I think it’s quite common. We’re off doing different things and you move away from each other and it’s difficult to relate to one another if you make bad choices in your life and you get off the straight and narrow path. But I see our children following that path and I think they’ve been taught correct principles. They’ll still need to govern themselves, and then their next challenge is their children. Of course Cyndi and I will do all we can to help support them. Generation-wise, those are the great fruits. I think that’s what it’s all about. It’s not about obtaining things or having a great time necessarily. It’s how you are having a great time, it’s how you are getting along. Those are the things that bring joy to parents’ hearts. <br /></span>
        </p>
        <p id="Father’s_Blessings_Audio_by_Randy_Bird">
        <span id="textspanc47">Father’s Blessings<br /></span><span id="textspanc48">Randy Bird</span>
        </p>
        <div id="soundcloudddd"><iframe width="100%" height="100%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/134068782%3Fsecret_token%3Ds-MtD3n&amp;auto_play=false&amp;hide_related=true&amp;visual=true"></iframe></div>
        <p id="Blessing_of_Comfort_Counsel_Matthew_Bird_son">
        <span id="textspanc49">Blessing of Comfort &amp; Counsel<br /></span><span id="textspanc50">Matthew Bird, son</span>
        </p>
        <div id="mattvideoc"><iframe width="1280" height="720" src="//www.youtube.com/embed/ChgyN8rb_x0?rel=0" frameborder="0" allowfullscreen></iframe></div>
        <div id="BettertoBeGoodBox" class="clearfix">
            <p id="_“It’s_Better_to_Be_Good_Than_to_Be_Nice_”_This_is_a_musica">
            <span id="textspanc51">“It’s Better to Be Good Than to Be Nice.” <br /></span><span id="textspanc52"><br />This is a musical theme that Cyndi and I picked up on from a Wenatchee High School performance early when we moved here. It deeply impressed us that people can be your friend and be nice, but that doesn’t necessarily make them good. We wanted our children to understand the difference, so they could make wise choices in friends and the people they’d be influenced by. We also wanted them to focus on being more than just nice to people, but genuinely good. <br /><br />So that’s been a little mantra that we’ve used - it’s better to be good than to be nice, because people can turn on and off nice, but to be consistently good is something to strive for. &nbsp;So it’s a matter of the children realizing that and passing that on to their kids, and hopefully we’ve been successful at that. </span>
            </p>
        </div>
        <div id="ExpressionsofLoveBox" class="clearfix">
            <p id="_Expressing_Love_and_Gratitude_I_thought_it_was_important_that">
            <span id="textspanc53">Expressing Love and Gratitude<br /></span><span id="textspanc54"><br />I thought it was important that our family would often hug, touch and show their love and affection one to another, as opposed to once a month or under certain circumstances. My own family was not very much this way and I don’t think Cyndi’s was either. Maybe on special occasions, you’d hear the words “I love you,” but we both felt it needed to be more frequent than that. Cyndi worked hard at it and we made an effort to be an example of expressing love and gratitude because wanted our family to be more open and comfortable in that way. </span>
            </p>
        </div>
        <div id="GreatestJoyBox" class="clearfix">
            <%= image_tag("michael.png", :id => "michael", :class => "image") %>
            <p id="_Greatest_Joy_Michael_Bird_son_Dad_s_greatest_joy_in_life_is_">
            <span id="textspanc55">Greatest Joy<br /></span><span id="textspanc56">Michael Bird, son<br /></span><span id="textspanc57"><br />Dad's greatest joy in life is his family. He worked hard to make it. It is made of the finest principles and teachings around: love, sharing, compassion, diligence, hard work, intelligence, selflessness, humility, and reverence. </span>
            </p>
        </div>
        <%= image_tag("scoutmaster.png", :id => "scoutmaster", :class => "image") %>
        <%= image_tag("scoutingtrip1.png", :id => "scoutingtrip1", :class => "image") %>
        <p id="Presiding_Outside_the_Home_The_callings_or_responsibilities_I’">
        <span id="textspanc58">Presiding Outside the Home<br /></span><span id="textspanc59"><br />The <a id="underline" href="http://lds.about.com/od/organizationsauxiliaries/p/church_callings.htm">callings or responsibilities</a> I’ve had in our church are numerous; none of them are particularly noteworthy in my mind. I just believed in serving where I was asked to serve. I know in many circumstances, people get called to a certain calling and just fall in love with it, but whenever they’re released, they’re upset. I’ve never really felt that way. I’ve always just felt that I would do what the Lord asks of me, do the best of my ability and try not to make more of the calling than what it is. <br /><br />My most enjoyable calling was being Scoutmaster, not necessarily a priesthood calling, but it was involved with the quorums in our church. I enjoyed this the most because I was able to be with my sons a lot. They were able to know me and my standards and it just helped to bind us closer together. I’ve served in many different callings, I’ve been high priest group leader, over a very small group, Elder’s Quorum president, I’ve been able to serve with Roger Walters in his bishopric and also with Bishop Clay in his. In both circumstances, I was one of their counselors. Those experiences helped me to stand up in front of a congregation, to speak and to talk in public I certainly don’t have any great talent in being able to speak freely and to say things clearly, but I certainly would try and do my best. I think that’s what people remember most about me: that I will do it and I will do the best that I can. Certainly I was devoted to the teachings of the gospel and I think that’s the most important thing. <br /></span>
        </p>
        <p id="Builder_ofmen_-_Nate">
        <span id="textspanc60">Builder of Men<br /></span><span id="textspanc61">Nate Bird, son<br /></span><span id="textspanc62"> </span>
        </p>
        <div id="natebuildersofmensc"><iframe width="100%" height="100%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/134063385%3Fsecret_token%3Ds-cpdNx&amp;auto_play=false&amp;hide_related=false&amp;visual=true"></iframe></div>
        <%= image_tag("callings_timeline.png", :id => "callings_timeline", :class => "image") %>
        <p id="Believing_in_People_Nicole_Cheung_daughter">
        <span id="textspanc63">Believing in People<br /></span><span id="textspanc64">Nicole Cheung, daughter</span>
        </p>
        <div id="nicolevideobelieving"><iframe width="1280" height="720" src="//www.youtube.com/embed/CdSqOaiIq-U?rel=0" frameborder="0" allowfullscreen></iframe></div>
        <div id="FruitionBox" class="clearfix">
            <%= image_tag("matthew.png", :id => "matthew2", :class => "image") %>
            
            <p id="_Fruition_Matthew_Bird_son_While_I_think_that_there_are_some_">
            <span id="textspanc65">Fruition<br /></span><span id="textspanc66">Matthew Bird, son<br /></span><span id="textspanc67"><br />While I think that there are some important moments in his life, I remember Dad for lots of little small moments that added up to amazing accomplishments. He has had the vision, faith, and determination to build up his family, our church, and his career/business by consistently doing what those things require day after day. <a name="x"> </a>After thinking about this, I guess the poignant moments would be times when he saw the fruition of these things - such as the church missions and temple marriages of his children..</span>
            </p>
        </div>

        <div id="gueststoriesb" class="clearfix">
         
            <% @anthology_items = Micropost.where(:topic => 'Preside') %>
            <% @identity = "9" %>
            <% @subject_matter = 'Preside' %>
            
            <%= render 'shared/guest_stories' %>


        </div>
        <%= image_tag("lincoln.png", :id => "lincoln", :class => "image") %>
        <div id="buttonbottom">
            <%= link_to "Back to Life Story", randybird_path, class: "button2" %><br><br>
            <%= link_to "Next Story", randybird_provide_path, class: "button" %>
        </div>
    </body>
</html>