    <head>
        <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', '[redacted-g]', 'antho.co');
              ga('send', 'pageview');

        </script>
        <script>var __adobewebfontsappname__ = "reflow"</script>
        <script src="http://use.edgefonts.net/seaweed-script:n4:all.js"></script>
        <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 3.0,user-scalable = 3.0">
    </head>
    <body>


        <p id="fttext">
        F A M I L Y &nbsp;T R E E&nbsp;
        </p>
        <div id="WholePage" class="clearfix">
            <div id="TopHalf" class="clearfix">
                <div id="BrothersSistersParentsTitle" class="clearfix">
                    <div id="ftbox" class="clearfix">
                        <p id="fttext1">
                        F A M I L Y &nbsp;T R E E&nbsp;
                        </p>
                        <div id="ftbox1" class="clearfix">
                            <div id="ftbox2" class="clearfix">
                                <div id="ftbox3" class="clearfix">
                                    <div id="ftbox4" class="clearfix">
                                        <%= image_tag("ken.png", :id => "ken", :class => "image") %>
                                        <p id="fttext2">
                                        Ken
                                        </p>
                                    </div>
                                    <div id="ftbox5" class="clearfix">
                                    </div>
                                    <div id="ftbox6" class="clearfix">
                                        <p id="fttext3">
                                        Carma
                                        </p>
                                        <% @link = User.find(101) %>
                                        <%= link_to image_tag("carmaft2.png", :id => "carmaft2", :class => "image"), user_path(@link) %>
                                    </div>
                                </div>
                                <div id="ftbox7" class="clearfix">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="ftbox8" class="clearfix">
                        <div id="ftbox9" class="clearfix">
                        </div>
                        <div id="ftbox10" class="clearfix">
                            <div id="MikeDani" class="clearfix">
                                <div id="ftbox11" class="clearfix">
                                    <div id="ftbox12" class="clearfix">
                                    </div>
                                    <div id="ftbox13" class="clearfix">
                                        <%= image_tag("unclemike.png", :id => "unclemike", :class => "image") %>
                                        <p id="UncleMike">
                                        Mike
                                        </p>
                                    </div>
                                    <div id="ftbox14" class="clearfix">
                                    </div>
                                    <div id="ftbox15" class="clearfix">
                                        <%= image_tag("dani.png", :id => "Dani", :class => "image") %> 
                                        <p id="Dani1">
                                        Dani
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div id="MarlinMarion" class="clearfix">
                                <div id="ftbox16" class="clearfix">
                                    <div id="ftbox17" class="clearfix">
                                    </div>
                                    <div id="ftbox18" class="clearfix">
                                        <%= image_tag("marlon.png", :id => "marlon", :class => "image") %> 
                                        <p id="Marlon">
                                        Marlon
                                        </p>
                                    </div>
                                    <div id="ftbox19" class="clearfix">
                                    </div>
                                    <div id="ftbox20" class="clearfix">
                                        <%= image_tag("marian.png", :id => "marian", :class => "image") %> 
                                        <p id="marian1">
                                        Marian
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div id="RobertLaurie" class="clearfix">
                                <div id="ftbox21" class="clearfix">
                                </div>
                                <div id="ftbox22" class="clearfix">
                                    <%= image_tag("laurie.png", :id => "Laurie", :class => "image") %> 
                                    <p id="Laurie1">
                                    Laurie
                                    </p>
                                </div>
                                <div id="ftGroup" class="clearfix">
                                    <div id="ftBox" class="clearfix">
                                    </div>
                                    <div id="ftGroup1" class="clearfix">
                                        <%= image_tag("robertft.png", :id => "robertft", :class => "image") %>
                                        <p id="Robertft">
                                        Robert
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div id="DebiDoug" class="clearfix">
                                <div id="ftbox23" class="clearfix">
                                    <div id="ftbox24" class="clearfix">
                                        <div id="ftbox25" class="clearfix">
                                        </div>
                                        <div id="ftbox26" class="clearfix">
                                            <% @link = User.find(102) %>
                                            <%= link_to image_tag("debi.png", :id => "debi", :class => "image"), user_path(@link) %> 
                                            <p id="Debi">
                                            Debbie
                                            </p>
                                        </div>
                                        <div id="ftBox1" class="clearfix">
                                        </div>
                                        <div id="ftGroup2" class="clearfix">
                                            <% @link = User.find(103) %>
                                            <%= link_to image_tag("doug2.png", :id => "Doug", :class => "image"), user_path(@link) %> 
                                            <p id="Doug1">
                                            Doug
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="ftBox2" class="clearfix">
                            </div>
                            <div id="ftGroup3" class="clearfix">
                                <div id="ftGroup4" class="clearfix">
                                    <div id="ftBox3" class="clearfix">
                                    </div>
                                    <div id="ftGroup5" class="clearfix">
                                        <% @link = User.find(104) %>
                                        <%= link_to image_tag("janet.png", :id => "janet", :class => "image"), user_path(@link) %> 
                                        <p id="Janet">
                                        Janet
                                        </p>
                                    </div>
                                    <div id="ftBox4" class="clearfix">
                                    </div>
                                    <div id="ftGroup6" class="clearfix">
                                        <% @link = User.find(52) %>
                                        <%= link_to image_tag("bobft.png", :id => "bobft", :class => "image"), user_path(@link) %>
                                        <p id="bobft1">
                                        Bob
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="RandyCyndi" class="clearfix">
                    <div id="ftBox5" class="clearfix">
                    </div>
                    <div id="ftGroup7" class="clearfix">
                        <div id="ftBox6" class="clearfix">
                        </div>
                        <div id="ftGroup8" class="clearfix">
                            <% @link = User.find(8) %>
                            <%= link_to image_tag("cyndift.png", :id => "cyndift", :class => "image"), user_path(@link) %>
                            <p id="Cyndift">
                            Cyndi
                            </p>
                        </div>
                        <div id="ftGroup9" class="clearfix">
                            <% @link = User.find(9) %>
                            <%= link_to image_tag("randyft.png", :id => "randyft", :class => "image"), user_path(@link) %> 
                            <p id="Randyft">
                            Randy
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="BottomHalf" class="clearfix">
                <div id="ftGroup10" class="clearfix">
                    <div id="ftBox7" class="clearfix">
                    </div>
                </div>
                <div id="ChildrenGrandchildrenftBox" class="clearfix">
                    <div id="ftGroup11" class="clearfix">
                        <div id="ftBox8" class="clearfix">
                        </div>
                        <div id="ftBox9" class="clearfix">
                        </div>
                        <div id="ftBox10" class="clearfix">
                        </div>
                    </div>
                    <div id="Nate_and_Tiff_Family_ftBox" class="clearfix">
                        <div id="ftbox27" class="clearfix">
                            <% @link = User.find(139) %>
                            <%= link_to image_tag("nateft.png", :id => "nateft", :class => "image"), user_path(@link) %> 
                            <p id="Nateft">
                            Nate
                            </p>
                        </div>
                        <div id="ftGroup12" class="clearfix">
                            <div id="ftBox11" class="clearfix">
                            </div>
                            <div id="ftBox12" class="clearfix">
                            </div>
                        </div>
                        <div id="ftGroup13" class="clearfix">
                            <% @link = User.find(45) %>
                            <%= link_to image_tag("tiffft.png", :id => "tiffft", :class => "image"), user_path(@link) %>
                            <p id="Tiffanyft">
                            Tiffany
                            </p>
                        </div>
                        <div id="ftGroup14" class="clearfix">
                            <div id="ftBox13" class="clearfix">
                            </div>
                            <div id="ftGroup15" class="clearfix">
                                <div id="ftBox14" class="clearfix">
                                </div>
                                <div id="ftBox15" class="clearfix">
                                </div>
                                <div id="ftBox16" class="clearfix">
                                </div>
                                <div id="ftBox17" class="clearfix">
                                </div>
                            </div>
                        </div>
                        <div id="ftGroup16" class="clearfix">
                            <%= image_tag("makenzie.png", :id => "Makenzie", :class => "image") %>
                            <p id="Makenzie1">
                            Makenzie
                            </p>
                        </div>
                        <div id="ftGroup17" class="clearfix">
                            <%= image_tag("alaina.png", :id => "Alaina", :class => "image") %> 
                            <p id="Alaina1">
                            Alaina
                            </p>
                        </div>
                        <div id="ftGroup18" class="clearfix">
                            <%= image_tag("lorelai.png", :id => "Lorelai", :class => "image") %> 
                            <p id="Lorelai1">
                            Lorelai<br />
                            </p>
                        </div>
                        <div id="ftGroup19" class="clearfix">
                            <%= image_tag("eleanor.png", :id => "Eleanor", :class => "image") %> 
                            <p id="Eleanor1">
                            Eleanor
                            </p>
                        </div>
                    </div>
                    <div id="ftBox18" class="clearfix">
                    </div>
                    <div id="NatalieJohnFamily" class="clearfix">
                        <div id="ftBox19" class="clearfix">
                        </div>
                        <div id="ftBox20" class="clearfix">
                            <div id="ftGroup20" class="clearfix">
                                <% @link = User.find(12) %>
                                <%= link_to image_tag("natalieft.png", :id => "natalieft", :class => "image"), user_path(@link) %> 
                                <p id="Natalieft">
                                Natalie
                                </p>
                            </div>
                            <div id="ftGroup21" class="clearfix">
                                <div id="ftBox21" class="clearfix">
                                </div>
                                <div id="ftBox22" class="clearfix">
                                </div>
                            </div>
                            <div id="ftGroup22" class="clearfix">
                                <%= image_tag("john.png", :id => "johnft", :class => "image") %> 
                                <p id="Johnft">
                                John
                                </p>
                            </div>
                            <div id="ftGroup23" class="clearfix">
                                <div id="ftBox23" class="clearfix">
                                </div>
                                <div id="ftGroup24" class="clearfix">
                                    <div id="ftBox24" class="clearfix">
                                    </div>
                                    <div id="ftBox25" class="clearfix">
                                    </div>
                                    <div id="ftBox26" class="clearfix">
                                    </div>
                                </div>
                            </div>
                            <div id="ftGroup25" class="clearfix">
                                <%= image_tag("william.png", :id => "William", :class => "image") %> 
                                <p id="William1">
                                William
                                </p>
                            </div>
                            <div id="ftGroup26" class="clearfix">
                                <%= image_tag("annasmile.png", :id => "Anna", :class => "image") %> 
                                <p id="Anna1">
                                Anna
                                </p>
                            </div>
                            <div id="ftGroup27" class="clearfix">
                                <%= image_tag("asher.png", :id => "Asher", :class => "image") %>
                                <p id="Asher1">
                                Asher
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="Nick_and_Jess_Fam" class="clearfix">
                        <div id="ftGroup28" class="clearfix">
                            <div id="ftBox27" class="clearfix">
                            </div>
                            <% @link = User.find(11) %>
                            <%= link_to image_tag("nickft.png", :id => "nickft", :class => "image"), user_path(@link) %> 
                            <p id="Nickft">
                            Nick
                            </p>
                        </div>
                        <div id="ftGroup29" class="clearfix">
                            <div id="ftBox28" class="clearfix">
                            </div>
                            <div id="ftBox29" class="clearfix">
                            </div>
                        </div>
                        <div id="ftGroup30" class="clearfix">
                            <%= image_tag("jessica.png", :id => "jessica", :class => "image") %> 
                            <p id="Jessica">
                            Jessica
                            </p>
                        </div>
                        <div id="ftGroup31" class="clearfix">
                            <div id="ftBox30" class="clearfix">
                            </div>
                            <div id="ftGroup32" class="clearfix">
                                <div id="ftBox31" class="clearfix">
                                </div>
                                <div id="ftBox32" class="clearfix">
                                </div>
                            </div>
                        </div>
                        <div id="ftGroup33" class="clearfix">
                            <%= image_tag("jamessmile.png", :id => "James_smile", :class => "image") %>
                            <p id="James">
                            James
                            </p>
                        </div>
                        <div id="ftGroup34" class="clearfix">
                            <%= image_tag("jenna.png", :id => "Jenna", :class => "image") %> 
                            <p id="Jenna1">
                            Jenna
                            </p>
                        </div>
                    </div>
                    <div id="ftBox33" class="clearfix">
                    </div>
                    <div id="MatthewJoyFamily" class="clearfix">
                        <div id="ftBox34" class="clearfix">
                        </div>
                        <div id="ftBox35" class="clearfix">
                            <div id="ftGroup35" class="clearfix">
                                <% @link = User.find(138) %>
                                <%= link_to image_tag("matthewft.png", :id => "matthewft", :class => "image"), user_path(@link) %>
                                <p id="Mattft">
                                Matt
                                </p>
                            </div>
                            <div id="ftGroup36" class="clearfix">
                                <div id="ftBox36" class="clearfix">
                                </div>
                                <div id="ftBox37" class="clearfix">
                                </div>
                            </div>
                            <div id="ftGroup37" class="clearfix">
                                <%= image_tag("joy.png", :id => "joy", :class => "image") %> 
                                <p id="Joy">
                                Joy
                                </p>
                            </div>
                            <div id="ftGroup38" class="clearfix">
                                <div id="ftBox38" class="clearfix">
                                </div>
                                <div id="ftGroup39" class="clearfix">
                                    <div id="ftBox39" class="clearfix">
                                    </div>
                                    <div id="ftBox40" class="clearfix">
                                    </div>
                                </div>
                            </div>
                            <div id="ftGroup40" class="clearfix">
                                <%= image_tag("nadya.png", :id => "Nadya", :class => "image") %>
                                <p id="Nadya1">
                                Nadya
                                </p>
                            </div>
                            <div id="ftGroup41" class="clearfix">
                                <%= image_tag("gideonstare.png", :id => "Gideon", :class => "image") %> 
                                <p id="Gideon1">
                                Gideon
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="MitchellMaddieFamily" class="clearfix">
                        <div id="ftBox41" class="clearfix">
                        </div>
                        <div id="ftBox42" class="clearfix">
                            <div id="ftGroup42" class="clearfix">
                                <% @link = User.find(16) %>
                                <%= link_to image_tag("mitchellft.png", :id => "mitchellft", :class => "image"), user_path(@link) %>
                                <p id="Mitchellft">
                                Mitchell
                                </p>
                            </div>
                            <div id="ftBox43" class="clearfix">
                            </div>
                            <div id="ftGroup43" class="clearfix">
                                <%= image_tag("maddie.png", :id => "maddie", :class => "image") %> 
                                <p id="Madison">
                                Madison
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="MichaelAngelFamily" class="clearfix">
                        <div id="ftBox44" class="clearfix">
                            <div id="ftGroup44" class="clearfix">
                                <% @link = User.find(11) %>
                                <%= link_to image_tag("michaelft.png", :id => "michaelft", :class => "image"), user_path(@link) %>
                                <p id="Michaelft">
                                Michael<br /><br />
                                </p>
                            </div>
                            <div id="ftBox45" class="clearfix">
                            </div>
                            <div id="ftGroup45" class="clearfix">
                                <p id="Angel">
                                Angel
                                </p>
                                <%= image_tag("angel.png", :id => "Angel1", :class => "image") %> 
                            </div>
                        </div>
                        <div id="ftBox46" class="clearfix">
                        </div>
                    </div>
                    <div id="MichelleScotFamily" class="clearfix">
                        <div id="ftBox47" class="clearfix">
                        </div>
                        <div id="SubMichelleScotFamily" class="clearfix">
                            <div id="ftGroup46" class="clearfix">
                                <% @link = User.find(15) %>
                                <%= link_to image_tag("michelleft2.png", :id => "michelleft", :class => "image"), user_path(@link) %>
                                <p id="Michelleft">
                                Michelle
                                </p>
                            </div>
                            <div id="ftBox48" class="clearfix">
                            </div>
                            <div id="ftGroup47" class="clearfix">
                                <% @link = User.find(48) %>
                                <%= link_to image_tag("scot.png", :id => "scot", :class => "image"), user_path(@link) %> 
                                <p id="Scot">
                                Scot
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="NicoleAlexFamily" class="clearfix">
                        <div id="ftGroup48" class="clearfix">
                            <% @link = User.find(5) %>
                            <%= link_to image_tag("nicoleft.png", :id => "nicoleft", :class => "image"), user_path(@link) %> 
                            <p id="Nicoleft">
                            Nicole
                            </p>
                        </div>
                        <div id="ftGroup49" class="clearfix">
                            <div id="ftBox49" class="clearfix">
                            </div>
                            <div id="ftBox50" class="clearfix">
                            </div>
                        </div>
                        <div id="ftGroup50" class="clearfix">
                            <% @link = User.find(6) %>
                            <%= link_to image_tag("alexft.png", :id => "alexft", :class => "image"), user_path(@link) %> 
                            <p id="Alexft">
                            Alex
                            </p>
                        </div>
                        <div id="ftGroup51" class="clearfix">
                            <p id="Baby">
                            Jonah
                            </p>
                            <%= image_tag("jonah.png", :id => "cheungbaby", :class => "image") %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
