<!--br><br><br><br><br><br><br><br><br><br>

<ul>	
	<li><%#= link_to "Provide", randybird_provide_path %></li>
	<li><%#= link_to "Protect", randybird_protect_path %></li>
	<li><%#= link_to "Preside", randybird_preside_path %></li>
	<li><%#= link_to "Boyhood", randybird_boyhood_path %></li>
	<li><%#= link_to "The Formative Years", randybird_formative_years_path %></li>
	<li><%#= link_to "Early Adulthood", randybird_early_adulthood_path %></li>
</ul-->

    <!-- This code is only meant for previewing your Reflow design. -->
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale = 1, maximum-scale = 2, user-scalable=1" />
    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '[redacted-g]', 'antho.co');
          ga('send', 'pageview');
    </script>
		<!--script>
		$('.image-wrapper1').on('mouseenter', function () {
    $(this).children('.image-options1').stop().fadeIn(250);
}).on('mouseleave', function () {
    $(this).children('.image-options1').stop().fadeOut(250);
});
		$('.image-wrapper2').on('mouseenter', function () {
    $(this).children('.image-options2').stop().fadeIn(250);
}).on('mouseleave', function () {
    $(this).children('.image-options2').stop().fadeOut(250);
});
		$('.image-wrapper3').on('mouseenter', function () {
    $(this).children('.image-options3').stop().fadeIn(250);
}).on('mouseleave', function () {
    $(this).children('.image-options3').stop().fadeOut(250);
});
		</script-->
    </head>
    <% provide(:title, 'Randy Bird: Life Story') %>
    <body>

        <%= image_tag("randyproff.png", :id => "randyproff", :class => "image") %>
        <div id="boxz" class="clearfix">
            <p id="R_A_N_D_A_L_S_C_O_T_T_B_I_R_D">
            RANDAL SCOTT BIRD
            </p>
        </div>
        <p id="Life_Summary_by_Nicole_Cheung_daughter_Randal_Scott_Bird_join">
        <span id="textspanz">Life Summary<br /></span><!--span id="textspanz1">Nicole Cheung, daughter<br /--><br /></span><span id="textspanz2">Randal Scott Bird joined the world on June 21, 1957 in Idaho Falls. &nbsp;As a child, he spent eight happy years growing up on a farm in Milo until his family moved to Rexburg, Idaho. He lived out the remainder of his boyhood days there and attended the local Ricks College (now BYU-Idaho). He served a two-year mission for the <a id="underline" href="http://www.lds.org">The Church of Jesus Christ of Latter-day Saints (LDS)</a> in the San Francisco Bay Area teaching in Spanish communities. Shortly after returning home, he was smitten by Cynthia Kay Roos and the two were married on July 20, 1979. They owned and managed an apartment complex in Rexburg for ten years and then moved to <a id="underline" href="http://vimeo.com/88411706">Wenatchee, WA</a> in 1988 to start the Heaven’s Best Carpet Cleaning franchise for Washington state. <br /><br />They courageously raised eight children together in Wenatchee, all of whom attended Brigham Young University (BYU), seven of whom served missions for the LDS church and are now married. Randy adores his ten grandchildren and considers his large family to be his most priceless legacy. He built his life around his wife and children so he could spend as much time with them as possible, working from home and helping Cyndi raise the children. He has served faithfully in his local LDS church congregation his entire life and is known as a humble, patient, reliable and honorable man to his family and friends.  He and his faithful wife Cyndi would have celebrated 35 years of marriage this year. He courageously battled stage four liver cancer for two years before he passed away on March 27, 2014, surrounded by family and friends. <br /><br /><a id="underline" href="http://www.legacy.com/obituaries/postregister/obituary.aspx?pid=170514319">Read Randal Scott Bird's obituary</a>. </span>
        </p>
        <%= link_to image_tag("timelinemenu.png", :id => "timelinemenu", :class => "image"), randybird_timeline_path %>
        <p id="My_Life_Story_by_Randy_Bird_Several_years_ago_I_heard_a_talk_t">
        <span id="textspanz3">My Life Story<br /></span><span id="textspanz4">Randy Bird<br /><br /></span><span id="textspanz5">Several years ago I heard a <a id="underline" href="http://magazine.byu.edu/?act=view&a=1292">talk</a> that helped me define who I am, who I should be and who I'd eventually become. There were three themes: preside, provide, and protect. Those three themes have been very instrumental in shaping my life goals. To preside over my family meant that they knew there was someone in charge, that he followed the Lord and led the family according to His goals and His mission. To provide was to take care of my family, so my wife and children could rely on my providing for their needs. In my mind, to protect meant to be a defender of the family, against things that could harm it.<br /><br />Those three roles were very important. As I look back over the life I've led, it's easy to put all my decisions into those three categories. I did "x" because of my three responsibilities to preside, provide and protect. By focusing on these three things, I've added tremendous value and meaning to my life.</span> 
        </p>
        <div id="boxz1" class="clearfix">
            <div id="boxz2" class="clearfix">
                <!--div class="image-wrapper">
                	<span class="image-options"></span-->
                    <%= link_to image_tag("presidemenu.png", :id => "presidemenu", :class => "image"), randybird_preside_path %>
	             <!--/div-->

                	<span class="image-options"></span>
                    <%= link_to image_tag("providemenu.png", :id => "providemenu", :class => "image"), randybird_provide_path %>

                    <%= link_to image_tag("protectmenu.png", :id => "protectmenu", :class => "image"), randybird_protect_path %>

	           
            </div>
            <div id="boxz3" class="clearfix">
	                
                    <%= link_to image_tag("boyhoodmenu.png", :id => "courtshipmenu", :class => "image"), randybird_boyhood_path %>
	                
                    <%= link_to image_tag("formativeyearsmenu.png", :id => "boyhoodmenu", :class => "image"), randybird_formative_years_path %>
	                
                    <%= link_to image_tag("earlyadulthoodmenu.png", :id => "formativeyearsmenu", :class => "image"), randybird_early_adulthood_path %>
                    
                    <%= link_to image_tag("courtshipmenu.png", :id => "earlyadulthoodmenu", :class => "image"), randybird_courtship_path %>
            </div>
            <div id="boxz4" class="clearfix">
                
                <%= link_to image_tag("guestbook.png", :id => "guestbook", :class => "image"), randybird_guestbook_path %>
                
                <%= link_to image_tag("familytreemenu1.png", :id => "familytreemenu", :class => "image"), randybird_family_tree_path %>
                
                <%= link_to image_tag("adventuremenu2.png", :id => "adventuremenu", :class => "image"), randybird_adventure_path %>
                
                <%= image_tag("cancermenu.png", :id => "cancermenu", :class => "image") %>
                <%#= link_to image_tag("cancermenu.png", :id => "cancermenu", :class => "image"), "http://www.everythingwillbefine.com" %>
            </div>
        </div>
        <p id="note_all_passages_unless_otherwise_specified_were_spoken_by_">
        note: all passages, unless otherwise specified, were spoken by Randy Bird
        </p>
    </body>