<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale = 1, maximum-scale = 2, user-scalable=1" />
    <script>
        $(document).ready(function () {
            $("#cyndivideolo2").fitVids();
        });
    </script>
    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '[redacted-g]', 'antho.co');
          ga('send', 'pageview');
    </script>
</head>
    
<body>

<% provide(:title, 'Randy Bird: Courtship') %>
        <%= image_tag("C O U R T S H I P.png", :id => "C_O_U_R_T_S_H_I_P", :class => "image") %>
        <p id="Courting_Cyndi_I_prepared_for_marriage_and_having_a_family_ear">

        <span id="textspand">Courting Cyndi<br /><br /></span><span id="textspand1">I prepared for marriage and having a family early in my youth. In our church, we’re taught we should be married in the temple, so that was my goal and it’s a goal I always had: receive the priesthood, serve a mission and get married in the temple. Examples of this pattern were all around me in my parents and relatives. Preparation happened in my home growing up during Family Home Evenings, family outings and other traditions. I also learned as a priesthood holder to treat women carefully and &nbsp;with respect.<br /><br />Through the process of serving a mission I think I gained a lot of confidence needed to be a worthy husband. I was not an active dater before my mission at all. Girls intimidated me and I just felt I needed to mature more. When I came home from my mission I began to date more frequently. I was attending Ricks College and probably dated four or five different girls the first semester. I met Cyndi the second semester. There were a couple other girls, but I wasn’t serious with any of them; it just never got to that point. But with Cyndi, we got along well and we were led to each other through several different avenues. <br /><br />One of those avenues was through a missionary companion of mine who knew Cyndi when she was 10 years old in Miskoge, Oklahoma. There was another link through a group of girls I grew up with in Rexburg that knew Cyndi and her friend Gina Parkinson. They recommended that Cyndi look me up and see if I would date her. She had another group of friends all from Texas that saw the same thing and thought we were pretty compatible. <br /></span>
        <!--iframe id="spotify" src="https://embed.spotify.com/?uri=spotify:track:1jFhnVoJkcB4lf9tT0rSZS" width="300" height="80" frameborder="0" allowtransparency="true"></iframe-->
        
        </p>
        <div id="nickelstoryBox" class="clearfix">
            <p id="_The_Nickel_On_one_of_our_first_dates_we_were_all_dressed_up">
            <span id="textspand2">The Nickel </span><span id="textspand3"><br /></span><span id="textspand4">Randy Bird</span>
            </p>
            <!--img id="soundcloudnickel" src="img/soundcloudnickel.png" class="image" /-->
            <p id="_The_Nickel_On_one_of_our_first_dates_we_were_all_dressed_up1">
            <span id="textspand5">On one of our first dates, we were all dressed up and over at Cyndi’s apartment. I think my friend Todd and I were waiting for her to be ready and when she came out we were just clowning back and forth a little bit. I remember Todd told a joke and we were laughing about it. Now I’m not a storyteller and I’m not a joke teller at all, as jokes just don’t stick in my mind. That’s why this story is a little out of character for me. <br /><br />It started with me saying to Cyndi, I bet you a nickel I can kiss you without touching you. And she said, No you can’t. So I said, Yes I can. And she just turned to her girlfriends and said, That’s just not possible. How do you kiss someone without touching them? I told her again, I can do it. She stood up to me to let me try, so I just kissed her right on the lips and said, Here’s your nickel. Sorry I lost the bet. Her mouth fell wide open as she did not count on me wanting to lose the bet. She was totally baffled, turned all colors and shades of red and couldn’t believe she’d been snookered into that little trick. It’s one of our good stories. <br /><br />The story about the nickel is out of character because I’m actually a slow mover. I didn’t formally kiss Cyndi until we’d been dating three months -- I’m talking about the doorstep kiss, where you bring her home and kiss goodbye. After two months of steady dating, I was still saying goodbye at the door and then I’d just turn and leave. So it was not like me to have a story like this. But it’s fun to tell years later.</span>
            </p>
        </div>
        <div id="circleportraits_-Box" class="clearfix">
            <%= image_tag("danceportrait2.png", :id => "danceportrait2", :class => "image") %>
            <%= image_tag("nickel.png", :id => "nickel", :class => "image") %>
            <%= image_tag("dancepic.png", :id => "dancepic", :class => "image") %>
        </div>
        <p id="Looking_from_the_outside_I_don’t_know_if_you_can_judge_whether">
        Looking from the outside, I don’t know if you can judge whether people are compatible or not, but after one date, I knew that we were. It started out well because she liked basketball, which was one of my passions. We went to a basketball game on one of our first dates and if she didn’t like basketball, I don't think it would have worked out. If she had put her foot down and said, “No, I don’t like games,” I think that would have been the end of it, haha. But she was willing and genuinely liked being with me and I genuinely liked being with her. We ended up dating for about four months, but it was a slow process. I am not a fast mover and my personality is not a take-charge, head-forward type of personality. Put it this way: I grew up in a family with three older brothers who were pretty dominant, so being younger I was just complacent to just watch and see how things turned out and to move with the flow as they went. As long as I felt they were going in a good direction, I would keep pursuing it. So with Cyndi, it just kept growing. <br /> <br />

        It was easy to see that if I just stayed on this path and we just kept doing different things together, we’d definitely fall in love with each other. We found we were compatible in all sorts of different situations. Through the process of two to three months, we dated frequently; probably near the end there in March and April, we saw each other on a daily basis. I made sure we did through one circumstance or another. So it was not love at first sight, but she certainly had the personality that I liked. She was very much like my mother. She was respectful and the word I used when I was dating her was "vivacious!" To me that’s what she was and I enjoyed that. She always had a spark and she was always fun to be with. So after a period of time, it was obvious I was going to pursue this as far as it goes and hopefully she felt the same way.

        <br><br><br>
        <span id="textspand2d">Our Song</span><br>
        <iframe id="spotify" width="50%" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/63177218&amp;color=ff5500&amp;auto_play=false&amp;hide_related=true&amp;show_artwork=false"></iframe>
        <br /></body></p>
         <!--p id="Looking_from_the_outside_I_don’t_know_if_you_can_judge_whether2"> It was easy to see that if I just stayed on this path and we just kept doing different things together, we’d definitely fall in love with each other. We found we were compatible in all sorts of different situations. Through the process of two to three months, we dated frequently; probably near the end there in March and April, we saw each other on a daily basis. I made sure we did through one circumstance or another. So it was not love at first sight, but she certainly had the personality that I liked. She was very  much like my mother. She was respectful and the word I used when I was dating her was vivacious! To me that’s what she was and I enjoyed that. She always had a spark and she was always fun to be with. So after a period of time, it was obvious I was going to pursue this as far as it goes and hopefully she felt the same way.
        </p-->

        <%= image_tag("cyndipic.png", :id => "cyndipic", :class => "image") %>
        <p id="_Cyndi_s_Take_Cyndi_Bird_wife_Randy_first_caught_my_attenti">
        <span id="textspand6">Cyndi's Take<br /></span><span id="textspand7">Cyndi Bird, wife<br /></span><span id="textspand8"> <br />Randy first caught my attention when we were in college. The first memories I have of him were at our church. That's where I saw him with a group of four to five guys, and he was just very pleasant. I think that would be the right word to explain his personality. He was very friendly to everybody and I noticed that. He was nice to everybody, kind and you always saw him happy. It wasn't like he was overly in your face or always bubbly, but you could tell he was content and at peace with himself. All of these things together were what I think was an outward expression of feeling good inside about himself and that really attracted me to him. It definitely caught my eye.</span>
        </p>
        <%= image_tag("bachelor.png", :id => "bachelor", :class => "image") %>
        <p id="He_helped_to_organize_a_lot_of_activities_at_church_and_I_liked">
        He helped to organize a lot of activities at church and I liked that about him, too. I thought, Oh he's involved and social. It was really important to me that he be kind to everybody, not just certain people, and include everyone. He was really good that way and very involved. <br /><br />He was also very good looking, I thought, very handsome, and dressed really nice. That was important to me too, but I found out later it was his mother who dressed him so well, which was kind of funny. That's actually something about him that I, in a strange way, admire. He doesn't overly care about that sort of thing. That's something that I really like. I like him to dress nice, things like that, but it's not important to him. Things aren't that important to him and how he appears to others is not that important to him, as far as trying to impress people goes. <br /><br />I remember my brother one time saying, “Randy is a man with no guile.” I thought that is so true. I don't know if it's because I'm a woman, but I think a lot of it is. Women care a little more about what we look like and how we appear to people and we get kind of openly judged by that sometimes. I'm always a little bit more concerned about those kinds of things, but he doesn't let that kind of thing bother him at all. He didn't care if I had makeup on or didn't or in my grubby t-shirt and jeans or in a beautiful nice dress. He liked me either way, and I always appreciated that. <br />
        </p>
        <div id="templeweddingBox" class="clearfix">
            <%= image_tag("templekiss.png", :id => "templekiss", :class => "image") %>
            <%= image_tag("templewedding.png", :id => "templewedding", :class => "image") %>
            <%= image_tag("flyingwedding.png", :id => "flyingwedding", :class => "image") %>
            <%= image_tag("portraitwedding.png", :id => "portraitwedding", :class => "image") %>
            <%= image_tag("reception.png", :id => "reception", :class => "image") %>
        </div>
        <p id="I_think_the_other_thing_about_Randy_that_I_really_liked_over_th">
        I think the other thing about Randy that I really liked over the years is he's a really, really hard worker. His fathers and his brothers taught him that, how to work hard, and that's been a huge blessing to me. The most important thing about that is the reason we work hard is for our family and to be able to help others eventually, too. That's what he did everything for: for his children, to take care of them and me and to be able to give to other people in need. That's why he wanted his own business, so he could help other people, employ other people and help them out and have control of his time. Then he could have more time with our children and with me when he wanted it and when he could and that was really important to me. <br /><br />That was probably one of things that I was looking for in a husband, someone that would not be gone all the time. I wanted a husband to be around that could help me raise our children together and not me by myself. So I was really glad that he felt the same way. 
        </p>
        <div id="postmarriageBox" class="clearfix">
            <%= image_tag("RandyCyndiTemple.png", :id => "dctemple", :class => "image") %>
            <%= image_tag("honeymoon.png", :id => "honeymoon", :class => "image") %>
            <%= image_tag("newlyweds.png", :id => "newlyweds", :class => "image") %>
            <%= image_tag("mustached.png", :id => "mustached", :class => "image") %>
            <%= image_tag("lastportrait.png", :id => "lastportrait", :class => "image") %>
        </div>
        <p id="Thirty-Four_Years_Our_children_ask_us_how_our_marriage_turned_">
        <span id="textspand9">Thirty-Four Years<br /></span><span id="textspand10"><br /></span><span id="textspand11">Our children ask us how our marriage turned out as successfully as it did. One of the contributing factors to the success is that we never once considered that we wouldn’t have a marriage. We were married in our church’s temple for time and all eternity and that’s what we expected of each other and never thought any differently. The thought never even entered my head. Even in our weaknesses, we knew that we needed each other, that we were compatible and that we could be a good team in raising our children. </span><br />
        </p>
        <p id="Love_from_a_Distance_Cyndi_Bird_wife">
        <span id="textspand12">Love from a Distance<br /></span><span id="textspand13">Cyndi Bird, wife</span>
        </p>
        <div id="cyndivideolo2"><iframe width="1280" height="720" src="//www.youtube.com/embed/urzOVmAG6Jk?rel=0" frameborder="0" allowfullscreen></iframe></div>

        <%= image_tag("familyreunionnn.png", :id => "familyreunionnn", :class => "image") %>
                      
            <p id="How_did_we_keep_romance_in_the_marriage_Well_that_was_easy_for">
            How did we keep romance in the marriage? Well that was easy for me because she was such a beautiful, gorgeous woman. It wasn’t hard for me at all, because it just came naturally. <br /><br />We definitely loved being parents, and we enjoyed being around our kids. I don’t know if it had much to do with us, but I think we had children sent to us from Heavenly Father that were good to begin with. <a name="x"></a> We taught them at an early age to be good people and it stuck. In a nutshell that’s kind of how it all came to be. It’s hard to put your finger on any one thing, we were just very blessed. <br />
            </p>

            <div id="gueststoriesb" class="clearfix">
             
                <% @anthology_items = Micropost.where(:topic => 'Courtship') %>
                <% @identity = "9" %>
                <% @subject_matter = 'Courtship' %>
                
                
                <%= render 'shared/guest_stories' %>

            </div>

        <%= image_tag("pathwalk.png", :id => "image", :class => "image") %>
        <div id="buttonbottom">
            <%= link_to "Back to Life Story", randybird_path, class: "button2" %><br><br>
            <%= link_to "Next Story", randybird_preside_path, class: "button" %>
        </div>
    </body>