    <head>
	<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0">
    </head>
    <body>

        <div id="Museum_Cover_Photo_Mod_Roos" class="clearfix">
            <span id="Subject_Name_Mod_Roos">
            BILL &amp; TERESA ROOS
            </span>
            <div id="Subtitle_Container" class="clearfix">
                <%= image_tag("evelyn/menu/arrow motif left.png", :id => "arrow_motif_left", :class => "image")  %>
                <span id="Museum_Subtitle_Mod">
                Living History Museum
                </span>
                <%= image_tag("evelyn/menu/arrow motif right.png", :id => "arrow_motif_right", :class => "image")  %>
            </div>
        </div>
        <p id="Sponsorship_Mod">
        Sponsored by Cyndi Bird
        </p>

        <div id="roos_summary_box">
            <p id="roos_summary_title">
                Lives Dedicated to Faith and Service
            </p>
            <p id="roos_summary">
                
                Born during the Great Depression just before the outbreak of World War II, Bill and Teresa Roos grew up in an era of turbulence and sacrifice. Bill’s Mormon family had settled in rural Sandpoint, Idaho, where Bill learned from his parents the value of quality work and provident living. Teresa’s southern upbringing in Scranton, Arkansas was greatly influenced by generations of family members and their deep-rooted Catholic faith. <br /><br />

                After high school, Bill enlisted in the U.S. Army, eventually landing him at the Post Finance Office in Fort Chaffee, Arkansas. It was there where he met Teresa at a servicemen’s club and repeatedly beat out all the other men in asking her to dance. Teresa acquiesced to Bill's overtures by standing up another date to go out with him. They were married soon after on May 31, 1957. Their marriage, however, came at great sacrifice, as their union was fraught with parental disapproval for marrying out of the faith.<br /><br />

                Teresa gave birth to four adorable daughters in their early years of marriage. She quietly attended Catholic church services on her own, while slowly learning about “Mormonism.” When they moved to Little Rock, Arkansas, she shocked Bill by inviting the LDS missionaries into their home. To this day, Bill recalls Teresa’s baptism on July 18, 1964 as the happiest day of his life. Two years later, the family traveled across the country to be sealed together for time and eternity in the Idaho Falls, Idaho LDS temple on August 23, 1966. They added two sons to their family and worked diligently to teach their children the principles of the restored gospel. <br /><br />

                Bill and Teresa moved frequently to follow Bill’s career working in the VA hospitals. Their journey took them from state to state while raising their young family. During these continual years of transition, Bill and Teresa persevered through corporate downsizing, constant changing of community, and struggling to provide a living. Despite these setbacks, Bill’s dedication to self-reliance eventually brought him success, responsibility and fulfillment in his work.<br /><br />

                In their years of retirement, Bill and Teresa have dedicated their lives to church and community service. Their work in the temple, their two missions, and numerous community programs have been vital to their spiritual and social sustenance, giving them a wellspring of community support and friendship. <br /><br />

                It was against this backdrop of ever-changing circumstances that Bill and Teresa have demonstrated selfless service and lasting devotion to one another. Out of the mountain of human experience, they have carved out for themselves a life of faith, service, family, and razzing their grandchildren.  
            </p>
        </div>

        <div id="GrayBG" class="clearfix">
            <div id="Row_1_Container" class="clearfix">
                <a style="display:block" href="<%= roos_bills_childhood_path %>">
                    <div id="Exhibit_Container" class="clearfix">
                        <%= image_tag("roos/menu/billschildhood2.jpg", :id => "Exhibit_Photo_Mod", :class => "image")  %>
                        <div id="Exhibit_Rectangle_Mod" class="clearfix">
                            <p id="Exhibit_Title_Mod">
                            Bill’s Childhood
                            </p>
                            <p id="Exhibit_Subtitle_Mod">
                            Coming of Age in the Wake of War
                            </p>
                        </div>
                    </div>
                </a>
                <a style="display:block" href="<%= roos_teresas_childhood_path %>">
                    <div id="Exhibit_Container_copy_2" class="clearfix">
                        <%= image_tag("roos/menu/teresaschildhood3.jpg", :id => "Exhibit_2_Photo_Mod", :class => "image")  %> 
                        <div id="Exhibit_2_Rectangle_Mod" class="clearfix">
                            <p id="Exhibit_2_Title_Mod">
                            Teresa’s Childhood
                            </p>
                            <p id="Exhibit_2_Subtitle_Mod">
                            Of Southern Catholic Gentility
                            </p>
                        </div>
                    </div>
                </a>
                <a style="display:block" href="<%= roos_the_army_path %>">
                    <div id="Exhibit_Container_copy_3" class="clearfix">
                        <%= image_tag("roos/menu/army3.jpg", :id => "Motherhood_I_Menu_Photo", :class => "image")  %> 
                        <div id="Rectangle_11" class="clearfix">
                            <p id="Motherhood_1">
                            The Army
                            </p>
                            <p id="Parenting_as_a_Working_Widow">
                            Transformation in the Military
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div id="Row_2_Container" class="clearfix">
                <a style="display:block" href="<%= roos_devotion_path %>">
                    <div id="Exhibit_Container1" class="clearfix">
                        <%= image_tag("roos/menu/devotion3.jpg", :id => "Exhibit_Photo_Mod1", :class => "image")  %> 
                        <div id="Exhibit_Rectangle_Mod1" class="clearfix">
                            <p id="Exhibit_Title_Mod1">
                            Devotion
                            </p>
                            <p id="Exhibit_Subtitle_Mod1">
                            Our Storied Years Together
                            </p>
                        </div>
                    </div>
                </a>
                <a style="display:block" href="<%= roos_conversion_path %>">
                    <div id="Exhibit_Container_copy_21" class="clearfix">
                        <%= image_tag("roos/menu/conversion3.jpg", :id => "Exhibit_2_Photo_Mod1", :class => "image")  %> 
                        <div id="Exhibit_2_Rectangle_Mod1" class="clearfix">
                            <p id="Exhibit_2_Title_Mod1">
                            Conversion
                            </p>
                            <p id="Exhibit_2_Subtitle_Mod1">
                            Finding the Way Back Home
                            </p>
                        </div>
                    </div>
                </a>
                <a style="display:block" href="<%= roos_resilience_path %>">
                    <div id="Exhibit_Container_copy_31" class="clearfix">
                        <%= image_tag("roos/menu/resilience2.jpg", :id => "Motherhood_I_Menu_Photo1", :class => "image")  %> 
                        <div id="Rectangle_11" class="clearfix">
                            <p id="Motherhood_11">
                            Resilience
                            </p>
                            <p id="Parenting_as_a_Working_Widow1">
                            Faith Through Continual Transition
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div id="Row_3_Container" class="clearfix">
                <a style="display:block" href="<%= roos_wisdom_path %>">
                    <div id="Exhibit_Container2" class="clearfix">
                        <%= image_tag("roos/menu/wisdom2.jpg", :id => "Exhibit_Photo_Mod2", :class => "image")  %>
                        <div id="Exhibit_Rectangle_Mod2" class="clearfix">
                            <p id="Exhibit_Title_Mod2">
                            Wisdom
                            </p>
                            <p id="Exhibit_Subtitle_Mod2">
                            Lessons Passed Down
                            </p>
                        </div>
                    </div>
                </a>
                <a style="display:block" href="<%= roos_service_path %>">
                    <div id="Exhibit_Container_copy_22" class="clearfix">
                        <%= image_tag("roos/menu/service3.jpg", :id => "Exhibit_2_Photo_Mod2", :class => "image")  %>
                        <div id="Exhibit_2_Rectangle_Mod2" class="clearfix">
                            <p id="Exhibit_2_Title_Mod2">
                            Service
                            </p>
                            <p id="Exhibit_2_Subtitle_Mod2">
                            Furthering Our Communities
                            </p>
                        </div>
                    </div>
                </a>
                <a style="display:block" href="<%= roos_timeline_path %>">
                    <div id="Exhibit_Container_copy_32" class="clearfix">
                        <%= image_tag("roos/menu/timeline2.jpg", :id => "Motherhood_I_Menu_Photo2", :class => "image")  %> 
                        <div id="Rectangle_12" class="clearfix">
                            <p id="Motherhood_12">
                            Timeline
                            </p>
                            <p id="Parenting_as_a_Working_Widow2">
                            Chronology of Events
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <!--div id="Row_3_Container" class="clearfix">
                <a style="display:block" href="<%= evelyn_family_tree_path %>">
                    <div id="Exhibit_Container2" class="clearfix">
                        <%#= image_tag("roos/menu/guestbook2.jpg", :id => "Exhibit_Photo_Mod2", :class => "image")  %>
                        <div id="Exhibit_Rectangle_Mod2" class="clearfix">
                            <p id="Exhibit_Title_Mod2">
                            Guestbook
                            </p>
                            <p id="Exhibit_Subtitle_Mod2">
                            Contribute Your Story
                            </p>
                        </div>
                    </div>
                </a>
                
            </div-->

            <a style="display:block" href="<%= roos_guestbook_path %>">
                <div id="roos_guestbook_button">
                    <div id="Rectangle_12_Roos" class="clearfix">
                                <p id="GuestbookButton">
                                Guestbook
                                </p>
                                <p id="Parenting_as_a_Working_Widow2">
                                Contribute Your Story
                                </p>
                    </div>
                </div>
            </a>
        </div>

        

        <div id="Mod_Menu_Bottom" class="clearfix">
            <div id="MWL_Box_Mod" class="clearfix">
                <%= image_tag("evelyn/menu/arrow motif left.png", :id => "arrow_motif_left_copy", :class => "image")  %> 
                <p id="MWL_black">
                MADE WITH LOVE by ANTHO
                </p>
                <%= image_tag("evelyn/menu/arrow motif right.png", :id => "arrow_motif_right_copy", :class => "image")  %>
            </div>
            <br /><br />
        </div>

    </body>