<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>

    <head>
        
        <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 3.0">


        
        <script src="http://use.typekit.net/[redacted-a].js"></script>
        <script>try{Typekit.load();}catch(e){}</script>    
            <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '[redacted-g]', 'antho.co');
          ga('send', 'pageview');
    </script>
    </head>


    <body>


        <p id="The_Life_Story_of">
        The Life Story of
        </p>
        <div id="Shapedsm_3" class="clearfix">
        </div>
        <span id="DOUG_SKIP_SALMON">
        DOUG &amp; SKIP SALMON
        </span>
        <div id="Shapedsm_2" class="clearfix">
        </div>
        <p id="SubtitleMenu">
            <%= link_to 'Love Story', salmon_love_story_path %> &nbsp; • &nbsp; <%= link_to 'Perseverance', salmon_perseverance_path %> &nbsp; • &nbsp; <%= link_to 'Family', salmon_family_path %> &nbsp; • &nbsp; <%= link_to 'Service', salmon_service_path %> &nbsp; • &nbsp; <%= link_to 'Hobbies', salmon_hobbies_path %> &nbsp; • &nbsp; <%= link_to 'Guestbook', salmon_guestbook_path %> &nbsp; • &nbsp; <%= link_to 'Family Tree', salmon_family_tree_path %> &nbsp; • &nbsp; <%= link_to 'Timeline', salmon_timeline_path %>
        </p>
        <p id="SubtitleMenu1">
        Est. 1954
        </p>
        <div id="sky" class="clearfix">
            <%= image_tag("dougskipmain.png", :id => "dougskipmain", :class => "image") %>
            <%= image_tag("dougskipstanding2.png", :id => "dougskipvertical", :class => "image") %>
            <p id="Life_Summary">
            LIFE SUMMARY
            </p>
            <p id="Nulla">
            Doug and Skip Salmon grew up together in the Salt Lake City, Utah area. They first met in the fifth grade as school children and developed a playful yet loving relationship over the course of their teenage years. Despite initial resistance from friends and family, Doug and Skip were married on September 25, 1954 in Reno, Nevada. They were both 17 years old.<br /><br />Constant work relocations to Utah, California, New Jersey and then back to California gave rise to a life of perseverance and survival. Doug and Skip welcomed two daughters, Tina and Laurie, and a son Eric during this time. Their sweetest family memory was on August 17, 1974 when they were sealed together as an eternal family in the Salt Lake City LDS Temple.<br /><br />After 60 rewarding years of marriage, Doug and Skip now boast a family of three children, 13 grandchildren and 29 great grandchildren. Their family means everything to them and they’ve dedicated their lives to loving each other and serving those around them.<br />
            </p>
            <%= image_tag("dougskipmain.png", :id => "dougskipmain1", :class => "image") %>
        </div>
        <%= link_to salmon_love_story_path, :remote => false do %>
            <div id="LOVE_STORYdsm" class="clearfix">
                <div id="Shapedsm_4_copy" class="clearfix">
                </div>
                <span id="Love_Story">
                LOVE STORY
                </span>
                <div id="Shapedsm_4" class="clearfix">
                </div>
                <p id="Love_Story_Quote">
                <span id="textspandsm">“There's nothing that I wouldn’t do for her. She’s very precious to me and whatever I can do to help her, I’ll do it. We’ve cooked together, we’ve cleaned together, we are literally best friends and we do everything together.”</span> 
                </p>
                <div id="EB" class="clearfix">
                    <p id="ENTER">
                    ENTER
                    </p>
                </div>
            </div>
        <% end %>
        <%= link_to image_tag("lovestorymenu.png", :id => "lovestorymenu", :class => "image"), salmon_love_story_path %>
        <%= link_to image_tag("perseverancemenu.png", :id => "perseverancemenu", :class => "image"), salmon_perseverance_path %>
        <%= link_to salmon_perseverance_path, :remote => false do %>
            <div id="PERSEVERANCE" class="clearfix">
                <div id="Shapedsm_4_copy1" class="clearfix">
                </div>
                <span id="Love_Story1">
                PERSEVERANCE
                </span>
                <div id="Shapedsm_41" class="clearfix">
                </div>
                <p id="Love_Story_Quote1">
                <span id="textspandsm1">“I loved my job. I think I was fairly successful at it. I received some recognition. I moved up the pay scale, moved up in responsibility and was able to provide for the family."</span> 
                </p>
                <div id="EB1" class="clearfix">
                    <p id="ENTER1">
                    ENTER
                    </p>
                </div>
            </div>
        <% end %>
        <%= link_to salmon_family_path, :remote => false do %>
            <div id="FAMILYmenu" class="clearfix">
                <div id="Shapedsm_4_copy2" class="clearfix">
                </div>
                <span id="Love_Story2">
                FAMILY
                </span>
                <div id="Shapedsm_42" class="clearfix">
                </div>
                <p id="Love_Story_Quote2">
                <span id="textspandsm2">“I want my family to know how much that we love them, regardless of what goes on in their lives.”</span> 
                </p>
                <div id="EB2" class="clearfix">
                    <p id="ENTER2">
                    ENTER
                    </p>
                </div>
            </div>
        <% end %>
        <%= link_to image_tag("familymenu.png", :id => "familymenu", :class => "image"), salmon_family_path %>
        <%= link_to image_tag("servicemenu.png", :id => "servicemenu", :class => "image"), salmon_service_path %>
        <%= link_to salmon_service_path, :remote => false do %>
            <div id="SERVICE" class="clearfix">
                <div id="Shapedsm_4_copy3" class="clearfix">
                </div>
                <span id="Love_Story3">
                SERVICE
                </span>
                <div id="Shapedsm_43" class="clearfix">
                </div>
                <p id="Love_Story_Quote3">
                <span id="textspandsm3">“It was also a very humbling experience, to see the people that needed help and those that came in on a regular basis….It’s nice to see them overcome their need, and move on with their own lives.”</span> 
                </p>
                <div id="EB3" class="clearfix">
                    <p id="ENTER3">
                    ENTER
                    </p>
                </div>
            </div>
        <% end %>
        <%= link_to salmon_hobbies_path, :remote => false do %>
            <div id="HOBBIES" class="clearfix">
                <div id="Shapedsm_4_copy4" class="clearfix">
                </div>
                <span id="Love_Story4">
                HOBBIES<br />
                </span>
                <div id="Shapedsm_44" class="clearfix">
                </div>
                <p id="Love_Story_Quote4">
                <span id="textspandsm4">“He does his things, and I do mine, and we spend time together.... We don’t mind just being together and being quiet.... We get teased about that.”</span> 
                </p>
                <div id="EB4" class="clearfix">
                    <p id="ENTER4">
                    ENTER
                    </p>
                </div>
            </div>
        <% end %>
        <%= link_to image_tag("hobbiesmenu.png", :id => "hobbiesmenu_png", :class => "image"), salmon_hobbies_path %>
        <%= link_to image_tag("guestbookmenu.png", :id => "guestbookmenu", :class => "image"), salmon_guestbook_path %>
        <%= link_to salmon_guestbook_path, :remote => false do %>
            <div id="GUESTBOOKdsm" class="clearfix">
                <div id="Shapedsm_4_copy5" class="clearfix">
                </div>
                <span id="Love_Story5">
                GUESTBOOK
                </span>
                <div id="Shapedsm_45" class="clearfix">
                </div>
                <p id="Love_Story_Quote5">
                <span id="textspandsm5">“They are tremendous examples to me in my life and I will always treasure the trips I was able to take to their house to see them.”</span> 
                </p>
                <div id="EB5" class="clearfix">
                    <p id="ENTER5">
                    ENTER
                    </p>
                </div>
            </div>
        <% end %>
        <%= link_to salmon_family_tree_path, :remote => false do %>        
            <div id="FAMILYTREE" class="clearfix">
                <div id="Shapedsm_4_copy6" class="clearfix">
                </div>
                <span id="Love_Story6">
                FAMILY TREE
                </span>
                <div id="Shapedsm_46" class="clearfix">
                </div>
                <p id="Love_Story_Quote6">
                <span id="textspandsm6">“As of April 19, 2014, we have three children, 13 grandchildren and 29 great-grandchildren.”</span> 
                </p>
                <div id="EB6" class="clearfix">
                    <p id="ENTER6">
                    ENTER
                    </p>
                </div>
            </div>
        <% end %>
        <%= link_to image_tag("dsfamilytreemenu3.png", :id => "dsfamilytreemenu", :class => "image"), salmon_family_tree_path %>
        <%= link_to image_tag("dstimelinemenu.png", :id => "dstimelinemenu", :class => "image"), salmon_timeline_path %>
        <%= link_to salmon_timeline_path, :remote => false do %>
            <div id="TIMELINE" class="clearfix">
                <div id="Shapedsm_4_copy7" class="clearfix">
                </div>
                <span id="Love_Story7">
                TIMELINE
                </span>
                <div id="Shapedsm_47" class="clearfix">
                </div>
                <p id="Love_Story_Quote7">
                <span id="textspandsm7">“We were married September 25, 1954. Doug was already in the military. He was stationed in Twentynine Palms, California....”</span> 
                </p>
                <div id="EB7" class="clearfix">
                    <p id="ENTER7">
                    ENTER
                    </p>
                </div>
            </div>
        <% end %>
    </div>
    </body>