

    <head>
	<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 5.0">
    <script src="http://use.typekit.net/[redacted-a].js"></script>
    <script>try{Typekit.load();}catch(e){}</script>   
    <script> 
        $(document).ready(function () {
            $("#eric_video_unemployment").fitVids();
        });
        $(document).ready(function () {
            $("#Laurie_Video_Miscarriage").fitVids();
        });
        $(document).ready(function () {
            $("#Video_-_Laurie_Moving").fitVids();
        });
        $(document).ready(function () {
            $("#Doug_Unemployment").fitVids();
        });
        $(document).ready(function () {
            $("#VideoBirthofTinaandLaurie").fitVids();
        });
    </script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '[redacted-g]', 'antho.co');
          ga('send', 'pageview');
    </script>
    </head>
    
    <body>

        <div id="Doug_Skip">
        DOUG &amp; SKIP
        </div>
        <div id="Title_Line_f1" class="clearfix">
        </div>
        <p id="FAMILY">
        <span id="textspandsf">PERSEVERANCE</span> 
        </p>
        <div id="Title_Line_f2" class="clearfix">
        </div>
        <p id="Home_•_Love_Story_•_Perseverance_•_Family_•_Ser">
            <%= link_to 'Home', salmon_path %> &nbsp; • &nbsp; <%= link_to 'Love Story', salmon_love_story_path %> &nbsp; • &nbsp; <%= link_to 'Perseverance', salmon_perseverance_path %> &nbsp; • &nbsp; <%= link_to 'Family', salmon_family_path %> &nbsp; • &nbsp; <%= link_to 'Service', salmon_service_path %> &nbsp; • &nbsp; <%= link_to 'Hobbies', salmon_hobbies_path %> &nbsp; • &nbsp; <%= link_to 'Guestbook', salmon_guestbook_path %> &nbsp; • &nbsp; <%= link_to 'Family Tree', salmon_family_tree_path %> &nbsp; • &nbsp; <%= link_to 'Timeline', salmon_timeline_path %>
        </p>
        <p id="Home_•_Next_Exhibit">
        <%= link_to 'Home', salmon_path %> &nbsp; • &nbsp; <%= link_to 'Next Exhibit', salmon_family_path %> &nbsp; • &nbsp; <%= link_to 'Guestbook', salmon_guestbook_path %><br />
        </p>
        <%= image_tag("deserttown.png", :id => "deserttown", :class => "image") %>
        <p id="JOINING_THE_MILITARY">
        JOINING THE MILITARY
        </p>
        <div id="boxdsp" class="clearfix">
            <p id="_I_think_the_story_begins_when_I_was_a_teenager_and_I_was_not_d">
            <span id="textspandsp">I</span><span id="textspandsp1"> think the story begins when I was a teenager and I was not doing the right kinds of things, not going to school, not having any purpose in life. So I decided it would be helpful to go into the military. I selected the Marine Corps, and that was in 1953. I decided that it would be a good experience for me to grow up and establish some values and some discipline that was necessary in my life. And at the time, Skip and I were still seeing each other. As young kids, we saw each other at school, when I went to school, then after school and then summers. So I decided to go to the military. I do not recall if she had any comments about that, good or bad. I am sure she missed me. So I asked my parents about going to the military November–December timeframe. My mother would not let me; she said I had to stay home for Christmas. So I stayed for Christmas and then left 2 days after to go to boot camp. <br /><br />It was supposed to be twelve weeks; it lasted a little longer for me because of illness. I went to the hospital and then had to go back and finish the boot camp. Then I went home and we talked about what the future was going to be for the two of us and thought maybe we should get married. And that was kind of scary because we were so young and the parents did not think that was such a great idea. They thought we were too young and should make better decisions. But we planned a marriage anyway and got married in September, and then planned for her to come down when I could establish housing for the two of us in Twentynine Palms, California. I was stationed there after boot camp. After getting our housing, there she came. Lonely little girl, I cannot remember if she came down on a train or what the experience was, but it was a lonely little girl coming to the desert. I had been in the military for about a year, so I was fairly accustomed to the routine. In the military, you have a variety of assignments, but it is like going to work. You just wore a uniform and had a gun to play with all the time and you did different military kinds of things. She was always there fixing my meals and taking care of me and doing the good things. </span><br />
            </p>
            <div id="blackboxdsp" class="clearfix">
                <p id="by_DOUG_SALMON">
                by DOUG SALMON
                </p>
            </div>
        </div>
        <%= image_tag("wkids.png", :id => "wkids", :class => "image") %>
        <%= image_tag("militarycamping.png", :id => "militarycamping", :class => "image") %>
        <div id="boxdsp1" class="clearfix">
            <p id="_We_were_married_September_25th_1954_Doug_was_already_in_the_">
            <span id="textspandsp4">W</span><span id="textspandsp5">e were married September 25, 1954. Doug was already in the military. He was stationed in Twentynine Palms, CA. We were unable to get housing at that point, so I stayed with my parents until housing was available. And housing became available two weeks before Christmas. So I left home two weeks before Christmas on the train by myself to go to southern California. That was a new experience for me. It was challenging. It was scary, hoping my husband would meet me on the other end. We drove to Twentynine Palms and moved into this little trailer and that was a new experience. I did not know anybody. I did not know a soul other than Doug. </span><br />
            </p>
            <div id="blackboxdsp1" class="clearfix">
                <p id="by_SKIP_SALMON">
                by SKIP SALMON
                </p>
            </div>
        </div>
        <%= image_tag("crouchdown.png", :id => "crouchdown", :class => "image") %>
        <%= image_tag("smiletrailer.png", :id => "smiletrailer", :class => "image") %>
        <%= image_tag("skipdesert.png", :id => "skipdesert", :class => "image") %>
        <div id="boxdsp2" class="clearfix">
            <p id="_Probably_a_day_or_two_after_we_moved_in_there_was_a_knock_on_">
            <span id="textspandsp6">P</span><span id="textspandsp7">robably a day or two after we moved in, there was a knock on my door and I answered the door. It was a black woman who lived close by and she turned out to be the sweetest, nicest person and I had never had any contact with anybody of that culture. She took me around and introduced me to everybody in the neighborhood and was very helpful. It became easy to become acclimated there. It was still challenging though. It was nothing but dirt and sand out there. There were sandstorms all the time. At one point, I remember we were in bed and there was a window above our heads, and when we got up the next morning, you could see the outline of our heads on the pillows. The sand had blown so hard that night and filtered in through the trailers, which were not made very well anyway. So there were a lot of new learning experiences. </span><br />
            </p>
            <div id="blackboxdsp2" class="clearfix">
                <p id="by_SKIP_SALMON1">
                by SKIP SALMON
                </p>
            </div>
        </div>
        <%= image_tag("skiptrailerstep.png", :id => "skiptrailerstep", :class => "image") %>
        <%= image_tag("dougsmile.png", :id => "dougsmile", :class => "image") %>
        <%= image_tag("smileupclose.png", :id => "smileupclose", :class => "image") %>
        <div id="linedsp" class="clearfix">
        </div>
        <p id="THEN_ARRIVE_THE_CHILDREN">
        THE FAMILY GROWS
        </p>
        <div id="boxdsp3" class="clearfix">
            <p id="_Along_comes_Tina_and_that_was_scary_This_little_tiny_baby_and">
            <span id="textspandsp8">A</span><span id="textspandsp9">long came Tina and that was scary. I was unable to get to the military hospitals, so we went to a hospital in Twentynine Palms, which was very very small and did not have a nursery or anything like that. she was premature, so she was this little tiny baby. They were anxious to get rid of her and sent us home with an incubator, nothing like you would see today. We had to feed the baby every couple of hours and keep the baby in this incubator. Here we were kids not much older than the baby, so it was kind of scary. <br /><br />But we survived and I cannot remember the frequency that family came down to visit, but it was not very frequent that we saw her parents or my parents, so we had to learn to do it on our own. I remember she could not stay awake to feed the baby every two hours, so I would get up and keep her awake, so she could feed the baby. She was not too successful at nursing, so we had to do other kinds of feedings. But she was a cute little girl - the daughter as well as my wife. Just really fun. I can still remember Skip being so young, so cute and precious all the time. <br /></span>
            </p>
            <div id="blackboxdsp3" class="clearfix">
                <p id="by_DOUG_SALMON1">
                by DOUG SALMON
                </p>
            </div>
        </div>
        <%= image_tag("skipbabytina.png", :id => "skipbabytina", :class => "image") %>
        <p id="Meatloaf">
        MEATLOAF
        </p>
        <div id="Skip_meatloaf_relying"><iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/163731301%3Fsecret_token%3Ds-RWkDf&amp;color=d0d0d0&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe></div>
        <div id="boxdsp4" class="clearfix">
            <p id="_The_laundry_was_down_the_street_in_a_laundromat_There_was_a_c">
            <span id="textspandsp10">T</span><span id="textspandsp11">he laundry was down the street in a laundromat. There were a couple of pay phones in the area. The only communication we had access to was by letter to anybody, really. We could not afford long-distance calls at that point in time in our life. We had no help from either of our parents’ families. Doug had young brothers and sisters and his mother was busy and my mother was not well, so we had two children and no help. We had to figure it out on our own.</span><br />
            </p>
            <div id="blackboxdsp4" class="clearfix">
                <p id="by_DOUG_SALMON2">
                by SKIP SALMON
                </p>
            </div>
        </div>
        <%= image_tag("trailerfrontwtina.png", :id => "trailerfrontwtina", :class => "image") %>
        <div id="boxdsp5" class="clearfix">
            <p id="_The_military_did_give_me_the_discipline_that_I_was_looking_for">
            <span id="textspandsp12">T</span><span id="textspandsp13">he military did give me the discipline that I was looking for. I am very structured and kind of firm in my direction. I did a variety of things in the military but I think what it did for me was really prepare me for a disciplined life. Hanging my clothes up, picking up after myself, keeping myself clean and a lot of people today as well as then were lacking in that. And I think Skip appreciated the fact that I did my part as a companion to her, which was great. </span><br />
            </p>
            <div id="blackboxdsp5" class="clearfix">
                <p id="by_DOUG_SALMON3">
                by DOUG SALMON
                </p>
            </div>
        </div>
        <p id="The_Births_of_Tina">
        THE BIRTHS OF TINA &amp; LAURIE
        </p>
        <div id="VideoBirthofTinaandLaurie"><iframe src="//player.vimeo.com/video/103481995" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
        <%= image_tag("tabletoptwo.png", :id => "tabletoptwo", :class => "image") %>
        <%= image_tag("twogirlssitting.png", :id => "twogirlssitting", :class => "image") %>
        <%= image_tag("groupbath.png", :id => "groupbath", :class => "image") %>
        <%= image_tag("bathtime.png", :id => "bathtime", :class => "image") %>
        <div id="boxdsp6" class="clearfix">
            <p id="_After_we_got_out_of_the_military_we_made_the_long_trek_home_–">
            <span id="textspandsp14">A</span><span id="textspandsp15">fter we got out of the military, we made the long trek home – with two kids at that time – and her parents decided we could stay with them until we could afford and find a place of our own. I was fortunate to get a job at a company that my father had worked at for a number of years as a technician or repairman fixing calculating machines. So I went to school for that and proved to be successful. I am kind of mechanically inclined and these were all mechanical devices. So we started that job.</span><br />
            </p>
            <div id="blackboxdsp6" class="clearfix">
                <p id="by_DOUG_SALMON4">
                by DOUG SALMON
                </p>
            </div>
        </div>
        <%= image_tag("skiplaurietina2.png", :id => "skiplaurietina2", :class => "image") %>
        <div id="boxdsp7" class="clearfix">
            <p id="_As_we_moved_on_the_children_grew_up_and_we_moved_to_Bountiful">
            <span id="textspandsp16">A</span><span id="textspandsp17">s we moved on, the children grew up and we moved to Bountiful. We stayed there for two to three years, and Doug was promoted and we moved on to Ogden. We were there for two to three years. That’s where Tina and Laurie started school. We then moved back to the Salt Lake area and lived there for three to four years. </span><br />
            </p>
            <div id="blackboxdsp7" class="clearfix">
                <p id="by_SKIP_SALMON2">
                by SKIP SALMON
                </p>
            </div>
        </div>
        <%= image_tag("playingwdolls.png", :id => "playingwdolls", :class => "image") %>
        <%= image_tag("xneighborhood.png", :id => "xneighborhood", :class => "image") %>
        <%= image_tag("redkids.png", :id => "redkids", :class => "image") %>
        <%= image_tag("reddresses.png", :id => "reddresses", :class => "image") %>
        <%= image_tag("dinnerwithkids.png", :id => "dinnerwithkids", :class => "image") %>
        <%= image_tag("tinaericlaurie.png", :id => "tinaericlaurie", :class => "image") %>
        <%= image_tag("skipw3kids.png", :id => "skipw3kids", :class => "image") %>
        <div id="linedsp1" class="clearfix">
        </div>
        <%= image_tag("homecurvedroof.png", :id => "home_1", :class => "image") %>
        <%= image_tag("santabarbara.png", :id => "home_2", :class => "image") %>
        <div id="boxdsp8" class="clearfix">
            <p id="HERE_TO_THERE">
            HERE TO THERE 
            </p>
            <p id="_Then_we_moved_to_Santa_Barbara_CA_Eric_started_school_there_">
            <span id="textspandsp18">T</span><span id="textspandsp19">hen we moved to Santa Barbara, CA. Eric started school there. The girls were finishing their elementary school and Tina started junior high school there. We lived there for about three years. Then we moved to the San Francisco Bay Area and we lived there for just a year. We were then transferred to the East Coast and we moved to New Jersey. <br /><br />It was a very interesting experience there, because we were really out in the mission field. Our ward covered a whole county and our stake was part of several states. When we first moved there, they were just in the process of building a chapel, which we had the privilege to help build. While we were in that process, we met for church at the cemetery. There was a building at the cemetery, and that is where we had our Sunday services. That is also where they had mutual and the kids loved that because they would go play amongst the coffins and outside and they thought that was wonderful. We held primary in the Catholic school. By the time the chapel was finished, the ward had just been made a ward. Just before we moved there, it had only been a branch. <br /><br />I was asked to be the Visiting Teaching Coordinator in Relief Society, so the President said, "You figure out how to put this all together." So I tried to work it out so that people who lived in different areas would not be matched together, then they would not have to travel so far. And when I brought her the plan, she said, "That looks perfect," she said, "But that won’t work." And I said, "Why not?" And she said, "Unfortunately, people don’t just accept their callings and do it. Someone doesn’t want to visit someone else and someone has a problem with this person and it just won’t work." That was new to me and I could not figure that one out. I thought if you accepted a calling, you just did what you were asked to do and worked it out. So we learned to do things differently in the ward there. <br /><br />It was a close ward and we had to travel a lot. The stake center was in Pennsylvania. So we had to travel an hour to our stake meetings. I was asked to transcribe the blessings from our patriarch who lived in our ward and that was the best calling I ever had. I loved it because it was so different, and to listen to the different blessings and how different they all were. I did not know the people who were receiving them, but that was a very spiritual calling and I really enjoyed that. And while I was working in the Young Women organization there, both our daughters were in Mutual at that time, and we went to girls camp. It was certainly different from the girls camp they have these days, because part of the training was for girls to learn to budget, learn to grocery shop, do all this planning, plan the meals, do the shopping for the meals, and then we went to camp and we were camping. We were in tent cabins or tents and they had to do the cooking. The leaders watched, but they were not waited on as young women are in girls camp in our stake now. So it was a learning experience for the girls and I think the girls these days miss out. <br /><br />It was a testimony builder, because there was only one other person in their high school that was Latter-day Saint besides our three children. There were about six high schools represented in our ward. The kids really had to work together and rely on each other and support each other, so they could stand up for who they were when they were in school. They did not have a lot of support. The children learned a lot; we all learned a lot being there in the mission field. It was an interesting experience; we enjoyed it. It was a challenge and kind of survival for all of us.</span><br />
            </p>
            <div id="blackboxdsp8" class="clearfix">
                <p id="by_SKIP_SALMON3">
                by SKIP SALMON
                </p>
            </div>
        </div>
        <%= image_tag("home 1.png", :id => "santabarbara", :class => "image") %>
        <p id="New_in_Town">
        NEW IN TOWN
        </p>
        <div id="Audio_Tina_Moving"><iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/163731298&amp;color=d0d0d0&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe></div>
        <p id="From_One_Place">
        FROM ONE PLACE TO THE NEXT
        </p>
        <div id="Video_-_Laurie_Moving"><iframe src="//player.vimeo.com/video/103481994" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
        <%= image_tag("familyteens.png", :id => "familyteens", :class => "image") %>
        <div id="boxdsp9" class="clearfix">
            <p id="_During_the_time_that_we_lived_in_New_Jersey_it_was_challengin">
            <span id="textspandsp20">D</span><span id="textspandsp21">uring the time that we lived in New Jersey, it was challenging at times when Doug was traveling and away a lot. We did not always have the opportunities to go to places and do the things and see some of the sites in the region, because by the time he came home he was tired. And there was yard work to do and things to do like that, so there were some compromises at that point in time. We did get to Atlantic City, we did get to the shore there, as they call it. They do not call it the beach; they call it the shore. We did go down to Ocean City, Maryland with another family one time and the kids enjoyed that. We did go to Williamsburg, Virginia and, of course, we went to Independence and Philadelphia and we did do things, but there were a lot more places we could have gone. It was challenging to find the time to do it. <br /><br />It was interesting and it was also challenging to put together Family Home Evenings &#x28;FHE&#x29; or something like that when we were living back there and Doug was traveling a lot. Oftentimes, the missionaries would come over frequently and we would have FHE with the missionaries and that was helpful for us. It helped us to keep spiritually in tune and to keep going. We were all busy. When we lived in New Jersey, the ward covered such a large area, and we had two to three callings to be responsible for. It was a growing experience for all of us, a learning experience. We learned to accept the situation as it was, knowing that it would not be forever and that it was important for Doug to grow and progress in his business in order to be able to care for us.<br /><br />I was very fortunate to be a stay-at-home mom. I did have a couple of part-time jobs once in a while when the children were in school, but they were not major jobs, and I did not have to work outside the home, which was nice for me. I enjoyed that. Sometimes, when Doug was traveling, I belonged to the bowling league with some of the girls in the neighborhood and kept myself busy and occupied and kept track of the children.</span><br />
            </p>
            <div id="blackboxdsp9" class="clearfix">
                <p id="by_SKIP_SALMON4">
                by SKIP SALMON
                </p>
            </div>
        </div>
        <div id="linedsp2" class="clearfix">
        </div>
        <%= image_tag("work meeting.png", :id => "work_meeting", :class => "image") %>
        <p id="DEDICATION_TO_A_CAREER">
        DEDICATION TO A CAREER 
        </p>
        <div id="boxdsp10" class="clearfix">
            <p id="_We_stayed_with_Friden_for_19_years_in_a_variety_of_positions_">
            <span id="textspandsp22">W</span><span id="textspandsp23">e stayed with Friden for 19 years in a variety of positions. For the first nine years, I was repairing machines and for the latter years, I was in management. I took care of other technicians and customers and the management of the offices. So we did that for 19 years and moved around from Salt Lake City to Ogden to Sugarhouse to Santa Barbara to San Francisco to a district in Philadelphia – that’s where my office was, but we lived in New Jersey. And many changes took place within the company in that time, so I was in Philadelphia, Newark, New Jersey, New York City for various assignments. I loved to work. I loved my job. I think I was fairly successful at it. I received some recognition. I moved up the pay scale, moved up in responsibility and was able to provide for the family. The family was really great about moving around with me and supporting me as we moved in our career path. I do not think that we ever went without but we always managed and the discipline of finances is one of those other aspects of life. <br /><br />During the period of time that I went into the military until I was in my early 30’s, I was not active in the church because I was not able to or was not interested in living the Word of Wisdom. Skip and the kids were supportive of me in all respects and we had good times together and we were together all the time whenever it was possible. </span><br />
            </p>
            <div id="blackboxdsp10" class="clearfix">
                <p id="by_DOUG_SALMON5">
                by DOUG SALMON
                </p>
            </div>
        </div>
        <%= link_to image_tag("work mag 1.png", :id => "work_mag_1", :class => "image"), salmon_zoom_path(:anchor => "friden1")  %>
        <%= link_to image_tag("work mag 2.png", :id => "work_mag_2", :class => "image"), salmon_zoom_path(:anchor => "friden2")  %>
        <%= link_to image_tag("work mag 3.png", :id => "work_mag_3", :class => "image"), salmon_zoom_path(:anchor => "friden3")  %>
        <%= link_to image_tag("work mag 4.png", :id => "work_mag_4", :class => "image"), salmon_zoom_path(:anchor => "friden4")  %>
        <%= link_to image_tag("work praise 2.png", :id => "work_praise_2", :class => "image"), salmon_zoom_path(:anchor => "friden5") %>
        <div id="Rectangle_1" class="clearfix">
        </div>
        <%= image_tag("work portrait.png", :id => "work_portrait", :class => "image") %>
        <%= link_to image_tag("work praise 1.png", :id => "work_praise_1", :class => "image"), salmon_zoom_path(:anchor => "friden6") %>
        <%= image_tag("work lamps.png", :id => "work_lamps", :class => "image") %>
        <div id="linedsp3" class="clearfix">
        </div>
        <p id="TRIBULATIONS">
        TRIBULATIONS
        </p>
        <p id="Loss_Sorrow">
        LOSS, SORROW, &amp; MOVING FORWARD
        </p>
        <div id="Laurie_Video_Miscarriage"><iframe src="//player.vimeo.com/video/103493495" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
        <%= image_tag("tombstone.png", :id => "tombstone", :class => "image") %>
        <div id="boxdsp11" class="clearfix">
        </div>
        <p id="working_through_unemployment">
        WORKING THROUGH UNEMPLOYMENT
        </p>
        <div id="Doug_Unemployment"><iframe src="//player.vimeo.com/video/103385068" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
        <div id="boxdsp12" class="clearfix">
            <p id="_As_I_look_back_survival_has_been_part_of_my_life_all_along_I">
            <span id="textspandsp24">A</span><span id="textspandsp25">s I look back, survival has been part of my life all along. I think some of it was the discipline associated with the military and the pressures of doing it right, to keep doing it, and things only got a little more comfortable after we moved from New Jersey to Pleasanton. Things changed. But even then, we were unemployed for a period of time because the company was sold.</span><br />
            </p>
            <div id="blackboxdsp11" class="clearfix">
                <p id="by_DOUG_SALMON6">
                by DOUG SALMON
                </p>
            </div>
        </div>
            <%= image_tag("dressedup.png", :id => "dressedup", :class => "image") %>
        <div id="boxdsp13" class="clearfix">
            <%= link_to image_tag("doug resume 1 blurred.png", :id => "resume_1", :class => "image"), salmon_zoom_path(:anchor => "resumedoug") %>
            <%= link_to image_tag("doug resume 2 blurred.png", :id => "resume_2", :class => "image"), salmon_zoom_path(:anchor => "resumedoug") %>
        </div>
        <p id="working_everyday_of_your_life">
        WORKING EVERY DAY OF YOUR LIFE
        </p>
        <div id="eric_video_unemployment" src="img/eric video unemployment.png" class="image" /><iframe src="//player.vimeo.com/video/103473544" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
        <div id="boxdsp14" class="clearfix">
            <p id="_But_then_when_we_got_that_next_job_then_things_seemed_to_fit_">
            <span id="textspandsp26">W</span><span id="textspandsp27">hen we got that next job, then things seemed to fit. We had our home, we were paying for our home, we were comfortable in our home, the children had for the most part left, Eric was still here but things seemed to go alright. I felt comfortable in what I was doing, yet there were still challenging things because I changed what I was doing from office and equipment work into electronics and logistics, which was new to me. But it was good and it continued to progress. We had a couple of bumps along the way, but our salary increased, responsibilities increased and life seemed to be much better. We started saving for the future, we started thinking and talking about retirement, we started thinking about changes to our home that would give us increased value and a lasting environment for what we were experiencing, so it was good.<br /></span>
            </p>
            <div id="blackboxdsp12" class="clearfix">
                <p id="by_DOUG_SALMON7">
                by DOUG SALMON
                </p>
            </div>
        </div>
        <div id="linedsp4" class="clearfix">
        </div>
        <p id="HISTORICAL_EVENTS">
        HISTORICAL EVENTS
        </p>
        <div id="Audio_Doug_war_historical_events"><iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/163731303&amp;color=dbdbdb&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe></div>
        <%= image_tag("pleasantonhome.png", :id => "pleasantonhome", :class => "image") %>
        <p id="“Doug_and_Skip_always_seemed_to_work_well_together_Skip_was_al">
        <span id="textspandsp28">“Doug and Skip always seemed to work well together. Skip was always very organized in everything she did&#x3b; Doug a real worker. Their home was always neat and tidy. You could count on a meal at a certain time each day and they would always sit down together to share the meal.”</span><span id="textspandsp29"><br /></span><span id="textspandsp30">&#x7e; Linda Niccum, sister of Doug</span> 
        </p>
        <div id="linedsp5" class="clearfix">
        </div>
        <div id="gueststories" class="clearfix">
         
            <% @anthology_items = Micropost.where(:topic => 'Perseverance') %>
            <% @identity = "148" %>
            <% @subject_matter = 'Perseverance' %>
            <div id="x" >
                <%= render 'shared/guest_stories_ds_pages' %>
            </div>
        </div>
    <div id="linedsp5" class="clearfix"></div>
        <p id="Home_•_Love_Story_•_Perseverance_•_Family_•_Ser">
            <%= link_to 'Home', salmon_path %> &nbsp; • &nbsp; <%= link_to 'Love Story', salmon_love_story_path %> &nbsp; • &nbsp; <%= link_to 'Perseverance', salmon_perseverance_path %> &nbsp; • &nbsp; <%= link_to 'Family', salmon_family_path %> &nbsp; • &nbsp; <%= link_to 'Service', salmon_service_path %> &nbsp; • &nbsp; <%= link_to 'Hobbies', salmon_hobbies_path %> &nbsp; • &nbsp; <%= link_to 'Guestbook', salmon_guestbook_path %> &nbsp; • &nbsp; <%= link_to 'Family Tree', salmon_family_tree_path %> &nbsp; • &nbsp; <%= link_to 'Timeline', salmon_timeline_path %>
        </p>
        <p id="Home_•_Next_Exhibit">
        <%= link_to 'Home', salmon_path %> &nbsp; • &nbsp; <%= link_to 'Next Exhibit', salmon_family_path %> &nbsp; • &nbsp; <%= link_to 'Guestbook', salmon_guestbook_path %><br />
        </p>
        <br/><br/>
        <br/>
        <br/><br/>
    </body>