

    <head>
	<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 3.0">
    <script src="http://use.typekit.net/[redacted-a].js"></script>
    <script>try{Typekit.load();}catch(e){}</script>   
    <script> 
        $(document).ready(function () {
            $("#True_Servants_Video_Laurie").fitVids();
        });
        $(document).ready(function () {
            $("#Seminary_Video_Laurie").fitVids();
        });
        $(document).ready(function () {
            $("#Examples_of_Service_Tina_Video").fitVids();
        });
        $(document).ready(function () {
            $("#True_Servants_Video_Laurie2").fitVids();
        });
    </script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '[redacted-g]', 'antho.co');
          ga('send', 'pageview');
    </script>
    </head>

<body>
        <div id="Doug_Skip">
        DOUG &amp; SKIP
        </div>
        <div id="Title_Line_f1" class="clearfix">
        </div>
        <p id="FAMILY">
        <span id="textspandsf">SERVICE</span> 
        </p>
        <div id="Title_Line_f2" class="clearfix">
        </div>
        <span id="Home_•_Love_Story_•_Perseverance_•_Family_•_Ser">
            <%= link_to 'Home', salmon_path %> &nbsp; • &nbsp; <%= link_to 'Love Story', salmon_love_story_path %> &nbsp; • &nbsp; <%= link_to 'Perseverance', salmon_perseverance_path %> &nbsp; • &nbsp; <%= link_to 'Family', salmon_family_path %> &nbsp; • &nbsp; <%= link_to 'Service', salmon_service_path %> &nbsp; • &nbsp; <%= link_to 'Hobbies', salmon_hobbies_path %> &nbsp; • &nbsp; <%= link_to 'Guestbook', salmon_guestbook_path %> &nbsp; • &nbsp; <%= link_to 'Family Tree', salmon_family_tree_path %> &nbsp; • &nbsp; <%= link_to 'Timeline', salmon_timeline_path %>
        </span>
        <span id="Home_•_Next_Exhibit">
        <%= link_to 'Home', salmon_path %> &nbsp; • &nbsp; <%= link_to 'Next Exhibit', salmon_hobbies_path %> &nbsp; • &nbsp; <%= link_to 'Guestbook', salmon_guestbook_path %><br />
        </span>
        <div id="boxdss" class="clearfix">
            <p id="“I_can’t_think_of_any_time_in_my_whole_life_they_weren’t_servin">
            <span id="textspandss">“I can’t think of any time in my whole life they weren’t serving other people, whether it was neighbors, ward members, or just their family, their parents, their siblings. It’s been a great example to me and my siblings our entire lives.”</span><span id="textspandss1"><br /></span><span id="textspandss2">&#x7e; LAURIE BIRD, DAUGHTER</span><br />
            </p>
        </div>
        <%= image_tag("templeworkers copy.png", :id => "imagedss", :class => "image") %>
        <p id="SERVING_IN_THE_TEMPLE">
        SERVING IN THE TEMPLE
        </p>
        <div id="boxdss1" class="clearfix">
            <p id="One_of_the_things_that’s_always_been_important_to_me_is_church_">
            <span id="textspandss3">O</span><span id="textspandss4">ne of the things that has always been important to me is church service. When we moved here to Pleasanton, I had the opportunity to serve in the Oakland Temple. I served there for 27 years as an Ordinance Worker. After Doug retired, he was able to join me. So we worked at the temple for seven years together. When my mom was ill, and we needed to make more frequent trips to Washington, it became more and more difficult to get somebody to fill in for us. We asked for a release — we felt it was to their benefit if we were just released — and that was when we finished. <br /><br />We were also able to continue to serve in the temple while we served our first mission. And that was a great experience as well. </span><br />
            </p>
            <div id="blackboxdss" class="clearfix">
                <p id="by_SKIP_SALMON">
                by SKIP SALMON
                </p>
            </div>
        </div>

        <p id="“We_had_the_first_family_reunion_in_1976_and_I_was_not_able_to">
        <span id="textspandsff2">“Serving others is a natural thing for Skip and Doug. They have been a great example to me of always helping out and getting things done.  Without you knowing it, they are often looking for ways they can help you or the people around you. ”</span><span id="textspandsff3"> </span><span id="textspandsff4"><br /></span><span id="textspandsff5">&#x7e; Steve Bird, grandson</span>
        </p>
        <%= image_tag("loadingtruck.png", :id => "loadingtruck", :class => "image") %>
        <p id="SERVING_A_MISSION">
        SERVING A MISSION
        </p>
        <div id="boxdss2" class="clearfix">
            <p id="I_had_retired_from_employment_and_our_Stake_President_got_a_ca">
            <span id="textspandss5">I</span><span id="textspandss6"> had retired from employment, and our Stake President got a call from a mission president - our Oakland Mission President — asking if there was anybody in our stake that could help out in the mission home, providing some kind of service. And then our stake president contacted us, we said yes, we’ll go talk to the mission president about what he has in mind. So we went up to meet the De Vries, the Mission President and his wife. What a fabulous couple. We just hit it off really quickly, and they asked us to serve as Housing Coordinators for the mission. <br /><br />That meant taking care of the leases, taking care of placements for our missionaries, and teaching them how to keep their apartments clean. We instructed them on what clean apartments look like. We enjoyed the calling and stayed with it for a year. We were worn out after a year, because we did everything, whatever had to be done. We did repairs in the apartments, bed replacements, furniture exchanges, presented at all those zone conferences, and when new missionaries came into the mission, we had the opportunity to talk to them about our responsibilities, their responsibilities. <br /><br />We really enjoyed our association with the missionaries. We did it five days a week. So it was something we really enjoyed and really got into, and got to know legions of missionaries. And even today they still remember us and we remember them. </span><br />
            </p>
            <div id="blackboxdss1" class="clearfix">
                <p id="by_DOUG_SALMON">
                by DOUG SALMON
                </p>
            </div>
        </div>
        <p id="“One_of_the_callings_they_had_as_senior_missionaries_was_to_fin">
        <span id="textspandss7">“When I went on a mission to Roseville, California, they were serving their first mission. It was good to have something in common and share experiences. Grandma was faithful in writing me letters. One time I was able to go to the Oakland Temple to attend an endowment session and I noticed their pickup truck. They were watching the Oakland Temple pageant with the Oakland Mission and I crawled down the aisle calling for my grandma. They heard me and we met outside and were allowed to visit for a few minutes – how special that was. I also want to tell them how grateful I have been for the sacrifice they made by each month paying money towards my mission, because they did that for all their grandsons.”</span><span id="textspandsff3"> </span><span id="textspandsff4"><br /></span><span id="textspandsff5">&#x7e; Chris Andersen, Grandson</span>
        </p>
        <%= image_tag("boxspring.png", :id => "boxspring", :class => "image") %>
        <%= image_tag("bedconstruction.png", :id => "bedconstruction", :class => "image") %>
        <span id="“My_mom_and_dad_made_great_sacrifices_for_me_and_our_family_Wh">
            <span id="textspandsf13">“One of the callings they had as senior missionaries was to find and set up apartments for the younger missionaries. So they would go around and find furniture and beds, everything to furnish their apartments. And my dad had a truck that they would pile the furniture on.”</span><span id="textspandss8"><br /></span><span id="textspandss9">&#x7e; LAURIE BIRD, DAUGHTER</span>
        </span>
        <%= image_tag("apartmentextras.png", :id => "apartmentextras", :class => "image") %>
        <span id="“My_mom_and_dad_made_great_sacrifices_for_me_and_our_family_Wh">
            <span id="textspandsf13">“Skip is exact in her efforts, to serve her church, family, and community.”</span><span id="textspandsff3"> </span><span id="textspandsff4"><br /></span><span id="textspandsff5">&#x7e; Marjorie Bailey, Sister of Doug</span>
        </span>
        <%= image_tag("missionarycouples.png", :id => "missionarycouples", :class => "image") %>
        <span id="“My_mom_and_dad_made_great_sacrifices_for_me_and_our_family_Wh">
            <span id="textspandsf13">“They have been great examples of service, always thinking of others and doing things for their neighbors.”</span><span id="textspandsff3"> </span><span id="textspandsff4"><br /></span><span id="textspandsff5">&#x7e; Eileen Harris, Granddaughter</span>
        </span>
        <%= image_tag("missionarytable.png", :id => "missionarytable", :class => "image") %>
        <%= image_tag("wmissionpresident.png", :id => "wmissionpresident", :class => "image") %>
        <span id="“They_didn’t_just_barely_take_care_of_the_things_they_had_to_do">
        <span id="textspandss10">“They didn’t just barely take care of the things they had to do with their responsibilities. They always went above and beyond the call of duty.”</span><span id="textspandss11"><br /></span><span id="textspandss12">&#x7e; LAURIE BIRD, DAUGHTER</span>
        </span>
        <p id="THE_WAY_THEY_SERVED">
        THE WAY THEY SERVE
        </p>
        <div id="True_Servants_Video_Laurie"><iframe src="//player.vimeo.com/video/103572276" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
        <span id="“My_mom_and_dad_made_great_sacrifices_for_me_and_our_family_Wh">
            <span id="textspandsf13">“Lastly, one thing that was huge and such a big help was they would put $50 a month towards paying for my mission. I know they did this for me and all of my other brothers who served missions. What a blessing that was to have their support and love and wanting to help us in that aspect of our life which helped make an impact on so many other people’s lives as well. They truly are a caring and loving couple who is loved by so many.”</span><span id="textspandsff3"> </span><span id="textspandsff4"><br /></span><span id="textspandsff5">&#x7e; Greg Bird, Grandson</span>
        </span>

        
        <div id="linear" class="clearfix">
        </div>
		<%= image_tag("church building.png", :id => "church_building", :class => "image") %>
        <p id="THE_BISHOP_S_STOREHOUSE">
        THE BISHOP’S STOREHOUSE
        </p>
        <div id="boxdss3" class="clearfix">
            <p id="When_we_were_worn_out_and_released_from_that_calling_we_settle">
            <span id="textspandss13">W</span><span id="textspandss14">hen we were worn out and released from the calling as Housing Coordinators, we settled in and kind of relaxed a little bit and got called to be Assistant Managers to the Bishop’s Storehouse, which is up in Concord. It was in a strip mall area in kind of an old place. The church was building a new building that would house the bishop’s storehouse, the canning facility, and employment facility and social services facility. So we were part of that. <br /><br />As the building was completed, Doug and I were asked to be the team that put together the warehouse, so that was another strenuous physical mission. And we worked and did that for a year. And that was a wonderful, great experience. It was also a very humbling experience, to see the people that needed help and those that came in on a regular basis. We helped fill orders for them, and orders for those being transported far away from this area. <br /><br />I remember a man who came in on a regular basis for quite a while, and he would get eight gallons of milk every time he would come in. And I said, “I don’t mean to pry, but how can you store this milk, or where are you keeping this&#x3f;” He said, “I have five teenage sons, and we go through this amount of milk in a hurry.” And I said, “That is amazing&#x21;” And after about a year of going through this process, he said, “This is the last time I’ll be here&#x3b; I’ve been unemployed, and I finally got a job, and I don’t have to do this anymore.” It was wonderful to witness these people and their resilience. You’re there to help them when there’s a need. It’s nice to see them overcome their need, and move on with their own lives too, so it really was a great experience. We enjoyed it immensely. </span><br />
            </p>
            <div id="blackboxdss2" class="clearfix">
                <p id="by_SKIP_SALMON1">
                by SKIP SALMON
                </p>
            </div>
        </div>

        <p id="“We_had_the_first_family_reunion_in_1976_and_I_was_not_able_to">
        <span id="textspandsff2">“Through the years, I witnessed how dedicated, organized and methodically they carried out their daily schedules and served in Church callings. They put all they reasonably could into each calling, blessing many as a result. Upon retiring, Doug and Skip volunteered to serve a full-time mission for the Church. They excelled in not just one mission, but two!  It has been wonderful to see them live healthy, happy, full lives. They are amazing examples and I feel very blessed by them and because of them. Love you, Doug and Skip!”</span><span id="textspandsff3"> </span><span id="textspandsff4"><br /></span><span id="textspandsff5">&#x7e; Judy Salmon, daughter-in-law</span>
        </p>
        <%= image_tag("bishopsstorehouse.png", :id => "bishopsstorehouse", :class => "image") %>
        <%= image_tag("washing dishes.png", :id => "washing_dishes", :class => "image") %>
        <div id="boxdss4" class="clearfix">
            <p id="It_was_nice_to_use_some_of_my_logistics_experience_with_the_fac">
            <span id="textspandss15">I</span><span id="textspandss16">t was nice to use some of my logistics experience with the facility, which made it more comfortable. But there was physical work, lots of physical work. We met a lot of wonderful volunteers who would come up and help. That lasted a year for us. The managers left shortly after that. They had made a change in managers. And we’ve gone back, as volunteers, as often as needed. It was just a wonderful experience to help other people.</span><br />
            </p>
            <div id="blackboxdss3" class="clearfix">
                <p id="by_DOUG_SALMON1">
                by DOUG SALMON
                </p>
            </div>
        </div>
        <span id="“They_didn’t_just_barely_take_care_of_the_things_they_had_to_do">
        <span id="textspandss10">“I’m thankful for Grandma and Grandpa’s testimony of missionary work. They have contributed to my missionary efforts while I served in Peru and I know they have been able to be missionaries in their own area. They are great example of service.”</span><span id="textspandss11"><br /></span><span id="textspandss12">&#x7e; ROBB BIRD, GRANDSON</span>
        </span>
        <div id="linear1" class="clearfix">
        </div>
        <p id="THE_WAY_THEY_SERVED">
        THE BIRTHDAY CAKES</p>
        <div id="True_Servants_Video_Laurie2">
        <iframe src="//player.vimeo.com/video/103572277" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
        <span id="“Part_of_my_parent’s_legacy_to_me_is_giving_time_to_others_My_">
        <span id="textspandss17">“Part of my parents' legacy to me is giving time to others. My dad, during my teenage years especially, gave me a lot of time of his, which was really precious because he traveled a lot. He took the time to do things with me one-on-one. &#x5b;He showed&#x5d; me how to take time and not be in a hurry and do and enjoy things with others. And he taught me to learn about &#x5b;them&#x5d; and their talents and gifts that they have, and the things they can share with you.”</span><span id="textspandss18"><br /></span><span id="textspandss19">&#x7e; TINA ANDERSEN, DAUGHTER</span>
        </span>
        <p id="MODELS_OF_SERVICE">
        MODELS OF SERVICE
        </p>
        <div id="Examples_of_Service_Tina_Video"><iframe src="//player.vimeo.com/video/103572274" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
        <span id="“My_mother_is_also_a_great_example_of_giving_her_time_being_">
        <span id="textspandss20">“My mother is also a great example of giving her time,...being there just to listen, and showing love at all costs. I just cannot express how much it means to me to have someone give me her heart and her love and her time, and hopefully I can reiterate that to others.”</span><span id="textspandss21"><br /></span><span id="textspandss22">&#x7e; TINA ANDERSEN, DAUGHTER</span>
        </span>
        <p id="SACRIFICING_FOR_SEMINARY_">
        SACRIFICING FOR SEMINARY
        </p>
        <div id="Seminary_Video_Laurie"><iframe src="//player.vimeo.com/video/103572275" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
        <p id="ON_SERVICE">
        ON SERVICE
        </p>
        <div id="Skip_Service_Audio"><iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/163731295&amp;color=d0d0d0&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe></div>
        <span id="“They_taught_us_very_young_how_to_serve_and_what_to_look_for_in">
        <span id="textspandss23">“They taught us very young how to serve and what to look for in the needs of others.”</span><span id="textspandss24"><br /></span><span id="textspandss25">&#x7e; TINA ANDERSEN, DAUGHTER</span>
        </span>
        <%= image_tag("bishopric.png", :id => "bishopric", :class => "image") %>
        <p id="DOUG_PARENTS_EXAMPLE">
        MY PARENTS&#x27; EXAMPLE
        </p>
        <div id="Doug_Parents_Example_Audio"><iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/163731332&amp;color=d3d3d3&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe></div>
        <%= image_tag("notethanks.png", :id => "notethanks", :class => "image") %>
        <span id="“They_taught_us_very_young_how_to_serve_and_what_to_look_for_in">
        <span id="textspandss23">“Well, all I know is that I love Doug and Skip dearly. They have been wonderful examples to their family. They are there to help family and neighbors when in need. They are always interested in you and care about you and your well being.”</span><span id="textspandss24"><br /></span><span id="textspandss25">&#x7e; Linda Niccum, Sister of Doug</span>
        </span>
        <div id="linedsp5" class="clearfix">
        </div>
        <div id="gueststories" class="clearfix">
         
            <% @anthology_items = Micropost.where(:topic => 'Service') %>
            <% @identity = "148" %>
            <% @subject_matter = 'Service' %>
            <div id="x" >
                <%= render 'shared/guest_stories_ds_pages' %>
            </div>
        </div>
    <div id="linedsp5" class="clearfix"></div>
        <p id="Home_•_Love_Story_•_Perseverance_•_Family_•_Ser">
            <%= link_to 'Home', salmon_path %> &nbsp; • &nbsp; <%= link_to 'Love Story', salmon_love_story_path %> &nbsp; • &nbsp; <%= link_to 'Perseverance', salmon_perseverance_path %> &nbsp; • &nbsp; <%= link_to 'Family', salmon_family_path %> &nbsp; • &nbsp; <%= link_to 'Service', salmon_service_path %> &nbsp; • &nbsp; <%= link_to 'Hobbies', salmon_hobbies_path %> &nbsp; • &nbsp; <%= link_to 'Guestbook', salmon_guestbook_path %> &nbsp; • &nbsp; <%= link_to 'Family Tree', salmon_family_tree_path %> &nbsp; • &nbsp; <%= link_to 'Timeline', salmon_timeline_path %>
        </p>
        <p id="Home_•_Next_Exhibit">
        <%= link_to 'Home', salmon_path %> &nbsp; • &nbsp; <%= link_to 'Next Exhibit', salmon_hobbies_path %> &nbsp; • &nbsp; <%= link_to 'Guestbook', salmon_guestbook_path %><br />
        </p>
        <br><br>
        <br/><br/><br/>
</body>