
    <head>		
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 3.0">
    <script src="http://use.typekit.net/[redacted-a].js"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '[redacted-g]', 'antho.co');
          ga('send', 'pageview');
    </script>
    </head>


    <body>
        <div id="Doug_Skip">
        DOUG &amp; SKIP
        </div>
        <div id="Title_Line_f1" class="clearfix">
        </div>
        <p id="FAMILY">
        <span id="textspandsf">GUESTBOOK</span> 
        </p>
        <div id="Title_Line_f2" class="clearfix">
        </div>
        <p id="Home_•_Love_Story_•_Perseverance_•_Family_•_Ser">
                <%= link_to 'Home', salmon_path %> &nbsp; • &nbsp; <%= link_to 'Love Story', salmon_love_story_path %> &nbsp; • &nbsp; <%= link_to 'Perseverance', salmon_perseverance_path %> &nbsp; • &nbsp; <%= link_to 'Family', salmon_family_path %> &nbsp; • &nbsp; <%= link_to 'Service', salmon_service_path %> &nbsp; • &nbsp; <%= link_to 'Hobbies', salmon_hobbies_path %> &nbsp; • &nbsp; <%= link_to 'Guestbook', salmon_guestbook_path %> &nbsp; • &nbsp; <%= link_to 'Family Tree', salmon_family_tree_path %> &nbsp; • &nbsp; <%= link_to 'Timeline', salmon_timeline_path %>
        </p>
        <p id="Home_•_Next_Exhibit">
        <%= link_to 'Home', salmon_path %>
        <br />
        </p>


        <!--div id="storyboard"-->        
	        <a name="x"></a>
	        <div id="gueststories" class="clearfix">
	         
	            <% @anthology_items = Micropost.where(:subject_id => "148") %>
	            <% @identity = "148" %>
	            <% @subject_matter = 'none' %>
	            
                <% if @anthology_items.count > 0 %>
                      <!--div class="wrap"-->
                        <div id="show">
                          <div class="main">                  
                            <div class="horizontal">               
                                  <ol class="microposts">
                                    <%#= @feed_items = micropost %>
                                    
                                    <%= render "shared/anthology" %>
                                    
                                  </ol>   
                            </div> 
                          </div>
                        </div> 
                        <br>
                <% end %>
	        </div>
	    <!--/div-->
        <div id="candidgroupcovered" class="clearfix">
                <%= render 'shared/guest_stories_ds' %>
        </div>
  
    </body>
