    <head>
	<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 3.0">
    <script src="http://use.typekit.net/[redacted-a].js"></script>
    <script>try{Typekit.load();}catch(e){}</script> 
    <script> 
        $(document).ready(function () {
            $("#Video_Expressions").fitVids();
        });
        $(document).ready(function () {
            $("#video_-_romance").fitVids();
        });
        $(document).ready(function () {
            $("#When_We_First_Met_Video").fitVids();
        });
        $(document).ready(function () {
            $("#They_Tried_to_Tell_Us_Video").fitVids();
        });
        $(document).ready(function () {
            $("#Precious_to_Me").fitVids();
        });
    </script>   
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '[redacted-g]', 'antho.co');
          ga('send', 'pageview');
    </script>
    </head>


    <body>
        <div id="Doug_Skip">
        DOUG &amp; SKIP
        </div>
        <div id="Title_Line_f1" class="clearfix">
        </div>
        <p id="FAMILY">
        <span id="textspandsf">LOVE STORY</span> 
        </p>
        <div id="Title_Line_f2" class="clearfix">
        </div>
        <p id="Home_•_Love_Story_•_Perseverance_•_Family_•_Ser">
            <%= link_to 'Home', salmon_path %> &nbsp; • &nbsp; <%= link_to 'Love Story', salmon_love_story_path %> &nbsp; • &nbsp; <%= link_to 'Perseverance', salmon_perseverance_path %> &nbsp; • &nbsp; <%= link_to 'Family', salmon_family_path %> &nbsp; • &nbsp; <%= link_to 'Service', salmon_service_path %> &nbsp; • &nbsp; <%= link_to 'Hobbies', salmon_hobbies_path %> &nbsp; • &nbsp; <%= link_to 'Guestbook', salmon_guestbook_path %> &nbsp; • &nbsp; <%= link_to 'Family Tree', salmon_family_tree_path %> &nbsp; • &nbsp; <%= link_to 'Timeline', salmon_timeline_path %>
        </p>
        <p id="Home_•_Next_Exhibit">
        <%= link_to 'Home', salmon_path %> &nbsp; • &nbsp; <%= link_to 'Next Exhibit', salmon_perseverance_path %> &nbsp; • &nbsp; <%= link_to 'Guestbook', salmon_guestbook_path %><br />
        </p>


        <div id="gray_background" class="clearfix">
            <p id="“There_are_some_couples_that_you_can_only_refer_to_as_one_Thi">
            <span id="textspandsl">“There are some couples that you can only refer to as one. This is how I feel about Doug and Skip...never spoken of separately because they act as one.”</span><span id="textspandsl1"><br /></span><span id="textspandsl2">&#x7e; Marjorie Bailey, sister of Doug</span> 
            </p>
            <div id="line" class="clearfix">
            </div>
            <div id="boxdsl" class="clearfix">
                <%= image_tag("dougbaby.png", :id => "dougbaby", :class => "image") %>
                <%= image_tag("skipfur.png", :id => "skipfur", :class => "image") %>
            </div>
            <div id="boxdsl1" class="clearfix">
                <%= image_tag("skipbaby.png", :id => "skipbaby", :class => "image") %>
                <%= image_tag("dougcoat.png", :id => "dougcoat", :class => "image") %>
            </div>
            <%= image_tag("dougcar.png", :id => "dougcar", :class => "image") %>
            <%= image_tag("dougtoddler.png", :id => "dougtoddler", :class => "image") %>
            <%= image_tag("skiptabletop.png", :id => "skiptabletop", :class => "image") %>
            <div id="boxdsl2" class="clearfix">
                <%= image_tag("skipsteps.png", :id => "skipsteps", :class => "image") %>
                <p id="FLIRTING_WITH_SNAKES">
                CHASING WITH SNAKES
                </p>
                <div id="Audio_Skip_Snakes"><iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/163731308%3Fsecret_token%3Ds-E2h78&amp;color=d0cecd&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe></div>
                


                <%= image_tag("dougpreteen.png", :id => "dougpreteen", :class => "image") %>
                <p id="“I_do_remember_Skip_babysitting_us_as_a_child_She_probably_tho">
                <span id="textspandsl3">“I do remember Skip babysitting us as a child. She probably thought, I&#x27;ll do anything just to be by Doug.”</span><span id="textspandsl4"> <br /></span><span id="textspandsl5">- Linda Niccum, sister of Doug</span>
                </p>
                
            </div>
            <div id="boxdsl3" class="clearfix">
                <p id="“I_remember_them_both_at_a_young_age_and_in_fact_Doug_carved_S">
                <span id="textspandsl6">“I remember them both at a young age, and in fact Doug carved Skip&#x27;s name into his wooden radio... And Doug liked to keep snakes as a kid. He always said they were rattlesnakes but I&#x27;m not sure that&#x27;s true.”</span><span id="textspandsl7"><br /></span><span id="textspandsl8">&#x7e; Marjorie Bailey, sister of Doug</span> 
                </p>
                <%#= image_tag("skipjump.png", :id => "skipjump", :class => "image") %>
                <%= image_tag("skippucker.png", :id => "skippucker", :class => "image") %>

                <%= image_tag("skipdress.png", :id => "skipdress", :class => "image") %>
                <%= image_tag("skipsideward.png", :id => "skipsideward", :class => "image") %>
            </div>
                <p id="FLIRTING_WITH_SNAKES1">
                FLIRTING WITH SNAKES
                </p>
                <div id="Snakes_audio" class="clearfix"><iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/163731308%3Fsecret_token%3Ds-E2h78&amp;color=d0cecd&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                </div>
        </div>
        <div id="horline" class="clearfix">
        </div>
        <div id="boxdsl4" class="clearfix">
            <p id="_Well_let’s_start_at_the_beginning_back_in_the_fifth_grade_Sh">
            <span id="textspandsl9">W</span><span id="textspandsl10">ell, let’s start at the beginning, back in the fifth grade. She was a cute little girl and I have said that before and I always enjoyed being around her. The nice thing about it was, she was close in the neighborhood and I didn&#x27;t have to travel too far on my bicycle or walking to see her because we didn’t have cars, we were too young for that. We had tricycles almost to see each other. But she was always a cute girl and she seemed to pay enough attention to me for me to go back. We’d talk later about how I would see her in the summertime, but I would date her girlfriends in the wintertime during the school year. That was something she always teased me about. But there were four of us that got along quite well, two guys, the Bishop&#x27;s son and myself. We were almost just a couple of houses apart, and then another girl and Skip were close friends. So the four of us got together in the summertime quite a bit – we were in the fifth grade, sixth grade. But she was special and like I said, she paid enough attention to me that I kept coming back.</span>
            </p>
            <div id="blackboxdsl" class="clearfix">
                <p id="by_DOUG_SALMON">
                by DOUG SALMON
                </p>
            </div>
        </div>
        <p id="WHEN_WE_FIRST_MET">
        WHEN WE FIRST MET
        </p>
        <div id="When_We_First_Met_Video"><iframe src="//player.vimeo.com/video/103493496" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
        <div id="boxdsl5" class="clearfix">
            <p id="In_high_school_we_would_hang_out_together_in_the_summertime_b">
            <span id="textspandsl12">I</span><span id="textspandsl13">n high school, we would hang out together in the summertime, but during the school year he kind of dated all my other friends. We would kind of fade out; he’d date my other friends and then in the summer we’d get back together again. And this went on all through high school. Finally I guess we figured out that we liked each other enough that we would like to spend more time together. So we ended up deciding that we wanted to be married. It took a long time for love to develop, but it did. </span><br />
            </p>
            <div id="blackboxdsl1" class="clearfix">
                <p id="by_SKIP_SALMON">
                by SKIP SALMON
                </p>
            </div>
        </div>
        <%= image_tag("dougteenportrait.png", :id => "dougteenportrait", :class => "image") %>
        <%= image_tag("dougcouch.png", :id => "dougcouch", :class => "image") %>
        <%= image_tag("skipworkingwithdad.png", :id => "skipworkingwithdad", :class => "image") %>
        <div id="THE_DECISION_OF_MARRIAGE">
        THE MARRIAGE DECISION
        </div>
        <div id="Audio_Skip_Decision_to_Get_Married"><iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/163731306%3Fsecret_token%3Ds-kxu4K&amp;color=d3d3d3&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe></div>
        <div id="boxdsl6" class="clearfix">
            <p id="I_thought_Doug_was_very_handsome_He_was_funny_I_enjoyed_talki">
            <span id="textspandsl14">I</span><span id="textspandsl15"> thought Doug was very handsome. He was funny, I enjoyed talking to him. I don’t talk as much now as I used to I guess. He was thoughtful and when he went into the military, he wrote very regularly. I would come home and look forward to his letters. I was working for my dad at the time. I started working for my dad when I was in high school. He was a public accountant and I worked in his office. So I would come home from work and quickly look for Doug’s letters. He wrote very regularly and that was always good. I appreciated that. He’s always been very thoughtful. He’s always been generous. He’s always been service-oriented. He’s always been kind and helpful to other people. I guess these qualities are some of the things that make me love him for who he is. He just quietly does things. I still think he’s handsome and I love him to pieces.</span><br />
            </p>
            <div id="blackboxdsl2" class="clearfix">
                <p id="by_SKIP_SALMON1">
                by SKIP SALMON
                </p>
            </div>
        </div>
        <p id="THEY_TRIED_TO_TELL_US_WE’RE_TOO_YOUNG">
        THEY TRIED TO TELL US WE’RE TOO YOUNG
        </p>
        <div id="They_Tried_to_Tell_Us_Video"><iframe src="//player.vimeo.com/video/103541207" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
        <div id="boxdsl7" class="clearfix">
            <p id="In_looking_back_when_we_were_making_the_decision_to_get_married">
            <span id="textspandsl16">W</span><span id="textspandsl17">hen we were making the decision to get married – we had talked about it, of course – we had been going together for quite a while. We had spent time together. We had talked about getting married and then decided that’s something we really wanted to do. It was exciting and yet it was a little scary.<br /><br />Doug probably had to convince me a little bit, but once we made the decision, we both felt good about it and it was something we wanted to pursue. Even though our parents were hesitant, we felt it was something we could do, that we could accept that responsibility, that we could be determined to make it work. There were members of our families that said, “No, you’re too young; it’s never going to last,” “It’s not gonna last, why are you doing this&#x3f;” And that only made us all the more determined that we were going to show them that we could do it, that we could get married, take responsibilty, and have a family. We thought, "We can show them that we are able to accomplish that," and so we did. <br /><br />Our parents were not excited that we were getting married at that age but decided that if they did not approve, maybe we would run away. Doug was in the military and he got a leave so we could get married in Reno, Nevada. I drove down there with Doug’s parents and my parents. He met us there and we went to the Justice of the Peace to make arrangements to get our marriage license and get married later in the day (so we could go back to our place and get dressed up). But the judge just married us right on the spot. He was in Levi’s and I was in capris, and we never did get dressed up for our wedding, so we do not have any beautiful wedding pictures like everybody else does. We went out to dinner that night and went dancing with our family and our parents. It was fun and then the next day he went back to California to the military and I went back home with our parents until the housing was available, so it was a little different than the weddings of most people. And that is kind of the way our basic love story started.</span>
            </p>
            <div id="blackboxdsl3" class="clearfix">
                <p id="by_SKIP_SALMON2">
                by SKIP SALMON
                </p>
            </div>
        </div>
        <div id="audioNatKingCole"><iframe src="https://embed.spotify.com/?uri=spotify:track:0NnhDaBOy4Kt5PoHca3ed4" width="100%" height="140px" frameborder="0" allowtransparency="true" ></iframe></div>
        <%= image_tag("marriage.png", :id => "marriage", :class => "image") %>
        <p id="“One_of_my_favorite_pictures_of_them_is_the_day_they_married_">
        <span id="textspandsl18">“One of my favorite pictures of them is the day they married...they looked like a couple of kids, it is true, but they were prepared and serious about married life.<br /></span><span id="textspandsl19"> <br /></span><span id="textspandsl20">Doug is the handyman, and Skip the homemaker. Remember the 50&#x27;s idyllic family and you will discover the foundation of their home, just like ‘Father Knows Best.’ I remember babysitting for the children, the house spotless, the children well-behaved and happy, and the family united. They both knew how to stretch a dollar and manage money.” </span><span id="textspandsl21"><br /></span><span id="textspandsl22">&#x7e; </span><span id="textspandsl23">Marjorie Bailey, sister of Doug</span>
        </p>
        <div id="horline1" class="clearfix">
        </div>

<!-- love story part 2 -->
        <%= image_tag("postwedding.png", :id => "postwedding", :class => "image") %>
        <div id="boxdsls" class="clearfix">
            <p id="As_we_decided_to_get_married_we_had_I_think_pretty_good_convers">
            <span id="textspandsls">A</span><span id="textspandsls1">s we decided to get married, we had – I think – pretty good conversations. "Is this really what want you want&#x3f; Do you really want to get married&#x3f; Can you really handle this&#x3f;" "Yes, yes, yes I do." And I thought for a long time it was just my idea, not hers. And I can remember some of the real sweet times we had in our small trailer, her being pregnant in Twentynine Palms. It was just, some of the pictures that we have, some of her cute little outfits and cute little tummy, it was just fun. Some of her cooking skills were just terrible. She made a meatloaf one Sunday and it was... I could tell she had gone to a lot of effort. She put it in the oven and she turned the oven on and she was expecting this beautiful meal and it looked beautiful but when we cut the meatloaf it was raw inside because she didn’t know how to cook. It was really fun to go through those experiences. I am more romantic than she is, I am more physical than she is and over the years we&#x27;ve had to learn to adjust to that.</span> 
            </p>
            <div id="blackboxdsls" class="clearfix">
                <p id="by_DOUG_SALMON">
                by DOUG SALMON
                </p>
            </div>
        </div>
        <div id="boxdsls1" class="clearfix">
            <p id="We_had_our_ups_and_downs_We_were_learning_a_day_a_time_When_I">
            <span id="textspandsls2">W</span><span id="textspandsls3">e had our ups and downs. We were learning a day at a time. The day I finally left to go to California after having been married a few months, I took the train and it was a red-eye ride. I slept overnight on the train, and arrived the next day in southern California. Then it was scary. Is he going to be there to meet me&#x3f; Is somebody else going to be there&#x3f; How are we going to get back to the base, because the train did not go directly there? I think the train arrived in Riverside, California, and then we had to drive, so obviously he had to borrow a car. Then, all of a sudden, we were together. All of a sudden, we were married. All of a sudden, we were by ourselves. What do we do&#x3f; How do we act&#x3f; It was a real learning experience. It was a day-to-day thing. All of a sudden, okay, we have to get up and fix breakfast and fix lunch, and he came home for lunch every day. And okay, what do we have for dinner? You start keeping house by yourself and there is no one to ask questions to. It was exciting, it was fun, it was learning to figure things out on your own. It was kind of "ignorance is bliss." We went along thinking we were doing okay and I guess we did. In some people’s eyes, they were probably shaking their heads. <br /><br />I can remember Doug’s mom; after we got married, she said to me, "If anything happens and you decide to split up or whatever reason, you can come home to me, but Doug cannot. That is my mother-in-law – she was absolutely the best. I had babysat for his younger brothers and sisters before we got married, so I was well acquainted with the family, and so it was interesting that she said that if we had a problem, I could go home to her, but he could not.</span> 
            </p>
            <div id="blackboxdsls1" class="clearfix">
                <p id="by_SKIP_SALMON">
                by SKIP SALMON
                </p>
            </div>
        </div>
        <div id="horline" class="clearfix">
        </div>
        <%= image_tag("lightvignette.png", :id => "lightvignette", :class => "image") %>
        <%= image_tag("darkvignette.png", :id => "darkvignette", :class => "image") %>
        <%= image_tag("cooking-her.png", :id => "cooking-her", :class => "image") %>
        <%= image_tag("cooking-him.png", :id => "cooking-him", :class => "image") %>
        <div id="boxdsls2" class="clearfix">
            <p id="She’s_always_been_supportive_If_I_need_help_she_s_there_She’s">
            <span id="textspandsls4">S</span><span id="textspandsls5">he has always been supportive. If I need help, she is there. She is always there. Still today she is there to help me; through struggle, whatever, she is there to help. Not quick to give advice – I have to really pull it out of her to get advice. I try to counsel with her on everything that I can, whether it is how something looks or how it feels. We have had a great life together.</span>
            </p>
            <div id="blackboxdsls2" class="clearfix">
                <p id="by_DOUG_SALMON1">
                by DOUG SALMON
                </p>
            </div>
        </div>
        <%= image_tag("bikeride.png", :id => "bikeride", :class => "image") %>
        <div id="linedsls" class="clearfix">
        </div>
        <p id="THE_ROMANTIC_ONE">
        THE ROMANTIC ONE
        </p>
        <div id="video_-_romance"><iframe src="//player.vimeo.com/video/103543742" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
        <p id="“I_think_Grandma_and_Grandpa_met_online_didn’t_they_ Has_it_re">
        <span id="textspandsls6">“I</span><span id="textspandsls7"> think Grandma and Grandpa met online, didn’t they&#x3f;&nbsp;Has it really been 60 years of marriage&#x3f;&#x21;&nbsp;Wow, that’s impressive. For my whole life, it has seemed like they’ve been in their 60’s. If they are aging, it’s at a very slow rate&#x21;&nbsp;All I know is that if you’ve been married for that long, they must have true love for each other. In all my years as I’ve watched Grandma and Grandpa, they are always serving one another. They make sacrifices for each other and think of others rather than themselves. They are great examples of love to me and my family.”</span><span id="textspandsls8"><br /></span><span id="textspandsls9">&#x7e; </span><span id="textspandsls10">Steve Bird, grandson</span>
        </p>
        <%= image_tag("campingdinner.png", :id => "campingdinner", :class => "image") %>
        <%= image_tag("parklookout.png", :id => "parklookout", :class => "image") %>
        <div id="anotherhorizonline" class="clearfix">
        </div>
        <p id="EXPRESSIONS_OF_LOVE">
        EXPRESSIONS OF LOVE
        </p>
        <div id="Video_Expressions"><iframe src="//player.vimeo.com/video/103549405" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
        <p id="SHOWING_THEIR_LOVE">
        SHOWING THEIR LOVE
        </p>
        <div id="Audio_Tina_Expressions"><iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/163731304%3Fsecret_token%3Ds-HFM03&amp;color=d0d0d0&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe></div>
        <div id="anotherhorizonline1" class="clearfix">
        </div>
        <p id="PRECIOUS_TO_ME">
        PRECIOUS TO ME
        </p>
        <div id="Precious_to_Me"><iframe src="//player.vimeo.com/video/103545092" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
        <p id=" “I_don_t_know_much_about_how_they_met_or_their_love_story_but_">
        <span id="textspandsls11">&nbsp;“I don&#x27;t know much about how they met or their love story, but I do know they are very much in love by the affection that is shown and the way they treat one another. They have set such a great example of how to nurture a relationship and love a spouse, one that I hope I can follow.”</span><span id="textspandsls12"><br /></span><span id="textspandsls13">&#x7e; </span><span id="textspandsls14">Melanie Shelton, granddaughter</span>
        </p>
        <%= image_tag("jungleportrait.png", :id => "jungleportrait", :class => "image") %>
        <%= image_tag("truckerhatportrait.png", :id => "truckerhatportrait", :class => "image") %>
        <%= image_tag("50thweddinganni.png", :id => "_50thweddinganni", :class => "image") %>
        <%= image_tag("glassesportrait.png", :id => "glassesportrait", :class => "image") %>
        <!--div id="endline" class="clearfix">
        </div-->
        <div id="linedsp5" class="clearfix">
        </div>
        <div id="gueststories" class="clearfix">
         
            <% @anthology_items = Micropost.where(:topic => 'Love Story') %>
            <% @identity = "148" %>
            <% @subject_matter = 'Love Story' %>
            <div id="x" >
                <%= render 'shared/guest_stories_ds_pages' %>
            </div>
        </div>
    <div id="linedsp5" class="clearfix"></div>
        <p id="Home_•_Love_Story_•_Perseverance_•_Family_•_Ser">
            <%= link_to 'Home', salmon_path %> &nbsp; • &nbsp; <%= link_to 'Love Story', salmon_love_story_path %> &nbsp; • &nbsp; <%= link_to 'Perseverance', salmon_perseverance_path %> &nbsp; • &nbsp; <%= link_to 'Family', salmon_family_path %> &nbsp; • &nbsp; <%= link_to 'Service', salmon_service_path %> &nbsp; • &nbsp; <%= link_to 'Hobbies', salmon_hobbies_path %> &nbsp; • &nbsp; <%= link_to 'Guestbook', salmon_guestbook_path %> &nbsp; • &nbsp; <%= link_to 'Family Tree', salmon_family_tree_path %> &nbsp; • &nbsp; <%= link_to 'Timeline', salmon_timeline_path %>
        </p>
        <p id="Home_•_Next_Exhibit">
        <%= link_to 'Home', salmon_path %> &nbsp; • &nbsp; <%= link_to 'Next Exhibit', salmon_perseverance_path %> &nbsp; • &nbsp; <%= link_to 'Guestbook', salmon_guestbook_path %><br />
        </p>
        <br><br>



