    <head>
	<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 4.0">
    <script src="http://use.typekit.net/[redacted-a].js"></script>
    <script>try{Typekit.load();}catch(e){}</script>    
        <script>
        $(document).ready(function () {
            $("#video_laurie_mom_service").fitVids();
        });
        $(document).ready(function () {
            $("#video_tina_giving_their_time").fitVids();
        });
        $(document).ready(function () {
            $("#video_eric_tribute_to_dad").fitVids();
        });
        $(document).ready(function () {
            $("#video_eric_tribute_to_mom").fitVids();
        });
        $(document).ready(function () {
            $("#video_tina_fish").fitVids();
        });
        $(document).ready(function () {
            $("#video_laurie_family_reunions").fitVids();
        });
        $(document).ready(function () {
            $("#video_doug_our_temple_experience").fitVids();
        });
        
    </script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '[redacted-g]', 'antho.co');
          ga('send', 'pageview');
    </script>
    </head>
    <body>

    <!--div id="primaryContainer" class="primaryContainer clearfix"-->
        <div id="Doug_Skip">
        DOUG &amp; SKIP
        </div>
        <div id="Title_Line_f1" class="clearfix">
        </div>
        <p id="FAMILY">
        <span id="textspandsf">FAMILY</span> 
        </p>
        <div id="Title_Line_f2" class="clearfix">
        </div>
        <p id="Home_•_Love_Story_•_Perseverance_•_Family_•_Ser">
                <%= link_to 'Home', salmon_path %> &nbsp; • &nbsp; <%= link_to 'Love Story', salmon_love_story_path %> &nbsp; • &nbsp; <%= link_to 'Perseverance', salmon_perseverance_path %> &nbsp; • &nbsp; <%= link_to 'Family', salmon_family_path %> &nbsp; • &nbsp; <%= link_to 'Service', salmon_service_path %> &nbsp; • &nbsp; <%= link_to 'Hobbies', salmon_hobbies_path %> &nbsp; • &nbsp; <%= link_to 'Guestbook', salmon_guestbook_path %> &nbsp; • &nbsp; <%= link_to 'Family Tree', salmon_family_tree_path %> &nbsp; • &nbsp; <%= link_to 'Timeline', salmon_timeline_path %>
        </p>
        <p id="Home_•_Next_Exhibit">
        <%= link_to 'Home', salmon_path %> &nbsp; • &nbsp; <%= link_to 'Next Exhibit', salmon_service_path %> &nbsp; • &nbsp; <%= link_to 'Guestbook', salmon_guestbook_path %><br />
        </p>
        <%= image_tag("formal portrait.png", :id => "formal_portait", :class => "image") %>
        <p id="OUR_FAMILY_FOUNDATION">
        OUR FAMILY
        </p>
        <div id="boxdsf" class="clearfix">
            <p id="_Over_the_years_we_had_a_thing_in_our_house_about_working_toge">
            <span id="textspandsf1">O</span><span id="textspandsf2">ne of the things that we have learned and figured out over the years is that we decided it was important to express our love to each other every day. When we talk to our kids, we express our love to them every time we talk to them. Those are the kinds of things that really matter. If you do not see a person again, what is the last thing you said to them or what is the last thing you heard from them&#x3f; I think those are the kinds of things that are important, and I want my family to know how much that we love them, regardless of what goes on in their lives. We love them and that the most important thing to me would be that they would have the desire to live their lives in accordance with the commandments of the <a href="http://www.lds.org">Church</a>, that we can all return to our Heavenly Father as a family. That is my greatest goal. That is my greatest wish for our family.</span><br />
            </p>
            <div id="boxdsf1" class="clearfix">
                <p id="by_DOUG_SALMON">
                by SKIP SALMON
                </p>
            </div>
        </div>
        <div id="boxdsf2" class="clearfix">
            <%= image_tag("lauriesmallbaby.png", :id => "lauriesmallbaby", :class => "image") %>
            <%= image_tag("tina.png", :id => "tina", :class => "image") %>
            <%= image_tag("ericbaby.png", :id => "highchair", :class => "image") %>
        </div>

        <%= image_tag("girl dresses.png", :id => "girl_dresses", :class => "image") %>
        <p id="textdsf">
        <span id="textspandsf3">FORGIVENESS</span><br />
        </p>
        <div id="Audio_Laurie_Forgiveness">
                    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/163731328%3Fsecret_token%3Ds-W7jDF&amp;color=c5c5c5&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
        </div>

        <%= image_tag("bear invasion1.png", :id => "bear_invasion1", :class => "image") %>
        <%= image_tag("spit roasting.png", :id => "spit_roasting", :class => "image") %>
        <p id="TEACHING_TINA_TO_FISH">
        TEACHING TINA HOW TO FISH
        </p>
        <div id="video_tina_fish"><iframe src="//player.vimeo.com/video/103564777" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
        <div id="linedsff1" class="clearfix">
        </div>
        <%= image_tag("outdoor portrait1.png", :id => "outdoor_portrait1", :class => "image") %>
        <%= image_tag("camping tent.png", :id => "camping_tent", :class => "image") %>
        <div id="boxdsf3" class="clearfix">
        <%= image_tag("stair portrait.png", :id => "stair_portrait", :class => "image") %>
            <%= image_tag("tina prom.png", :id => "tina_prom", :class => "image") %>
        </div>
        <div id="boxdsf4" class="clearfix">
            <p id="_Over_the_years_we_had_a_thing_in_our_house_about_working_toge1">
            <span id="textspandsf4">O</span><span id="textspandsf5">ver the years, we had a thing in our house about working together. When we lived in New Jersey, we had a large number of trees on our property. When fall comes around we would have a large number of leaves in the yard, so many that they had to be raked and cleaned up at least once a week, sometimes more frequently. Well, young people are not interested in working and they would just as much go play, go swim or do whatever was more enjoyable than working together. So we made a pact that we would all work together and then we could all play together. Nobody had to stay home and do the the work around the yard while the kids played or when they needed transportation someplace, pulling us apart. So every Saturday during the fall, we would get up, have our breakfast, go outside and rake the leaves, play in the leaves – bags and bags and bags of leaves. We then put them on the street for the people to pick up the following week, and then off we would go. We would go play, we would go to swim meets or we would go wherever. <br /><br />I think that set up a pattern for the family that that is what we did when something had to be done around the house; that we work together. The kids all had chores to do. And I think that has developed some real strong character in all the kids. The two girls are good workers and good housekeepers. Eric is a hard worker, a fearless worker. And I think that goes back to when we all put our efforts together so we could play together and do things together. We left nobody out, and accomplised what had to be accomplished. That was key. <br /><br />I can remember a situation with Eric – it was his responsibility to keep his room clean and he would have his friends come over; his friends would pull out all of his toys, throw them all over his room and all over the house. And then they would leave. He was about five years old. And he would have to clean up the room because that was his responsibility. So he got to the point when he discovered that he was not so interested in having friends over, to tear up all of his toys, because he had to clean them up. So he decided he would rather play outside than let the his friends come inside. I think that all of that provides a sense that there were things to do and they did them. That same process continued through all of the places that we lived. In Santa Barbara, in San Carlos, and when we moved here to Pleasanton we did not have that issue because they were grown. And if you look at our house today, it is always picked up, it is always the same as you see it when you come here. It is not something we set up for other people; that is the way Skip lives. She just keeps things picked up, cleaned up. And when the kids come, they do the same thing. They know. They make their mess and have their fun and tear the place up, but when it is time, they will put it all back together again. And when we look at our two girls particularly, that is the way they do things in their own homes too.</span><span id="textspandsf6"><br /></span>
            </p>
            <div id="boxdsf5" class="clearfix">
                <p id="by_DOUG_SALMON1">
                by DOUG SALMON
                </p>
            </div>
        </div>
        <div id="linedsff2" class="clearfix">
        </div>
        <p id="GOING_TO_THE_TEMPLE">
        FOR TIME &amp; ALL ETERNITY
        </p>
        <div id="boxdsf6" class="clearfix">
            <p id="text1">
            <span id="textspandsf7">RETURNING TO CHURCH</span><br />
            </p>
            <div id="Audio_Doug_Church_Inactivity"><iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/163731336&amp;color=c5c1bf&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe></div>
        </div>
        <div id="boxdsf7" class="clearfix">
            <p id="textdsf2">
            <span id="textspandsf8">PATIENCE AND AGENCY</span><br />
            </p>
            
            <div id="Audio_Skip_Returning_to_Church">
            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/163731315&amp;color=d3d3d3&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe></div>
        </div>
        <%= image_tag("oakland temple.png", :id => "oakland_temple", :class => "image") %>
        <p id="“I_asked_him_if_he_would_quit_smoking_and_take_us_to_the_temple">
        <span id="textspandsf9">“I asked him if he would quit smoking and take us to the temple to be sealed together as an eternal, forever family. He was totally shocked…, and tears came to his eyes.”</span><span id="textspandsf10"><br /></span><span id="textspandsf11">&#x7e; Tina, daughter</span> 
        </p>
        <p id="textdsf3">
        <span id="textspandsf12">A GRADUATION REQUEST</span><br />
        </p>
        <div id="Audio_Tina_Requesting_for_Sealing"><iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/163731310&amp;color=d3d3d3&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe></div>
        <p id="OUR_TEMPLE_EXPERIENCE_copy">
        OUR TEMPLE EXPERIENCE
        </p>
        <div id="video_doug_our_temple_experience"><iframe src="//player.vimeo.com/video/103556941" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
        <div id="linedsff3" class="clearfix">
        </div>
        <div id="boxdsf8" class="clearfix">
            <%= image_tag("temple front portrait.png", :id => "temple_front_portait", :class => "image") %>
           <%= image_tag("tina wedding1.png", :id => "tina_wedding1", :class => "image") %>
        </div>
        <div id="boxdsf9" class="clearfix">
            <%= image_tag("backyard portrait.png", :id => "backyard_portait", :class => "image") %>
            <%= image_tag("lauries wedding.png", :id => "lauries_wedding", :class => "image") %>
        </div>
        <div id="boxdsf10" class="clearfix">
            <%= image_tag("tourists.png", :id => "tourists", :class => "image") %>
            <%= image_tag("laurie robert.png", :id => "laurie_robert", :class => "image") %>
        </div>
        <div id="linedsff4" class="clearfix">
        </div>
            <%= image_tag("tina graduation.png", :id => "tina_graduation", :class => "image") %>
        <p id="GIVING_THEIR_TIME">
        GIVING THEIR TIME
        </p>
        
        <div id="video_tina_giving_their_time"> <iframe src="//player.vimeo.com/video/103567518" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
        <div id="boxdsf11" class="clearfix">
            <%= image_tag("car racing1.png", :id => "car_racing1", :class => "image") %>
            <%= image_tag("car races11.png", :id => "car_races11", :class => "image") %>
        </div>
        <%= image_tag("camp dance.png", :id => "camp_dance", :class => "image") %>
        <%= image_tag("purplearizona.png", :id => "purplearizona", :class => "image") %>
        <p id="SERVING_THEIR_CHILDREN">
        SERVING THEIR CHILDREN
        </p>
        <!--img id="video_laurie_mom_service" src="img/video laurie mom service.png" class="image" /-->
        <div id="video_laurie_mom_service"> <iframe src="//player.vimeo.com/video/103564851" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>


        <!--iframe height="720" width="1280" src="//www.youtube.com/embed/klJqleAwRso?rel=0" frameborder="0" allowfullscreen></iframe-->

        <div id="boxdsf12" class="clearfix">
            <%= link_to image_tag("letter2.png", :id => "letter2", :class => "image"), salmon_zoom_path(:anchor => "lettertolaurie") %>
            <%= image_tag("envelope2 blurred.png", :id => "envelope2", :class => "image") %>
        </div>
        <%= image_tag("skip grandkids.png", :id => "skip_grandkids", :class => "image") %>
        <%= image_tag("skipholdingbaby.png", :id => "skipholdingbaby", :class => "image") %>
        <%= image_tag("leather chair baby.png", :id => "leather_chair_baby", :class => "image") %>
        <p id="A_TRIBUTE_TO_DAD">
        A TRIBUTE TO DAD
        </p>
        <div id="boxdsf13" class="clearfix">
            <div id="video_eric_tribute_to_dad"><iframe src="//player.vimeo.com/video/103564775" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
            <%= image_tag("eric w doug.png", :id => "eric_w_doug", :class => "image") %>
        </div>
        <p id="“My_mom_and_dad_made_great_sacrifices_for_me_and_our_family_Wh">
        <span id="textspandsf13">“My mom and dad made great sacrifices for me and our family. When I had sports and wrestling, my dad was working in New York City, which was a two and a half hour drive away from our home. He would drive back and forth for my wrestling matches twice a week. So that’s five hours each time on Tuesdays and Thursdays. I mean, wow&#x21; What kind of dad would do that&#x3f; I was on the swim team, did football, wrestling, basketball, baseball and softball. They kept me busy in life and they gave me opportunities to fall, to learn and to grow. They were always there for me no matter what.”</span><span id="textspandsf14"><br /></span><span id="textspandsf15">&#x7e; Eric Salmon, son</span>
        </p>
        <p id="A_TRIBUTE_TO_MOM">
        A TRIBUTE TO MOM
        </p>
        <div id="boxdsf14" class="clearfix">
            <div id="video_eric_tribute_to_mom"><iframe src="//player.vimeo.com/video/103564778" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>

            <%= image_tag("eric w skip.png", :id => "eric_w_skip", :class => "image") %>
        </div>
        <p id="“My_mom_and_dad_made_great_sacrifices_for_me_and_our_family_Wh">
        <span id="textspandsf13">“My in-laws deserve the greatest amount of respect and admiration. Being 'hands down' the most dedicated people anyone will ever meet. Skip has a quiet, sweet, calming spirit. I have never heard her complain, say a bad word, gossip or behave in a way to offend anyone. When someone has a problem, she will offer resolutions without judgment. I could not imagine a better mother-in-law. Doug, like Skip, is very thoughtful. I sense how overwhelmingly blessed he feels about his family, as he loves them dearly.”</span><span id="textspandsf14"><br /></span><span id="textspandsf15">&#x7e; Judy Salmon, daughter-in-law</span>
        </p>
        <%= image_tag("three kids formal.png", :id => "three_kids_formal", :class => "image") %>
        <%= link_to image_tag("letter1part1.png", :id => "letter1part1", :class => "image"), salmon_zoom_path(:anchor => 'childrenletter') %>
        <%= link_to image_tag("letter1part2.png", :id => "letter1part2", :class => "image"), salmon_zoom_path(:anchor => 'childrenletter') %>
        <%= link_to image_tag("letter1part3.png", :id => "letter1part3", :class => "image"), salmon_zoom_path(:anchor => 'childrenletter') %>
        <%= image_tag("envelope blurred.png", :id => "envelope", :class => "image") %>
        <p id="“My_mom_and_dad_made_great_sacrifices_for_me_and_our_family_Wh"><span id="textspandsf13">“Doug was wonderful in caring for my Mothers estate. You could count on him to be completely honest. What a noble trait.”</span><span id="textspandsf14"><br /></span><span id="textspandsf15">&#x7e; Linda Niccum, Sister of Doug</span></p>
        <div id="linedsff5" class="clearfix">
        </div>

        <!-- family reunion begins -->

 
        <%= image_tag("armwrestling.png", :id => "armwrestling", :class => "image") %>
        <p id="FAMILY_REUNIONS">
        FAMILY REUNIONS
        </p>
        <div id="boxdsff" class="clearfix">
            <p id="_When_we_moved_back_to_Pleasanton_back_to_California_from_New_">
            <span id="textspandsff">W</span><span id="textspandsff1">hen we moved back to Pleasanton, back to California from New Jersey, it was the summer of 1975. The following year, we had the very first Salmon family reunion, with extended family in our backyard here at this location. Tina was unable to be here because she was expecting a baby at any time. Laurie was pregnant. Doug’s aunts, uncles and cousins, some of them came, along with his brothers and sisters. So our first extended family reunion was here at our home in Pleasanton. We had a great time. We had another one the next year at Doug's uncle’s backyard in Los Altos, California and that grew a little bigger; a few more people were able to come. <br /><br />Then after that we decided to have them every two years because it was kind of a hassle. People lived in different locations and out-of-state and couldn’t always make it every year. Then we decided it was time to start taking turns in the responsibility of planning it. Doug seemed to take on the responsibility for several years. We have had them in California, we’ve had them in Washington, and we’ve had them in Idaho. Trying to find a location that was fairly central for people who had to travel from Arizona or Idaho or back East or Washington. We tried to accommodate everybody that we could and also to keep the expenses as low as possible so the young married couples could afford to come. So we started having them at environmental learning centers in Washington. We had several up there. We have ve gone to locations typically reserved for girls camps in several locations in Idaho and Washington, and they have turned out to be really great experiences. <br /><br />The hardest thing is finding a location. That takes the most time and the most preparation and then what we do is find out how many people are going to come and who is in charge and then make assignments. Some people are in charge of meals, some people are in charge of activities for adults, some people are in charge of activities for children, some people would be in charge of – you know, whatever games or prizes or whatever we decided to do. But it was their responsibility and they can get other family members to help. When we were home teaching some friends not too long ago, they said, “You mean people would do that, they would say 'yes' and then they would follow through and do it&#x3f;” We’ve never had a problem because everybody was excited to be there. So everybody really did follow through. I can maybe think of one time when maybe something would come up and everyone would come together to cover the issue if there were a problem. <br /></span>
            </p>
            <div id="blackboxdsff" class="clearfix">
                <p id="by_DOUG_SALMON">
                by DOUG SALMON
                </p>
            </div>
        </div>
        <p id="“We_had_the_first_family_reunion_in_1976_and_I_was_not_able_to">
        <span id="textspandsff2">“We had the first family reunion in 1976, and I was not able to attend. I was having my parents’ first grandchild. So during the reunion, we called and said, ‘Congratulations, you’re grandparents&#x21;’”</span><span id="textspandsff3"> </span><span id="textspandsff4"><br /></span><span id="textspandsff5">&#x7e; Tina Andersen, daughter</span>
        </p>
        <%= image_tag("pinata2.png", :id => "pinata2", :class => "image") %>
        <div id="boxdsff1" class="clearfix">
            <p id="_We_ve_had_some_outstanding_reunions_and_to_help_pay_for_thing">
            <span id="textspandsff6">W</span><span id="textspandsff7">e have had some outstanding reunions, and to help pay for things we had people make things and we had a family auction, and that would raise enough money to help offset the food expenses for the following year. Or the money would be used to pay for the location or whatever. We’d do anything we could to defer the expenses back to help the individuals, so it was a little easier, so that everybody wasn’t having to spend money to get there besides the expense of the location, besides the expense of the food and so forth. Everybody has done a really outstanding job with the auction. We ask somebody to be the auctioneer, somebody to handle cash and record it and collect it and it goes on and on and on. It’s just been a wonderful experience. <br /><br />We also have a family reunion bank account so that we can put it in there and then give it to the people who plan the reunion for the next time. The auction funds were initially set up to provide money to the person who was going to do the next family reunion, so that they can put a deposit down on the facility without dipping into their own family funds. It was just a matter of making it easier for individuals to accept the responsibility to put something together and not make it too hard for anybody financially. It’s been very successful. </span><br />
            </p>
            <div id="blackboxdsff1" class="clearfix">
                <p id="by_DOUG_SKIP">
                by DOUG &amp; SKIP
                </p>
            </div>
        </div>
        <p id="“Doug_was_the_big_brother_and_he_did_a_lot_for_the_family_He_s">
        <span id="textspandsff8">“Doug was the big brother and he did a lot for the family. He saw that things got done, like organizing our family reunions and seeing that that tradition was carried on. It has been a wonderful thing in our family. Love has increased because of these times.”</span><span id="textspandsff9"> </span><span id="textspandsff10"><br /></span><span id="textspandsff11">&#x7e;</span><span id="textspandsff12"> Linda Niccum, sister of Doug</span>
        </p>
        <%= image_tag("cabinstairs.png", :id => "cabinstairs", :class => "image") %>
        <div id="boxdsff2" class="clearfix">
            <p id="_Those_that_come_and_have_made_the_extra_effort_to_come_have_al">
            <span id="textspandsff13">T</span><span id="textspandsff14">hose that come and have made the extra effort to come have always enjoyed it immensely. And everybody does not come every time&#x3b; it is just something we hope for but never can achieve. We include all of our children, we include aunts and uncles and cousins. We have pictures of aunties that have passed away a long time ago at earlier reunions and it has just been a wonderful experience to be able to go back and just look at those photographs and to remember the individuals. <br /><br />I can recall one trip when we went to <a href="http://parksandrecreation.idaho.gov/parks/henrys-lake">Henrys Lake</a> and Robert brought his boat up. And I remember we took my mother out fishing; she had on her big yellow lifejacket and was scared to be out there in the boat. The fishing was just exceptional. You’d put a hook in the water and you’d come up with a fish. You didn’t even have to bait it. Robert and I fished a lot and everything we put in, every lure, every piece of bait, everything would catch fish. So we took mother out and she caught fish. Everybody caught fish. So then we would take those fish and fillet them and put them on the stove right outside the cabins, so you could walk along and just help yourself all day long eating fish. What an experience that was. Never again have we seen such wonderful fishing, and such large fish too. Everybody caught fish. My brother, who is divorced, he had his children there for a short period of time and it was time for them to leave, their mother was going to come pick them up and I asked the question, “Have you been out on the boat&#x3f; Did you go fishing&#x3f; No we haven’t. Well, come on, we’ll take you out and catch some fish.” Within 20 minutes we went out and they all caught fish. Their mother came and then took them home. All of our family reunions have had wonderful stories and experiences like this.</span><span id="textspandsff15"><br /></span>
            </p>
            <div id="blackboxdsff2" class="clearfix">
                <p id="by_DOUG_SALMON1">
                by DOUG SALMON
                </p>
            </div>
        </div>
        <p id="CHOOSING_TO_BE_WITH_FAMILY">
        CHOOSING TO BE WITH FAMILY
        </p>
        <div id="Audio_Eric_Whidbey_Island_Surprise"><iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/163731329&amp;color=c5c5c5&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe></div>
        <%= image_tag("basketballportrait.png", :id => "basketballportrait", :class => "image") %>
        <div id="boxdsff3" class="clearfix">
            <p id="_I_think_that’s_the_only_opportunity_to_get_families_together_">
            <span id="textspandsff16">I</span><span id="textspandsff17"> think that is the only opportunity to get families together. If you do not do it, it will not happen. Someone has to take the lead to get it started and I was willing to take the lead. Then you still have to push and pull and shove to make it happen two years from now. Families have their own vacation schedules, they have their own things that they want to do with their families, so putting a family reunion together is almost an inconvenience to some people. As an example,the Bird family has a family reunion at Carma’s home. Well, the following year the Salmons have a family reunion as well. So who does what and what is left for the individual family to get together and build their own traditions&#x3f; But we do it and we will do it as long as we can keep breathing.<br /><br />Then we started having our own family reunions with our children and grandchildren. So far we have had a few of those. We met a few years ago in Tucson, Arizona for Thanksgiving for all of our family. Then last year we were down in Mesa doing the same thing for Thanksgiving. All of our family there together – that was excellent. Sometimes we have had some reunions with just us and our children, no young kids. That has been fun and we havve done that several times. <br /><br />The more often we can get together, the happier we all are because we are in different locations. Maybe it is just for two or three days. The large family reunions are for three days. We’ll get 80–110 people together for the event and we’ll continue to do it as long as we can.<br /></span>
            </p>
            <div id="blackboxdsff3" class="clearfix">
                <p id="by_DOUG_SKIP1">
                by DOUG &amp; SKIP
                </p>
            </div>
        </div>
        <p id="CHOOSING_TO_BE_WITH_FAMILY">
        MAKING THE TIME
        </p>
        <div id="Audio_Eric_Whidbey_Island_Surprise"><iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/163731313%3Fsecret_token%3Ds-zMRVi&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe></div>
        <%= image_tag("comparingfish.png", :id => "comparingfish", :class => "image") %>
        <%= image_tag("tabletoppicnic.png", :id => "tabletoppicnic", :class => "image") %>
        <%= image_tag("tinasfamily.png", :id => "tinasfamily", :class => "image") %>
        <%= image_tag("line.png", :id => "linedsfr0", :class => "image") %>
        <p id="GETTING_TOGETHER">
        GETTING TOGETHER
        </p>
        <div id="video_laurie_family_reunions"><iframe src="//player.vimeo.com/video/103564690" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
        <%= image_tag("sundaydress.png", :id => "sundaydress", :class => "image") %>
        <p id="“Family_is_really_important_to_my_Grandparents_They_have_put_s">
        <span id="textspandsff18">“Family is really important to my grandparents. They have put so many family reunions together to help bring the extended family together. This is hard work and I will always be grateful to them for all the time and effort they put in to making sure we got together.”</span><span id="textspandsff19"><br /></span><span id="textspandsff20">&#x7e; </span><span id="textspandsff21">Steve Bird, grandson</span>
        </p>
        <%#= image_tag("indoorgroup.png", :id => "indoorgroup", :class => "image") %>
        <%= image_tag("guitarplaying.png", :id => "tallredwoods", :class => "image") %>
        <%= image_tag("fishingtogether.png", :id => "fishingtogether", :class => "image") %>
        <p id="“When_I_hear_the_words_‘Salmon_Reunion_’_I_think_of_fishing_Fo">
        <span id="textspandsff22">“When I hear the words ‘Salmon Reunion,’ I think of fishing. For me growing up, I’ve always </span><span id="textspandsff23">shared a love for fishing with Grandpa. He taught me everything I know about it. We’ve fished in places like Half Moon Bay, Snake River, Madison River, Palisades, Ririe Reservoir, Henrys Lake, Del Valle, Shadow Cliffs, and many streams and creeks in between. I think what got me hooked was the tagged fish I caught at Shadow Cliffs when I was younger and won a prize. I appreciate Grandpa sharing his love for fishing with me and I hope to do the same with my kids.”</span><span id="textspandsff24"><br /></span><span id="textspandsff25">&#x7e; </span><span id="textspandsff26">Steve Bird, grandson</span>
        </p>
        <%= image_tag("tallredwoods.png", :id => "tallredwoods", :class => "image") %>
        <div id="linedsfr1" class="clearfix">
        </div>
        <%= image_tag("lawnsit.png", :id => "lawnsit", :class => "image") %>
        <p id="TENDING_TO_A_GROWING_FAMILY">
        A GROWING FAMILY
        </p>
        <p id="WATCHING_OUR_FAMILY_GROW">
        WATCHING OUR FAMILY GROW
        </p>
        <div id="Audio_D_S_Growing_Family"><iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/163731330&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe></div>
        <div id="Boxdsfr_1" class="clearfix">
            <div id="boxdsff4" class="clearfix">
                <p id="Melanie_Shelton_granddaughter_“Grandma_and_Grandpa_were_not_ab">
                <span id="textspandsff27">Melanie Shelton<br /></span><span id="textspandsff28">GRANDDAUGHTER</span><br />
                </p>
                <p id="ROBB_BIRD_GRANDSON_“One_thing_I_always_remember_about_Grandma_4">
                <span id="textspandsff46">Grandma and Grandpa were not able to come to my high school graduation but instead they invited me to come stay at their house for a week during that summer. We took day trips to San Francisco and to Yosemite. We took the BART into the city, visited FAO Schwarz, ate at yummy places&#x3b; we hiked in Yosemite and saw beautiful waterfalls. I still look back on the pictures we took and think about how much fun we had. I enjoyed getting to spend one-on-one time with them. A few of my favorite memories from visiting Grandma and Grandpa&#x27;s house as kids is getting to swim and play in their hot tub in the evenings. <br /><br />I also remember spending time learning about their garden and seeing them pick food from the garden and prepare it for dinner. I have a garden now and I still get excited to bring food from my garden to my table. I still ask about the garden when I talk to them. I also love the mornings in Pleasanton for two reasons: the fog and the crispness in the air.</span> 
                </p>
            </div>
            <div id="Shape_1" class="clearfix">
            </div>
            <div id="boxdsff5" class="clearfix">
                <p id="Melanie_Shelton_granddaughter_“Grandma_and_Grandpa_were_not_ab">
                <span id="textspandsff32">ROBB BIRD<br /></span><span id="textspandsff33">GRANDSON</span><span id="textspandsff34"><br /></span>
                </p>
                <p id="ROBB_BIRD_GRANDSON_“One_thing_I_always_remember_about_Grandma_4">
                <span id="textspandsff46">One thing I always remember about Grandma and Grandpa’s house is that there is always breakfast lunch and dinner. Everyone sits at the table, it’s official and it’s yummy. I say this because it’s true and because I’ve been told. I’ve been lucky enough to stay with them while visiting the California area with friends. On a few occasions my friends even stayed at their house with me. My friends would say how awesome it was that they made us breakfast and that it was better than restaurant food. I would jokingly say ‘Well, they have a garden in their backyard, what else would you expect&#x3f;’ My friends and I still talk about those times and they always bring up staying with Grandma and Grandpa. <br /><br />It has also been a pleasure to have them stay at my house with my family. I kind of feel like I was able to return part of all the favors they did for me.</span><br />
                </p>
            </div>
            <div id="Shape_2" class="clearfix">
            </div>
            <div id="boxdsff6" class="clearfix">
                <p id="Melanie_Shelton_granddaughter_“Grandma_and_Grandpa_were_not_ab">
                <span id="textspandsff36">STEVE BIRD<br /></span><span id="textspandsff37">GRANDSON</span><span id="textspandsff38"><br /></span>
                </p>
                <p id="ROBB_BIRD_GRANDSON_“One_thing_I_always_remember_about_Grandma_4">
                <span id="textspandsff46">I will always remember Grandma and Grandpa being a part of family events. Whether it’s a family reunion, a graduation, a baptism or sealing they were always there to be a part of the joyous occasion. They seem to make more of an effort because they have to come from a longer distance to be there. <br /><br />I am grateful for the times my family and I have been able to visit Pleasanton to spend time with Skip and Doug, going fishing, getting haircuts, playing skip-bo, going to the park, going to a Giants game, working on projects and eating tons of peaches for every meal. I appreciate their examples to me and my children in their own home. One thing that comes to mind is that they eat all their meals at the kitchen table regardless. This isn’t easy to do but this is something they have done for years. I admire them for this.</span><br />
                </p>
            </div>
        </div>
        <%= image_tag("skipwgrandkids.png", :id => "skipwgrandkids", :class => "image") %>
        <div id="Boxdsfr_2" class="clearfix">
            <div id="boxdsff7" class="clearfix">
                <p id="Melanie_Shelton_granddaughter_“Grandma_and_Grandpa_were_not_ab">
                <span id="textspandsff40">CHRIS ANDERSEN<br /></span><span id="textspandsff41">GRANDSON</span><br />
                </p>
                <p id="ROBB_BIRD_GRANDSON_“One_thing_I_always_remember_about_Grandma_4">
                <span id="textspandsff46">Grandma and Grandpa did not live close, but I remember the times they would visit once a year while I was growing up, and I enjoy being with them. I was very interested in learning how to cook so they both taught me different things and especially how to prepare the food and present the food. I loved going fishing as a child as well through my years. Grandpa has even been fishing and taught my boys how to fish in Canada and in Idaho. The biggest thing is having Grandma and Grandpa take the time to come to certain events whenever possible, coming to Idaho each year and sharing experiences with us. <br /><br />As I grew older I was able to fly to visit for two weeks when I was about eleven or twelve - they took me to some cool places to visit and we just spent time together. At sixteen I was able to come out and help them build a cement block wall around the garden bed in their yard - it was big, I learned how to follow instructions and work hard as my parents had taught me then also do as I was instructed by Grandpa.  Grandma and Grandpa taught me how to play cribbage and other fun games. I really enjoy games with them and playing tricks on them, especially Grandma.<br /><br />I am so grateful to have such wonderful grandparents who were and are involved in my life and my own family now. I love you&#x21;</span><br />
                </p>
            </div>
            <div id="Shape_11" class="clearfix">
            </div>
            <div id="boxdsff8" class="clearfix">
                <p id="Melanie_Shelton_granddaughter_“Grandma_and_Grandpa_were_not_ab">
                <span id="textspandsff43">JUDY SALMON<br /></span><span id="textspandsff44">DAUGHTER-IN-LAW</span><span id="textspandsff45"><br /></span>
                </p>
                <p id="ROBB_BIRD_GRANDSON_“One_thing_I_always_remember_about_Grandma_4">
                <span id="textspandsff46">Through the years Eric and I have had the opportunity to stay with them in their home. I have always considered these times a great blessing. I witnessed as each morning began with prayer followed by stretching, exercise, a long, brisk walk, followed by a healthy breakfast. The dishes quickly washed and kitchen cleaned like the remainder of their home. Not one thing out of place. Three meals a day prepared with the same perfection. And every meal sooo delicious, we always had seconds. No surprise I gained weight. Eric and I agree&#x3b; we have never had a bad meal from Mom and Dad.  <br /><br />Many people, including me, have a bad habit of parking in front of the TV for meals. I have seen homes where the dinner table is used only for special occasions, or for homework, backpacks, as a mail dumping spot, etc. Every meal at Doug and Skip&#x27;s is shared at the table and includes blessing the food followed by enjoyable conversation. A wonderful way to catch up on the day&#x27;s events and discuss future plans. Many happy memories shared during these times.</span><br />
                </p>
            </div>
            <div id="Shape_21" class="clearfix">
            </div>
            <div id="boxdsff9" class="clearfix">
                <p id="Melanie_Shelton_granddaughter_“Grandma_and_Grandpa_were_not_ab">
                <span id="textspandsff48">ANDREA POWELL<br /></span><span id="textspandsff49">GRANDDAUGHTER</span><span id="textspandsff50"><br /></span>
                </p>
                <p id="ROBB_BIRD_GRANDSON_“One_thing_I_always_remember_about_Grandma_4">
                <span id="textspandsff46">Before I was a teenager, I was able to go stay at my grandparents' house for two weeks one summer with my cousin Eileen. We were excited to have many adventures with our grandparents. They signed us up for swimming lessons, we went on morning walks, and we ate yummy food out of their garden. During that time, they also took us camping near the ocean and we played many games and walked along the beach collecting shells and sand dollars. One thing that is a staple at grandma and grandpa's house is their clawfoot tub in the master bathroom, it was so fancy and we felt pretty great if we ever got the chance to bathe in it.  <br /><br />Another distinct memory I have at my grandparents’ is playing ping pong in the garage, which is also where grandma did laundry. It had such a distinct smell and there have been random times in my life where I have been somewhere and I would get wind of that same scent I remember in their garage, and it would take me back to Pleasanton immediately. I appreciate the examples that both of my grandparents have been in my life; they are very affectionate with one another and express love to those around them often. They have served two missions and devoted many hours to the Church. They also make a big effort in being a part of my children&#x27;s lives and make fun memories with them also.</span><br />
                </p>
            </div>
        </div>
        <%= image_tag("snowsled.png", :id => "snowsled", :class => "image") %>
        <div id="Boxdsfr_3" class="clearfix">
            <div id="boxdsff10" class="clearfix">
                <p id="Melanie_Shelton_granddaughter_“Grandma_and_Grandpa_were_not_ab">
                <span id="textspandsff52">ADAM BIRD<br /></span><span id="textspandsff53">GRANDSON</span><br />
                </p>
                <p id="ROBB_BIRD_GRANDSON_“One_thing_I_always_remember_about_Grandma_4">
                <span id="textspandsff46">Over the years I have been able to spend a lot of time with G&amp;G Salmon in various aspects. Not only do they live in a great area, but it is close to some of the most beautiful places on the West Coast, including my mission. I have made it a point to go out of my way to go visit them, individually, so that I can have a relationship with them more fully outside of the normal times I would see them. By doing so, these times have become some of the most treasured memories I have with them. <br /><br />One particular trip I enjoyed very much with them was my visit in April of 2012. One reason that I enjoyed this trip above the rest is the many things we were able to see and do together. We traveled to various areas surrounding Pleasanton including Calaveras Big Trees east of Stockton, California, a San Francisco Giants baseball game that Grandpa and I went to after exploring San Francisco for the day, and a visit to the Pleasanton Farmer’s Market to see and taste the fresh produce from the surrounding areas. A trip cannot be complete to G&amp;G Salmon’s house without stopping at The Cheese Steak Shop, the BEST Cheese Steak I have ever had. It was a wonderful time and experience with them and I enjoyed every bit of it.<br /></span>
                </p>
            </div>
            <div id="Shape_12" class="clearfix">
            </div>
            <div id="boxdsff11" class="clearfix">
                <p id="Melanie_Shelton_granddaughter_“Grandma_and_Grandpa_were_not_ab">
                <span id="textspandsff55">STEVE BIRD<br /></span><span id="textspandsff56">GRANDSON</span><br />
                </p>
                <p id="ROBB_BIRD_GRANDSON_“One_thing_I_always_remember_about_Grandma_4">
                <span id="textspandsff46">Thank you Grandma and Grandpa for being such great examples to me and my family. Thank you for genuinely taking interest in me and my family. Thank you for sharing your fishing secrets. Thank you for taking time to listen and to care. Thank you for your hospitality when we come and visit. Thank you for all the sacrifices that you have made on our behalf that go unnoticed. Thank you for showing us what hard work really is. <br /><br />Thank you for Salmon Reunions. Thank you for your hot tub. Thank you for the vegetables you always bring from your garden when you come and visit. Thank you for career advice. Thank you for your gifts and cards. Thank you for the birthday phone calls. Thank you for the awesome peaches from your tree. Thank you for showing us how to live righteously. We love you so much&#x21;</span><br />
                </p>
            </div>
            <div id="Shape_22" class="clearfix">
            </div>
            <div id="boxdsff12" class="clearfix">
                <p id="Melanie_Shelton_granddaughter_“Grandma_and_Grandpa_were_not_ab">
                <span id="textspandsff59">EILEEN HARRIS<br /></span><span id="textspandsff60">GRANDDAUGHTER</span><span id="textspandsff61"><br /></span>
                </p>
                <p id="ROBB_BIRD_GRANDSON_“One_thing_I_always_remember_about_Grandma_4">
                <span id="textspandsff46">I always remember Grandpa giving wet kisses. No matter how many times he wiped his lips, they were always wet. It is like he magically licked his lips right before he kissed me.<br /><br />I always remember going into grandma&#x27;s room and remember how amazing it was. Those magical rugs that were next to her bed. The way it smelt so sweet. How she had so many perfume bottles on her dresser and how they smelt so good and tropical. Especially her bathroom with the old-fashioned tub&#x21; It was like going into a magical kingdom.&nbsp;<br /><br />I love how my grandparents always make me feel like a million dollars when I talk to them or visit them. They always treat me so kindly and listen to every word I tell them. I truly appreciate that they always having a desire to be a part of my life&#x21; They are wonderful grandparents, so full of life and adventure.&nbsp;<br /></span>
                </p>
            </div>
        </div>
        <%= image_tag("balloonfun.png", :id => "balloonfun", :class => "image") %>
        <div id="Boxdsfr_4" class="clearfix">
            <div id="boxdsff13" class="clearfix">
                <p id="Melanie_Shelton_granddaughter_“Grandma_and_Grandpa_were_not_ab">
                <span id="textspandsff63">JESSICA TEDROW<br /></span><span id="textspandsff64">GREAT GRANDDAUGHTER</span><br />
                </p>
                <p id="ROBB_BIRD_GRANDSON_“One_thing_I_always_remember_about_Grandma_4">
                <span id="textspandsff46">I remember Nana and Papa always sending me birthday cards and always calling me on my birthday to tell me happy birthday and to see how my day was. I remember going to their house when I was twelve years old. We did many things while I was there, including going to the Jelly Belly Factory, Half Moon Bay, San Francisco, Sacramento, Oakland, going to the warehouse to help them with their missionary work, riding the Bart, Having lunch with Nana&#x27;s friends, helping and learning about Papa&#x27;s garden, playing games every night, and eating many different yummy foods. <br /><br />I remember going to their house with my brother when he was twelve because he could not fly alone. While we were there, we went to San Francisco, Half Moon Bay and ate at Nana and Papa&#x27;s favorite place, riding the trolley up San Francisco, walking through Chinatown, going with Papa to a job site, seeing the Oakland temple, playing games every night, helping in the garden, cooking with them and going to some missionary farewells. I remember them always helping people at the family reunion and sharing fun stories. I remember them always being there for Thanksgiving. I remember Papa taking me fishing. He always went fishing. I love them lots&#x21;</span><br />
                </p>
            </div>
            <div id="Shape_13" class="clearfix">
            </div>
            <div id="boxdsff14" class="clearfix">
                <p id="Melanie_Shelton_granddaughter_“Grandma_and_Grandpa_were_not_ab">
                <span id="textspandsff66">GREG BIRD<br /></span><span id="textspandsff67">GRANDSON</span><br />
                </p>
                <p id="ROBB_BIRD_GRANDSON_“One_thing_I_always_remember_about_Grandma_4">
                <span id="textspandsff46">A few thoughts came to mind when I was thinking back on all the things my grandparents have done for me and the other sacrifices they made to help me out and show love to me.<br /><br />I always remember growing up that when we went to their house in California, we would always want Grandpa to take us out on his boat and go fishing. We did this probably every time I can think of when we took a trip there. If it was not in California it was when we were at a family reunion that grandpa would always bring his fishing poles and tackle boxes for all the kids to go fishing with him. This was often the best part of the vacation in going to see them, knowing we were going to be fishing.<br /><br />Another thing I am grateful for is the time that they spend in coming to see me play sports. Whether it was coming to my high school football games or coming to our bowl game when I played at Utah, they made the effort and took the time out to come watch me play and that meant a lot. It is great to have such support from them in anything that I did. </span><br />
                </p>
            </div>
            <div id="Shape_23" class="clearfix">
            </div>
            <div id="boxdsff15" class="clearfix">
                <p id="Melanie_Shelton_granddaughter_“Grandma_and_Grandpa_were_not_ab">
                <span id="textspandsff69">KATRINA TEDROW<br /></span><span id="textspandsff70">GRANDDAUGHTER</span><span id="textspandsff71"><br /></span>
                </p>
                <p id="ROBB_BIRD_GRANDSON_“One_thing_I_always_remember_about_Grandma_4">
                <span id="textspandsff46">I remember riding around in the dune buggy; that's probably one of my earliest memories. Standing in the garden and the plants were so so tall. I remember the family reunions with all the family and them always helping everyone and sharing memories of different people in the family. I remember Grandpa showing us how to fish at Henrys Lake and having contests (boys vs. girls) on who could catch the most fish. I remember going to their house when I was twelve years old. While I was there we did service for other people at the the church and with neighbors. I remember all the different places they took me to. They took me to the beach, San Francisco, malls, Pier 41, Lombard Street, and a lot more cool places. All the stuff I got to do at their house were cooking, gardening, hot tubbing, and eating neat and different foods. I remember camping in Idaho. They came up with the BASS Reunion so we could see that part of the family more. Getting to see them during Thanksgiving every year while still having the Salmon family reunion. <br /><br />They are all very important to me. I don't wanna ever miss out on family. They make me work. My grandma and grandpa are the greatest; so understanding, so giving, and so service-oriented. I love them very much! </span><br />
                </p>
            </div>
        </div>
        <%= image_tag("ericsfam2.png", :id => "ericsfam", :class => "image") %>
        <div id="Boxdsfr_5" class="clearfix">
            <div id="boxdsff16" class="clearfix">
                <p id="Melanie_Shelton_granddaughter_“Grandma_and_Grandpa_were_not_ab">
                <span id="textspandsff73">ADAM BIRD<br /></span><span id="textspandsff74">GRANDSON</span><br />
                </p>
                <p id="ROBB_BIRD_GRANDSON_“One_thing_I_always_remember_about_Grandma_4">
                <span id="textspandsff46">Overall the most important thing that I admire about G&amp;G Salmon is their genuine love and concern for me individually. Each time I see them and on this trip as well, I can remember the opportunity I had with them to just talk, about life, family, dating, and goals. They shared their life examples with me and encouraged me to do what is right in my life, to rely on the gospel, and be the best I can. They are tremendous examples to me in my life and I will always treasure the trips I was able to take to their house to see them.</span><br />
                </p>
            </div>
            <div id="Shape_14" class="clearfix">
            </div>
            <div id="boxdsff17" class="clearfix">
                <p id="Melanie_Shelton_granddaughter_“Grandma_and_Grandpa_were_not_ab">
                <span id="textspandsff76">RYAN TEDROW<br /></span><span id="textspandsff77">GREAT GRANDSON</span><br />
                </p>
                <p id="ROBB_BIRD_GRANDSON_“One_thing_I_always_remember_about_Grandma_4">
                <span id="textspandsff46">I remember Papa taught me to ride a four wheeler. I remember going to their house when I was eleven years old. We wealked everywhere in San Francisco, riding the trolleys and visited the creamery in San Francisco. We went to the farmers market in Pleasanton, to the coastline at Half Moon Bay. I spent time with Nana at the family reunion. We played casino every night while I was in California with them. I cooked with Nana and Papa. I was even forced to get a haircut. The family reunions mean a lot to me because I got to meet new family and see family I truly miss.</span><br />
                </p>
            </div>
            <div id="Shape_24" class="clearfix">
            </div>
            <div id="boxdsff18" class="clearfix">
                <p id="Melanie_Shelton_granddaughter_“Grandma_and_Grandpa_were_not_ab">
                <span id="textspandsff79">MELANIE SHELTON<br /></span><span id="textspandsff80">GRANDDAUGHTER</span><span id="textspandsff81"><br /></span>
                </p>
                <p id="ROBB_BIRD_GRANDSON_“One_thing_I_always_remember_about_Grandma_4">
                <span id="textspandsff46">I appreciate the occasional emails and phone calls I receive from them just checking in on how I am doing, because I know they genuinely care about how me and my family are doing. Family is important to them and it shows. <br /><br />I appreciate their efforts to see my family. Since we live so far away, whenever I am visiting home in Arizona, they are often there too. I feel blessed to see them any chance I get. They have also made a trip to North Carolina to see us as well. We toured the Biltmore Estate and showed them around where we live.<br /></span>
                </p>
            </div>
        </div>
        <%= image_tag("prof portrait.png", :id => "prof_portrait", :class => "image") %>
        <p id="“As_of_April_19_2014_we_have_three_children_13_grandchildren">
        <span id="textspandsff83">“As of April 19, 2014, we have three children, 13 grandchildren and 29 great-grandchildren.”</span><span id="textspandsff84"><br /></span><span id="textspandsff85">&#x7e; </span><span id="textspandsff86">SKIP</span>
        </p>
        <div id="linedsfr2" class="clearfix">
        </div>
            <%= image_tag("prof portrait 1.png", :id => "Imagemom", :class => "image") %>
        <p id="OUR_PARENTS">
        OUR PARENTS
        </p>
        <div id="boxdsff19" class="clearfix">
            <p id="_After_my_dad_joined_the_church_he_worked_in_the_genealogy_dep">
            <span id="textspandsff87">A</span><span id="textspandsff88">fter my dad joined the church, he worked in the genealogy department in the ward. It was hard getting things off the ground at that point in time. This is in the 1950's, so he worked very diligently at it. My dad is Swedish and his parents both came from and were born in Sweden and immigrated to the United States. He did not have any information really. His father died when he was six and his mother died when he was 16, so he was on his own. He had an older sister who was four years older and they were on their own at that point in time. So as a young man, you do not think to ask your parents a lot of questions, you do not know much about where they came from, what they did. So he was really trying to pull these things together and he admonished me to really get into this. As he got older and his life was drawing to an end, I was interested, but I had young children. He said, promise me that you will see what you can do to find things. <br /><br />Well, I had a wonderful opportunity because Doug&#x27;s aunt and uncle lived in Los Altos. After we moved here to Pleasanton, she worked in the genealogy library. So I gave her what information I had and when she had free time available, she did a lot of research for me. We have gathered a lot of information for my father&#x27;s side of the family, for my Swedish ancestors, and done a lot of the temple work, and that was really, really meaningful to me. So I enjoy it, I like it, I do not spend enough time at it, I kind of go at it in spurts, but I guess it depends on what is going on in my life and around me and family and so forth. I wish that I had family histories to resort to, but I do not. My mother&#x27;s family were active members of the church. My great-great-grandparents both died at Winter Quarters both on their way from Nauvoo. So I have a lot of church history on my mother&#x27;s side of the family. I have some information there, but when I think of the pioneers and I think of what they went through and their perseverance and their strong testimonies, I think, "Okay, get your act together. You know, do something about it that will make that legacy continue on." So that is kind of what spurs me on and I have enjoyed it a lot.</span><br />
            </p>
            <div id="blackboxdsff4" class="clearfix">
                <p id="by_SKIP_SALMON">
                by SKIP SALMON
                </p>
            </div>
        </div>
        <p id="WATCHING_OUR_FAMILY_GROW1">
        GENEALOGY WORK
        </p>
        <div id="Audio_Skip_Genealogy"><iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/163731318&amp;color=d7d7d7&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe></div>
        <p id="WATCHING_OUR_FAMILY_GROW2">
        MY PARENTS
        </p>
        <div id="Audio_Skip_My_Parents"><iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/163731317&amp;color=d3d3d3&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe></div>
        <p id="WATCHING_OUR_FAMILY_GROW3">
        MY MOTHER THE ENTERTAINER
        </p>
        <div id="Audio_Doug_Entertainer_Mom"><iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/163731334&amp;color=d0d0d0&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe></div>
        <p id="WATCHING_OUR_FAMILY_GROW3">
        GOD BLESS AMERICA
        </p>
        <div id="Audio_Doug_Entertainer_Mom"><iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/169182768%3Fsecret_token%3Ds-XGBYK&amp;color=dbdbdb&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe></div>
    <!--/div-->

        <%= image_tag("dougparents.png", :id => "Imagemom", :class => "image") %>
        <div id="linedsp5" class="clearfix">
        </div>
        <div id="gueststories" class="clearfix">
         
            <% @anthology_items = Micropost.where(:topic => 'Family') %>
            <% @identity = "148" %>
            <% @subject_matter = 'Family' %>
            <div id="x" >
                <%= render 'shared/guest_stories_ds_pages' %>
            </div>
        </div>
    <div id="linedsp5" class="clearfix"></div>
        <p id="Home_•_Love_Story_•_Perseverance_•_Family_•_Ser">
            <%= link_to 'Home', salmon_path %> &nbsp; • &nbsp; <%= link_to 'Love Story', salmon_love_story_path %> &nbsp; • &nbsp; <%= link_to 'Perseverance', salmon_perseverance_path %> &nbsp; • &nbsp; <%= link_to 'Family', salmon_family_path %> &nbsp; • &nbsp; <%= link_to 'Service', salmon_service_path %> &nbsp; • &nbsp; <%= link_to 'Hobbies', salmon_hobbies_path %> &nbsp; • &nbsp; <%= link_to 'Guestbook', salmon_guestbook_path %> &nbsp; • &nbsp; <%= link_to 'Family Tree', salmon_family_tree_path %> &nbsp; • &nbsp; <%= link_to 'Timeline', salmon_timeline_path %>
        </p>
        <p id="Home_•_Next_Exhibit">
        <%= link_to 'Home', salmon_path %> &nbsp; • &nbsp; <%= link_to 'Next Exhibit', salmon_service_path %> &nbsp; • &nbsp; <%= link_to 'Guestbook', salmon_guestbook_path %><br />
        </p>
        <br><br>
        <br/><br/>
    </body>

