

    <head>
	<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 3.0">
    <script src="http://use.typekit.net/[redacted-a].js"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '[redacted-g]', 'antho.co');
          ga('send', 'pageview');
    </script>
    </head>
    <body>

        <div id="Doug_Skip">
        DOUG &amp; SKIP
        </div>
        <div id="Title_Line_f1" class="clearfix">
        </div>
        <p id="FAMILY">
        <span id="textspandsf">HOBBIES</span> 
        </p>
        <div id="Title_Line_f2" class="clearfix">
        </div>
        <p id="Home_•_Love_Story_•_Perseverance_•_Family_•_Ser">
                <%= link_to 'Home', salmon_path %> &nbsp; • &nbsp; <%= link_to 'Love Story', salmon_love_story_path %> &nbsp; • &nbsp; <%= link_to 'Perseverance', salmon_perseverance_path %> &nbsp; • &nbsp; <%= link_to 'Family', salmon_family_path %> &nbsp; • &nbsp; <%= link_to 'Service', salmon_service_path %> &nbsp; • &nbsp; <%= link_to 'Hobbies', salmon_hobbies_path %> &nbsp; • &nbsp; <%= link_to 'Guestbook', salmon_guestbook_path %> &nbsp; • &nbsp; <%= link_to 'Family Tree', salmon_family_tree_path %> &nbsp; • &nbsp; <%= link_to 'Timeline', salmon_timeline_path %>
        </p>
        <p id="Home_•_Next_Exhibit">
        <%= link_to 'Home', salmon_path %> &nbsp; • &nbsp; <%= link_to 'Next Exhibit', salmon_family_tree_path %> &nbsp; • &nbsp; <%= link_to 'Guestbook', salmon_guestbook_path %><br />
        </p>
		<%= image_tag("fishingsmallfish.png", :id => "fishingsmallfish", :class => "image") %>
        <p id="CAMPING_FISHING">
        FISHING &amp; CAMPING
        </p>
        <div id="boxdsh" class="clearfix">
            <span id="One_of_the_things_that_we’ve_always_enjoyed_as_a_family_was_fis">
            <span id="textspandsh">O</span><span id="textspandsh1">ne of the things that we have always enjoyed as a family was fishing and camping together. We did that a lot as the children grew up. That was the only way we had vacations sometimes, or we would go visit family. </span><br />
            </span>
            <div id="blackboxdsh" class="clearfix">
                <p id="by_SKIP_SALMON">
                by SKIP SALMON
                </p>
            </div>
        </div>

		<%= image_tag("lakefishadamsteve.png", :id => "lakefishadamsteve", :class => "image") %>
        <span id="“My_mom_and_dad_made_great_sacrifices_for_me_and_our_family_Wh">
            <span id="textspandsf13">“One of my most favorite things to do with Grandma and Grandpa as a kid was to go fishing! I remember pulling the boat to the lake in the green van, unloading it and fishing for hours. I have only been fishing a handful of times since then but every time I go it brings me back to fishing with Grandma and Grandpa. There is just something about sitting on the lake, in the sun, talking and waiting on the fish. Then of course there is the gutting part, but eating the fish later makes that part okay!”</span><span id="textspandsff3"> </span><span id="textspandsff4"><br /></span><span id="textspandsff5">&#x7e; Melanie Shelton, Granddaughter</span>
        </span>
        <%= image_tag("truckerfish1.png", :id => "truckerfish1", :class => "image") %>
        <%= image_tag("fishingskip.png", :id => "fishingskip", :class => "image") %>
        <%= image_tag("tinafishing1.png", :id => "tinafishing1", :class => "image") %>
        <%= image_tag("twofishholdup.png", :id => "twofishholdup", :class => "image") %>
        <%= image_tag("hikinglog.png", :id => "hikinglog", :class => "image") %>
        <div id="boxdsh1" class="clearfix">
            <p id="By_the_time_we_moved_to_Pleasanton_Doug_got_a_sabbatical_from_">
            <span id="textspandsh2">B</span><span id="textspandsh3">y the time we moved to Pleasanton, Doug got a sabbatical from work for six weeks, and so we bought a house trailer at the time. We took the trailer up to Washington and went to a family reunion, and spent three weeks coming down the Oregon coast. Maybe we would travel fifty miles, maybe a hundred miles, and we stopped and stayed at state parks all the time. We would go out and watch the sunset every night, and we had perfect weather all three weeks&#x3b; it was unbelievable. We would have clam chowder at all the different places, and that was fun. So we enjoyed camping and being together that way. That was one of the things we had done since we moved to Pleasanton and been by ourselves. <br /></span>
            </p>
            <div id="blackboxdsh1" class="clearfix">
                <p id="by_SKIP_SALMON1">
                by SKIP SALMON
                </p>
            </div>
        </div>
        <%= image_tag("campdeer.png", :id => "campdeer", :class => "image") %>
		<%= image_tag("campingfirewalk11.png", :id => "campingfirewalk11", :class => "image") %>
        <%= image_tag("fishgutting.png", :id => "fishgutting", :class => "image") %>
        <%= image_tag("fishingrecent1.png", :id => "fishingrecent1", :class => "image") %>
        <%= image_tag("whitewaterraftingds.png", :id => "whitewaterraftingds", :class => "image") %>
        <%= image_tag("boatingskip.png", :id => "boatingds", :class => "image") %>
        <div id="Shapedsh_1" class="clearfix">
        </div>
		<%= image_tag("holdingvegetables.JPG", :id => "corngarden", :class => "image") %>
        <p id="GARDENING">
        GARDENING
        </p>
        <div id="boxdsh2" class="clearfix">
            <p id="Doug_enjoys_gardening_I_can’t_really_get_down_in_the_dirt_and_">
            <span id="textspandsh4">D</span><span id="textspandsh5">oug enjoys gardening. I cannot really get down in the dirt and do the work anymore, but I have enjoyed the fruit of his labors. Doug likes to cook, and he is a good cook. We have had fun cooking together&#x3b; he helps with the canning and all kinds of things. <br /><br />We learned to do things together since his retirement, but when he first retired, and he started doing things around the house, I said, “You can’t do that, that’s my job. If you take over my job, then what am I going to do&#x3f;” So it took us a while to figure out what we can do together and what we can do separately and still get everything done that you want to do and not feel like you are stepping on each other’s toes. Being independent and doing things together, it took some getting used to and that was fun. </span><br />
            </p>
            <div id="blackboxdsh2" class="clearfix">
                <p id="by_SKIP_SALMON2">
                by SKIP SALMON
                </p>
            </div>
        </div>

        <%= image_tag("corngarden.png", :id => "gardeningbush", :class => "image") %>
        <span id="“My_mom_and_dad_made_great_sacrifices_for_me_and_our_family_Wh">
            <span id="textspandsf13">“On one of my visits to their house, I discovered what a persimmon fruit was. Grandpa took me to his friend’s house and showed me the different types of trees that produce the two different kinds of fruit. This was years ago, and to this day, grandpa still goes out of his way to either bring me or send with others persimmon fruit for me when it comes into season. He now has his own persimmon tree.”</span><span id="textspandsff3"> </span><span id="textspandsff4"><br /></span><span id="textspandsff5">&#x7e; Melanie Shelton, Granddaughter</span>
        </span>
		<%= image_tag("gardeningbush.png", :id => "boatingds", :class => "image") %>
        <span id="“My_mom_and_dad_made_great_sacrifices_for_me_and_our_family_Wh">
            <span id="textspandsf13">“Doug grows a mean garden and shares it with the neighbors.”</span><span id="textspandsff3"> </span><span id="textspandsff4"><br /></span><span id="textspandsff5">&#x7e; Marjorie Bailey, Sister of Doug</span>
        </span>
        <%= image_tag("modgardenraking.png", :id => "modgardenraking", :class => "image") %>
        <%= image_tag("modgardenportrait1.png", :id => "modgardenportrait1", :class => "image") %>
        <div id="Shapedsh_2" class="clearfix">
        </div>
        <%= image_tag("famreunion log.png", :id => "famreunion_log", :class => "image") %>
        <p id="VISITING_WITH_FAMILY">
        VISITING WITH FAMILY
        </p>
        <div id="boxdsh3" class="clearfix">
            <span id="We_enjoy_visiting_with_family_whoever_will_come_and_never_get">
            <span id="textspandsh6">W</span><span id="textspandsh7">e enjoy visiting with family, whoever will come, and never get enough of it. We always enjoy our time together, when we visit family. We have enjoyed traveling and we like to do that together. We used to make regular trips to Washington and Utah to visit family.&nbsp;</span><br />
            </span>
            <div id="blackboxdsh3" class="clearfix">
                <p id="by_SKIP_SALMON3">
                by SKIP SALMON
                </p>
            </div>
        </div>

        <%= image_tag("dougandreamelanie.png", :id => "dougandreamelanie", :class => "image") %>
        <%= image_tag("skipandsis.png", :id => "skipandsis", :class => "image") %>
        <span id="“My_mom_and_dad_made_great_sacrifices_for_me_and_our_family_Wh">
        <span id="textspandsf13">“Skip is simply another sister to me. We have shared hardships – laughter and tears – and through it all, there is love and understanding. Thank you both for being my family.”</span><span id="textspandsff3"> </span><span id="textspandsff4"><br /></span><span id="textspandsff5">&#x7e; Marjorie Bailey, sister of Doug</span>
        </span>
        <%= image_tag("dougnsiblings.png", :id => "dougnsiblings", :class => "image") %>
        <%= image_tag("kissinggranddaughter.png", :id => "kissinggranddaughter", :class => "image") %>
        <span id="“My_mom_and_dad_made_great_sacrifices_for_me_and_our_family_Wh">
        <span id="textspandsf13">“My family made many visits to their house, from New Jersey to Utah, and several places in California. I always enjoyed my visits and felt welcomed each time. I enjoyed watching their children grow up. <br /><br />Doug was fun to do things with. On several occasions, I would go to flea markets or thrift stores, and he was always game and was a lot of fun to be with, up for trying new things...like food!”</span><span id="textspandsff3"> </span><span id="textspandsff4"><br /></span><span id="textspandsff5">&#x7e; Linda Niccum, sister of Doug</span>
        </span>
        <%= image_tag("tina babybeach1.png", :id => "tina_babybeach1", :class => "image") %>
        <%= image_tag("the three women.png", :id => "the_three_women", :class => "image") %>
        <div id="Shapedsh_3" class="clearfix">
        </div>
        <%= image_tag("quiltingskip.png", :id => "quiltingskip", :class => "image") %>
        <p id="QUILTING_WOODWORKING">
        QUILTING &amp; WOODWORKING
        </p>
        <div id="boxdsh4" class="clearfix">
            <span id="I_used_to_quilt_I_enjoyed_quilting_a_lot_I_made_big_quilts_fo">
            <span id="textspandsh8">I</span><span id="textspandsh9"> used to quilt. I enjoyed quilting a lot. I made big quilts for a few of my grandsons – Tina’s two boys when they became Eagle Scouts. I made them each a quilt for their Eagle Scout commemorations, so I enjoyed doing that.</span><br />
            </span>
            <div id="blackboxdsh4" class="clearfix">
                <p id="by_SKIP_SALMON4">
                by SKIP SALMON
                </p>
            </div>
        </div>

		<%= image_tag("woodworkingtable.png", :id => "woodworkingtable", :class => "image") %>
        <%= image_tag("pensinholder.png", :id => "pensinholder", :class => "image") %>
        <%= image_tag("chairbuilding.png", :id => "chairbuilding", :class => "image") %>
        <span id="“My_mom_and_dad_made_great_sacrifices_for_me_and_our_family_Wh">
            <span id="textspandsf13">“Everything from birthday cards to handmade wood works (from Grandpa) showed their true love for their family.”</span><span id="textspandsff3"> </span><span id="textspandsff4"><br /></span><span id="textspandsff5">&#x7e; Melanie Shelton, Granddaughter</span>
        </span>
        <p id="Woodworking_Audio">
        DOUG’S WOODWORKING
        </p>
        <div id="Skip_Woodworking_Audio"><iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/163731309%3Fsecret_token%3Ds-UvpqB&amp;color=d0d0d0&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe></div>
        <div id="Shapedsh_4" class="clearfix">
        </div>
        <%= image_tag("walkingpaper1.png", :id => "walkingpaper1", :class => "image") %>
        <p id="WALKING_DINING">
        WALKING &amp; DINING
        </p>
        <div id="boxdsh5" class="clearfix">
            <p id="We_joined_a_walking_group_last_summer_and_last_fall_and_we_wou">
            <span id="textspandsh10">W</span><span id="textspandsh11">e joined a walking group last summer and last fall, and we would walk every Saturday morning. We would go to different parks and on different trails and through different places downtown. We have enjoyed that. We do not go every Saturday, because we have other obligations, but that has been fun to do together. We do walk together by ourselves sometimes, too. I do exercise at other times. <br /><br />He does his things, and I do mine, and we spend time together. He does his woodworking. In the evenings, I do not think television is enjoyable anymore&#x3b; there is not much on that we like. I do my reading, and he kind of watches television, but we enjoy playing games, Cribbage or Casino. We do not mind just being together and being quiet. We can spend a lot of time together and not feel like we have to talk all the time. We get teased about that.<br /><br />A number of years ago, we would get together with friends from Church and we had a dinner group where we would meet every couple of months. The theme was that the food had to be from a different country. The men and the women together had to make something. Everybody had to participate. After a while it got to become a real challenge. Then it finally faded and we just went to regular dinners. We had a lot of fun doing that. Since that time, everybody has moved away. <br /><br />There was another group of us that would get together for birthdays and anniversaries, and we did that on a regular basis and rotated homes. Unfortunately, two of these couples have passed away, and another gentleman has passed away, and a lady moved away, and another couple moved away, and we are the only couple left here. That kind of fell by the wayside, but we had a lot of good years and a lot of fun together with our dinner group friends and anniversary and birthday friends. </span><br />
            </p>
            <div id="blackboxdsh5" class="clearfix">
                <p id="by_SKIP_SALMON5">
                by SKIP SALMON
                </p>
            </div>
        </div>
        <%= image_tag("paperwalk2.png", :id => "paperwalk2", :class => "image") %>
        <div id="linedsp5" class="clearfix">
        </div>
        <div id="gueststories" class="clearfix">
         
            <% @anthology_items = Micropost.where(:topic => 'Hobbies') %>
            <% @identity = "148" %>
            <% @subject_matter = 'Hobbies' %>
            <div id="x" >
                <%= render 'shared/guest_stories_ds_pages' %>
            </div>
        </div>
    <div id="linedsp5" class="clearfix"></div>
        <p id="Home_•_Love_Story_•_Perseverance_•_Family_•_Ser">
            <%= link_to 'Home', salmon_path %> &nbsp; • &nbsp; <%= link_to 'Love Story', salmon_love_story_path %> &nbsp; • &nbsp; <%= link_to 'Perseverance', salmon_perseverance_path %> &nbsp; • &nbsp; <%= link_to 'Family', salmon_family_path %> &nbsp; • &nbsp; <%= link_to 'Service', salmon_service_path %> &nbsp; • &nbsp; <%= link_to 'Hobbies', salmon_hobbies_path %> &nbsp; • &nbsp; <%= link_to 'Guestbook', salmon_guestbook_path %> &nbsp; • &nbsp; <%= link_to 'Family Tree', salmon_family_tree_path %> &nbsp; • &nbsp; <%= link_to 'Timeline', salmon_timeline_path %>
        </p>
        <p id="Home_•_Next_Exhibit">
        <%= link_to 'Home', salmon_path %> &nbsp; • &nbsp; <%= link_to 'Next Exhibit', salmon_family_tree_path %> &nbsp; • &nbsp; <%= link_to 'Guestbook', salmon_guestbook_path %><br />
        </p>
        <br><br>
        <br/><br/><br/>
</body>