    <head>
	<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 3.0">
    <script src="http://use.typekit.net/[redacted-a].js"></script>
    <script>try{Typekit.load();}catch(e){}</script>    
  </head>
  <body>

<a name="lettertolaurie">
	<p id="FAMILY_REUNIONS">
	Doug's Letter to the Bird Family
	</p>
</a>
        <%= image_tag("letterto laurie.png", :id => "leather_chair_baby", :class => "image") %>

        <div id="linedsfr1" class="clearfix">
        </div>

<a name="childrenletter">
	<p id="FAMILY_REUNIONS">
	Doug's Letter to His Three Children
	</p>
</a>
        <%= image_tag("salmonfamily letter 3.png", :id => "leather_chair_baby", :class => "image") %>        
        <%= image_tag("salmonfamily letter 2.png", :id => "leather_chair_baby", :class => "image") %>        
        <%= image_tag("salmonfamily letter 1.png", :id => "leather_chair_baby", :class => "image") %>

        <div id="linedsfr1" class="clearfix">
        </div>


	<p id="FAMILY_REUNIONS">
	Doug's Work Featured in Friden's Internal Magazine
	</p>

<a name="friden1"></a>
        <%= image_tag("friden magazine 5.png", :id => "leather_chair_baby", :class => "image") %>
<a name="friden2"></a>
        <%= image_tag("friden magazine 2.png", :id => "leather_chair_baby", :class => "image") %>
<a name="friden3"></a>        
        <%= image_tag("friden magazine 1.png", :id => "leather_chair_baby", :class => "image") %>  
<a name="friden4"></a>      
        <%= image_tag("friden magazine 6.png", :id => "leather_chair_baby", :class => "image") %>
<a name="friden5"></a>
        <%= image_tag("friden magazine 7.png", :id => "leather_chair_baby", :class => "image") %>

        <div id="linedsfr1" class="clearfix">
        </div>


	<p id="FAMILY_REUNIONS">
	Doug's Work Praised in Company Communications
	</p>

<a name="friden6"></a>
        <%= image_tag("fredsinger letters 1.png", :id => "leather_chair_baby", :class => "image") %>        
<a name="friden7"></a>
        <%= image_tag("fredsinger letters 2.png", :id => "leather_chair_baby", :class => "image") %>  

        <div id="linedsfr1" class="clearfix">
        </div>


<a name="resumedoug">
	<p id="FAMILY_REUNIONS">
	Doug's Resume
	</p>
</a>
        <%= image_tag("doug resume 2 blurred.png", :id => "leather_chair_baby", :class => "image") %>        
        <%= image_tag("doug resume 1 blurred.png", :id => "leather_chair_baby", :class => "image") %>        

        <div id="linedsfr1" class="clearfix">
        </div>


        </body>