<% if signed_in? %>
  <div class="wrap">
    <% if current_user.admin? %>
    	<h1>Anthologists</h1>
    	<br><br>
    		<div class="field3">
    			<ul class="users">
    				<% @evangelists.each do |evangelist| %>
      				<li><strong><%= evangelist.name %></strong><br>
      				<%= evangelist.email %><br>
              <%= evangelist.created_at.month %> <%= evangelist.created_at.day %>
              <%= evangelist.phone %>
              <%= evangelist.note %>
      				</li> 
    				<% end %>
    			</ul>
    		</div>
  	<% end %>
  </div>
<% end %>
