<p>Alex,</p>

<p>A new person has contacted you:</p>

<p><%= @name %></p>
<p><%= @phone %></p>
<p><%= @email %></p>
<p><%= @note %></p>

<p>Remember to contact them in 1 business day.</p>

<p>Regards,</p>
<p>Robot Antho</p>

<p><%= image_tag attachments["AnthoLogoNew.jpg"].url, :size => "114x32" %></p>

