<head>
<script language="javascript" type="text/javascript">

function showHide(shID) {
  if (document.getElementById(shID)) {
    if (document.getElementById(shID+'-show').style.display != 'none') {
      document.getElementById(shID+'-show').style.display = 'none';
      document.getElementById(shID).style.display = 'block';
    }
    else {
      document.getElementById(shID+'-show').style.display = 'inline';
      document.getElementById(shID).style.display = 'none';
    }
  }
}
$(document).ready(function () {
  if ($("[rel=tooltip]").length) {
    $("[rel=tooltip]").tooltip();
  }
  $("#user_dead").click(function() {
    $("#emailprompt").toggle('slow');
  });
});

</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '[redacted-g]']);
  _gaq.push(['_setDomainName', 'antho.co']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


</head>

  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Welcome to Antho</h3>
    </div>
    <div class="modal-body">




<%# provide(:title, 'Sign Up') %>
            <!--div class="wrap">
              
                  <div class="top"-->
                  <div id="signup"> <!-- this was above top below wrap -->
                    <!--h1>Start an Anthology</h1>
                    <p>You can create an anthology for anyone young or old, here or gone!  
                  </div-->
                  <div class="form">
                    <div id="signup_form">
                        <%= form_for(@user) do |f| %>
                            <%= render 'shared/error_messages', object: @user %>

                            
                            <%#= f.hidden_field :login, :value => @user.initiate_token %>
                            <br><br>
                            <%= f.label :name, "Full Name" %>
                            <%= f.text_field :name %>
                            <br><br>

                            <% if @user.image.blank? %>
                                <strong>Add a Profile Picture</strong><br>
                            <% else %>

                                  <strong>Change Profile Picture</strong>
                                  <br>      
                                  <%= image_tag @user.image_url(:none), options = {:size => "100x100", :class => "profilepic"} %> 
                 
                            <% end %>
                            <%= f.file_field :image %>
                            <br><br>
                            <!--p><%#= f.check_box("dead") %><a href="#" rel="tooltip" title="Check this box if the person is a small child, a seasoned senior citizen, or someone who has passed away. You will be designated as the admin of the anthology and will manage its contents." data-placement="left" > This person has passed away or is unable to manage his/her own account.</a></p>
                            <br-->
                            <span id="emailprompt">
                              <%#= f.label :email, "Email Address" %>
                              <%= f.text_field :email, :placeholder => "Email Address" %> 
                              <br><br>
                              <%#= f.label :login, "Username" %>
                              <%= f.text_field :login, :placeholder => "Username" %>
                              <br><br>
                              <%#= f.label :password %>
                              <%= f.text_field :password, :placeholder => "Password" %>
                              <br><br>  
                              <%#= f.label :password_confirmation %> 
                              <%= f.text_field :password_confirmation, :placeholder => "Re-enter Password" %>
                              <!--div class="addamessage">
                                <%#= f.label :message, "Add a Message to the Invitation" %>
                                <%#= f.text_area :message, :placeholder => "Introduce your friend or relative to Antho here." %> 
                                <br><br>
                              </div-->
                            </span>
                            <%#= f.hidden_field :password, :value => :initiate_token %>
                            <%#= f.hidden_field :password_confirmation, :value => :initiate_token %>

                            <%#= f.hidden_field :admin_id, :value => current_user.id %>
                            <br>
                            <%= f.submit "Create", class: "button3" %>
                            <br><br>
                        <% end %>
                    </div>
                </div>
              </div>
            <!--/div-->


    </div>
    <div class="modal-footer">
      <!--button class="button2a" data-dismiss="modal" aria-hidden="true">Close</button-->
      New User? &nbsp; &nbsp;  <button class="button3"><%= link_to "Sign Up", start_path %></button> &nbsp; &nbsp;
    </div>
  </div>  

                  <%# comment this out to disallow direct sign ups %>