<head>
  <script language="javascript" type="text/javascript">
       $(function(){
          $("#page-wrap").wrapInner("<table cellspacing='30'><tr>");
          $(".post").wrap("<td>");
      });

      $(document).ready(function () {
        if ($("[rel=tooltip]").length) {
        $("[rel=tooltip]").tooltip();
        }
      });
  </script>
</head>
<%#this is for the user/show and user/self page %><%# this is also for guestbook %>

<% @fans = anthology_item.lovers %>
<% if !anthology_item.draft %>  
  <% if !anthology_item.hide %>
    <%# if anthology_item.user == current_user or anthology_item.user.admin == current_user %><!--or anthology_item.subject == current_user -->
      <article class="post"> 
        <div class="postcontainer">
          <div class="postop">
            <ol id="<%= anthology_item.id %>">
              <p>
                <span class="dateofevent">
                  <% if anthology_item.dateofevent.nil? %>
                     <div id="noheight"> &nbsp; </div>
                  <% else %>
                     <div id="noheight"> &nbsp; </div><%#= link_to anthology_item.dateofevent, micropost_path(anthology_item) %>
                  <% end %>
                  <!--br-->
                </span>
                <%# if !anthology_item.subject.nil? && !user.id.nil? %> <!-- can't figure out how to get this to work. I want it to show up on user/show, but not on randy's thematic pages, so now it'll show up nowhere. --><!--
                For <strong><%#= link_to anthology_item.subject.name, anthology_item.subject %></strong-->
                <%# end %>
                <%# if anthology_item.hide %>
                    <!--a href="#" rel="tooltip" title="This story is private, and only visible to the author and the subject." data-placement="left"--><!--strong>Personalized</strong--><!--/a-->
                <%# end %>
                <% if anthology_item.image_url != nil %>
                   <span class="img-responsive"><%= link_to image_tag(anthology_item.image_url(:grande).to_s,  options = {:id => "storyimage2"}), micropost_path(anthology_item) %><br /><br /></span>
                <% end %>
                <!--h5><strong><%#= link_to anthology_item.title, micropost_path(anthology_item) %></strong></h5-->
                <div id="storycontent2"><span class="content"><%= link_to simple_format(anthology_item.content), micropost_path(anthology_item) %>&nbsp;
                <%# if anthology_item.content.empty?, micropost_path(anthology_item) %>
                
                <%# end %>
                </span></div>
              </p>
            </ol>
          </div>
          <%# if !anthology_item.user.nil? %> <!--this is to prevent contributions from users who've deleted their accounts from breaking the system (their posts will also still show, albeit their pics and names will not). Will uncomment when we allow users to deactivate their accounts --> 
          <%# end %>
        </div>
        <div class="postbottom">
          <div class="userimage">         
              <% if !anthology_item.user.image.blank? %>
                  <%= link_to image_tag(anthology_item.user.image_url(:none), options = {:size => "50x50" }), anthology_item.user %>
              <% else %>
                   <%= link_to image_tag("hitchcock.png", :size => "50x50"), anthology_item.user %>
              <% end %> 
          </div>
          <div class="postinfo"> 
            <p>
              <span class="timestamp"><strong><%= link_to anthology_item.user.name, anthology_item.user %></strong></span>
              <br>
              <span class="timestamp">
                <%= time_ago_in_words(anthology_item.created_at) %> ago
              </span>
                <br>
                <span class="timestamp">
                  <% if anthology_item.comments.blank? %>
                    <a href="<%= micropost_comments_path(anthology_item) %>">
                    <%="Comment"%></a>
                  <% else %>
                    <a href="<%= micropost_comments_path(anthology_item) %>">
                    <span id="microposts" class="stat">
                      <%= pluralize(anthology_item.comments.count, "Comment") %></span></a>
                  <% end %>
                  <% if anthology_item.lovers.count > 0 %>
                    <a href="#" rel="tooltip" title="<% @fans.each do |user| %> <%= user.name %> <% end %>" data-placement="right"><%= pluralize anthology_item.lovers.count, "Love" %></a>
                  <% end %>
                </span>
            </p>
          </div>
        </div>
      </article> 
      
      <article class="postvertical">
        <div class="postcontainer">
            <div class="postop">
              <ol id="<%= anthology_item.id %>">
                <p>
                  <span class="dateofevent">
                    <% if anthology_item.dateofevent.nil? %>
                       <div id="noheight"> &nbsp; </div>
                    <% else %>
                       <%= link_to anthology_item.dateofevent, micropost_path(anthology_item) %>
                    <% end %>
                    <!--br-->
                  </span>
                  <%# if !anthology_item.subject.nil? && !user.id.nil? %> <!-- can't figure out how to get this to work. I want it to show up on user/show, but not on randy's thematic pages, so now it'll show up nowhere. --><!--
                  For <strong><%#= link_to anthology_item.subject.name, anthology_item.subject %></strong-->
                  <%# end %>
                  <%# if anthology_item.hide %>
                      <!--a href="#" rel="tooltip" title="This story is private, and only visible to the author and the subject." data-placement="left"--><!--strong>Personalized</strong--><!--/a-->
                  <%# end %>
                  <% if anthology_item.image_url != nil %>
                     <span class="image"><%= link_to image_tag(anthology_item.image_url(:grande).to_s), micropost_path(anthology_item) %></span>
                  <% end %>
                  <!--h5><strong><%#= link_to anthology_item.title, micropost_path(anthology_item) %></strong></h5-->
                  <span class="content"><%= link_to simple_format(anthology_item.content), micropost_path(anthology_item) %>&nbsp;
                  <%# if anthology_item.content.empty?, micropost_path(anthology_item) %>
                  
                  <%# end %>
                  </span>
                </p>
              </ol>
            </div>
            <%# if !anthology_item.user.nil? %> <!--this is to prevent contributions from users who've deleted their accounts from breaking the system (their posts will also still show, albeit their pics and names will not). Will uncomment when we allow users to deactivate their accounts --> 
            <%# end %>
          </div>
          <div class="postbottom">
            <div class="userimage">         
                <% if !anthology_item.user.image.blank? %>
                    <%= link_to image_tag(anthology_item.user.image_url(:none), options = {:size => "50x50" }), anthology_item.user %>
                <% else %>
                     <%= link_to image_tag("hitchcock.png", :size => "50x50"), anthology_item.user %>
                <% end %> 
            </div>
            <div class="postinfo"> 
              <p>
                <span class="timestamp"><strong><%= link_to anthology_item.user.name, anthology_item.user %></strong></span>
                <br>
                <span class="timestamp">
                  <%= time_ago_in_words(anthology_item.created_at) %> ago
                </span>
                  <br>
                  <span class="timestamp">
                    <% if anthology_item.comments.blank? %>
                      <a href="<%= micropost_comments_path(anthology_item) %>">
                      <%="Comment"%></a>
                    <% else %>
                      <a href="<%= micropost_comments_path(anthology_item) %>">
                      <span id="microposts" class="stat">
                        <%= pluralize(anthology_item.comments.count, "Comment") %></span></a>
                    <% end %>
                    <% if anthology_item.lovers.count > 0 %>
                      <a href="#" rel="tooltip" title="<% @fans.each do |user| %> <%= user.name %> <% end %>" data-placement="right"><%= pluralize anthology_item.lovers.count, "Love" %></a>
                    <% end %>
                  </span>
              </p>
            </div>
          </div>
        </article> 

  <%# elsif current_user.id == anthology_item.user_id or current_user.id == anthology_item.subject_id %> <!-- this the same as the two last conditions of top if ??? -->
      <!--article class="post"> 
        <div class="postcontainer">
          <div class="postop">
            <ol id="<%= anthology_item.id %>">
              <p> 
                <span class="dateofevent">
                  <%# if anthology_item.dateofevent.nil? %>
                      *
                  <%# else %>
                     <%#= anthology_item.dateofevent %>
                  <%# end %>
                </span>              
                <%# if anthology_item.hide %>
                  <br>
                  (Personalized Story)
                <%# end %>
              </p>
              <%# if anthology_item.image_url != nil %>
                 <span class="image"><%#= link_to image_tag(anthology_item.image_url(:grande).to_s), micropost_path(anthology_item) %></span>
              <%# end %>
              <br>
              <h5><strong><%#= link_to anthology_item.title, micropost_path(anthology_item) %></strong></h5>
              <span class="content"><%#= link_to simple_format(anthology_item.content), micropost_path(anthology_item)  %></span>
            </ol>
          </div-->
          <%# if !anthology_item.user.nil? %> <!--this is to prevent contributions from users who've deleted their accounts from breaking the system (their posts will also still show, albeit their pics and names will not). --> 
          <%# end %>
        <!--/div>
        <div class="postbottom">
          <div class="userimage">         
              <%# if !anthology_item.user.image.blank? %>
                  <%#= link_to image_tag(anthology_item.user.image_url(:none), options = {:size => "60x60" }), anthology_item.user %>
              <%# else %>
                   <%#= link_to image_tag("hitchcock.png", :size => "60x60"), anthology_item.user %>
              <%# end %> 
          </div>
          <div class="postinfo"> 
            <p>
              <span class="timestamp"><a href="<%= micropost_path(anthology_item) %>"><%#="View Full Story"%></a></span>
              <br>
              <span class="timestamp">Contributed by <strong><%#= link_to anthology_item.user.name, anthology_item.user %></strong></span>
              <br>
              <span class="timestamp">
                <%#= time_ago_in_words(anthology_item.created_at) %> ago
                <br>

                <%# if current_user?(anthology_item.user) %> 
                  <%#= link_to "Delete", anthology_item, method: :delete,
                                           confirm: "You sure?",
                                           title: anthology_item.content %>
                  <%#= link_to "Edit", edit_micropost_path(anthology_item) %>
                <%# elsif current_user.id == anthology_item.subject_id %> 
                  <%#= link_to "Delete", anthology_item, method: :delete,
                                           confirm: "You sure?",
                                           title: anthology_item.content %>
                  <%#= link_to "Edit", edit_micropost_path(anthology_item) %>
                <%# elsif current_user.id == anthology_item.subject_id @pseudo_user.user_id %> 
                  <%#= link_to "delete", anthology_item, method: :delete,
                                           confirm: "You sure?",
                                           title: anthology_item.content %>
                  <%#= link_to "edit", edit_micropost_path(anthology_item) %>
                <%# end %>
                <%# if anthology_item.comments.blank? %>
                  <a href="<%= micropost_comments_path(anthology_item) %>">
                  <%#="Comment"%></a>
                <%# else %>
                  <a href="<%= micropost_comments_path(anthology_item) %>">
                  <span id="microposts" class="stat">
                    <%#= pluralize(anthology_item.comments.count, "Comment") %></span></a>
                <%# end %>
                <%# if anthology_item.lovers.count > 0 %>
                  <a href="#" rel="tooltip" title="<%# @fans.each do |user| %> <%#= user.name %> <%# end %>" data-placement="right"><%#= pluralize anthology_item.lovers.count, "Love" %></a>
                <%# end %>
              </span>
            </p>
          </div>
        </div>
      </article--> 

  <% end %>
<% end %>
