        <%= link_to image_tag("AnthoLogoNew.png", :id => "AnthoLogo", :class => "image"), root_path %>
        <!--img id="AnthoLogo" src="img/AnthoLogo.png" class="image"-->
        <div id="boxwt" class="clearfix">
            <a id="HIRE_USw" href="<%= contact_path %>">
            Hire Us
            </a>
            <a id="MISSIONw" href="<%= mission_path %>">            
            Mission
            </a>
            <a id="METHODw" href="<%= method_path %>">
            How It Works
            </a>
            <a id="BLOGw" href="<%= salmon_path %>">
            Sample
            </a>
        </div>