<head>
  <script language="javascript" type="text/javascript">
       $(document).ready(function () {
       if ($("[rel=tooltip]").length) {
       $("[rel=tooltip]").tooltip();
       }
     });
  </script>
</head>

<div class="wrap">
  <% provide(:title, 'Change Some Details') %>
  <div class="top">
      <h1>Edit Your Story</h1>
      <p>Polish the contents of your story here.</p>
  </div>
  <div class="form">
      <%= form_for(@micropost) do |f| %>
        <%= render 'shared/error_messages', object: @micropost %>
        <br><br>
        <div class="editstory">
          <!--a href="#" rel="tooltip" title="If you can't find the name, consider starting a new anthology for that person." data-placement="left" --><%= f.label :subject_name, "Subject" %><!--/a-->
          <%#= f.collection_select :subject_id, User.where(["id in (?)", current_user.friends]), :id, :name, :include_blank => true, :prompt => "Choose name" %>
          <%= @micropost.subject.name %><br><br>
          <!--br><br-->
          <!--div class="microposttitle">
            <%#= f.label :title %>
            <%#= f.text_field :title %>
          </div-->
          <!--br-->
          <% if @micropost.image_url == nil %>
            <%= f.label :image, "Add a Photo" %>
          <% else %>
            <%= f.label :image, "Image" %>
            <span class="image"><%= image_tag(@micropost.image_url(:grande).to_s, options = {:size => "250x250" }) %></span>
              <br><br><%= f.label :image, "Change Photo" %> 
          <% end %>    
          <%= f.file_field :image %>
          <br><br>
          <% if !@micropost.image.blank? %>
            <%= f.check_box :remove_image %> Remove Photo
          <br><br>
          <% end %>
          <div class="microposttextarea">
            <%= f.label :content, "Story" %>
            <%= f.text_area :content %>
          </div>
          <br><br>
          <%#= f.label :dateofevent, "Date" %>
          <%#= f.date_select :dateofevent, :start_year => 2013, :end_year => 1850, :discard_day => true, :prompt => {:month => 'Choose month', :year => 'Choose year'} %>
          <!--br><br-->
          <% if current_user.admin? %>
            <%= f.check_box("hide") %> <a href="#" rel="tooltip" title="This makes the story private, and keeps it between you and the subject." data-placement="right" >Personalize this Story</a>
            <br><br>
          <% end %>
          <%= f.submit "Save as Draft", :name => "draft_button", class: "button2a" %> &nbsp; &nbsp;
          <% if @micropost.draft? %>
            <%= f.submit "Publish", class: "button3" %>
          <% else %>  
            <%= f.submit "Update", class: "button3" %> 
          <% end %>
          <br><br><br>
          <button class="button2a" ><%= link_to "Back", :back %></button>
          <br><br><br>
        </div>  
      <% end %>
  </div>
</div>
